.banner-placeholder {
	position: relative;
	height: $bannerHeight;
	margin-bottom: $defaultPadding + $defaultPadding;
	//width: 100%;
}
.banner-container {
	width: 100%;
	&.is-fix {
		position: fixed;
		top: $navHeight;
		z-index: 5;
	}
}
.banner-inner {
	max-width: $maxAdWidth + 2*$defaultPadding;
	margin: 0 auto;
}
.banner-content {
	margin: 0 $defaultPadding;
	padding: 0 $defaultPadding/2;
	background: $bannerBG;
	height: $bannerHeight + $defaultPadding;
	text-align: center;
	>iframe {
		margin: $defaultPadding/2 auto 0 auto;
	}
	>div {
		margin: 0 auto 0 auto!important;
		padding-top: $defaultPadding/2;
		display: block!important;
		text-align: center;
	}
	figure {
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}
	}
}
.sponsor-container, .table-container {
	padding: 0 $defaultPadding/2;
}
.mpu-container {
	width: 300px;
	margin: 0 auto;
	figure {
		height: 250px;
		margin-bottom: $defaultPadding;
	}
}
.high-impact {
	&.banner-container {
		iframe {
			margin-top: 0;
		}
	}
	iframe {
		height: 100%!important;
	}
	.banner-content {
		padding: 0;
		background: black;
	}
}
.standard, .highimpact {
	&.banner-placeholder {
		height: auto;
		margin-bottom: $defaultPadding;
	}
	.banner-content {
		padding: 0;
		height: auto;
	}
}
.standard {
	figure {
		padding-bottom: 10%;
	} 
}
.highimpact, .P-only {
	figure {
		padding-bottom: 20%;
	}
}
@media only screen and (min-width: 490px) and (max-width: 1059px) {
	.banner-placeholder {
		margin-bottom: $defaultPadding;
		//width: 100%;
	}
	.banner-content {
		margin: 0;
		padding: 0;
		background: transparent;
		height: $bannerHeight;
		>iframe {
			margin-top: 0;
		}
	}
}

@media only screen and (max-width: 490px) {
	.banner-placeholder, .banner-content {
		//display: none;
		height: 50px + $defaultPadding;
	}
	.banner-content {
		margin: 0 $defaultPadding/2;
	}
	.banner-placeholder {
		margin-bottom: $defaultPadding/2;
	}
}

@media only screen and (max-width: 360px) {
	.banner-placeholder {
		margin-bottom: 0;
		height: 50px + $defaultPadding/2;
		//width: 100%;
	}
	.banner-content {
		margin: 0;
		padding: 0;
		background: transparent;
		height: 50px;
		>iframe {
			margin-top: 0;
		}
	}
}

