.bn-ph {
	position: relative;
	/*height: $bannerHeight;*/
	margin-bottom: $defaultPadding + $defaultPadding;
	//width: 100%;
}
.banner-container {
	width: 100%;
	&.is-fix {
		position: fixed;
		top: $navHeight;
		z-index: 5;
	}
}
.banner-inner {
	max-width: $maxAdWidth + 2*$defaultPadding;
	margin: 0 auto;
}
.banner-iframe {
	margin: $defaultPadding/2 auto 0 auto;
	max-width: 100% !important;
	>div {
		margin:0 auto !important;
	}
}
.banner-content {
	margin: 0 $defaultPadding;
	padding: 0 $defaultPadding/2;
	background: $bannerBG;
	height: $bannerHeight + $defaultPadding;
	text-align: center;
	position: relative;

	>div {
		margin: 0 auto 0 auto!important;
		padding-top: $defaultPadding/2;
		display: block!important;
		text-align: center;
	}
	figure {
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}
	}
	position:relative;
}

// .banner-content:before, .is-ad figure:after {
// 	content: '广告';
//     position:absolute;
//     top:0;
//     right:0;
//     background: #e9decf;
//     font-size:12px;
//     padding:1px 5px;
//     color: #505050;
// }
// .hide-sign.banner-content {
// 	&:before {
// 		display: none;
// 	}
// }
.sponsor-container, .table-container {
	padding: 0 $defaultPadding/2;
}
.mpu-container {
	width: 300px;
	margin: 0 auto $defaultPadding + 20 auto;
	position: relative;
	&:before {
		content: '广告';
	    position:absolute;
	    top:100%;
	    left:0;
	    right:0;
	    font-size:12px;
	    text-align:center;
	    color: #505050;
	}

	figure {
		height: 250px;
		margin-bottom: $defaultPadding;
	}
}

.high-impact {
	&.banner-container {
		iframe {
			margin-top: 0;
		}
	}
	iframe {
		height: 100%!important;
	}
	.banner-content {
		padding: 0;
		background: black;
		height: 2*($defaultPadding+$bannerHeight);
	}
}
.standard, .highimpact, .full-width {
	&.bn-ph {
		height: auto;
		margin-bottom: $defaultPadding;
	}
	.banner-content {
		padding: 0;
		//height: auto;
		>.banner-iframe {
			margin-top: 0;
		}
	}
}
.highimpact {
	.banner-content {
		height: 240px;
	}
}
.standard {
	figure {
		padding-bottom: 10%;
	}
}
.highimpact, .P-only {
	figure {
		padding-bottom: 20%;
	}
}
.full-width {
	.banner-content {
		margin:0;
		>div {
			padding-top:0;
		}
	}
	&.bn-ph {
		margin-bottom: 15px;
	}
}

// Paid Post related styles
.oneStory {
	margin: 0 -7.5px !important;
}
.storyInner {
	padding: $defaultPadding/2 22.5px !important;
	border-top:1px solid #e9decf;
	.headline {
		font-weight: bold;
		font-size: 1.2em;
		padding-bottom: $defaultPadding/4;
	}
	.leftimage {
		float: left;
		margin: 4px $defaultPadding/2 $defaultPadding/2 0;
		// width: 150px !important;
		// height: 84px !important;
		// img {
		// 	width: 150px !important;
		// 	height: 84px !important;
		// }
	}
	.lead {
		color: #777;
		padding-bottom: $defaultPadding/2;
		line-height: $goldenRatio;
		font-size: 0.8em !important;
	}
}
.hide-iframe {
	.banner-iframe {
		display: none;
	}
}
@media only screen and (min-width: 490px) and (max-width: 1059px) {
	.bn-ph {
		margin-bottom: $defaultPadding;
		//width: 100%;
	}
	.banner-content {
		margin: 0;
		padding: 0;
		background: transparent;
		height: $bannerHeight;
		>.banner-iframe {
			margin-top: 0;
		}
	}
}

@media only screen and (max-width: 490px) {
	// .bn-ph, .banner-content {
	// 	//display: none;
	// 	height: 50px + $defaultPadding;
	// }
	// .banner-content {
	// 	margin: 0 $defaultPadding/2;
	// 	&:before {
	// 		transform: scale(0.6) translate(30%, -30%);
	// 	}
	// }
	// .bn-ph {
	// 	margin-bottom: $defaultPadding/2;
	// }
	.bn-ph {
		width: 100%;
		padding-top: 25%;
		position: relative;
		background: $bannerBG;
		height: 0;
		margin-bottom: $defaultPadding/2;
		.banner-content {
			margin: auto;
			position: absolute;
			display: block;
			top:0;
			left:0;
			right:0;
			bottom:0;
			width: 100%;
			height:100%;
			padding:0;
		}
		.banner-iframe {
			margin: 0;
			height: 100% !important;
		}
	}
}

@media only screen and (max-width: 320px) {

	.storyInner {
		.leftimage {
			width: 150px !important;
			height: 84px !important;
			img {
				width: 150px !important;
				height: 84px !important;
			}
		}
	}

}

// @media only screen and (max-width: 360px) {
// 	.bn-ph {
// 		margin-bottom: 0;
// 		height: 50px + $defaultPadding/2;
// 		//width: 100%;
// 	}
// 	.banner-content {
// 		margin: 0;
// 		padding: 0;
// 		background: transparent;
// 		height: 50px;
// 		>.banner-iframe {
// 			margin-top: 0;
// 		}
// 	}
// }

