.block-container {
	margin-bottom: $defaultPadding/2;
	&.side-video {
		margin-bottom: $defaultPadding;
	}
	a {
		color: $fontColor;
	}
	&.fixside {
		.side-inner {
			position: fixed;
			bottom: $defaultPadding;
			width: $sideWidth;
		}
		&.sticktop {
			.side-inner {
				bottom: auto;
				top: $defaultPadding + $navHeight;
			}
		}
		&.side-left {
			.side-inner {
				bottom: 0;
			}
		}
	}
	&.bottomside {
		.side-inner {
			position: absolute;
			bottom: $defaultPadding;
			width: $sideWidth;
		}
		&.side-left {
			.side-inner {
				bottom: 0;				
			}
		}
	}
	&.fixmain {
		.content-container {
			position: fixed;
			bottom: 0;
			max-width: $maxWidth - 1.5 * $defaultPadding - $sideWidth;
			//right: $sideWidth + $defaultPadding;
		}
		&.sticktop {
			.content-container {
				bottom: auto;
				top: $defaultPadding + $navHeight;
			}
		}
		.content-inner {
			border-width: 0;
			//margin-left: $sideWidth + $defaultPadding * 1.5;
		}
		&.side-left {
			.content-container {
				position: static;
				float: right;
			}
			.content-inner {
				position: fixed;
				max-width: $maxWidth - $sideWidth - 2 * $defaultPadding;
				border-width: 0;
				bottom: 0;
				padding-left: 0;
				padding-right: 0;
			}
			.side-container {
				float: left;
				margin-right: 0;
				margin-left:0;
			}
		}
	}
	&.bottommain {
		.content-container {
			position: absolute;
			bottom: 0;
			max-width: $maxWidth - 1.5 * $defaultPadding - $sideWidth;
		}
		.content-inner {
			border-width: 0;
		}
		&.side-left {
			.content-container {
				position: static;
				float: right;
			}
			.content-inner {
				position: absolute;
				max-width: $maxWidth - $sideWidth - 2 * $defaultPadding;
				border-width: 0;
				bottom: 0;
				padding-left: 0;
				padding-right: 0;
			}
			.side-container {
				float: left;
				margin-right: 0;
				margin-left:0;
			}
		}
	}
}
.block-inner {
	max-width: $maxWidth;
	padding: 0 $defaultPadding/2;
	margin: auto;
}
.block-image-container {
	text-align: center;
	padding: 0 $defaultPadding/2 $defaultPadding $defaultPadding/2;
}
.block-title {
	display: none;
}
.list-title {
	font-size: 1.2em;
	position: relative;
	height: $listTitleHeight;
	margin: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
	clear: both;
	a.list-link {
		line-height: $listTitleHeight;
		position: absolute;
		height: 100%;
		left: 0;
		padding-right: $defaultPadding/3;
		background-color: $defaultPink;
		&:hover, &:active {
			color: $red;
		}
		&.empty {
			background-color: transparent;
		}
	}
	a.sponsor-link figure {
		height: $defaultPadding;
		background-color: $defaultPink;
		position: absolute;
		right: 0;
		top: ($listTitleHeight - $defaultPadding)/2;
		padding-left: 5px;
		img {
			height: $defaultPadding;
		}
	}
	&:before {
	    content: '';
	    position: absolute;
	    height: 9px;
	    //background-color: $borderColor;
	    top: 0;
	    bottom: 0;
	    width: 100%;
	    margin:auto;
	    background: url("http://static.ftchinese.com/img/front-page-section-header.png") repeat transparent;
	}
}

.item-container {
	float: left;
}
.item-inner {
	padding: $figureHeight $defaultPadding/2 $defaultPadding $defaultPadding/2;
	position: relative;
}
.ebook {
	.item-inner {
		padding: $figureHeightPortrait $defaultPadding/2 0 $defaultPadding/2;
	}
	.image {
		padding-bottom:0;
	}
}

.item-headline, .relative-container {
	a {
		border-bottom: 1px dotted transparent;
		&:hover, &:active {
			border-bottom-color: $blue;
			color: $blue;
		}
	}
}

.item-headline {
	font-weight: bold;
	font-size: 1.05em;
	line-height: 120%;
	margin-bottom: $defaultPadding/3;
}
.headline-only {
	.item-headline {
		margin-bottom: 0;
	}
}
.item-lead {
	color: $lightFontColor;
	font-size: 0.9em;
}
.item-tag {
	color: $highlightColor;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: $defaultPadding/2;
	//vertical-align: middle;
	a {
		color: $red;
		vertical-align: middle;
		&:hover, &:active {
			border-bottom-color: $fontColor;
			color: $fontColor;
		}
	}
}
.item-time {
	color: $timeGrey;
	font-weight: normal;
	font-size: 12px;
	padding-top: $defaultPadding/2;
	&.highlight {
		color: $red;
	}
}
.item-bottom {
	clear: both;
}
.image {
	display: block;
}
.relative-container {
	margin-top: $defaultPadding/2;
}
.relative {
	font-size: 0.9em;
	font-weight: normal;
	&:before {
	    content: '•';
	    padding-right: 5px;
	    color: $lightGrey;
	}
}
.no-image {
	.item-inner {
		padding-top: 0;
	}
	.image {
		display: none;
	}
}
.no-lead {
	.item-headline {
		margin-bottom: 0;
	}
}
.side-list {
	padding-bottom: $defaultPadding;
}
.image {
	position: absolute;
	top: 0;
	left: $defaultPadding/2;
	right: $defaultPadding/2;
	padding-bottom: 5px;
	figure {
	    @include figure;
	}
	img {
		transition: transform 0.5s ease;
	}
	&:hover, &:active {
		img {
			
			transform: scale(1.05);
		}
	}
	&.leftPic, &.rightPic {
		position: static;
	}
	&.portrait-img {
		figure {
			padding-bottom: 133.33333333%;
		}
	}
}
.resized {
	.image {
		figure {
			img {
				width: 100%;
			}
		}
	}
}
.icon-title {
	.item-inner {
		padding: 0 $defaultPadding/2 $defaultPadding $iconWidth+$defaultPadding;
	}
	&.no-image {
		.item-inner {
			padding-left: $defaultPadding/2;
		}
	}
	.image {
		width: $iconWidth;
		height: $iconWidth;
		figure {
			padding-bottom: 100%;
			background-color: transparent;
		}
	}
	.item-headline {
		height: $iconWidth;
		line-height: $iconWidth;
	}
}
.headshot-title {
	.item-inner {
		padding: 0 $defaultPadding/2 $defaultPadding $headshotWidth+$defaultPadding;
	}
	&.no-image {
		.item-inner {
			padding-left: $defaultPadding/2;
		}
	}
	.image {
		width: $headshotWidth;
		height: $headshotWidth;
	    //border-radius: 50%;
	    overflow: hidden;
		figure {
			padding-bottom: 100%;
			background-color: transparent;
			//background-color: #bcd7e5;
		}
	}
	.item-headline {
		height: $headshotWidth;
		line-height: $headshotWidth;
	}
}
.headshot-lead {
	.item-inner {
		padding: 0 $defaultPadding/2 $defaultPadding $defaultPadding/2;
	}
	.image {
		width: $headshotWidth * 2;
		height: $headshotWidth * 2 * 4 / 3;
		margin-right: $defaultPadding/2;
		position: static;
		float: left;
		//height: $headshotWidth;
	    //border-radius: 50%;
	    overflow: hidden;
		figure {
			//padding-bottom: 100%;
			background-color: transparent;
			//background-color: #bcd7e5;
		}
	}
	// .item-headline {
	// 	//height: $headshotWidth;
	// 	//line-height: $headshotWidth;
	// }
}
.has-side {
	.block-inner {
		padding-right: $defaultPadding;
		position: relative;
	}
	.content-container {
	    float: left;
	    width: 100%;
	}
	.content-inner {
    	border-right: $sideWidth solid $bannerBG;
    	padding-right: $defaultPadding/2;
	}
	&.side-left {
		.block-inner {
			padding-right: 0;
			padding-left: $defaultPadding;			
		}
		.content-container {
			float: right;
		}
		.content-inner {
			border-right: 0;
			border-left: $sideWidth solid $bannerBG;
			padding-right: $defaultPadding/2;
			padding-left: $defaultPadding/2;
		}
		.side-container {
			float: right;
			margin-right: -$sideWidth;
		}
	}
}



.side-container {
	float: right;
    width: $sideWidth;
    background-color: $bannerBG;
    margin-left: - $sideWidth;
	iframe {
		margin: 0 auto $defaultPadding auto;
		display: block;
		&.ad-hidden {
			margin: 0 auto;
		}
		&#ribbon {
			margin: 15px auto;
		}
	}
	.list-title {
		@include itemTitleMobile;
	}
	.item-container {
		float: none;
		width: 100%;
	}
	.item-inner {
		padding: 0 0 $defaultPadding/2 0;
		position: static;
		border-top: 1px dotted $borderColor;
	}
	.item-headline {
		padding: $defaultPadding/2 $defaultPadding/2 0 $defaultPadding/2;
		margin-bottom: 0;
		font-size: 0.9em;
		font-weight: normal;
	}
	.first-headline {
		.item-inner {
			border-top-width: 0;
		}
		.item-headline {
			padding-top: 0;
		}
	}
	.interactives {
		padding-bottom: $defaultPadding;
		.item-headline {
			padding: $defaultPadding/2 $defaultPadding/2 0 $defaultPadding/2;
		}
	}
	.videos {
		padding-bottom: $defaultPadding;
	}
	.image {
		position: static;
		float:right;
		width: 82px;
		padding: 2px 0 0 5px;
		clear: right;
		&.first-child {
			float:none;
			width: 100%;
			padding: 0;
		}
		&.square-icon {
			figure {
				padding-bottom: 100%;
			}
		}
	}
	.item-container.first {
		position: relative;
		margin-bottom: $defaultPadding/2;
		.item-inner {
			padding: 0;
			border: 0;
		}
		.image {
			float:none;
			width: 100%;
			padding: 0;
		}
		.item-headline {
			font-size:1em;
			position: absolute;
			bottom: 0;
			background-color: $opaque;
			color: white;
			padding-bottom: $defaultPadding/2;
			width: 100%;
			a {
				color: white;
				font-weight: normal;
			}
		}
	}
	.imageAndText, .imageAndLead {
		.item-container.first {
			margin-bottom: 0;
			.item-headline {
				position: static;
				background-color: transparent;
				color: inherit;
				a {
					color: inherit;
				}
			}
		}
	}
	.imageAndLead {
		.item-container.first {
			.item-headline {
				padding-bottom: $defaultPadding/4;
				a {
					font-weight: 800;
				}
			}
		}
	}
}
.item-description {
	padding: 0 $defaultPadding/2;
}
.smallest {
	font-size: 0.8em;
}
.smaller {
	font-size: 0.9em;
}
.bigger {
	font-size: 1.2em;
}
.biggest {
	font-size: 1.6em;
}
.selected {
	position: relative;
	background-color: $bannerBG;
	&:before {
		content: '';
		display: block;
		position: absolute;
		right: $defaultPadding/2;
		top: 0;
		bottom: 0;
		width: 44px;
		background-size: 20px;
		background-position: right center;
		background-repeat: no-repeat;
		background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon:tick-thin?format=svg&source=o-icons);
		background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon:plus?width=32&format=png&source=o-icons)\9;
	}
}
.top10 {
	padding: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
	li {
		padding: $defaultPadding/2 0 $defaultPadding/2 0;
		border-top: 1px dotted $borderColor;
		//font-weight: bold;
		&.mp1 {
			padding-top: 0;
			border: 0;
		}
		span {
			color: $highlightColor;
			//padding-right: $defaultPadding/2;
			//text-align: right;
			//display: inline-block;
			//width: $defaultPadding;
		}
	}
}

.video-package {
	.items {
		padding: 0 $defaultPadding/4;		
	}

	.item-inner {
		padding: $figureHeight $defaultPadding/4 $defaultPadding $defaultPadding/4;
		//padding-bottom: 0;
	}
	&.last-child {
		.item-container {
			>.item-inner {
				//padding: $figureHeight $defaultPadding/4 0 $defaultPadding/4;
				padding-bottom: 0;
			}
		}
	}
	.item-headline {
		font-size: 0.75em;
		font-weight: normal;
	}
	.image {
		left: $defaultPadding/4;
		right: $defaultPadding/4;
		border: 2px solid transparent;
		padding-bottom: 0;
		&:hover, &.active {
			border-color: $blue;
		}
	}
	.on .image {
		border-color: $blue;
	}
}
.video-package-inner {
	&.item-inner {
		position: relative;
		padding: 0 $defaultPadding/4 $defaultPadding/2 $defaultPadding/4;
	}
	.image {
		position: static;
		border-width: 0;
		margin-bottom: 0;
		figure {
			background-color: black;
			color: white;
		}
	}
}
.video-package-title {
	background-color: black;
	padding: $defaultPadding/4;
	a {
		color: white;
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}

.P-only {
	display: none;
}
.side-by-side {
	float: left;
	.item-container {
		float: none;
		width: 100%;
		position: relative;
		&.first {
			.item-inner {
				padding: $figureHeight $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
				border: 0;
			}
			&.no-image {
				.item-inner {
					padding: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
				}
			}
			.item-headline {
				font-size:1em;
				border: 0;
				padding-top: 0;
				margin-bottom: $defaultPadding/2;
			}
		}
	}
	.item-inner {
		padding: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
		position: static;
	}
	.item-headline {
		padding: $defaultPadding/2 $defaultPadding/2 0 0;
		margin-bottom: 0;
		border-top: 1px dotted $borderColor;
		font-size: 0.9em;
	}
}
.links {
	padding: 0 $defaultPadding $defaultPadding $defaultPadding;
	font-size: 0.75em;
	a {
		display: block;
		padding-top: $defaultPadding/2;
		margin-top: $defaultPadding/2;
		border-top: 1px dotted $borderColor;
		overflow: hidden;
		width: 100%;
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:first-child {
			border: 0;
			margin-top: 0;
			padding-top: 0;
		}
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}
.more-link {
	text-align: right;
	padding-right: $defaultPadding/2;
	a {
		color: $blue;
	}
}