.story-container {
	padding: 0 $defaultPadding/2;
	max-width: 700px;
	margin: auto;
	&.ce, &.biggest, &.bigger {
		max-width: 100%;
	}
}
.story-headline {
	font-size: 1.6em;
	padding-bottom: $defaultPadding/2;
	line-height: $goldenRatio;
}
.story-lead {
	font-size: 1.2em;
	padding-bottom: $defaultPadding/2;
	line-height: $goldenRatio;
	color: $lighterGrey;
}
.story-body {
	font-size: 1.1em;
	color: $darkGrey;
	line-height: $goldenRatio;
	overflow: hidden;
	p {
		line-height: $goldenRatio;
		padding-bottom: 1em;
		img {
			display: block;
			margin: auto;
		}
		//text-indent: 2em;
		// &:first-child {
		// 	text-indent: 0;
		// 	&:first-letter {
		// 		display: block;
		// 	    float: left;
		// 	    margin: 3px 4px -14px 0;
		// 	    font-size: 3.285714em;
		// 	    line-height: 100%;
		// 	    text-transform: uppercase;
		// 	    font-weight: 400;
		// 	    font-style: normal;
		// 	    text-decoration: none;
		// 	}
		// }
	}
	a:link, a:visited {
		color: $blue;
	}
	a:active, a:hover {
		color: $darkGrey;
	}
}

.story-action-placeholder {
	height: 38px;
}
.story-action {
    overflow: hidden;
    //margin: $defaultPadding/2 0;
    padding: 5px 0;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
}
.tool-sticky {
	.story-action {
		position: fixed;
	    top: 0;
	    width: 100%;
	    height: $navHeight;
	    left: 0;
	    right: 0;
	    background-color: $darkGrey;
	    border:0;
	    z-index: 9999999;
	}
	.action-inner {
		max-width: $maxWidth;
		padding: 0 $defaultPadding;
		margin: 5px auto 0 auto;
		.icon-right {
			button {
				background-color: white;
				color: $darkGreen;
				&:hover, &:active {
					background-color: white;
					color: $darkGrey;
				}
			}
		}
	}
	.icon-comments {
	    background-image: url(http://static.ftchinese.com/img/svg/comments-white.svg);
	    background-image: url(http://static.ftchinese.com/img/png/comments-white.png)\9;
	}
	.icon-print {
	    background-image: url(http://static.ftchinese.com/img/svg/print-white.svg);
	    background-image: url(http://static.ftchinese.com/img/png/print-white.png)\9;
	}
	.icon-font-size {
		background-image: url(http://static.ftchinese.com/img/svg/font-size-white.svg);
	    background-image: url(http://static.ftchinese.com/img/png/font-size-white.png)\9;		
	}
	.icon-share {
	    background-image: url(http://static.ftchinese.com/img/svg/share-white-1.svg);
	    background-image: url(http://static.ftchinese.com/img/png/share-white.png)\9;
	}
}
.action-icon {
	float: left;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: block;
    margin-right: 12px;
}
.icon-twitter {
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial:twitter?source=o-share&format=png&width=24);
    background: rgba(0,0,0,.0001) url(https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial:twitter?source=o-share&format=svg) center/100% no-repeat;
}
.icon-facebook {
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial:facebook?source=o-share&format=png&width=24);
    background: rgba(0,0,0,.0001) url(https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial:facebook?source=o-share&format=svg) center/100% no-repeat;
}
.icon-linkedin {
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial:linkedin?source=o-share&format=png&width=24);
    background: rgba(0,0,0,.0001) url(https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial:linkedin?source=o-share&format=svg) center/100% no-repeat;
}
.icon-wechat {
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Fpng%2Fsocial-wechat.png?source=ftchinese&width=24);
    background: rgba(0,0,0,.0001) url(http://static.ftchinese.com/img/svg/social-wechat.svg) center/100% no-repeat;
}
.icon-weibo {
    background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Fpng%2Fsocial-weibo.png?source=ftchinese&width=24);
    background: rgba(0,0,0,.0001) url(http://static.ftchinese.com/img/svg/social-weibo.svg) center/100% no-repeat;
}
.icon-right {
	float: right;
	margin-left: 12px;
	display: block;
    font-size: 14px;
    line-height: 140%;
}

// button.myft-follow {
// 	position:relative;
// 	padding-left: 28px;
// 	&:before {
// 		display: inline-block;
// 		width: 12px;
// 		height: 12px;
// 		background-repeat: no-repeat;
// 		background-size: contain;
// 		background-position: 50%;
// 		background-color: transparent;
// 			    content: ' ';
// 	    left: 8px;
// 	    margin: -6px 4px 0 0;
// 	    position: absolute;
// 	    top: 50%;
// 	}
// 	&.plus:before {
// 		background-image: url("http://static.ftchinese.com/images/plus.svg");
// 	    background-image: url("http://static.ftchinese.com/images/png/plus.png")\9;
// 	}
// 	&.tick:before {
// 		background-image: url("http://static.ftchinese.com/images/tick-thin.svg");
// 	    background-image: url("http://static.ftchinese.com/images/png/tick-thin.png")\9;
// 	}
// }

.icon-action {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-color: transparent;
}
.icon-comments {
	background-size: 20px 20px;
    background-image: url(http://static.ftchinese.com/img/svg/comments.svg);
    background-image: url(http://static.ftchinese.com/img/png/comments.png)\9;
}
.icon-print {
    background-image: url(http://static.ftchinese.com/img/svg/print.svg);
    background-image: url(http://static.ftchinese.com/img/png/print.png)\9;
}
.icon-font-size {
    background-image: url(http://static.ftchinese.com/img/svg/font-size.svg);
    background-image: url(http://static.ftchinese.com/img/png/font-size.png)\9;
}
.icon-share {
    background-image: url(http://static.ftchinese.com/img/svg/share-grey-1.svg);
    background-image: url(http://static.ftchinese.com/img/png/share-grey.png)\9;
}
.story-theme {
	font-weight: bold;
	color: $red;
	padding-bottom: $defaultPadding/2;
	a {
		color: $red;
		font-size: 18px;
		display: inline-block;
		vertical-align: middle;
		&:hover, &:active {
			color: black;
		}
	}
}
.story-byline {
	padding: $defaultPadding/2 0;
}
.story-time {
	color: $timeGrey;
	font-size: 0.8em;
}
.story-author {
	font-size: 0.8em;
	a {
		color: $red;
		font-weight: bold;
		&:hover, &:active {
			color: black;
		}
	}
}
//legacy share
#sharelinks{
	font-size:14px;
	display: block;
	//padding:$defaultPadding/2;
	height: 300px;
	overflow: scroll;
	div{
		img{
			margin-right:$defaultPadding/2;
		}
	}
}
.image {
	&.story-image {
		position: static;
		margin: 0 auto $defaultPadding/2 auto;
		padding-bottom: 0;
	}
	&:hover, &:active {
		img {		
			transform: none;
		}
	}
	&.right-image {
		float: right;
		width: 50%;
		margin: 0 0 0 $defaultPadding/2;
		figure {
			padding-bottom: $portraitRatio;
		}
	}
}
@media screen and (max-width: 490px) {
	.icon-print, .icon-facebook, .icon-twitter {
		display: none;
	}
	.story-headline {
		font-size: 1.2em;
	}
	.image {
		&.story-image {
			margin-left: -$defaultPadding/2;
			margin-right: -$defaultPadding/2;
		}
	}
}
@media screen and (min-width: 691px) and (max-width: 795px) {
	.icon-print, .icon-facebook, .icon-twitter {
		display: none;
	}
}