.story-container {
	padding: 0 $defaultPadding*0.5;
	max-width: $storyMaxWidth;
	margin: auto;
	&.ce, &.biggest, &.bigger, &.full-width {
		max-width: 100%;
	}
}
.story-headline {
	font-size: 1.6em;
	padding-bottom: $defaultPadding*0.5;
	line-height: $goldenRatio;
}
.story-lead {
	font-size: 1.2em;
	padding-bottom: $defaultPadding*0.5;
	line-height: $goldenRatio;
	color: $lighterGrey;
}
.story-body {
	font-size: 1.1em;
	color: $darkGrey;
	line-height: $goldenRatio;
	p {
		line-height: $goldenRatio;
		padding-bottom: 1em;
		img {
			display: block;
			margin: auto;
		}
	}
}
#story-body-container {
	overflow: hidden;
	sub {
		vertical-align: baseline;
		font-size: 1em;
	}
}
.story-body a, .is-current{
	color: $darkGreen;
	border-bottom: 2px solid $lightGreenBorder;
	text-decoration: none;
	.is-music {
		background: $darkGreen;
		color: white;
		&:before {
			color: white;

			animation-name: spin;
			animation-duration: 4000ms;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}
}
.is-music {
	background: rgba(175,81,108,.15);
	line-height: 25px;
	padding: 5px 10px 5px 35px;
	display: block;
	position: relative;
	&:before {
		content: '\2669';
		position: absolute;
		left: 0;
		top: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		display: block;
		border: 0;
	}
}

@keyframes spin { 
	from { 
		transform: rotate(0deg); 
	} to { 
		transform: rotate(360deg); 
	}
}

.use-justify {
	.story-body {
		p {
			text-align: justify;
		}
	}
}

.story-action-placeholder {
	height: 38px;
}
.story-action {
    overflow: hidden;
    //margin: $defaultPadding/2 0;
    padding: 5px 0;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
}
.action-icon {
	float: left;
    background-size: 24px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: block;
    margin-right: 12px;
    
}
.icon-twitter {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/icons/png/ftsocial_twitter.png);
    background: rgba(0,0,0,.0001) url(https://d28dmc8fp041dv.cloudfront.net/icons/svg/ftsocial_twitter.svg) center/24px no-repeat;
}
.icon-facebook {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/icons/png/ftsocial_facebook.png);
    background: rgba(0,0,0,.0001) url(https://d28dmc8fp041dv.cloudfront.net/icons/svg/ftsocial_facebook.svg) center/24px no-repeat;
}
.icon-linkedin {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/icons/png/ftsocial_linkedin.png);
    background: rgba(0,0,0,.0001) url(https://d28dmc8fp041dv.cloudfront.net/icons/svg/ftsocial_linkedin.svg) center/24px no-repeat;
}
.icon-wechat {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/png/social-wechat.png);
    background: rgba(0,0,0,.0001) url(https://d28dmc8fp041dv.cloudfront.net/img/svg/social-wechat.svg) center/24px no-repeat;
}
.icon-weibo {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/png/social-weibo.png);
    background: rgba(0,0,0,.0001) url(https://d28dmc8fp041dv.cloudfront.net/img/svg/social-weibo.svg) center/24px no-repeat;
}
.icon-action {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-color: transparent;
}
.icon-comments {
	background-size: 20px 20px;
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/svg/comments.svg);
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/png/comments.png)\9;
}
.icon-print {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/svg/print.svg);
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/png/print.png)\9;
}
.icon-font-size {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/svg/font-size.svg);
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/png/font-size.png)\9;
}
.icon-share {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/svg/share-grey-1.svg);
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/png/share-grey.png)\9;
}
.icon-audio {
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/svg/audio.svg);
    background-image: url(https://d28dmc8fp041dv.cloudfront.net/img/png/audio.png)\9;
}


@media screen and (min-width: 1400px) {
	.story-action-placeholder {
		height: 0;
		position: absolute;
		top: 0; 
		left: -$shareButtonWidth;
		.story-action {
			border: 0;
		}
		.action-icon, .icon-right {
			float: none;
			border-width: 0px 1px 1px 1px;
			border-style: solid;
			border-color: #807973;
			background-size: 24px;
			width: $shareButtonWidth;
			height: $shareButtonWidth;
			margin: 0;
			&:first-child {
				border-width: 1px;
			}
			// &.icon-ch {
			// 	display: none;
			// }
			button {
				white-space: nowrap;
				width: 100%;
				height: 100%;
				line-height: 100%;
				background: transparent;
				padding:0;
				margin:0;
				text-align: center;
				font-size: 14px;
			}
		    //margin: 0 0 $defaultPadding/2 0;
		}
	}
	.tool-sticky {
		.story-action-placeholder {
			.story-action {
				position: fixed;
			    top: 80px;
			    left: -($shareButtonWidth+$defaultPadding)*2; 
			    right: 0; 
			    margin: auto;
			    border: 0;
			    z-index: 9999999;
			    width: 100%;
			    max-width: 1260px;
			    overflow: visible; 
			}
			.action-inner {
				position: absolute;
				width: $navHeight;
				left: $defaultPadding;
				top: 0;
				margin: auto;				
			}
		}
	}

	.tool-bottom {
		.story-action-placeholder {
			top: auto;
			bottom: 30px;
			.story-action {
				bottom: 0;
				position: absolute;
			}
		}
	}


	.show-sticky-tools.story-container {
		.story-tools {
			float: left;
			position: sticky;
			top: $navHeight + $subNavHeight;
		}
		.story-action-placeholder {
			left: auto;
			right: $maxWidth - $sideWidth - $storyMaxWidth - $shareButtonWidth;
		}
		.story-topper {
			float: right;
			width: 100%;
		}
	}


	.full-grid-story { 
		.show-sticky-tools.story-container {
			.story-topper {
				float: none;
			}
			.story-action-placeholder {
				right: auto;
			}
		}
	}

}


.story-theme {
	font-weight: bold;
	color: $red;
	padding-bottom: $defaultPadding*0.5;
	a {
		color: $red;
		font-size: 18px;
		display: inline-block;
		vertical-align: middle;
		&:hover, &:active {
			color: black;
		}
	}
}
.story-byline {
	padding: $defaultPadding*0.5 0;
}
.story-time {
	color: $timeGrey;
	font-size: 0.8em;
}
.story-author {
	font-size: 0.8em;
	a {
		color: $red;
		font-weight: bold;
		&:hover, &:active {
			color: black;
		}
	}
}
//legacy share
#sharelinks{
	font-size:14px;
	display: block;
	//padding:$defaultPadding/2;
	height: 300px;
	overflow: scroll;
	div{
		img{
			margin-right:$defaultPadding*0.5;
		}
	}
}
.image {
	&.story-image {
		position: static;
		margin: 0 auto $defaultPadding*0.5 auto;
		padding-bottom: 0;
	}
	&:hover, &:active {
		img {		
			transform: none;
		}
	}
	&.right-image {
		float: right;
		width: 50%;
		margin: 0 0 0 $defaultPadding*0.5;
		figure {
			padding-bottom: $portraitRatio;
		}
	}
}
@media screen and (max-width: 490px) {
	.icon-print, .icon-facebook, .icon-twitter {
		display: none;
	}
	.story-headline {
		font-size: 1.2em;
	}
	.image {
		&.story-image {
			margin-left: -$defaultPadding*0.5;
			margin-right: -$defaultPadding*0.5;
			.caption {
				margin-left: $defaultPadding*0.5;
				margin-right: $defaultPadding*0.5;
			}
		}
	}
}
@media screen and (min-width: 691px) and (max-width: 795px) {
	.icon-print, .icon-facebook, .icon-twitter {
		display: none;
	}
}