* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-family:"Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
	font-size:16px;
	margin:0 auto;
	display:block;
	background: $defaultPink none repeat scroll 0 0;
	.is-ipad & {
		font-size: 18px;
	}
}

div {
	text-align: left;
	line-height: 140%;
}
img {
	border:medium none;
	max-width:100%;
}
a {
    color: $darkGreen;
    //border-bottom: 1px dotted #0a5e66;
    text-decoration: none;
    &:hover, &:active {
		color: $darkGrey;
		//border-color: transparent;
	}
	&.highlight {
		color: $red;
	}
}
ul,li{
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
.clearfloat{
	clear:both;
}
.blue-link {
	color: $blue;
	&:hover, &:active {
		color: $darkGrey;
	}
}
[data-type] {
	cursor: pointer;
}
.hide {
	display: none;
}
.warn, .warn a, .block-container .warn a {
	color: $wrong;
}
.warn a {
	text-decoration: underline;
	font-weight: bold;
}



// MARK: - audio
.audio-placeholder {
	height: $navHeight;
	margin-bottom: $defaultPadding/2;
	.is-ftc-app & {
		position: fixed;
	    bottom: 0;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    left: 0;
	    right: 0;
	    z-index: 99999999;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	}
	.is-ftc-app.is-android-app & {
		position: static;
	}
}
@media only screen and (max-width: 490px) {
	.audio-placeholder {
		position: fixed;
	    bottom: 0;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    left: 0;
	    right: 0;
	    z-index: 99999999;
	}
}
.audio-container {
	color: #33302e;
    background-color: #f2e5da;
    height: 100%;
}
.audio-controls {
	width: 100%;
	height: 100%;
	position: relative;
}
.audio-control {
	float: left;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: transparent;
    border: 0;
    padding: 0;
    display: block;
    width: $navHeight;
    height: $navHeight;
    background-size: 28px 28px;
    background-position: 50%;
    background-color: transparent;
    vertical-align: baseline;
    background-repeat: no-repeat;
    &:disabled {
	    display: none;
	    pointer-events: none;
	}
}
.control__play {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E*%7Bfill:%2333302E!important;%7D%3C/style%3E%3Cpath d='M716.8 512l-384-256v512z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}
.control__pause {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E*%7Bfill:%2333302E!important;%7D%3C/style%3E%3Cpath d='M307.2 256h153.6v512H307.2V256zm256 512h153.6V256H563.2v512z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.audio-time-text {
	float: left;
	display: table-cell;
    width: $navHeight;
    height: $navHeight;
    line-height: $navHeight;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: MetricWeb, sans-serif;
    font-size: 14px;
    text-align: center;
    //padding-right: 10px;
}
.audio-time-text__current {
	float: left; 
	text-align: left;
}
.audio-time-text__total {
	//padding-left: 10px;
	float: right;
}
.audio-time-progress {
	display: block;
	position: absolute;
	left: $navHeight + $navHeight;
	right: $navHeight;
	top: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.audio-time-progress__background {
    height: $audioProgressHeight;
    width: 100%;
    background: #ccc1b7;
    display: block;
    margin-top: ($navHeight - $audioProgressHeight)/2;
}
.audio-time-progress__fill {
	height: $audioProgressHeight;
    width: 100%;
    background: $darkGreen;
    display: block;
    position: absolute;
    top: ($navHeight - $audioProgressHeight)/2;
    left: 0;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    pointer-events: none;
}

.audio-time-progress__scrub {
    width: $audioScrubHeight;
    height: $audioScrubHeight;
    border-radius: 50%;
    background-color: #12a5b3;
    position: absolute;
    top: ($navHeight - $audioScrubHeight)/2;
    left: -$audioScrubHeight/2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
    pointer-events: none;
}

.language-switch-container {
	display: none;
	// padding-top: 5px;
}


.sticky-element-on {
	.sticky-element-inner {
		position: fixed;
		top: $navHeight;
		background-color: $defaultPink;
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: $borderColor;
		z-index: 1;
	}
}
.language-switch-inner {
	margin: 0 auto;
	text-align: center;
	display: table;
	border-collapse: collapse;
	position: relative;
}
a.language-switch {
	color: $teal;
	background-color: $defaultPink;
	display: table-cell;
	height: $navHeight - 16 - 2;
	line-height: $navHeight - 16 - 2;
	padding: 0 $defaultPadding/2;
	border: 1px solid $teal;
	&.on {
		color: white;
		background-color: $teal;
	}
}
a.language-switch-left, a.language-switch-right {
	display: block;
	position: absolute;
	height: $navHeight;
	width: $navHeight;
	top: 0;
}
a.language-switch-left {
	left: 0;
}
a.language-switch-right {
	right: 0;
}
a.language-switch-menu {
	display: none;
	background-image: url("https://dhgxl8qk9zgzr.cloudfront.net/icons/svg/fticon-v1_hamburger.svg");
}
a.language-switch-share {
	display: none;
	background-image: url("https://dhgxl8qk9zgzr.cloudfront.net/icons/svg/fticon-v1_share.svg");
}
audio {
	width: 100%;
	height: $navHeight;
	//margin-bottom: $defaultPadding/2;
}
button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    outline: 0;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    -moz-appearance: none;
    -webkit-appearance: none;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: 16px;
    min-height: 26px;
    min-width: 26px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 26px;
    border-width: 1px;
    color: #0a5e66;
    background-color: rgba(255,255,255,.4);
    border-color: rgba(39,117,123,.15);
    &:hover, &:active {
    	background-color: rgba(39,117,123,.08);
		border-color: rgba(39,117,123,.3);
    }
    &.myft-follow {
    	background-color: transparent;
	    border: 1px solid #990f3d;
	    color: #990f3d;
	    border-radius: 26px;
		position:relative;
		padding-left: $followButtonSignWidth + $followButtonPadding + $followButtonPadding/2;
		padding-right: $followButtonPadding;
		margin: 0 0 0 $defaultPadding/2;
		&.tick {
			background-color: #990f3d;
			color: #ffffff;
		}
		&:before {
			display: inline-block;
			width: $followButtonSignWidth;
			height: $followButtonSignWidth;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50%;
			background-color: transparent;
			content: ' ';
		    left: $followButtonPadding;
		    margin: -6px 4px 0 0;
		    position: absolute;
		    top: 50%;
		}
		&.plus:before {
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cstyle%3E*%7Bfill:%23990f3d !important%7D%3C/style%3E%3Cpath d='M5.053 0v5.053H0v1.894h5.053V12h1.894V6.947H12V5.053H6.947V0H5.053z' fill='%23333' fill-rule='evenodd'/%3E%3C/svg%3E%0A");		    
			background-image: url("https://dhgxl8qk9zgzr.cloudfront.net/images/png/plus.png")\9;
		}
		&.tick:before {
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13'%3E%3Cstyle%3E*%7Bfill:%23ffffff !important%7D%3C/style%3E%3Cpath d='M5.273 10.08L2.1 7.7l-.8-.6L.1 8.7l.8.6 3.226 2.42-.02.026.807.564.787.59.02-.026.026.02.564-.807.59-.787-.026-.02 6.445-9.207.572-.82-1.64-1.146-.572.82-6.407 9.153z' fill-rule='evenodd'/%3E%3C/svg%3E");
		    background-image: url("https://dhgxl8qk9zgzr.cloudfront.net/images/png/tick-thin.png")\9;
		}
	}
}
input[type=submit] {
	-webkit-appearance: none;
	border-radius: 0;
}
.icon-right {
	float: right;
	margin-left: 12px;
	display: block;
    font-size: 14px;
    line-height: 140%;
}
