* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-family:"Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
	font-size:16px;
	margin:0 auto;
	display:block;
	background: $defaultPink none repeat scroll 0 0;
}

div {
	text-align: left;
	line-height: 140%;
}
img {
	border:medium none;
	max-width:100%;
}
a {
    color: $darkGreen;
    //border-bottom: 1px dotted #0a5e66;
    text-decoration: none;
    &:hover, &:active {
		color: $darkGrey;
		//border-color: transparent;
	}
	&.highlight {
		color: $red;
	}
}
ul,li{
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
.clearfloat{
	clear:both;
}
.blue-link {
	color: $blue;
	&:hover, &:active {
		color: $darkGrey;
	}
}
.hide {
	display: none;
}
.warn, .warn a, .block-container .warn a {
	color: $wrong;
}
.warn a {
	text-decoration: underline;
	font-weight: bold;
}
// audio
.audio-placeholder {
	height: $navHeight;
}
.language-switch-container {
	display: none;
}
.audio-sticky {
	.audio-container, .language-switch-container {
		position: fixed;
	    width: 100%;
	    height: $navHeight;
	    left: 0;
	    right: 0;
	    background-color: #fff1e5;
	    -webkit-box-shadow: 0 1px 3px rgba(77,72,69,0.2), 0 6px 10px rgba(77,72,69,0.15);
    	box-shadow: 0 1px 3px rgba(77,72,69,0.2), 0 6px 10px rgba(77,72,69,0.15);
	    border:0;
	    z-index: 9999999;
	    display: block;
	}
	.audio-container {
		top: $navHeight;
	}
	.language-switch-container {
		top: 0;
		padding-top: 8px;
	}
}
.sticky-element-on {
	.sticky-element-inner {
		position: fixed;
		top: $navHeight;
		background-color: $defaultPink;
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: $borderColor;
		z-index: 1;
	}
}
.language-switch-inner {
	margin: 0 auto;
	text-align: center;
	display: table;
	border-collapse: collapse;
	position: relative;
}
a.language-switch {
	color: $teal;
	display: table-cell;
	height: $navHeight - 16 - 2;
	line-height: $navHeight - 16 - 2;
	padding: 0 $defaultPadding/2;
	border: 1px solid $teal;
	&.on {
		color: white;
		background-color: $teal;
	}
}
a.language-switch-left, a.language-switch-right {
	display: block;
	position: absolute;
	height: $navHeight;
	width: $navHeight;
	top: 0;
}
a.language-switch-left {
	left: 0;
}
a.language-switch-right {
	right: 0;
}
a.language-switch-menu {
	background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:hamburger?source=o-icons&tint=%2333302E,%2333302E&format=svg");
}
a.language-switch-share {
	background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:share?source=o-icons&tint=%23000000,%23000000&format=svg");
}
.show-language-switch-only {
	.header-container, .o-nav__placeholder, .subscription-promo-container {
		display: none;
	}
	body {
		padding-top: $navHeight;
	}
	.toprecommend-part {
		margin-top: 0;
	}
}

audio {
	width: 100%;
	//margin-bottom: $defaultPadding/2;
}
button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    outline: 0;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: 16px;
    min-height: 26px;
    min-width: 26px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 26px;
    border-width: 1px;
    color: #0a5e66;
    background-color: rgba(255,255,255,.4);
    border-color: rgba(39,117,123,.15);
    &:hover, &:active {
    	background-color: rgba(39,117,123,.08);
		border-color: rgba(39,117,123,.3);
    }
    &.myft-follow {
		position:relative;
		padding-left: 28px;
		margin: 0 0 0 $defaultPadding/2;
		&:before {
			display: inline-block;
			width: 12px;
			height: 12px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50%;
			background-color: transparent;
			content: ' ';
		    left: 8px;
		    margin: -6px 4px 0 0;
		    position: absolute;
		    top: 50%;
		}
		&.plus:before {
			background-image: url("http://static.ftchinese.com/images/plus.svg");
		    background-image: url("http://static.ftchinese.com/images/png/plus.png")\9;
		}
		&.tick:before {
			background-image: url("http://static.ftchinese.com/images/tick-thin.svg");
		    background-image: url("http://static.ftchinese.com/images/png/tick-thin.png")\9;
		}
	}
}

