* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-family:"Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
	font-size:16px;
	margin:0 auto;
	display:block;
	background: $defaultPink none repeat scroll 0 0;
}
div {
	text-align: left;
	line-height: 140%;
}
img {
	border:medium none;
	max-width:100%;
}
a {
    color: $darkGreen;
    //border-bottom: 1px dotted #27757b;
    text-decoration: none;
    &:hover, &:active {
		color: $darkGrey;
		//border-color: transparent;
	}
}
ul,li{
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
.clearfloat{
	clear:both;
}
.blue-link {
	color: $blue;
	&:hover, &:active {
		color: $darkGrey;
	}
}
