.o-ads {
  &div, div {
    text-align: center;
  }
}
.db-banner {
  margin-bottom: 30px;
  overflow-x: hidden;
  &div, div {
    text-align: center;
  }
  @media only screen and (max-width: 776px) {
    margin-bottom: 0;
  }
}

.db-mobile-banner {
  margin-bottom: 30px;
  @media only screen and (min-width: 777px) {
    margin-bottom: 0;
  }
}