div.o-ads{
  text-align: center;
}

.o-ads {
  div {
    text-align: center;
  }
  margin-bottom: 30px;
}
/*
.o-ads.o-ads--empty[data-o-ads-formats-small="FtcMobileBanner"] {
  @media screen and (max-width:776px) {
    width: 100%;
    padding-top: 25%;
  }
}
*/
.o-ads[data-o-ads-formats-large="FtcBanner"],.o-ads[data-o-ads-formats-large="FtcLeaderboard"]{
  position: relative;
  @media screen and (min-width:1200px) {
    &::after{
      content: '广告';
      position: absolute;
      top: 100%;
      right:calc(50% - 600px);
      font-size: 12px;
    }
    &.o-ads--empty::after{
      content: '';
    }
  }
  &::after{
    content: '广告';
    position: absolute;
    top: 100%;
    right:0;
    font-size: 12px;
  }
  &.o-ads--empty::after{
    content: '';
  }
}

.o-ads[data-o-ads-formats-large="FtcMpu"], .o-ads[data-o-ads-formats-small="FtcMpu"]{
  position: relative;
  &::after{
    content: '广告';
    position: absolute;
    top: 100%;
    right:calc(50% - 150px);
    font-size: 12px;
  }
  &.o-ads--empty::after{
    content: '';
  }
}

.o-ads[data-o-ads-name="fullscreen-pc"]{
  margin-bottom: 0;
}
.o-ads--empty {
  margin-bottom: 0;
}
.fullscreen-ad {
  position: fixed;
  z-index:99999;
  top:0;
  left:0;
}
/*
.db-banner {
  margin-bottom: 30px;
  overflow-x: hidden;
  &div, div {
    text-align: center;
  }
  @media only screen and (max-width: 776px) {
    margin-bottom: 0;
  }
}

.db-mobile-banner {
  margin-bottom: 30px;
  @media only screen and (min-width: 777px) {
    margin-bottom: 0;
  }
}
*/