div.o-ads{
  text-align: center;
}

.o-ads {
  position: relative;
  max-width: 100%;
  // MARK: - Set overflow as hidden so that Google Ad Manager can get the responsive ad right
  overflow: hidden;
  div {
    text-align: center;
  }
  &[data-o-ads-loaded] {
    // MARK: - Set overflow as visible so that ad sign will be displayed after ad is loaded
    overflow: visible;
    margin-bottom: 30px;
  }
}

.o-ads__outer {
  position: relative;
}

// MARK: - The ad sign
.o-ads__outer::after {
  .o-ads[data-o-ads-loaded] & {
    content: '广告';
    position: absolute;
    top: 100%;
    right:5px;
    font-size: 12px;
  }
  .o-ads[data-o-ads-loaded=FtcLeaderboard] & {
    right:calc(50% - 600px);
  }
  .o-ads[data-o-ads-loaded=HalfPage] &, .o-ads[data-o-ads-loaded="MediumRectangle"] &{
    right:calc(50% - 150px);
  }
}

.o-ads[data-o-ads-formats-large="FtcRibbon"] {
  &[data-o-ads-loaded] {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  iframe {
    margin-bottom: 0;
  }
}


// MARK: - placeholder for 4 by 1 banner on mobile to avoid the flash
.o-ads[data-o-ads-formats-small="FtcMobileBanner"] {
  @media screen and (max-width:760px) {
    padding-top: 25%;
    background: #F6E9D8;
    padding-bottom: 20px;
    box-sizing: border-box;
    &[data-o-ads-loaded] {
      background: transparent;
      margin-bottom: 0;
    }
    .o-ads__outer {
      position: absolute;
      top: 0;
      bottom: 20px;
      left: 0;
      right: 0;
    }
  }
}

.o-ads[data-o-ads-name="fullscreen-pc"]{
  margin-bottom: 0;
}
.o-ads--empty {
  margin-bottom: 0;
  display: none;
}
.fullscreen-ad {
  position: fixed;
  z-index:99999;
  top:0;
  left:0;
}
.in-article-advert[data-o-ads-loaded]{
  border-color: #cec6b9;
  border-width: 1px 0;
  border-style: solid;
  padding: 25px 0;
}
.o-ads {
  &.full-screen-pc, &[data-o-ads-name=fullscreen-pc], &.paid-post, &[data-o-ads-name=paidpost], &[data-o-ads-loaded=false], &.fullscreen-ad {
    display: none;
  }
}