a.whitelink:link,a.whitelink:visited {color:#FFF;}
.sync-block-left {float:left;margin:15px 15px 15px 0;}
.sync-block {background-color:#E4DFCB;display:inline;height:170px;overflow:hidden;width:285px;-moz-border-radius:10px;-webkit-border-radius:10px;border:1px solid #E9DECF;-moz-box-shadow:2px 2px 2px #666;-webkit-box-shadow:2px 2px 2px #666;}
.sync_table{margin:30px;}
.img-success {background:url("http://static.ftchinese.com/weibo/success.png") no-repeat scroll left top transparent;height:51px;
margin:25px auto 0;width:68px;}
.label {font-size:26px;font-weight:bold;}
.topright {float:right;margin-top:18px;}
.usertab {height:35px;border-top: 8px solid #9E2F50;background:#FFF;padding-left:5px;}
.usertab a {display:block;float:left;margin:3px 15px 0 0;padding:3px 10px 2px 10px;font-weight:bold;}
.usertab a.on,.usertab a:hover,.usertab a:active {background:#A7A49B;color:#FFF;-moz-border-radius:5px;-webkit-border-radius:5px;}
.sync-text {text-align:center;clear:both;font-size:26px;margin-top:10px;}
.sync-text button{-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #666;-webkit-border-radius:3px;-webkit-box-shadow:1px 1px 2px #666;background:#9E2F50;border: medium none;clear:both;color:#FFFFFF;font-size:14px;font-weight:bold;margin:0 8px;display:inline;line-height:140%;padding:3px 1px 2px 1px;}

.breadcrumb {
border-bottom:3px solid #9E2F50;
}
#theme_content {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
font-size:12px;
}

.theme_box h3 {
font-size:14px;
font-weight:bold;
padding:15px 0 0 10px;
}
.theme_box p {
margin:10px 0 0 10px;
}
.user_manage dl {
height:auto;
margin:0 auto 20px;
width:100%;
}
.user_manage dt {
clear:both;
display:inline;
float:left;
font-size:14px;
font-weight:bold;
height:26px;
padding:0 0 5px 15px;
width:560px;
margin-top:15px;
}
.user_manage dt.first-dt{
margin-top:0;
}
.user_manage dd {
clear:both;
color:#000000;
display:inline;
float:left;
margin-bottom:5px;
padding:0 0 0 30px;
width:750px;
}
.user_manage .um1 {
display:inline;
float:left;
margin-right:10px;
text-align:right;
width:110px;
}
.user_manage .um2 {
float:left;
line-height:160%;
width:600px;
}
.user_manage .um2 span{
color:#777;
}
.user_manage .um3 {
display:inline;
float:left;
line-height:160%;
margin-left:80px;
width:600px;
}
.user_manage #nickname {width:175px;color:#000;}
.um2 input {
width:175px;
}
input.w30 {
width:30px;
}
input.w50, .w50 {
width:50px;
}
input.w100, .w100 {
width:100px;
}
input.w175, .w175 {
width:175px;
}
input.w300, .w300 {
width:300px;
}
.um3 p {
margin:0;
}
.um_btn {
clear:both;
display:block;
padding:20px 0 30px;
text-align:center;
width:100%;
}
.um_btn input.submit {width:220px;text-align:center;padding:5px 0 5px 0;color:#FFF;background:#4781aa;border-radius:2px;border:medium none;font-size:14px;font-weight:bold;}
.user_manage .um2 span.highlight{color:#9b164f;}