// select menu
.filter {
	position: relative;
	display: block;
	height: $navHeight;
	margin-top: $defaultPadding;
}
.select-container {
	padding-right: 85px;
}
.submit-container {
	text-align: right;
	position: absolute;
	right: 0;
	top: 0;
}
.select-item {
	width: 33.3333333%;
	float: left;
	padding-right: $defaultPadding/2;
	position: relative;
	padding: 0 $defaultPadding/2 0 44px;
	select, input {
		cursor: pointer;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…kgMS4xNjktLjMyNiAxLjc0OGwyLjUzNiAzLjU1NnoiIGZpbGw9IiM1MDUwNTAiLz48L3N2Zz4=");
		background-position: right center;
		background-position: right 5px center;
		background-repeat: no-repeat;
		background-origin: border-box;
		background-size: 19px;
		padding-right: 24px;
		padding-top: 6px;
		line-height: $buttonHeight;
		height: $buttonHeight;
		padding-bottom: 6px\9;
		padding-right: 5px\9;
		background-image: none\9;
		text-indent: .01px;
		text-overflow: '';
		font-size: 14px;
		width: 100%;
	}
}
.select-label {
	position: absolute;
	line-height: $buttonHeight;
	top:0;
	left:0;
}
.filter-submit {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  outline: 0;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: BentonSans,sans-serif;
  cursor: pointer;
  -webkit-transition: .3s background-color,.15s box-shadow ease-in;
  transition: .3s background-color,.15s box-shadow ease-in;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-clip: padding-box;
  padding: 3px 14px 3px 14px;
  font-size: 14px;
  line-height: 16px;
  border-width: 1px;
  color: #2e6e9e;
  background: 0 0;
  border-color: $borderColor;
  color: #fff;
  background: $darkGreen;
  padding: 8px 18px 8px 18px;
  font-size: 16px;
  line-height: 18px;
  border-width: 1px;
}
@media only screen and (max-width: 980px) and (min-width: 691px), only screen and (max-width: 490px) {
	@include filterPhone;
}