.header-title {
	display: block;
	text-align: center;
	margin: auto;
	height: $headerHeight;
	line-height: $headerHeight;
	font-size: 32px;
	/*width: 336px;*/
	max-width: 100%;
}
.header-brand {
	figure {
		width:80px;
		height: $headerHeight;
		//padding-top: 21.4285714%;
		position: relative;
		img {
			position: absolute;
			display: block;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto 0;
		}
	}
}
@media only screen and (max-width: 490px) {
	.header-title {
		height: $navHeight;
		line-height: $navHeight;
	}
}