.header-container {
	@include headerContainer;
	height: $headerHeight;
}
.header-inner {
	@include headerInner;
}
.masthead {
	display: block;
	text-align: center;
	margin: auto;
	height: $headerHeight;
	font-size: 20px;
	line-height: $headerHeight;
	width: 336px;
	max-width: 100%;
	background-size: auto $mastheadHeight;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(http://static.ftchinese.com/images/masthead36.png);
	//background-image: url(https://next-geebee.ft.com/image/v1/images/raw/http%3A%2F%2Fnext-geebee.ft.com%2Fassets%2Ficons%2Fbrand-ft-masthead.svg?source=next&tint=%23FFFFFF,%23FFFFFF&format=svg);
}
.header-side {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	//line-height: 20px;
	margin: auto;
	font-size: 14px;
	a {
		color: $whiteColor;
		height: 100%;
		line-height: $headerHeight;
		cursor: pointer;
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}
.header-left {
	left: $defaultPadding;
	width: 120px;
}
.current-edition {
	height: 100%;
	line-height: $headerHeight;
	cursor: pointer;
	span:after {
	    content: '';
	    display: inline-block;
	    margin-left: 10px;
	    border-top: 8px solid #fff;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	}
}
.expandable.header-left {
	//position: relative;
	overflow: visible;
	a {
		display: none;
	}
	&.on {
		.current-edition {
			position: absolute;
			background-color: $lightGrey;
			height: auto;
			//line-height: 140%;
			left: -$defaultPadding/3;
			padding-left: $defaultPadding/3;
			padding-right: $defaultPadding/3;
			a {
				display: block;
				height: auto;
				line-height: 140%;
				border-top: 1px dotted white;
				padding: $defaultPadding/2 0;
			}
			z-index: 9999999999999;
		}
	}
}


.header-right {
	right: $defaultPadding;
	text-align: right;
	a {
		display: inline-block;
		padding: 0 $textPadding;
		position: relative;
		border-width: 0;
		&.more:before {
			content: ' ';
			position: absolute;
			width: 2px;
			height: 14px;
			top: 50%;
			left: -3px;
			margin-top: -7px;
			background-color: #fdf8f2;
		}
		&.last {
			padding-right: 0;
		}
	}
}

//login box
.input-oneline {
	width: 100%;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
	height: 36px;
	border: 1px solid #cec6b9;
	border-radius: 5px;
	padding: 7px 5px 8px;
	width: 100%;
	background-color: #fff;
	color: #333;
	font-family: BentonSans,sans-serif;
	font-size: 16px;
	outline: 0;
	-webkit-transition: .15s box-shadow ease-in;
	transition: .15s box-shadow ease-in;
	background-clip: padding-box;
}
.input-submit-container {
	line-height: 36px;
}
.input-submit {
	display: block;
	float: right;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	outline: 0;
	border-style: solid;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-family: BentonSans,sans-serif;
	cursor: pointer;
	-webkit-transition: .3s background-color,.15s box-shadow ease-in;
	transition: .3s background-color,.15s box-shadow ease-in;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: padding-box;
	padding: 3px 14px 3px 14px;
	font-size: 14px;
	line-height: 16px;
	border-width: 1px;
	color: #2e6e9e;
	background: 0 0;
	border-color: #2e6e9e;
	color: #fff;
	background: #2e6e9e;
	border-color: #2e6e9e;
	padding: 8px 18px 8px 18px;
	font-size: 16px;
	line-height: 18px;
	border-width: 1px;
}

.member-box {
	display: none;
}

.is-member {
	.member-box {
		display: block;
	}
	.visitor-box {
		display: none;
	}
}

@media only screen and (max-width: 490px) {
	.header-side {
		display: none;
	}
	.header-container {
		height: $navHeight;
	}
	.header-inner {
		position: fixed;
		top: 0;
		height: $navHeight;
		z-index: 999999999;
		width: 100%;
		background-color: $darkGrey;
	}
	.masthead {
		height: $navHeight;
		background-size: auto 27px;
		background-image: url(http://static.ftchinese.com/images/masthead1.png);
	}
	.is-wechat {
		.o-nav {
			position: relative;
			overflow: hidden;
		}
	}
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.masthead {
		background-image: url(http://static.ftchinese.com/images/masthead72.png);
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 490px), 
        only screen and (min-resolution: 192dpi) and (max-width: 490px) {
	.masthead {
		background-image: url(http://static.ftchinese.com/images/masthead2.png);
	}
}

