@use "sass:math";

@import "header-input.scss";
@import "main-search-new.scss";

.header-container {
	@include headerContainer;
	height: $headerHeight;
}
.header-inner {
	@include headerInner;
}
.masthead {
	display: block;
	text-align: center;
	margin: auto;
	height: $headerHeight;
	font-size: 20px;
	line-height: $headerHeight;
	width: 336px;
	max-width: 100%;
	background-size: auto $mastheadHeight;
	background-repeat: no-repeat;
	background-position: center;
	background-image: $mastHead;

}
@if variable-exists(mastHeadBig5) {
	.is-big5 .masthead {
		background-image: $mastHeadBig5;
	}
}
.header-side {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	//line-height: 20px;
	margin: auto;
	font-size: 14px;
	display: block;
	a {
		color: $headerColor;
		height: 100%;
		line-height: $headerHeight;
		cursor: pointer;
		position: relative;
		&.my-account {
			padding-left: 32px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				bottom: 4px;//The FT's account svg is not vertically centered, offset it by 4px
				left: 0;
				width: 32px;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><circle cx="512" cy="409.5" r="102.4" fill="%2333302E"/><path d="M512 563.1c-128 0-179.2 25.6-179.2 102.4v102.6h358.4V665.5c0-77.3-51.2-102.4-179.2-102.4z" fill="%2333302E"/></svg>');			}
			&:hover, &:active  {
				&:after {
					left: 32px;
				}
			}
		}
		&:hover, &:active {
			&:after {
				content: "";
				position: absolute;
				height: 4px;
				right: 0;
				left: 0;
				bottom: 10px;
				background-color: black;
			}
		}
	}
}

.header-left {
	left: $defaultPadding;
	width: 90px;
}
.header-left-ai-icon {
	left: $defaultPadding + 90px;
	width: 55px;
	display: block;
	background-image: url("https://d1sh1cgb4xvhl.cloudfront.net/unsafe/picture/9/000229089_piclink.png");
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: auto 32px;
}
.header-left-ai-icon-mobile {
	display: block;
	position: absolute;
	top: 0;
	left: $navHeight;
	height: 100%;
	width: $navHeight;
	// background-color: green;
	background-image: url("https://d1sh1cgb4xvhl.cloudfront.net/unsafe/picture/9/000229089_piclink.png");
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: auto 28px;
}
.current-edition {
	height: 100%;
	line-height: $headerHeight;
	cursor: pointer;
	span:after {
	    content: '';
	    display: inline-block;
	    margin-left: 10px;
	    border-top: 8px solid $headerColor;
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	}
}
.expandable.header-left {
	//position: relative;
	overflow: visible;
	a {
		display: none;
	}
	&.on {
		.current-edition {
			position: absolute;
			background-color: $headerTintLight;
			height: auto;
			//line-height: 140%;
			left: math.div(-$defaultPadding, 3);
			padding-left: math.div($defaultPadding, 3);
			padding-right: math.div($defaultPadding, 3);
			a {
				display: block;
				height: auto;
				line-height: 140%;
				border-top: 1px dotted white;
				padding: $defaultPadding*0.5 0;
			}
			z-index: 9999999999999;
		}
	}
}


.header-right {
	right: $defaultPadding;
	text-align: right;
	a {
		display: inline-block;
		margin: 0 $textPadding;
		position: relative;
		border-width: 0;
	}
}


.member-box {
	display: none;
}

.is-member {
	.member-box {
		display: block;
	}
	.visitor-box {
		display: none;
	}
}



@media only screen and (max-width: 490px) {
	.header-side {
		display: none;
	}
	.header-container {
		height: $navHeight;
	}
	.header-inner {
		position: fixed;
		top: 0;
		height: $navHeight;
		z-index: 999999999;
		width: 100%;
		background-color: $darkGrey;
	}
	.always_show.header-container {
		.header-inner {
			background-color: transparent;
		}
	}
	.masthead {
		height: $navHeight;
		background-size: auto 27px;
		background-image: url(https://d2785ji6wtdqx8.cloudfront.net/images/masthead1.png);
	}
	.is-wechat {
		.o-nav {
			position: relative;
			overflow: hidden;
		}
	}
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.masthead {
		background-image: $mastHead;
	}
	@if variable-exists(mastHeadBig5) {
		.is-big5 .masthead {
			background-image: $mastHeadBig5;
		}
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 490px), 
        only screen and (min-resolution: 192dpi) and (max-width: 490px) {
	.masthead {
		background-image: $mastHead;
	}
	@if variable-exists(mastHeadBig5) {
		.is-big5 .masthead {
			background-image: $mastHeadBig5;
		}
	}
}