.input-oneline {
	width: 100%;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
	height: 36px;
	border: 1px solid #cec6b9;
	border-radius: 5px;
	padding: 7px 5px 8px;
	width: 100%;
	background-color: #fff;
	color: #333;
	font-family: BentonSans,sans-serif;
	font-size: 16px;
	outline: 0;
	-webkit-transition: .15s box-shadow ease-in;
	transition: .15s box-shadow ease-in;
	background-clip: padding-box;
}
.input-submit-container {
	line-height: 36px;
}
.input-submit {
	display: block;
	float: right;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	outline: 0;
	border-style: solid;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-family: BentonSans,sans-serif;
	cursor: pointer;
	-webkit-transition: .3s background-color,.15s box-shadow ease-in;
	transition: .3s background-color,.15s box-shadow ease-in;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: padding-box;
	padding: 3px 14px 3px 14px;
	font-size: 14px;
	line-height: 16px;
	border-width: 1px;
	color: #2e6e9e;
	background: 0 0;
	border-color: #2e6e9e;
	color: #fff;
	background: #2e6e9e;
	border-color: #2e6e9e;
	padding: 8px 18px 8px 18px;
	font-size: 16px;
	line-height: 18px;
	border-width: 1px;
}