@use "sass:math";
@import "main-story.scss";
@import "main-table.scss";
@import "main-user-comments.scss";
html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    &.power-translate {
        background-color: #FBFBFB;
    }
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .preview & {
        display: none;
    }
}

.preview-container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    font-size: 1.2em;
    .preview-content {
        max-width: 768px;
        margin: 15px auto;
        padding-bottom: 60px;
    }
    p {
        margin-bottom: 1em;
    }
    * {
        line-height: 1.618em;
    }
}

.replace-container, .add-new-match-container {
    height: $navHeight;
    width: 100%;
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
    font-size: 1.2em;
    .replace-content {
        margin: $defaultPadding*0.25 auto 0 auto;
        display: grid;
        grid-template-columns: 300px 300px 180px;
        justify-content: center;
        column-gap: $defaultPadding;
        input, button {
            height: $navHeight;
            font-size: 1.2em;
            padding: 0 $defaultPadding*0.25;
        }
        button {
            background: white;
        }
    }
    * {
        line-height: 1.618em;
    }

}
.show-replace {
    .replace-container {
        display: block;
    }
}
.show-add-new-match {
    .add-new-match-container {
        display: block;
    }
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    &.full-grid {
        grid-template-columns: 1fr 0;
    }
    &.power-translate-page-loaded {
        max-width: 800px;
        margin: 0 auto;
        display: block;
    }
}
.logged-in-container, .sign-in-container {
    display: none;
    float: right;
    cursor: pointer;
    a {
        cursor: pointer;
    }
}
body {
    &.power-translate {
        .sign-in-container {
            display: block;
        }
        &.logged-in {
            .sign-in-container {
                display: none;
            }
            .logged-in-container {
                display: block;
            }
        }
    }
}
h1 {
    margin-bottom: 8px;
}
.story-standfirst {
    margin-bottom: 1em;
    color: #505050;
}
#page-description {
    margin-bottom: 8px;
}
select {
    margin-right: 15px;
}
a {
    cursor: pointer;
}
.start-button {
    padding: 2px 15px;
    font-size: 16px;
}
#status-message {
    margin-bottom: 8px;
}
.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    overflow: visible;
    &.has-helper {
        grid-template-columns: 1fr 1fr 300px;
        .info-helper {
            display: block;
        }
    }
    textarea {
        width: 100%;
        height: 100%;
        max-height: 90vh;
        min-height: 60px;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        font-size: 1.2em;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        resize: none;
    	box-sizing: border-box;
        &.warning {
            background-color: $red;
            color: white;
        }
    }
}



.info-original {
    margin-bottom: 15px;
}
.info-translation, .translation-suggestion {
    border-top: 1px solid #505050;
    padding: 15px 44px 15px 15px;
    cursor: pointer;
    picture {
        display: none;
    }
}
.info-original , .info-translation {
    strong {
        cursor: pointer;
    }
}
.info-translation-extra {
    background-color: $bannerBG;
    .power-translate & {
        background-color: #F1F1F1;
    }
}
.info-translation-tools-container {
    position: relative;
    overflow: visible;
}
a.info-translation-polish, a.info-translation-polish-final, a.info-translation-delete  {
    cursor: pointer;
    position: absolute;
    display: block;
    top: math.div($defaultPadding, 2);
    right: 0;
    border-bottom-width: 0;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    &[request-status="pending"] {
        animation: spin 2s linear infinite;
    }
}
a.is-disabled {
    color: grey;
}
a.info-translation-polish-final {
    top: auto;
    bottom: 10px;
    right: 10px;
    display: none;
    &.on {
        display: block;
    }
}
a.info-translation-polish, a.info-translation-polish-final {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZmlsbD0iIzBhNWU2NiIgZD0ibTQ0LjM1IDE5LjY1LTEuMTUtMi41TDQwLjcgMTZsMi41LTEuMTUgMS4xNS0yLjUgMS4xNSAyLjVMNDggMTZsLTIuNSAxLjE1Wk0zOCAxMC45bC0xLjc1LTMuNy0zLjctMS43NSAzLjctMS43NUwzOCAwbDEuNzUgMy43IDMuNyAxLjc1LTMuNyAxLjc1Wk0xOCA0NHEtMS43IDAtMi44NzUtMS4xNzVUMTMuOTUgMzkuOTVoOC4xcTAgMS43LTEuMTc1IDIuODc1VDE4IDQ0Wm0tOC4xLTcuMTV2LTNoMTYuMnYzWm0uMjUtNi4wNXEtMy4zLTIuMTUtNS4yMjUtNS4zNzVRMyAyMi4yIDMgMTguMTVxMC02LjEgNC40NS0xMC41NVExMS45IDMuMTUgMTggMy4xNXE2LjEgMCAxMC41NSA0LjQ1UTMzIDEyLjA1IDMzIDE4LjE1cTAgNC4wNS0xLjkgNy4yNzUtMS45IDMuMjI1LTUuMjUgNS4zNzVabTEuMS0zSDI0LjhxMi40LTEuNiAzLjgtNC4xNSAxLjQtMi41NSAxLjQtNS41IDAtNC45NS0zLjUyNS04LjQ3NVEyMi45NSA2LjE1IDE4IDYuMTVxLTQuOTUgMC04LjQ3NSAzLjUyNVE2IDEzLjIgNiAxOC4xNXEwIDIuOTUgMS40IDUuNXQzLjg1IDQuMTVabTYuNzUgMFoiLz48L3N2Zz4=");
}
a.info-translation-delete {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCI+PHBhdGggZmlsbD0iIzBhNWU2NiIgZD0iTTEzLjA1IDQycS0xLjI1IDAtMi4xMjUtLjg3NVQxMC4wNSAzOVYxMC41SDh2LTNoOS40VjZoMTMuMnYxLjVINDB2M2gtMi4wNVYzOXEwIDEuMi0uOSAyLjEtLjkuOS0yLjEuOVptMjEuOS0zMS41aC0yMS45VjM5aDIxLjlabS0xNi42IDI0LjJoM1YxNC43NWgtM1ptOC4zIDBoM1YxNC43NWgtM1ptLTEzLjYtMjQuMlYzOVoiLz48L3N2Zz4=");
}

.message-bubble {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.fade-in.show {
    opacity: 1;
}
.fade-out {
    opacity: 1;
    transition: opacity 500ms ease-out;
}
.fade-out.hide {
    opacity: 0;
}

@keyframes selection {
    0%    {transform: translateX(0); opacity: 1;max-height: 500px; }
    66%   {transform: translateX(100%);}
    100%  {transform: translateX(100%);max-height: 0; padding: 0;opacity: 0;}
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.info-translation {
    overflow: hidden;
    &.selected {
        animation: selection 0.3s forwards;
    }
}

.info-suggestion {
    color: $darkGreen;
    font-weight: bold;
}
#story-body-container p {
    padding-right: $navHeight;
}
p.chinese-translation {
    cursor: pointer;
    &.selected {
        background: transparent;
        cursor: default;
    }
}
.content {
    overflow-y: scroll;
    padding: $defaultPadding*0.5;
}
.sidebar {
    display: none;
    padding: 0 $defaultPadding*0.5;
    grid-template-rows: $defaultPadding 1fr $navHeight*2;
    .commentTextArea {
        height: 100%;
        box-sizing: border-box;
        margin: auto;
    }
}
.title-text-box {
    display: grid;
    grid-template-rows: $defaultPadding 1fr;
}
.title {
    font-weight: bold;
    line-height: $defaultPadding;
}
.centerButton {
    padding: $navHeight*0.5 $defaultPadding 0 $defaultPadding;
    &.bottom-button {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: $defaultPadding;
        justify-content: center; 
        justify-items: center;
        .button {
            max-width: 280px;
        }
    }
    .button {
        max-width: 45%;
    }
}
.story-body {
    margin-bottom: 60px;
}
hr {
    width: 100%;
    margin: 30px 0;
}
.chinese-translation {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #555;
}

.name-entities-container {
    display: table;
    width: 100%;
    margin-bottom: math.div($defaultPadding, 2);
    font-size:0.8em;
}
.name-entity-inner, .name-entity-translation {
    position: relative;
    line-height: 161.8%;
    margin-bottom: 0.618em;
    display: table-row;
    span {
        display: table-cell;
        padding: math.div($defaultPadding, 8) 0;
    }
    input {
        padding: 5px;
        font-size: 1em;
        width: 100%;
    }
}

.name-entity-key {
    font-weight: bold;
}

.name-entity {
    text-decoration: underline;
}

.name-entity-shortcut {
    font-weight: bold;
    cursor: pointer;
}

.name-entities-description {
    color: $lighterGrey;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.info-helper {
    background-color: $bannerBG;
    padding: 5px;
    display: none;
    position: relative;
    &:hover {
        .ignore-all-name-entity {
            opacity: 1;
        }
    }
    .power-translate & {
        background-color: #F1F1F1;
    }
}

.ignore-name-entity, .add-name-entity, .ignore-all-name-entity {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    background-color: transparent;
    padding: 0;
    line-height: 1em;
    transition: all 1s;
    width: 24px;
    height: 24px;
    &:after {
        content: '';
        background-position: 50% 50%;
        background-color: $darkGreen;
        background-repeat: no-repeat;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 24px;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        margin: auto;
    }
    &:hover {
        background-color: transparent;
    }
}
.add-name-entity:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE5LDEzSDEzVjE5SDExVjEzSDVWMTFIMTFWNUgxM1YxMUgxOVYxM1oiIC8+PC9zdmc+");
}
.ignore-all-name-entity:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE5LDYuNDFMMTcuNTksNUwxMiwxMC41OUw2LjQxLDVMNSw2LjQxTDEwLjU5LDEyTDUsMTcuNTlMNi40MSwxOUwxMiwxMy40MUwxNy41OSwxOUwxOSwxNy41OUwxMy40MSwxMkwxOSw2LjQxWiIgLz48L3N2Zz4=");
}
.ignore-name-entity:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE5LDEzSDVWMTFIMTlWMTNaIiAvPjwvc3ZnPg==")
}


.name-entity-inner, .name-entity-translation {
    &:hover {
        .ignore-name-entity, .add-name-entity {
            opacity: 1;
        }
    }
}

.reminder-container {
    display: none;
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
    color: white;
    background-color: $darkGreen;
    &.on {
        display: block;
    }
    &.is-warning {
        background-color: $red;
    }
}

@media screen and (max-width: 1024px) {
    .info-container {
        &.has-helper {
            grid-template-columns: 2fr 2fr 1fr;
        }
    }
    .name-entities-description, .name-entities-container {
        font-size: 0.6em;
    }
    .name-entity-inner, .name-entity-translation {
        line-height: 120%;
        margin-bottom: 0.2em;
        display: block;
        span {
            display: block;
            padding: math.div($defaultPadding, 16) 0;
        }
        input {
            padding: 2px;
            font-size: 0.8em;
            width: 100%;
        }
    }
    .name-entity-translation {
        border-bottom: 1px solid #ccc;
    }
}