html, body {
	// background-color: #FFF1E0;
	margin: 0;
	padding: 0;
	font-family: Helvetica Neue,Verdana,Arial,Hiragino Sans GB,Heiti SC,STHeiti,sans-serif;
	// MARK: - Pure CSS scroll snap: https://alligator.io/css/scroll-snapping/
	scroll-snap-type: y mandatory;
}

// MARK: - Themes
.theme-light-blue {
	background-color: #6bc4d9;
}
.theme-blue {
	background-color: #0b607f;
}
.theme-dark-blue {
	background-color: #060b2f;
}
.theme-pink {
	background-color: #fff1e0;
}
.theme-gray {
    background-color: #272b33;
}
.theme-red {
    background-color: #9c415c;
}
.theme-gold {
    background-color: #ffffff;
}
// MARK: - Layout
.poster-container {
	scroll-snap-align: end;
	width: 450px;
	height: 800px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto 30px auto;
}
.logo-container {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 47px;
}
.logo-ft {
	width: 86px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	.theme-light-blue &, .theme-pink &, .theme-gold &{
		background-image: url(http://i.ftimg.net/picture/0/000085020_piclink.jpg);
	}
	.theme-blue &, .theme-dark-blue &, .theme-gray &, .theme-red & {
		background-image: url(http://i.ftimg.net/picture/1/000085021_piclink.jpg);
	}
}
.logo-event {
	float: left;
    height: 30px;
    .layout-center &{
        margin-left: 20px;
	    margin-top: 4px;
    }
    .layout-right &{
        margin-left: 20px;
	    margin-top: 4px;
    }
    .layout-right-2 &{
        margin-left: 45px;
	    margin-top: 10px;
    }
    .layout-bottom &{
        margin-left: 20px;
	    margin-top: 4px;
    }
}
.main-image {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	img {
		width: 100%;
		height: 100%;
	}
}
.qrcode-container {
	position: absolute;
	width: 130px;
	height: 130px;
	bottom: 20px;
	margin: auto;
	.layout-center & {
		left: 0;
		right: 0;
	}
	.layout-right & {
		left: 40px;
	}
	.layout-right-2 & {
		left: 32px;
	}
	.layout-bottom & {
        left: 0;
        right: 0;
    }
}
.qrcode-inner {
	width: 100px;
	height: 100px;
	border-width: 2px;
	border-style: solid;
	img {
		width: 100%;
		height: 100%;
	}
	.theme-light-blue & {
        border-color: #0b607f;
	}
	.theme-blue & {
		border-color: #6bc4d9;
	}
	.theme-dark-blue & {
        border-color: #1aecff;
    }
    .layout-right & {
        border-color: #0b607f;
    }
    .layout-right-2 & {
        border-color: #0b607f;
    }
	.layout-center & {
		margin: auto;
	}

}
.qrcode-title {
	color: white;
	font-size: 12px;
	margin-top: 10px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	.layout-center & {
		text-align: center;
	}
	.theme-pink &, .theme-gold & {
    	color: #333;
    }
}
.titles {
	position: absolute;
	margin: auto;
	.layout-center & {
		bottom: 170px;
		height: 140px;
		left: 0;
		right: 0;
	}
	.layout-right & {
		top: 120px;
		left: 40px;
		height: auto;
		width: 200px;
    }
    .layout-right-2 & {
		top: 120px;
		left: 40px;
		height: auto;
		width: 200px;
    }
    .layout-bottom & {
		top: 140px;
		height: 160px;
		left: 0;
		right: 0;
	}
}
.title {
	width: 100%;
	text-align: justify;
	justify-content: center;
    text-justify: inter-character;
    margin-bottom: 20px;
    // white-space: nowrap;
	.layout-center & {
		position: absolute;
		margin-bottom: 0;
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0px;
		}
	}
	.layout-bottom & {
        position: absolute;
		margin-bottom: 0;
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0px;
		}
	}
}
.title-first {
	color: white;
    top: 0;
    .theme-pink &{
        color: #060b2f;
    }
    .theme-gold &{
        color: #9b8f67;
    }
}
.title-second {
	top: 45px;
	color: white;
	.layout-bottom & {
		top: 55px;
    }
    .theme-pink &{
        color: #060b2f;
    }
    .theme-gold &{
        color: #9b8f67;
    }
}
.subtitle {
	bottom: 0;
	height: 36px;
	line-height: 36px;
	box-sizing: border-box;
	color: white;
	// MARK: set layout
	.layout-center &, .layout-bottom & {
		padding: 0 10px;
	}
	// MARK: - Set colors and backgrounds
	.theme-light-blue.layout-center & {
		color: white;
		background-color: #0b607f;
	}
	.theme-blue.layout-center & {
		color: white;
		background-color: #6bc4d9;
	}
	.theme-dark-blue.layout-center & {
		color: #060b2f;
		background-color: #1aecff;
    }
    .theme-blue.layout-bottom & {
		color: #060b2f;
		background-color: #1aecff;
	}
    .theme-pink.layout-center & {
		color: #060b2f;
		background-color: #99c6fb;
    }
    .theme-gray.layout-center & {
		color: #272b33;
		background-color: #6bc4d9;
    }
    .theme-red.layout-center & {
		color: #6a2338;
		background-color: #ca9099;
	}
    .theme-gold.layout-center & {
		color: #ffffff;
		background-color: #9b8f67;
    }
    .theme-dark-blue.layout-center & {
		color: #ffffff;
		background-color: #6bc4d9;
	}
}
.event-date {
	position: absolute;
	margin: 0 auto;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	color: white;
	left: 0;
	right: 0;	
    text-align: center;
    bottom: 320px;
	.layout-right & {
		display: none;
    }
    .layout-right-2 & {
		display: none;
    }
    .layout-bottom & {
		bottom: 430px;
    }
    .theme-pink &, .theme-gold & {
    	color: #333;
    }
}

.event-date-1 {
	color: white;
	.layout-center & {
		display: none;
    }
    .layout-bottom & {
		display: none;
    }
    .layout-right-2 & {
		position: relative;
    }
}
.layout-right-2 .data_middle {
    position: absolute;
    left: 50px;
    top: 10px;
}
.logo-bottom{
    position: absolute;
	height: 130px;
	bottom: 20px;
    left: 160px 
}
.headshots{
    position: absolute;
    left: 90px;
    top: 100px;
    width: 250px;
    height: 320px;
    .theme-pink & {
        border-bottom: 8px solid #44d2eb;
    }
    .theme-gray & {
        border-bottom: 8px solid #fdd6b9;
    }
    .theme-red & {
        border-bottom: 8px solid #fdd6b9;
    }
    .theme-gold & {
        border-bottom: 8px solid #fdd6b9;
    }
    .theme-dark-blue & {
        border-bottom: 8px solid #44d2eb;
    }
    .theme-blue & {
        border-bottom: 8px solid #44d2eb;
    }
    .theme-light-blue & {
        border-bottom: 8px solid #fdd6b9;
    }
}

.headshot {
	background-repeat: no-repeat;
    background-size: cover;
	width: 210px;
    height: 270px;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    .theme-blue & {
    	background-image: url('http://i.ftimg.net/picture/6/000085346_piclink.jpg');
    }
    .theme-pink & {
    	background-image: url('http://i.ftimg.net/picture/6/000085346_piclink.jpg');
    }
    .theme-gray & {
    	background-image: url('http://i.ftimg.net/picture/4/000085424_piclink.jpg');
    }
    .theme-red & {
    	background-image: url('http://i.ftimg.net/picture/3/000085423_piclink.jpg');
    }
    .theme-dark-blue & {
    	background-image: url('http://i.ftimg.net/picture/6/000085346_piclink.jpg');
    }
    .theme-light-blue & {
    	background-image: url('http://i.ftimg.net/picture/2/000085422_piclink.jpg');
    }
    .theme-gold & {
    	background-image: url('http://i.ftimg.net/picture/1/000085421_piclink.jpg');
    }
}
.headshot { 
	img{
		max-width: 100%;
        max-height: 100%;
        margin-top: 20px;
	}
	.name {
	    padding: 5px 10px;
	    position: absolute;
	    right: 185px;
        top: 200px;
        // white-space: nowrap;
        .theme-pink & {
            background-color: #44d2eb;
        }
        .theme-gray & {
            background-color: #fdd6b9;
        }
        .theme-red & {
            background-color: #fdd6b9;
        }
        .theme-gold & {
            background-color: #fdd6b9;
        }
        .theme-dark-blue & {
            background-color: #44d2eb;
        }
        .theme-blue & {
            background-color: #44d2eb;
        }
        .theme-light-blue & {
            background-color: #fdd6b9;
        }
	}
}
.introduction{
    padding: 5px 10px;
    position: absolute;
    right: 155px;
    top: 365px;
    .theme-dark-blue & {
        background-color: #44d2eb;
    }
    .theme-blue & {
        background-color: #44d2eb;
    }
    .theme-light-blue & {
        background-color: #44d2eb;
    }
}
.learn_more{
	display: block;
	font-size: 16px;
    width: 160px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;  
    background-color: inherit;
    position: absolute;
    bottom: 60px;
    left:130px;
    text-align: justify;
	justify-content: center;
    text-justify: inter-character;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
	.layout-center & {
		position: absolute;
		margin-bottom: 0;
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0px;
		}
    }
    .theme-pink.layout-center & {
        color: #060b2f;
        border: 1px solid #44d2eb;
    }
    .theme-gray.layout-center & {
        color: #ffffff;
        border: 1px solid #44d2eb;
    }
    .theme-red.layout-center & {
        color: #ffffff;
        border: 1px solid #ffffff;
    }
    .theme-gold.layout-center & {
        color: #9b8f67;
        border: 1px solid #9b8f67;
    }
    .theme-dark-blue.layout-center & {
        color: #ffffff;
        border: 1px solid #44d2eb;
    }
    .theme-blue.layout-center & {
        color: #ffffff;
        border: 1px solid #44d2eb;
    }
    .theme-light-blue.layout-center & {
        color: #ffffff;
        border: 1px solid #ffffff;
    }
}
.triangle{
	height:0;
    width:0;
    display: inline-block;
    .theme-pink.layout-center & {
        border:5px solid #060b2f;
        border-color:transparent  transparent transparent #060b2f;
    }
    .theme-gray.layout-center & {
        border:5px solid #ffffff;
        border-color:transparent  transparent transparent #ffffff;
    }
    .theme-red.layout-center & {
        border:5px solid #ffffff;
        border-color:transparent  transparent transparent #ffffff;
    }
    .theme-gold.layout-center & {
        border:5px solid #9b8f67;
        border-color:transparent  transparent transparent #9b8f67;
    }
    .theme-dark-blue.layout-center & {
        border:5px solid #ffffff;
        border-color:transparent  transparent transparent #ffffff;
    }
    .theme-blue.layout-center & {
        border:5px solid #ffffff;
        border-color:transparent  transparent transparent #ffffff;
    }
    .theme-light-blue.layout-center & {
        border:5px solid #ffffff;
        border-color:transparent  transparent transparent #ffffff;
    }
}

