@import "variables.scss";
@import "mixins.scss";

.block-container {
	margin-bottom: $defaultPadding/2;
	a {
		color: $darkGrey;
	}
}
.block-inner {
	max-width: $maxWidth;
	padding: 0 $defaultPadding/2;
	margin: auto;
}

.list-title {
	font-size: 1.2em;
	position: relative;
	height: $listTitleHeight;
	margin: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;

	clear: both;
	//border-top: 1px solid #cec6b9;
	//padding: 5px 0;
	a {
		line-height: $listTitleHeight;
		position: absolute;
		height: 100%;
		left: 0;
		padding-right: 5px;
		background-color: $defaultPink;
		//color: $red;
	}
	&:before {
	    content: '';
	    position: absolute;
	    height: 3px;
	    background-color: $borderColor;
	    //border-top: 1px dotted $borderColor;
	    //border-bottom: 1px dotted $borderColor;
	    top: 0;
	    bottom: 0;
	    width: 100%;
	    margin:auto;
	}
}

.item-container {
	float: left;
}
.item-inner {
	padding: $figureHeight $defaultPadding/2 $defaultPadding $defaultPadding/2;
	position: relative;
}

//grid system
.image {
	position: absolute;
	top: 0;
	left: $defaultPadding/2;
	right: $defaultPadding/2;
	padding-bottom: 5px;
	figure {
	    @include figure;
	}
}

.item-headline, .relative-container {
	a {
		border-bottom: 1px dotted transparent;
		&:hover, &:active {
		border-bottom-color: $darkGreen;
		}
	}
}

.item-headline {
	font-weight: bold;
	font-size: 1.05em;
	line-height: 120%;
	margin-bottom: $defaultPadding/3;
}
.item-lead {
	color: $lightGrey;
	font-size: 0.9em;
}
.item-tag {
	color: $red;
	font-size: 14px;
	padding-bottom: 5px;
	//background-color: rgba(0,0,0,0.7);
	font-weight: bold;
	padding-bottom: $defaultPadding/2;
	a {
		color: $red;
	}
}
.item-time {
	color: $lightGrey;
	font-weight: normal;
	font-size: 12px;
	padding-top: $defaultPadding/2;
	&.highlight {
		color: $red;
	}
}
.item-bottom {
	clear: both;
}
.image {
	display: block;
}
.relative-container {
	margin-top: 5px;
}
.relative {
	font-size: 0.9em;
	font-weight: normal;
	&:before {
	    content: '•';
	    padding-right: 5px;
	    color: $lightGrey;
	}
}
.no-image {
	.item-inner {
		padding-top: 0;
	}
	.image {
		display: none;
	}
}
.has-side {
	.block-inner {
		padding-right: $defaultPadding;
		position: relative;
	}
	.content-container {
	    float: left;
	    width: 100%;
	}
	.content-inner {
    	border-right: $sideWidth solid $bannerBG;
    	padding-right: $defaultPadding/2;
	}
	.bottom-ad {
		position: absolute;
		right: $defaultPadding * 2;
		bottom: 0;
	}
}

.side-container {
	float: right;
    width: $sideWidth;
    margin-left: - $sideWidth;
    //background-color: #f6e9d8;
	iframe {
		margin: 0 auto $defaultPadding auto;
		display: block;
	}
	.list-title {
		@include itemTitleMobile;
	}
	.item-container {
		float: none;
		width: 100%;
	}
	.item-inner {
		padding: 0 0 $defaultPadding/2 0;
		position: static;
		border-top: 1px dotted $borderColor;
	}
	.item-headline {
		padding: $defaultPadding/2 $defaultPadding/2 0 $defaultPadding/2;
		margin-bottom: 0;
	}
	.image {
		position: static;
	}
}





.video-container {
	width: auto;
	padding-top: 100% * 9 / 16;
	position: relative;
	background-color: black;
}
.video-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.video-title {
	color: white;
	background-color: black;
	padding: $defaultPadding/2;
	margin-bottom: $defaultPadding;
	font-size: 14px;
	a {
		color: white;
	}
}
#three-video-content {
	overflow: hidden;
	li {
		width: 33.333333%;
		display: block;
		float: left;
		padding: 0 5px $defaultPadding 5px;
		font-size: 0.8em;
		line-height: 120%;
		figure {
			@include figure;
			margin-bottom: 5px;
			border: 2px solid transparent;
		}
		&.on, &:hover, &:active {
			figure {
				border-color: $blue;
			}
		}
	}
}




//XL related styles
@media only screen and (min-width: 1221px) {
	.XL3 {
		width: 25%;
	}
	.XL4 {
		width: 33.333333333%;
	}
	.XL6 {
		width: 50%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL8 {
		width: 66.666666667%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL12 {
		width: 100%;
		//@include doubleWidth;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL12 {
		@include doubleWidth;
		//font-size: 1.1em;
	}
	.XL-half {
		font-size: 0.9em;
		.item-inner {
			padding-top: 0;		
		}
		.image {
			position: static;
			float:left;
			width: 115px;
			padding: 3px 6px 3px 0;
		}
		&.no-image .image {
			display: none;
		}
	}
	.XL-lower {
		.item-headline {
			border-top: 1px dotted $borderColor;
			padding-top: $defaultPadding;
		}
	}
	.XL-right {
		clear:right;
		float: right;
	}
	.XLT {
		@include itemTop;
	}
	.XLT-clear-right {
		clear: right;
		width: 66.6666667%;
		float:left;
	}
	.XL-double-width {
		@include doubleWidth;
	}
	.XL-no-image {
		.image {
			display: none;
		}
		.item-inner {
			padding-top: 0;
		}
	}
	.XL-main {
		width: 66.66666667%;
		.item-inner {
			//padding-bottom: $defaultPadding/2;
		}
		.XLT {
			//padding-top: $defaultPadding/2;
			//margin-right: 0;
		}
		.list-title {
			//margin-right: 0;
		}
		.XL6 .item-headline {
			font-size: 1.15em;
		}
		.XL-cover .item-headline {
			font-size: 1.4em;
		}
	}
	.XL-side {
		width: 33.3333333%;
		.list-inner {
			border-right: 1px solid $borderColor;
			padding-right: $defaultPadding/2;
			margin-right: $defaultPadding/2;
			//background-color: $bannerBG;
		}
		.item-inner {
			padding-bottom: $defaultPadding/2;
		}
		.XLT {
			padding-top: $defaultPadding/2;
		}
	}
	.XL-list-left {
		float: left;
		//clear: right;
	}
	.XL-list-right {
		float: right;
		.item-inner {
			//padding-right: 0;
			.image {
				//right: 0;
			}
		}
	}
	.no-side {
		.XL6 {
			@include doubleWidth;
		}
	}
}

//L: large screen devices like pc and iPad landscape
@media only screen and (max-width: 1220px) and (min-width: 981px) {
	.L4 {
		width: 33.33333333%;
	}
	.XLT {
		display: none;
	}
	.LT {
		@include itemTop;
	}
}

//M: middle screen devices like iPad portrait
@media only screen and (max-width: 980px) and (min-width: 741px) {
	.M4 {
		width: 33.33333333%;
	}
	.LT {
		display: none;
	}
	.MT {
		@include itemTop;
	}
	.has-side {
		.image {
			@include coverImageLeft;	
		}
		.stand-alone, .first {
			.item-headline, .item-lead, .relative-container {
				@include coverRightSingle;
			}
		}
		.item-container {
			&.left, &.right {
				float: none;
				width: 100%;
				//padding: 0 $defaultPadding/2;
				@include itemTop;
				// &.first, &:nth-of-type(1), &:first-child {
				// 	border-width: 0;
				// 	padding-top: 0;
				// }
				.item-headline, .item-lead, .relative-container {
					padding-left: 0;
					padding-right: 0;
				}
				.image {
					padding-left: 0;
				}
			}
			&:first-child, &.first, &:nth-of-type(1) {
				border-width: 0;
				padding-top: 0;
			}
		}
		.item-top-left {
			display: none;
		}
		.lists-inner {
			.item-container:nth-of-type(1) {

			}
		}
	}
	.no-side {
		.item-container {
			width: 50%;
		}
		.item-inner {
//			padding: 0 $defaultPadding/2 $defaultPadding $defaultPadding/2;
		}
		.item-top-three {
			display: none;
		}
		.item-top-two {
			display: block;
			@include itemTop;
			margin: 0 $defaultPadding/2;
		}
		.odd-items .first .image {
			@include coverImageLeft;
		}
		.odd-items .first {
			width: 100%;
			.item-headline, .item-lead, .relative-container {
				@include coverRight;
			}
		}
	}
}

//S smaller screens like iPhone 6s landscape
@media only screen and (max-width: 740px) and (min-width: 491px) {
	.S6 {
		width: 50%;
	}
	.MT {
		display: none;
	}
	.ST {
		@include itemTop;
	}
	.has-side {
		.content-container {
		    float: none;
		}
		.content-inner {
	    	border-right-width: 0;
	    	padding-right: 0;
		}
		.side-container {
			float: none;
		    width: 100%;
		    margin-left: 0;
		    //background-color: #f6e9d8;
		}
		/*
		.block-inner {
			padding-left: 0;
			padding-right: 0;
		}
		.item-inner {
			padding-left: $defaultPadding;
			padding-right: $defaultPadding;
		}*/
	}
}

//mobile phones portrait
@media only screen and (max-width: 490px) {
	.item-container {
		float: none;
		width: 100%;
	}
	.ST {
		display: none;
	}
	.no-side, .has-side {
		.stand-alone {
			.image {
				width: 100%;
				padding: 0 0 5px 0;
			}
		}
		.block-inner {
			padding: 0;
		}
		.item-top-two {
			display: none;
		}
		.item-container {
			float: none;
			width: 100%;
			//padding: 0 $defaultPadding/2;
			@include itemTop;
			&.first, &:first-child {
				border-width: 0;
				padding-top: 0;
			}
		}
		.item-inner {
			padding: 0 0 $defaultPadding 0;
		}
		.items {
			padding: 0 $defaultPadding;
		}
		.image {
			@include coverImageLeft;	
		}
		.odd-items .first {
			.item-headline, .item-lead, .relative-container {
				@include coverRightSingle;
			}
		}
	}
	.list-title, .no-side .list-title, .side-inner .list-title {
		@include itemTitleMobile;
		font-size: 1.2em;
	}
}
