

.o-grid-container{
  padding: 0 60px;
}

.welcome-guide {
  background-color:red;
  margin: auto;
  padding: 0 60px;
  .words{
    width: 60%;
    float:left;
  }
  .show-image {
    float:right;
  }
  .clear-class {
    clear:both;
  }
  
}

.mode {
  img{
    background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?tint=26747a&format=svg&source=ftchinese");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 1.5em;
  }
}

#preview-overlay {
    position: relative;
    overflow: visible;
}

.o-overlay-shadow {
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background: rgba(0,0,0,.7);
    height: 150%;
    width: 100%;
    top: 0;
    left: 0;
}
#preview-box { 
  right:40%;
  top:280px;
  bottom: auto;
  width: 300px;
  overflow: visible;
  position: absolute;
  z-index: 60000;
  font-family:宋体;
  font-size:20px;
  line-height:35px;
  opacity: 1;
  background: #F5F5F5;
 }
