@import "theme-default.scss";
@import "variables.scss";

.subscription-promo-container {
	height: 56px;
	background: #14bdcc;
}
.subscription-promo-inner {
	display: table;
	height: 56px;
	margin: 0 auto;
}
.subscription-promo-box {
	cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 310px;
	background: url("https://d2785ji6wtdqx8.cloudfront.net/img/promoboxbg.png") right bottom no-repeat;
    background-size: auto 56px;
    border-bottom: 0;
    position: relative;
}
.subscription-promo-text {
	display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    text-align: center;
    text-decoration: none;
    background-clip: border-box;
    background-size: 21px 21px;
    min-height: 28px;
    min-width: 60px;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: black;
    color: white;
    border: 1px solid #0d7680;
    word-spacing: 1px;
}
.subscription-promo-container {
	&.standard, &.premium {
		display: none;
	}
}
.is-subscriber {
	.subscription-promo-container {
		display:none;
	}
	&.is-standard {
		.subscription-promo-container {
			&.standard {
				display: block;
				// &.is-near-expire {
				// 	display: none;
				// }
			}
		}
	}
	&.is-premium {
		.subscription-promo-container {
			&.premium {
				display: block;
				// &.is-near-expire {
				// 	display: none;
				// }
			}
		}
	}
}
.countdown {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	font-size: 25px;
	font-family: helvetica;
	color: $darkGrey;
}
.countdown-hour {
	right: 234px;
}
.countdown-minute {
	right: 174px;
}
.countdown-second {
	right: 114px;
}
@media only screen and (max-width: 490px) {
	.o-nav__placeholder + #promo-box-container .subscription-promo-container {
		margin-top: -$defaultPadding * 0.5;
	}
	.subscription-promo-container {
		display: none;
		margin-bottom: $defaultPadding * 0.5;
	    &.show-image-in-mobile {
	    	display: block;
	    	&.standard, &.premium {
				display: none;
			}
		}
	}
	.is-subscriber {
		.show-image-in-mobile.subscription-promo-container {
			display: none;
		}
		&.is-standard .show-image-in-mobile.subscription-promo-container.standard, &.is-premium .show-image-in-mobile.subscription-promo-container.premium { 
			display: block;
		}
	}
	.subscription-promo-box {
		padding-right: 180px;
	}
	.countdown-hour {
		right: 122px;
	}
	.countdown-minute {
		right: 62px;
	}
	.countdown-second {
		right: 2px;
	}
}
