@use "sass:math";
@import "main-story.scss";
@import "main-table.scss";
@import "main-user-comments.scss";
body {
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .preview & {
        display: none;
    }
}

.preview-container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    font-size: 1.2em;
    .preview-content {
        max-width: 768px;
        margin: 15px auto;
        padding-bottom: 60px;
    }
    p {
        margin-bottom: 1em;
    }
    * {
        line-height: 1.618em;
    }
}

.replace-container, .add-new-match-container {
    height: $navHeight;
    width: 100%;
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
    font-size: 1.2em;
    .replace-content {
        margin: $defaultPadding*0.25 auto 0 auto;
        display: grid;
        grid-template-columns: 300px 300px 180px;
        justify-content: center;
        column-gap: $defaultPadding;
        input, button {
            height: $navHeight;
            font-size: 1.2em;
            padding: 0 $defaultPadding*0.25;
        }
        button {
            background: white;
        }
    }
    * {
        line-height: 1.618em;
    }

}
.show-replace {
    .replace-container {
        display: block;
    }
}
.show-add-new-match {
    .add-new-match-container {
        display: block;
    }
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    &.full-grid {
        grid-template-columns: 1fr 0;
    }
}
.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    overflow: hidden;
    &.has-helper {
        grid-template-columns: 1fr 1fr 300px;
        .info-helper {
            display: block;
        }
    }
    textarea {
        width: 100%;
        height: 100%;
        max-height: 90vh;
        min-height: 300px;
        font-size: 1.2em;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        &.warning {
            background-color: $red;
            color: white;
        }
    }
}
.info-original {
    margin-bottom: 15px;
}
.info-translation, .translation-suggestion {
    border-top: 1px solid #505050;
    padding: 15px 44px 15px 15px;
    cursor: pointer;
    picture {
        display: none;
    }
}
.info-original , .info-translation {
    strong {
        cursor: pointer;
    }
}

@keyframes selection {
    0%    {transform: translateX(0); opacity: 1;max-height: 500px; }
    66%   {transform: translateX(100%);}
    100%  {transform: translateX(100%);max-height: 0; padding: 0;opacity: 0;}
}

.info-translation {
    overflow: hidden;
    &.selected {
        animation: selection 0.3s forwards;
    }
}

.info-suggestion {
    color: $darkGreen;
    font-weight: bold;
}
#story-body-container p {
    padding-right: $navHeight;
}
p.chinese-translation {
    cursor: pointer;
    &.selected {
        background: transparent;
        cursor: default;
    }
}
.content {
    overflow-y: scroll;
    padding: $defaultPadding*0.5;
}
.sidebar {
    display: none;
    padding: 0 $defaultPadding*0.5;
    grid-template-rows: $defaultPadding 1fr $navHeight*2;
    .commentTextArea {
        height: 100%;
        box-sizing: border-box;
        margin: auto;
    }
}
.title-text-box {
    display: grid;
    grid-template-rows: $defaultPadding 1fr;
}
.title {
    font-weight: bold;
    line-height: $defaultPadding;
}
.centerButton {
    padding: $navHeight*0.5 $defaultPadding 0 $defaultPadding;
    &.bottom-button {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: $defaultPadding;
        justify-content: center; 
        justify-items: center;
        .button {
            max-width: 280px;
        }
    }
    .button {
        max-width: 45%;
    }
}
.story-body {
    margin-bottom: 60px;
}
hr {
    width: 100%;
    margin: 30px 0;
}
.chinese-translation {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #555;
}

.name-entities-container {
    display: table;
    width: 100%;
    margin-bottom: math.div($defaultPadding, 2);
    font-size:0.8em;
}
.name-entity-inner, .name-entity-translation {
    line-height: 161.8%;
    margin-bottom: 0.618em;
    display: table-row;
    span {
        display: table-cell;
        padding: math.div($defaultPadding, 8) 0;
    }
    input {
        padding: 5px;
        font-size: 1em;
        width: 100%;
    }
}

.name-entity-key {
    font-weight: bold;
}

.name-entity {
    text-decoration: underline;
}

.name-entity-shortcut {
    font-weight: bold;
    cursor: pointer;
}

.name-entities-description {
    color: $lighterGrey;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.info-helper {
    background-color: $bannerBG;
    padding: 5px;
    display: none;
}
.ignore-name-entity, .add-name-entity {
    white-space: nowrap;
}
.reminder-container {
    display: none;
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
    color: white;
    background-color: $darkGreen;
    &.on {
        display: block;
    }
    &.is-warning {
        background-color: $red;
    }
}