@import "theme-default.scss";
@import "variables.scss";

#promo-box-container {
	position: relative;
	z-index: 1;
}
.subscription-promo-container {
	height: 56px;
	background: #14bdcc;
}
.subscription-promo-inner {
	display: table;
	height: 56px;
	margin: 0 auto;
}
.subscription-promo-box {
	cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 310px;
	background: url("https://d2785ji6wtdqx8.cloudfront.net/img/promoboxbg.png") right bottom no-repeat;
    background-size: auto 56px;
    border-bottom: 0;
    position: relative;
}
.subscription-promo-text {
	display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    text-align: center;
    text-decoration: none;
    background-clip: border-box;
    background-size: 21px 21px;
    min-height: 28px;
    min-width: 60px;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: black;
    color: white;
    border: 1px solid #0d7680;
    word-spacing: 1px;
}
.subscription-promo-container {
	&.standard, &.premium {
		display: none;
	}
}
.is-subscriber {
	.subscription-promo-container {
		display:none;
	}
	&.is-standard {
		.subscription-promo-container {
			&.standard {
				display: block;
				// &.is-near-expire {
				// 	display: none;
				// }
			}
		}
	}
	&.is-premium {
		.subscription-promo-container {
			&.premium {
				display: block;
				// &.is-near-expire {
				// 	display: none;
				// }
			}
		}
	}
}
.countdown {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	font-size: 25px;
	font-family: helvetica;
	color: $darkGrey;
}
.countdown-hour {
	right: 234px;
}
.countdown-minute {
	right: 174px;
}
.countdown-second {
	right: 114px;
}
// .has-expire-date {
// 	&.is-standard {
// 		.subscription-promo-container {
// 			&.standard {
// 				display: none;
// 			}
// 		}
// 	}
// 	&.is-premium {
// 		.subscription-promo-container {
// 			&.premium {
// 				display: none;
// 			}
// 		}
// 	}
// }
// .is-near-expire {
// 	&.is-standard {
// 		.subscription-promo-container {
// 			&.standard {
// 				&.is-near-expire {
// 					display: block;
// 				}
// 			}
// 		}
// 	}
// 	&.is-premium {
// 		.subscription-promo-container {
// 			&.premium {
// 				&.is-near-expire {
// 					display: block;
// 				}
// 			}
// 		}
// 	}
// }
@media only screen and (max-width: 980px) {
	.subscription-promo-container {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 1;
		&.standard, &.premium, &.no-overlay {
			position: static;
		}
	}
}
@media only screen and (max-width: 490px) {
	.subscription-promo-container {
		display: none;
	    &.show-image-in-mobile {
	    	display: block;
	    	&.standard, &.premium {
				display: none;
			}
		}
	}
	.no-overlay {
		&.show-image-in-mobile.subscription-promo-container { 
			display: block;
			// MARK: - Display the promo box banner below the header
			margin-top: $navHeight + $defaultPadding*0.25;
			margin-bottom: - $navHeight - $defaultPadding*0.25;
			&.in-app { 
				margin-top: $defaultPadding*0.5;
				margin-bottom: $defaultPadding*0.5;
			}
		}
	}
	.is-subscriber {
		.show-image-in-mobile.subscription-promo-container {
			display: none;
		}
		&.is-standard .show-image-in-mobile.subscription-promo-container.standard, &.is-premium .show-image-in-mobile.subscription-promo-container.premium { 
			display: block;
			// MARK: - Display the promo box banner below the header
			margin-top: $navHeight + $defaultPadding*0.25;
			margin-bottom: - $navHeight - $defaultPadding*0.25;
		}
		&.is-standard .show-image-in-mobile.subscription-promo-container.standard.in-app, &.is-premium .show-image-in-mobile.subscription-promo-container.premium.in-app { 
			margin-top: $defaultPadding*0.5;
			margin-bottom: $defaultPadding*0.5;
		}
	}
	.subscription-promo-box {
		padding-right: 180px;
	}
	.countdown-hour {
		right: 122px;
	}
	.countdown-minute {
		right: 62px;
	}
	.countdown-second {
		right: 2px;
	}
}