

.ai-search-block {
    padding: 170px 0;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
@media(max-width:767px) {
    .ai-search-block {
        padding: 50px 0;
        position: relative;
        margin-bottom: 20px;
    }
}
.container{
    display: inline-block;
    width: 80%;
}
.floatClass {
    float:left
}
.clearfloat {
  clear: both;
}
.select-search-group{
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

.container input,button{
    height: 40px;
}
.select-search-group select{
    width: 40%;
    font-size: 18px;
}
.select-search-field{
    width:80%
}
.input-search-group{
    width: 70%;
}
.input-search-group input{
    font-size: 18px;
}
.select-search-button{
    background: #27757b;
}
.select-search-button:after {
  content: '';
  vertical-align: middle;
  background-image: url("http://static.ftchinese.com/ftc-icons/png/white/search-white.png");
  background-image: url("http://static.ftchinese.com/ftc-icons/svg/white/search-white.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.select-search-button span {
  display: none;
  z-index: 0;
}
.ai-search-block div{
    // text-align: center
}


