// vendor prefix
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// common parts
@import "theme-default.scss";
@import "variables.scss";
@import "mixins.scss";

.answer-title {
	font-weight: bold;
	line-height: $goldenRatio;
	padding: $defaultPadding/2 0;
}
.answer-correct { 
	color: $correct;
}
.answer-wrong { 
	color: $wrong;
}
.answer-explain-detail {
	line-height: $goldenRatio;
	padding-bottom: $defaultPadding;
}
.single-choice {
    position: relative;
    cursor: pointer;
    padding: 12px 55px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
	&:before {
		content: "";
	    position: absolute;
	    top: 18px;
	    left: 14px;
	    width: 10px;
	    height: 10px;
	    border: 2px solid #ABA498;
	    -webkit-border-radius: 10px;
	    -moz-border-radius: 10px;
	    border-radius: 10px;
	}
	&.quiz-correct, &.quiz-wrong {
		&:before {
		    background-color: transparent !important;
		    border: none;
		    top: 12px;
		}
	}
	&.quiz-correct {
		color: $correct;
		&:before {
    		content: url(http://m.ftchinese.com/assets/svg/ic_correct_green_24px.svg);
		}
	}
	&.quiz-wrong {
		color: $wrong;
		&:before {
    		content: url(http://m.ftchinese.com/assets/svg/ic_wrong_red_24px.svg);
		}
	}
	&.quiz-selected {
		background-color: #E9DECF;
	}
}