@import "variables.scss";
@import "maxins.scss";
.banner-container {
	margin: 0 auto $defaultPadding auto;
	max-width: $maxAdWidth;
	iframe {
		margin: auto;
	}
}
.banner-inner {
	background: $bannerBG;
	height: $bannerHeight;
}