.fixed-buttons-placeholder {
    height: 50px;
}
.fixed-buttons {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 240px));
    grid-auto-flow: column;
    column-gap: 15px;
    justify-content: center; 
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 1;
    button {
        color: white;
        width: 100%;
        height: 44px;
        border-radius: 8px;
        letter-spacing: 3px;
    }
}

#promo-box-container {
    display: none!important;
}

@media only screen and (min-width: 491px) {
    .fixed-buttons-placeholder {
        height: 80px;
    }
    .fixed-buttons {
        column-gap: 30px;
        height: 80px;
        button {
            width: 100%;
            height: 50px;
            font-size: 1.4em;
        }
    }
}