@import "o-colors/main";


$grid-background: white;
$text-highlight: #faeadd;
$text-background: #26747a;
$n: 4;
@mixin subscription-L {
.welcome-guide {
  padding: 0 60px;
  .words{
    width: 60%;
    float:left;
    padding-top: 30px;
  }
  .show-image {
    width: 40%;
    img{
        display: block;
        height: 214px;
        width: 380px;
    }
  }
}
    .o-grid-container{
    width:70%;
    .o-member{
      width:45%;
      height:400px;
      float:left;
      margin:2.5%;
    }
    // .o-member__subscribe{
    //   button{
    //     letter-spacing: 3px;
    //     height: 30px;
    //     line-height: 30px;
    //     width: 150px;
    //   }
    // }
  }
}
@mixin subscription-M {

  .o-grid-container{
    width:80%;
    .o-member{
      width:45%;
      height:450px;
      float:left;
      margin:2.5%;
    }
  }
}
@mixin subscription-S {
  .welcome-guide {
  padding: 0 30px;
  .words{
    font-size:10px; 
    width: 60%;
    float:left;
    padding-top: 10px;
  }
  .show-image {
    width: 40%;
    padding-top: 30px;
    img{
        display: block;
        height: 107px;
        width: 190px;
    }
  }
}
  .o-grid-container{
    width:80%;
    .o-member{
      width:100%;
      height:400px;
      margin:2.5% 0;
    }
  }
}
    // @include center-block;
//XL related styles
@media only screen and (min-width: 1221px) {
  @include subscription-L;
}
//L: large screen devices like pc and iPad landscape
@media only screen and (max-width: 1220px) and (min-width: 981px) {
  @include subscription-L;
}
@media only screen and (max-width: 980px) and (min-width: 691px) {
  @include subscription-M;
}
@media only screen and (max-width: 690px) {
  @include subscription-S;
  #preview-box { 
    width: 60%;
  }
}
.centerClass{
  text-align:center;
}
.o-member__heading{
  margin:0 auto;
  text-align: center;
}
.o-grid-container{
  // width:60%;
  margin:0 auto;
  .o-member__heading{
      padding: 10px 0;
      a{
        color:$text-background; 
      }
  }
  .o-member{
    background-color:white;
    // width:45%;
    // height:400px;

    padding:10px;
    position: relative;
    .o-member__title{
      text-align: center;
    }

    .o-member__border{
      border:1px solid $text-background;
      text-align: center;
      width:100%;
      padding:0px 40px;
      margin: 10px 0px;
    }
    .o-member__benefits{
      li{

      }
    }
    .o-member__subscribe{
      position: absolute;
      bottom: 10px;
      width: 50%;
      left: 25%;
      text-align: center;
      button{
        background-color: $text-background;
        color: white; 
        margin: 10px 0;
        letter-spacing: 3px;
        height: 30px;
        line-height: 30px;
        padding: 0px 20px;
      }
    }
  }
}

li {
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?tint=26747a&format=svg&source=ftchinese");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 1.5em;
  padding-left: 1.5em;
  margin: 0.5em 1em;
}

.welcome-guide {
  background-color:$text-highlight;
  margin: auto;
  // padding: 0 60px;
  .words{
    width: 60%;
    float:left;
    // padding-top: 30px;
    .first{
      padding: 10px 0px;
    }
    .second{
      line-height: 160%;
    }
  }

  .show-image {
    width: 40%;
    float:right;
    img{
        display: block;
        // height: 214px;
        // width: 380px;
    }
  }
  .clear-class {
    clear:both;
  }
  
}

.mode {
  img{
    background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?tint=26747a&format=svg&source=ftchinese");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 1em;
  }
}

#preview-overlay {
    position: relative;
    overflow: visible;
}

.o-overlay-shadow {
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background: rgba(0,0,0,.7);
    height: 150%;
    width: 100%;
    top: 0;
    left: 0;

}
#preview-box { 
  position: absolute;
  height:200px;
  top: 100px;

  right:35%;
  bottom: auto;
  width: 30%;
  overflow: visible;

  z-index: 60000;
  font-family:宋体;
  font-size:20px;
  line-height:35px;
  opacity: 1;
  background: #FFF1E0;
  .payment-way{
    background-color:$text-highlight;
  }
  .to-pay{
    background-color:$text-background;
  }
 }
