@import "theme-default.scss";
@import "variables.scss";
div, a, p {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.title-container, .byline-container, .body-container, .time-container {
    .translations {
        display: none;
        color: $lighterGrey;
        &.rendered {
            display: block;
        }
    }
}
.time-container, .byline-container {
    .original {
        display: none;
    }
}
.body-container {
    .translations {
        img {
            display: none;
        }
    }
}
.translation-confirmed {
    .translations {
        color: $darkGrey;
    }
}
.title-container {
    div {
        font-size: 1.6em;
        padding-bottom: 15px;
        line-height: 161.8%;
        font-weight: bold;
        // &.translations {
        //     &:before {
        //         content: '【机器翻译】';
        //         color: $darkGrey;
        //     }
        // }
    }
}

.byline-container {
    div {
        color: #8b572a;
        font-size: 0.8em;
        margin-bottom: 1em;
    }
}

.translation-disclaimer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: $navHeight + 25px + 5px;
    width: 100%;
    &:before {
        content: '机器翻译，仅供参考';
        position: absolute;
        right: 0;
        top: -25px;
        background-color: $lightPink;
        color: $red;
        border: 1px solid $red;
        padding: 0 $defaultPadding/2;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 28px;
        height: 28px;
        pointer-events: none;
        border-radius: 14px;
    }
    .translation-confirmed & {
        &:before {
            display: none;
            // content: '翻译已确认';
            // color: white;
            // background-color: $darkGreen;
            // border-color: $darkGreen;
        }
    }
}

.body-container {
    div {
        font-size: 1.1em;
        color: $darkGrey;
        line-height: $goldenRatio;
        overflow: hidden;
        margin-bottom: 1em;
        a {
            color: $darkGreen;
        }
    }
}

blockquote {
    padding-left: $defaultPadding/2;
    border-left: 4px solid $lighterGrey;
    font-size: 0.9em;
}

.login-btn {
    &.last-child {
        margin-bottom: $defaultPadding/2;
    }
    input {
        &.disabled {
            background-color: $lighterGrey;
        }
    }
}

.preference-selection {
    div {
        padding-right: $defaultPadding;
    }
}


.translation-none {
    .translation-disclaimer, .translations, .time-container :nth-child(2), .byline-container :nth-child(2) {
        display: none!important;
    }
    .original {
        display: block!important;
    }
}

.translation-human {
    .translation-machine {
        .translation-disclaimer, .translations, .time-container :nth-child(2), .byline-container :nth-child(2) {
            display: none!important;
        }
        .original {
            display: block!important;
        }
    }
}

.changePreference {
    font-weight: bold;
    padding-top: $defaultPadding/2;
    cursor: pointer;
}

.o-nav__search button {
    &.btn-change-translation-preference {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath d='M1 51.916v-4.832c0-1.357.474-2.51 1.42-3.458s2.085-1.42 3.41-1.42h12.126c.253 0 .537.03.853.094.788-3.347 2.1-6.473 3.93-9.378a7.347 7.347 0 0 1-.663-.568l-8.573-8.573c-.947-.946-1.42-2.09-1.42-3.432s.473-2.487 1.42-3.435l3.41-3.41c.947-.947 2.092-1.42 3.434-1.42s2.487.473 3.434 1.42l8.573 8.573c.19.158.363.38.52.663a31.94 31.94 0 0 1 9.426-3.932 4.4 4.4 0 0 1-.094-.853V5.83c0-1.325.474-2.462 1.42-3.41S45.727 1 47.085 1h4.832c1.356 0 2.51.474 3.457 1.42s1.42 2.085 1.42 3.41v12.126c0 .253-.03.537-.094.853 3.314.788 6.44 2.1 9.377 3.93.222-.284.41-.505.568-.663l8.573-8.573c.947-.947 2.09-1.42 3.433-1.42s2.488.473 3.436 1.42l3.41 3.41c.947.947 1.42 2.092 1.42 3.435 0 1.34-.473 2.485-1.42 3.432l-8.572 8.573c-.16.19-.38.38-.664.568a30.69 30.69 0 0 1 3.932 9.378c.316-.062.6-.094.853-.094H93.17c1.326 0 2.463.474 3.41 1.42s1.42 2.1 1.42 3.458v4.832c0 1.356-.474 2.51-1.42 3.457s-2.085 1.42-3.41 1.42H81.043a3.94 3.94 0 0 1-.853-.094 30.67 30.67 0 0 1-3.93 9.377c.284.222.504.41.663.568l8.572 8.573c.947.947 1.42 2.084 1.42 3.425 0 1.342-.473 2.495-1.42 3.442l-3.41 3.41c-.947.947-2.092 1.42-3.435 1.42s-2.485-.473-3.433-1.42l-8.573-8.572a6.1 6.1 0 0 1-.568-.663 30.692 30.692 0 0 1-9.378 3.93c.062.317.095.602.095.854V93.17c0 1.325-.474 2.462-1.42 3.41S53.272 98 51.915 98h-4.832c-1.357 0-2.51-.474-3.458-1.42s-1.42-2.085-1.42-3.41V81.043c0-.252.03-.536.094-.853a31.39 31.39 0 0 1-9.378-3.93 6.1 6.1 0 0 1-.568.663l-8.573 8.572c-.946.947-2.09 1.42-3.433 1.42-1.34 0-2.486-.473-3.434-1.42l-3.41-3.41c-.947-.947-1.42-2.1-1.42-3.442 0-1.34.473-2.478 1.42-3.425l8.573-8.573c.158-.19.38-.38.663-.568a30.643 30.643 0 0 1-3.932-9.378 4.48 4.48 0 0 1-.853.094H5.83c-1.325 0-2.462-.474-3.41-1.42S1 53.27 1 51.915zm31.686-12.15c-1.736 2.978-2.605 6.23-2.605 9.734s.87 6.742 2.606 9.725c1.736 2.985 4.097 5.354 7.08 7.09 2.985 1.735 6.23 2.604 9.734 2.604s6.75-.87 9.732-2.605c2.985-1.736 5.346-4.104 7.082-7.09 1.735-2.982 2.604-6.22 2.604-9.725s-.87-6.757-2.604-9.733a19.28 19.28 0 0 0-7.082-7.08C56.25 30.95 53.004 30.08 49.5 30.08s-6.75.87-9.733 2.606a19.27 19.27 0 0 0-7.08 7.08z' fill='%23ffffff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .title-container, .byline-container, .body-container, .time-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
    .time-container, .byline-container {
        .original {
            display: block;
        }
    }
    .body-container {
        .translations {
            img {
                display: block;
            }
        }
    }
    .translation-none {
        .item-container {
            float: none;
            margin: auto;
            max-width: 768px;
        }
        .title-container, .byline-container, .body-container, .time-container {
            display: block;
            float: none;
            max-width: 768px;
            margin: auto;
        }
    }
    .translation-human {
        .translation-machine {
            &.item-container {
                float: none;
            }
            .title-container, .byline-container, .body-container, .time-container {
                display: block;
                max-width: 768px;
                margin: auto;
            }
        }
    }
    .changePreference {
        position: absolute;
        bottom: $defaultPadding/2;
        left: $defaultPadding/2;
        width: 300px;
    }
}