@import "theme-default.scss";
@import "variables.scss";

.content-inner {
    max-width: 768px;
    margin: auto;
}
.w25856_widgetTitle {
    color: $darkGrey;
    margin-bottom: 1em;
    display: block;
}