@import "theme-default.scss";
@import "variables.scss";
@import 'speakers.scss';
.broadcast-inner {
    position: relative;
    padding-top: $figureHeight;
}
.live-player {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    video {
        max-width: 100%!important;
    }
}
.video-player {
    margin-bottom: $defaultPadding;
}

.full-grid-story {
	.story-container {
		p, .story-theme, .story-headline, .story-lead, .story-image, .story-action-placeholder, .story-byline, .n-content-layout {
			max-width: 100%;
		}
	}
}

.progress-container {
    display: none;
}

#dpa {
    height: 1px!important;
}


