// bower:scss
// endbower


// colors
$defaultBG: #FFF1E0;
$sectionsBorder: #cec6b9;
$dragOverBorder: #777777;
$defaultBorderColor: #E9DECF;
$rightBG: #F6E9D8;
$itemBG: #E9DECF;
$defaultRed: #9E2F50;
$blueLink: #2e6e9e;
$bannerBG: #F6E9D8;
$lightPink: $bannerBG;

// width, height
$headerHeight: 44px;
$itemBottom: 5px;
$maxWidth: 1200px;
$defaultLineHeight: 161.8%;
$figureHeight: 56.25%;




// mixins

@mixin tabInnerOn {
    background-color: $defaultBG;
    color: #333;
    font-weight: bold;
}

html, body {
  background: #FFF1E0;
  font: 16px 'Helvetica Neue',Helvetica,Arial,"Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,SimSun,sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
}

::-webkit-scrollbar {
      width: 8px;
}
::-webkit-scrollbar-track {
      background-color: $defaultBG;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: $sectionsBorder; 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {

} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {

}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fullbody {
  max-width: $maxWidth;
  margin: auto;
  height: 100%;
  padding-top: $headerHeight;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fullbody-inner {
  height: 100%;
}

.header {
  font-size: 16px;
  color: white;
  background-color: #333;
  height: $headerHeight;
  line-height: 44px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: $itemBottom solid $defaultBG;
}
.header-inner {
  width: 100%;
  height: 100%;
  max-width: $maxWidth;
  margin: auto;
  a {
    color: white;
    text-decoration: none;
  }
}
.tab {
  font-weight: bold;
  padding: 0 $itemBottom;
  box-sizing: border-box;
  cursor: pointer;
}
.tab-inner {
  padding: 0 2*$itemBottom;
}
.tab.on .tab-inner {

}
.show-all {
  .tab.all .tab-inner {
    @include tabInnerOn;
  }
}
.fade {
  opacity: 0.4;
}
.show-sections {
  .tab.sections .tab-inner {
    @include tabInnerOn;
  }
  .meta-table, .item, .group-header {
    display: none;
  }
  .section-header {
    margin-bottom: 0;
  }
  .lists-header {
    border-bottom: 0;
  }
  .lists-item {
    margin-top: $itemBottom;
  }
}

.show-items {
  .tab.items .tab-inner {
    @include tabInnerOn;
  }
  .meta-table, .toolkit-header, .toolkit-footer, .toolkit-banner {
    display: none;
  }
  .section-header {
    //margin-bottom: 0;
  }
  .lists-header {
    //border-bottom: 0;
  }
  .lists-item {
    margin-top: $itemBottom;
  }
  .section-container {
    display:none;
    &.type-block {
      display: block;
    }
  }
}

.source-json {
  display: none;
  width: 100%;
  height: 100%;
  padding: $itemBottom;
  box-sizing: border-box;
  border: medium none;
  background-color: $defaultBG;
  font-size: 16px;
}
.link-json-editor {
  display: none;
}
.show-json {
  .tab.json .tab-inner {
    @include tabInnerOn;
  }
  .content-left, .content-right {
    display: none;
  }
  .source-json, .link-json-editor {
    display: block;
  }
}

.button {
  padding: 0 $itemBottom;
  height: $headerHeight;
  background-size: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.less {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M0 0h24v24h-24z" fill="none"/><path d="M7.41 18.59l1.42 1.41 3.17-3.17 3.17 3.17 1.41-1.41-4.58-4.59-4.59 4.59zm9.18-13.18l-1.42-1.41-3.17 3.17-3.17-3.17-1.42 1.41 4.59 4.59 4.59-4.59z"/></svg>');
}
.more {
  display: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M0 0h24v24h-24z" fill="none"/><path d="M12 5.83l3.17 3.17 1.41-1.41-4.58-4.59-4.59 4.59 1.42 1.41 3.17-3.17zm0 12.34l-3.17-3.17-1.41 1.41 4.58 4.59 4.59-4.59-1.42-1.41-3.17 3.17z"/></svg>');
}

.content-left {
  float:left;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}
.content-left-inner {
  padding-top: 10px;
  @for $i from 1 through 20 {
    .lists-container>.item:nth-of-type(#{$i}) .item-title:before {
      content: $i + ". ";
    }
  }
}
.content-right {
  float:right;
  width: 50%;
  background-color: $rightBG;
  height: 100%;
  overflow-y: scroll;
  .item, .toolkit {
    border-color: $rightBG;
  }
  .item.over {
    border-color: $dragOverBorder;
  }
}
.content-right-inner {
  padding: 10px 0 10px 0;
}
// deal with Chrome's bug with overflow scroll
.content-left-inner, .content-right-inner {
  height: 101%;
  overflow: visible;
}
.meta-table {
  width: 100%;
  border-bottom: $itemBottom solid $defaultBG;
  td {
    padding: 0 $itemBottom;
  }
  td:first-child {
      width: 33%;
  }
}

.sections {
  padding: 0 10px 10px 10px;
}
.section-container {
  border-width: $itemBottom 0 $itemBottom 0;
  border-style: solid;
  border-color: $defaultBG;
  //margin-bottom: 10px;
  //border-radius: 5px;
}
.section-inner {
  border: 1px solid $sectionsBorder;
  margin-bottom: 5px;
}
.section-header {
  background-color: $sectionsBorder;
  padding: $itemBottom $itemBottom 0 $itemBottom;
  border-bottom: $itemBottom solid $sectionsBorder;
  //margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: move;
}

.lists-item {
  border-width: $itemBottom 1px 1px 1px;
  border-style: solid;
  border-color: $sectionsBorder;
  margin: 0 $itemBottom $itemBottom $itemBottom;
  // border: 1px solid $sectionsBorder;
  // margin: 0 $itemBottom $itemBottom $itemBottom;
}

.item, .toolkit {
  background-color: $itemBG;
  padding:10px;
  margin:0 10px;
  border-bottom: $itemBottom solid $defaultBG;

  &.video, &.photo, &.interactive {
    .item-title {
      padding-left: 25px;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 0 center;
    }
  }
  &.video .item-title {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="grey"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z"/></svg>');
  }
  &.photo .item-title {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="grey"><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>');
  }
  &.interactive .item-title {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="grey"><path d="M0 0h24v24h-24z" fill="none"/><path d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm1 15h-2v-6h2v6zm0-8h-2v-2h2v2z"/></svg>');
  }
  &.has-image {
    background-repeat: no-repeat;
    background-size: 80px auto;
    padding-left: 90px;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
  }
}

.item-info {
  display: none;
}
.item-info-item {
  padding: $itemBottom 0;
  input, textarea {
    background-color: white;
    font-size: 14px;
  }
  textarea {
    height: 80px;
    line-height: $defaultLineHeight;
  }
  border: medium none;
}
.item-info-title {
  padding-bottom: $itemBottom;
  color: #333;
  &.relative-container-title {
    padding-bottom: 0;
    border-bottom: $itemBottom solid $itemBG;
    &.over {
      border-color: $dragOverBorder;
    }
  }
}

.item-links {
  padding: $itemBottom 0;
  a {
    color: $blueLink;
    text-decoration: none;
    display: block;
    float: left;
    padding: $itemBottom 2 * $itemBottom 2 * $itemBottom 0;
  }
}

.relative-item {
  border-bottom: $itemBottom solid transparent;
  font-size: 0.9em;
}
.relative-info {
  display: none;
}
.relative-title {
  &:before {
    content: '- ';
  }
}
.relative-item.expanded {
  .relative-info {
    display: block;
  }
}

.group-header {
  padding: 0 0 $itemBottom 2*$itemBottom;
}
.item.expanded .item-info {
  display: block !important;
}
.section-container.expanded {
  .section-inner>.meta-table {
    display: table;
  }
}
.lists-item.expanded {
  .meta-table {
    display: table;
  }
  .item {
    display: block;
  }
}
.item:hover {
  .timestamp {
    display: none;
  }
  .remove-item {
    display: block;
  }
}
.section-container:hover {
  .remove-section {
    display: block;
  }
}
.lists-item:hover {
  .remove-lists {
    display: block;
  }
}
.relative-item:hover {
  .remove-relative {
    display: block;
  }
}
.timestamp {
  float: right; 
  font-size: 14px;
  color: #777;
  margin-top: $itemBottom;
  .new-item {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="red"><path d="M0 0h24v24H0z" fill="none"/><path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>');
    height: 24px;
    width: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.remove-item, .remove-section, .remove-lists, .remove-relative {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="grey"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2v-12h-12v12zm13-15h-3.5l-1-1h-5l-1 1h-3.5v2h14v-2z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>');
  float: right;
  height: 24px;
  width: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
}


.remove-section {
  margin: $itemBottom $itemBottom 0 0;
}

.remove-lists {
  margin: 3px $itemBottom 0 0;
}

.remove-relative {
  height: 20px;
  width: 20px;
}

.toolkit {
  background-color: $sectionsBorder;
}

.lists-header {
  font-weight: bold;
  background-color: $sectionsBorder;
  border-bottom: 10px solid $defaultBG;
  padding: 0 0 $itemBottom $itemBottom;
  height: 30px;
  line-height: 30px;
  //color: white;
}

.o-input-text, .o-textarea, .r-input-text {
  background-color: $itemBG;
  border: 1px solid $defaultBG;
  width: 100%;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  height: 26px;
  border-radius: 5px;
  padding: 2px $itemBottom;
  width: 100%;
  color: #333;
  font-family: BentonSans,sans-serif;
  font-size: 14px;
  outline: 0;
  -webkit-transition: .15s box-shadow ease-in;
  transition: .15s box-shadow ease-in;
  background-clip: padding-box;
  &[readonly] {
    background-color: $defaultBG;
  }
  &[title][readonly] {
    cursor: pointer;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}
input.r-input-text {
  background-color: white;
  font-size: 14px;
}
.o-input-checkbox {
  width: 14px;
  height: 14px;
  padding-right: 14px;
}

.o-textarea {
  height: 100px;
}
.o-forms-select {
  cursor: pointer;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…kgMS4xNjktLjMyNiAxLjc0OGwyLjUzNiAzLjU1NnoiIGZpbGw9IiM1MDUwNTAiLz48L3N2Zz4=");
  background-position: right center;
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: 19px;
  padding-right: 24px;
  padding-top: 6px;
  line-height: 110%;
  padding-bottom: 6px\9;
  padding-right: 5px\9;
  background-image: none\9;
  text-indent: .01px;
  text-overflow: '';
  width: 100%;
  font-size: 18px;
}
.o-buttons {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  outline: 0;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: BentonSans,sans-serif;
  cursor: pointer;
  -webkit-transition: .3s background-color,.15s box-shadow ease-in;
  transition: .3s background-color,.15s box-shadow ease-in;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-clip: padding-box;
  padding: 3px 14px 3px 14px;
  font-size: 14px;
  line-height: 16px;
  border-width: 1px;
  color: #2e6e9e;
  background: 0 0;
  border-color: #2e6e9e;
  color: #fff;
  background: #2e6e9e;
  border-color: #2e6e9e;
  padding: 8px 18px 8px 18px;
  font-size: 16px;
  line-height: 18px;
  border-width: 1px;
}
.o-buttons-container {
  text-align: center;
}
.o-group {
  margin-bottom: 14px;
}
.o-hidden {
  display: none;
}

// drag and drop
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
  div {
    cursor: move;
  }
}
.over{
  border-color: $dragOverBorder !important;
}
.content-left-inner.over {
  background-color: grey;
}
.over-drag-down {
  border-bottom-color: $dragOverBorder !important;
  border-bottom-width: $itemBottom;
}
.over-drag-up {
  border-top-color: $dragOverBorder !important;
}


//pop up box
#preview-overlay {
  position: relative;
  overflow: visible;
}
#preview-box {
  right:5px;
  top:13px;
  bottom:auto;
  left:auto;
  width:300px;
  overflow:visible;
  position:absolute;
  z-index:9999;
}
.o-overlay__arrow-top:before, .o-overlay__arrow-top:after {
bottom: 100%;
border-top-width: 0;
right: 20px;
content: "";
position: absolute;
border: solid transparent;
}
.o-overlay__arrow-top:before {
margin-right: -13px;
border-width: 13px;
}
.o-overlay__arrow-top:after {
margin-right: -10px;
border-bottom-color: $sectionsBorder;
border-width: 10px;
}
.o-overlay__close {
cursor: pointer;
margin: 0;
border: 0;
background: 0 0;
float: right;
outline: none;
}
.o-overlay__close-icon {
font-family: "ft-icons";
display: inline-block;
vertical-align: middle;
font-weight: 400!important;
font-style: normal!important;
speak: none;
text-decoration: inherit;
text-transform: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
width: 18px;
height: 18px;
font-size: 10px;
line-height: 19px;
color: #74736c;
}
.o-overlay-shadow {
position: fixed;
z-index: 10;
opacity: 1;
-webkit-transition: opacity .3s ease-in-out;
-moz-transition: opacity .3s ease-in-out;
-ms-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
background: rgba(0,0,0,.7);
height: 150%;
width: 100%;
top: 0;
left: 0;
}
.o-overlay__close-icon:before {
content: "×";
font-family: 'Arial';
font-size:26px;
text-align: center;
width: 100%;
display: block;
}
.explain-body {
  background:$defaultBG;
  padding:$itemBottom;
  color: #333;
  line-height: $defaultLineHeight;
}
.preview-on-device {
  padding: $itemBottom;
  cursor: pointer;
  border-top: 1px solid $defaultBorderColor;
  &:first-child {
    border-top-width: 0;
  }
}
.preview-header {
  background-color: $sectionsBorder;
  padding: 0 2*$itemBottom;
  color: #333;
}
.search-container {
  padding: 0 10px 14px 10px;
  position: relative;
  .o-input-text {
    // float: left;
    // width: 450px;
    height: 36px;
  }
}
.o-input-button {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    outline: 0;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-family: MetricWeb,sans-serif;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    line-height: 16px;
    border-width: 1px;
    color: #27757b;
    background: rgba(255,255,255,.4);
    border-color: rgba(39,117,123,.15);
    color: #fff;
    background: #27757b;
    border-color: #27757b;
    text-transform: uppercase;
    
    position: absolute;
    top: 5px;
    right: 18px;
}
.clearfloat {
  clear: both;
}
//hehuiyun  add
  .item-info-titleFixed {
         
      display:inline-block;
      width:30%;   
  }
  .item11 {
	  background-color:#FFF;
      border: 1px solid #FFF1E0;
      box-sizing: border-box;
	  margin: 0;
	  height: 26px;
	  border-radius: 5px;
	  color: #333;
	  font-family: BentonSans,sans-serif;
	  font-size: 14px;
  }

  .item-info-textFixed {
  	  @extend .item11;
      display:inline-block; 
      width:70%; 	 
	  padding: 2px 5px; 
	  &[title][readonly] {
	    &:hover, &:active {
	      text-decoration: none;
	    }
	  }
}
.item-info-item ul{
	display:inline-block;
	width:100%; 
	list-style:inside disc ;
	margin: 0px;
	padding: 0px;
}
.item-info-item li{
	@extend .item11;	
    width:100%; 
	padding: 2px 0px;
}
// innotree-maker
.select-container {
	overflow:hidden;
	padding: 0 10px 0px 10px;
  position: relative;
}
.select-inner{
	width:80%;
  float:left;
 
}
.select-sort-inner{
  padding-bottom:4px;
}
.select-way{
    margin-right:10%;
}
.select-time-inner label{
  
}
.select-ind-inner{
  width:70%;
  overflow:hidden;
  margin:2px 0px 15px 0px;
}
.industry-select1{
  display:inline-block;
   float:left;
  
}
#select-industry{	
	width:50%;
 padding:2px 0px;
	
}
#search-button {			
	  display: block;
    box-sizing: border-box;
    margin: 10px;
    outline: 0;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-family: MetricWeb,sans-serif;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
	  padding: 4px 8px 4px 8px;
    font-size: 16px;
    line-height: 16px;
    border-width: 1px;
	  color: #fff;
    background: #27757b;
    border-color: #27757b;
    text-transform: uppercase;    
	  right:5%;
}
