// bower:scss
// endbower


// @import "bourbon/_bourbon.scss";

// vendor prefix
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// common parts
@import "theme-default.scss";
@import "variables.scss";
@import "mixins.scss";
@import "common.scss";
@import "header.scss";
/* @import "nav.scss"; */
@import "o-nav.scss";
@import "banner.scss";
@import "block.scss";
@import "footer.scss";
@import "qr.scss";
@import "overlay.scss";

// home page specific parts
@import "block-home.scss";
@import "markets-data.scss";

// Subscription 
@import "subscription.scss";

// my ft
@import "myft-follow.scss";

// media query
@import "block-media-query.scss";