@import "theme-default.scss";
@import "variables.scss";
@import "mixins.scss";
.is-ie-8 {
	@include L;
	@include navL;
	.masthead {
		background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimages%2Fmasthead.png?source=ftchinese&height=27);
	}
	header, nav, section, article, aside, footer {
		display:block;
	}
	.side-container {
		.item-container.first {
			.item-headline {
				width: 100%;
				filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc000000', endColorstr='#cc000000');
			}
		}
	}
	.block-inner, .header-inner, .nav-inner, .footer-inner, .banner-inner, .o-nav__outer {
		width: $maxWidthL;
	}

	.sponsor-container {
		.banner-inner {
			width: 100%;
		}
	}

	.overlay-content-outer {
		height: 100%;
	}
}