@import "theme-default.scss";
@import "variables.scss";
div, a, p {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.title-container, .byline-container, .body-container, .time-container {
    .translations {
        display: none;
        color: $lighterGrey;
        &.rendered {
            display: block;
        }
    }
}
.time-container, .byline-container {
    .original {
        display: none;
    }
}
.body-container {
    .translations {
        img {
            display: none;
        }
    }
}
.translation-confirmed {
    .translations {
        color: $darkGrey;
    }
}
.title-container {
    div {
        font-size: 1.6em;
        padding-bottom: 15px;
        line-height: 161.8%;
        font-weight: bold;
        // &.translations {
        //     &:before {
        //         content: '【机器翻译】';
        //         color: $darkGrey;
        //     }
        // }
    }
}

.byline-container {
    div {
        color: #8b572a;
        font-size: 0.8em;
        margin-bottom: 1em;
    }
}

.translation-disclaimer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: $navHeight + 25px + 5px;
    width: 100%;
    &:before {
        content: '机器翻译，仅供参考';
        position: absolute;
        right: 0;
        top: -25px;
        background-color: $lightPink;
        color: $red;
        border: 1px solid $red;
        padding: 0 $defaultPadding/2;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 28px;
        height: 28px;
        pointer-events: none;
        border-radius: 14px;
    }
    .translation-confirmed & {
        &:before {
            display: none;
            // content: '翻译已确认';
            // color: white;
            // background-color: $darkGreen;
            // border-color: $darkGreen;
        }
    }
}

.body-container {
    div {
        font-size: 1.1em;
        color: $darkGrey;
        line-height: $goldenRatio;
        overflow: hidden;
        margin-bottom: 1em;
        a {
            color: $darkGreen;
        }
    }
}

blockquote {
    padding-left: $defaultPadding/2;
    border-left: 4px solid $lighterGrey;
    font-size: 0.9em;
}


@media only screen and (min-width: 768px) {
    .title-container, .byline-container, .body-container, .time-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
    .time-container, .byline-container {
        .original {
            display: block;
        }
    }
    .body-container {
        .translations {
            img {
                display: block;
            }
        }
    }
}