@import "./member";
.o-member-container {
  font-size: 0.9em;
  .o-member-outer {
    width: 100%;
    float: none;
    margin-bottom: 30px;
    padding:0;
    .o-member {
      max-width: 450px;
      .o-member__border {
        width: 0;
      }
    }
  }
}




