@import "theme-default.scss";
@import "variables.scss";
.translation-disclaimer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: $navHeight + 25px + 5px;
    width: 100%;
    z-index: 1;
    &:before {
        content: '机器翻译，仅供参考';
        position: absolute;
        right: 0;
        top: -25px;
        background-color: $lightPink;
        color: $red;
        border: 1px solid $red;
        padding: 0 $defaultPadding/2;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 28px;
        height: 28px;
        pointer-events: none;
        border-radius: 14px;
    }
    .translation-confirmed & {
        &:before {
            display: none;
        }
    }
}

.can-switch-translations {
    cursor: pointer;
}

.rightp {
    .is-text-only, .is-mixed {
        color: $lightGrey;
    }
}
.story-container {
    .translation-disclaimer {
        height: $navHeight;
        top: $navHeight + 5px;
        &:before {
            top: 0;
            content: '点击中文段落，切换到不同的机器翻译'
        }
    }
}

.top-translation-disclaimer {
    font-size: 1.2em;
    font-weight: bold;
    background-color: $red;
    text-align: center;
    padding: $defaultPadding/2;
    color: white;
    margin: $defaultPadding/2 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: $navHeight;
    z-index: 1;
}