// bower:scss
// endbower


// @import "bourbon/_bourbon.scss";

// vendor prefix
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// common parts
@import "theme-default.scss";
@import "variables.scss";
@import "mixins.scss";
@import "common.scss";
@import "header.scss";
/* @import "nav.scss"; */
@import "o-nav.scss";
@import "banner.scss";
@import "block.scss";
@import "footer.scss";
@import "qr.scss";
@import "overlay.scss";

// home page specific parts
@import "block-home.scss";
@import "markets-data.scss";

// my ft
@import "myft-follow.scss";

// media query
@import "block-media-query.scss";



.app-download-bar-container {
	display: none;
	position:fixed;
	width:100%;
	height: $headerHeight;
	bottom:0;
	background-color: $darkGreen;
}
.app-download-bar-inner {
	padding: $textPadding;
}
.app-download-bar-image {
	float: left;
	width: $headerHeight - $textPadding * 2;
	height: $headerHeight - $textPadding * 2;
}
.app-download-bar-text {
	float: left;
	padding-left: $textPadding * 4;
	line-height: $headerHeight - $textPadding * 2;
	color: white;
}
.app-download-bar-button {
	float: right;
	background-color: #FFF1E0;
	height: $buttonHeight;
	line-height: $buttonHeight;
	margin-top: ($headerHeight - $textPadding * 2 - $buttonHeight)/2;
}

@media only screen and (max-width: 490px) {
	.app-download-bar-container {
		display: block;
	}
}