
body{
    background:white none repeat scroll 0 0; 
}
.img-section{
	margin: 0 10px 15px 10px;
	.image.story-image {
		position: relative;
		padding-bottom: 0;
		margin: 0px;
		a{
			position: absolute;
			top:20px;
			right: 20px;
		}
		figure{
			background:white;
		}
		}
		.image{
			left: 0px;
			right: 0px;
		}
		.tag-section{
			height:30px;
			.tag {
				float: left;
				background-color: #12a5b3;
				padding:5px 15px 5px 15px
			}
			.show-comment{
				float: right;
				img{
					background-color: white;
				}
				span{
					margin-left:10px 
				}
			}
		}
}
.clear-float{
	clear: both;
}
.story-body{
	margin: 0 20px;
	h1{
		font-size: 1.6em;
		padding-bottom: 15px;
		line-height: 161.8%;
	}
}