table{
	margin:0 0 28px 0;
}
table tr.row-graphic{
	background-color:transparent;
	border:0;
}
table tr.row-text{
	background-color:transparent;font-size:16px;
	border-bottom:1px solid #e9decf;
}
table{
	border-spacing:0;
	border-bottom:1px solid #e0dbd2;
	font-family:Arial,Helvetica,sans-serif;
	width: 100%;
}
table th{
	border-right:1px solid #d5cdbf;
	border-top:0;
	padding:3px 10px;
	background-color:#e9decf;
	color:#000;
	text-align:left;
	height:32px;
}
table td{
	border-right:1px solid #e0dbd2;
	padding:3px 10px;
	text-align:left!important;
	font-size: 14px;
}
table tr{
	background-color:#fdf8f0;
}
table tr.row-odd, table tbody tr:nth-child(2n){
	background-color:#f8f3ea;
}
table tr td:first-child{
	border-left:1px solid #e0dbd2;
}
table tr th:first-child{
	border-left:1px solid #d5cdbf;
}
table caption{
	padding:6px 10px;
	font-weight:bold;
	background-color:#a7a59b;
	color:#fff;
	text-align:left;
	height:auto;
}
table.tablesorter {
	th {
		cursor: pointer;
	}
	td {
		padding:15px;
		font-size: 1em;
	}
}
@media only screen and (max-width: 1023px) {
    table td, table th {
        font-size: 12px;
    }
}