@import "theme-default.scss";
@import "variables.scss";

button,a.button,input.button {
	display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    outline: 0;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#allcomments {
	padding: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
	font-size: 0.85em;
}

#allcomments .commentcontainer,.commentcontainer{
	border-radius:3px;
	background:#F6EADA;
	color:#333;
	margin:15px 0;
	padding:10px;
	border:1px solid #A4A4A4;
}

#allcomments dt b a:link,#commoncomments dt b a:link{text-decoration: underline;}
#allcomments,#commoncomments,dd.all{display:block;line-height:150%;}
dd.all {text-align:right;margin-bottom:15px;}
#allcomments dt,#commoncomments dt {position:relative;}
#allcomments dt span,#commoncomments dt span{font-weight:normal;display:block;float:right;font-size:0.8em;color:#777;}
#allcomments dt font.grey,#commoncomments dt font.grey {font-size:0.8em;}
#allcomments dd,#commoncomments dd {margin:10px 0;display:block;clear:both;font-size:1.2em;line-height:161.8%;}
#allcomments .replycomment,#commoncomments .replycomment {text-align:right;font-weight:normal;font-size:1.1em;}
.cmt_quote {border-radius:3px;background:#ECDECE;border:1px solid #A4A4A4;margin-bottom:15px;overflow:hidden;padding:5px;line-height:161.8%;}
#reply-input-container{margin-bottom:10px;}
.viewfullcomments,.commentsortby{font-size:1.1em;}
.cmt_oldautherinfo {font-size:0.9em;line-height:161.8%;margin:0 3px;overflow:hidden;position:relative;}
.cmt_oldauther {color:#666;padding:5px 3px 0 0;}
.cmt_oldcmt {clear:both;color:#000000;font-size:0.9em;line-height:161.8%;margin:9px 3px;}
.showcmt {background:#F6EADA;border:1px solid #E9DECF;margin-bottom:15px;overflow:hidden;padding:5px;line-height:161.8%;color:#9b164f;cursor:pointer;}



.commentTextArea{
	width:100%;
	font-size:1.2em;
	padding: $defaultPadding/4;
	border:1px solid #E9DECF;
	margin: $defaultPadding/4 0;
}
.container {
	padding: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
	font-size: 0.9em;
}
.ui-light-btn {
	border: 1px solid #A7A59B;
	color: #333;
	background: #e9decf;
	text-shadow: 0 1px 0 #fff;
	width:100%;
	font-size:19px;
	line-height:161.8%;
	height:auto;
	padding:5px 9px;
	border-radius: 3px;
	margin-bottom: $defaultPadding/4;
}
.user_id {
	-webkit-appearance: none;
	background-color: white;
	border-image: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	font-size:1.2em;
	height:28px;
	width:100%;
	padding:5px 2%;
	border:1px solid #E9DECF;
	margin-bottom:8px;
	&.password {
		margin-bottom:14px;
	}
}