@import "theme-default.scss";
@import "variables.scss";
.contact-form-container {
    background-color: rgba(255,255,255,0.5);
    border: 1px dashed $teal;
    max-width: 450px;
    margin: 0 auto;
    color: $teal;
    div {
    	//margin-bottom: 1em;
    }
    span, input {
    	display: block;
    	width: 100%;
    }
    input {
    	border-width: 0 0 1px 0;
    	border-style: solid;
    	border-color: $teal;
    	background-color: transparent;
    	color: $lightGrey;
    	padding: $defaultPadding/4 0;
    }
    .n-button-container {
    	padding-top: $defaultPadding;
    	padding-bottom: $defaultPadding;
    }
}