

.ai-search-block {
    background:url('https://pgl.azureedge.net/Content/images/ft/home/3.jpg?a=4U1UN1B41C3U');
    background-size:cover;
    background-position:center bottom;
    margin: 0 auto;
    padding: 170px 0;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
// @media(max-width:767px) {
//     .ai-search-block {
//         padding: 50px 0;
//         position: relative;
//         margin-bottom: 20px;
//     }
// }
// .ai-search-block form{
//     margin: 0 auto;
// }
.container{
    display: inline-block;
    width: 100%;
}
.floatClass {
    float:left
}
.clearfloat {
  clear: both;
}
.select-search-group{
    width: 20%;
    text-align: right;
    margin-right: 20px;
}

.container input{
    height: 40px;
}
.select-search-group select{
    height: 40px;
    font-size: 18px;
}

.input-search-group{
    width: 55%;
    margin-right: 20px;
}
.input-search-group input{
    height: 40px;
    width: 100%;
    font-size: 18px;
}
.select-search-button{
    height: 40px;
    background: #27757b;
}
.select-search-button:after {
  content: '';
  vertical-align: middle;
  background-image: url("http://static.ftchinese.com/ftc-icons/png/white/search-white.png");
  background-image: url("http://static.ftchinese.com/ftc-icons/svg/white/search-white.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.select-search-button span {
  display: none;
  z-index: 0;
}

// detail css
    html, body {
        position: relative;
        height: 100%;
    }
    .swiper-position{
        position: relative;
        height: 100%;
        margin: 0 30px;
    }
.swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 60%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 40%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 20%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

    // 
    .indentation{
        padding: 0 15px;
    }
    .items ul li{
        // color: rgb(139, 87, 42);
    font-weight: normal;
    font-size: 13px;
    }

    // .fa-phone:before{   
    //     content: url("/images/phone-call.svg");
    // }
.side-inner div{
    text-align: center;
}
.sky-form .team-v6{
    margin-bottom: 20px;
    background-color: white;
}
.sky-form .team-v6 span{
    color: #777;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.sky-form .team-v6 h5{
    font-size: 14px;
    margin-bottom: 5px;
}
.sky-form .team-v6 .ai-inquirylead-form-property-link {
    margin-bottom: 15px;
}
 .sky-form .team-v6 .ai-inquirylead-form-property-link a{
    color: #dcd29d;
    font-size: 13px;
    font-weight: bold;
}
 .sky-form .team-v6 .ai-inquirylead-form-property-link a:hover{
    color: red;
    text-decoration-line: underline;
}
 .img-responsive {
    // display: block;
    max-width: 100%;
    height: auto;
    // width: 80%;
}

.sky-form .list-section img{
    width:40px;
    height:40px;
    // border-right:1px solid red;
    padding: 7px 7px;

    vertical-align: middle;
    
}

.sky-form .list-section>li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
    
}

.sky-form .list-section a {
    display: block;
}
.sky-form .list-section>li:hover {
    border:1px solid black;
    cursor:pointer;
}
.sky-form  fieldset{
    border: none;
}
.sky-form section {
    margin-bottom: 8px;
    margin-top: 5px;
}
.sky-form div section img{
    width:34px;
    height:34px;
    // border-right:1px solid red;
    padding: 7px 7px;
    // margin: 5px 0;
    float: left;
    vertical-align: middle;
    
}
.sky-form .input, .textarea{
    // position: relative;
    display: block;
}

.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
    // border-width: 1px;
    font-size: 14px;
    color: #404040;
    width: 90%;
    font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
    border:1px solid #555;
}
.sky-form .input input {
    height: 34px;
    padding: 6px 12px;
    // border: none;
    margin: 0 auto;
}
.sky-form .textarea textarea {
    padding: 6px 12px;
}
#inquiry-agent-contact-number{
    display: none;
}

.sky-form button{
    background: #27757b;
    color: #fff;
    text-transform: uppercase;
    width:100%;
    height: 40px;
}
.property-share-container{
    margin: 15px;
}











