@import "variables.scss";
@import "mixins.scss";
.content-inner {
	//background-color: red;
}
.block-container {
	margin-bottom: $defaultPadding/2;
	&.side-video {
		margin-bottom: $defaultPadding;
	}
	a {
		color: $darkGrey;
	}
	&.fixside {
		.side-inner {
			position: fixed;
			bottom: $defaultPadding;
			width: $sideWidth;
		}
	}
	&.bottomside {
		.side-inner {
			position: absolute;
			bottom: $defaultPadding;
			width: $sideWidth;
		}
	}
	&.fixmain {
		.content-container {
			position: fixed;
			bottom: 0;
			max-width: $maxWidth - 1.5 * $defaultPadding - $sideWidth;
			//right: 360px;
		}
		.content-inner {
			border-width: 0;
		}
		&.side-left {
			.content-container {
				position: static;
				float: right;
			}
			.content-inner {
				position: fixed;
				max-width: $maxWidth - $sideWidth - 2 * $defaultPadding;
				border-width: 0;
				bottom: 0;
				padding-left: 0;
				padding-right: 0;
				//background-color: $red;
			}
			.side-container {
				float: left;
				//float: none;
				margin-right: 0;
				margin-left:0;
			}
		}
	}
	&.bottommain {
		.content-container {
			position: absolute;
			bottom: 0;
			max-width: $maxWidth - 1.5 * $defaultPadding - $sideWidth;
		}
		.content-inner {
			border-width: 0;
		}
		&.side-left {
			.content-container {
				position: static;
				float: right;
			}
			.content-inner {
				position: absolute;
				max-width: $maxWidth - $sideWidth - 2 * $defaultPadding;
				border-width: 0;
				bottom: 0;
				padding-left: 0;
				padding-right: 0;
				//background-color: $red;
			}
			.side-container {
				float: left;
				//float: none;
				margin-right: 0;
				margin-left:0;
			}
		}
	}
}
.block-inner {
	max-width: $maxWidth;
	padding: 0 $defaultPadding/2;
	margin: auto;
}

.list-title {
	font-size: 1.1em;
	position: relative;
	height: $listTitleHeight;
	margin: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;

	clear: both;
	//border-top: 1px solid #cec6b9;
	//padding: 5px 0;
	a.list-link {
		line-height: $listTitleHeight;
		position: absolute;
		height: 100%;
		left: 0;
		padding-right: 5px;
		background-color: $defaultPink;
	}
	a.sponsor-link figure {
		height: $defaultPadding;
		background-color: $defaultPink;
		position: absolute;
		right: 0;
		top: ($listTitleHeight - $defaultPadding)/2;
		padding-left: 5px;
	}
	&:before {
	    content: '';
	    position: absolute;
	    height: 3px;
	    background-color: $borderColor;
	    //border-top: 1px dotted $borderColor;
	    //border-bottom: 1px dotted $borderColor;
	    top: 0;
	    bottom: 0;
	    width: 100%;
	    margin:auto;
	}
}

.item-container {
	float: left;
}
.item-inner {
	padding: $figureHeight $defaultPadding/2 $defaultPadding $defaultPadding/2;
	position: relative;
}
.video-package {
	.items {
		padding: 0 $defaultPadding/4;		
	}

	.item-inner {
		padding: $figureHeight $defaultPadding/4 0 $defaultPadding/4;
		padding-bottom: 0;
	}
	.item-headline {
		font-size: 0.75em;
		font-weight: normal;
	}
	.image {
		left: $defaultPadding/4;
		right: $defaultPadding/4;
		border: 2px solid transparent;
		padding-bottom: 0;
		&:hover, &.active {
			border-color: $blue;
		}
	}
	.on .image {
		border-color: $blue;
		//background-color: $blue;
	}
}
.video-package-inner {
	&.item-inner {
		position: relative;
		padding: 0 $defaultPadding/4 $defaultPadding/2 $defaultPadding/4;
	}
	.image {
		position: static;
		border-width: 0;
		margin-bottom: 0;
		figure {
			background-color: black;
			color: white;
		}
	}
}
.video-package-title {
	background-color: black;
	padding: $defaultPadding/4;
	a {
		color: white;
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}

//grid system
.image {
	position: absolute;
	top: 0;
	left: $defaultPadding/2;
	right: $defaultPadding/2;
	padding-bottom: 5px;
	figure {
	    @include figure;
	}
}

.item-headline, .relative-container {
	a {
		border-bottom: 1px dotted transparent;
		&:hover, &:active {
		border-bottom-color: $darkGreen;
		}
	}
}

.item-headline {
	font-weight: bold;
	font-size: 1.05em;
	line-height: 120%;
	margin-bottom: $defaultPadding/3;
}
.headline-only {
	.item-headline {
		margin-bottom: 0;
	}
}
.item-lead {
	color: $lightGrey;
	font-size: 0.9em;
}
.item-tag {
	color: $red;
	font-size: 14px;
	padding-bottom: 5px;
	//background-color: rgba(0,0,0,0.7);
	font-weight: bold;
	padding-bottom: $defaultPadding/2;
	a {
		color: $red;
	}
}
.item-time {
	color: $lightGrey;
	color: $timeGrey;
	font-weight: normal;
	font-size: 12px;
	padding-top: $defaultPadding/2;
	//padding-right: $defaultPadding/2;
	//text-align: right;
	&.highlight {
		color: $red;
	}
}
.item-bottom {
	clear: both;
}
.image {
	display: block;
}
.relative-container {
	margin-top: 5px;
}
.relative {
	font-size: 0.9em;
	font-weight: normal;
	&:before {
	    content: '•';
	    padding-right: 5px;
	    color: $lightGrey;
	}
}
.no-image {
	.item-inner {
		padding-top: 0;
	}
	.image {
		display: none;
	}
}
.has-side {
	.block-inner {
		padding-right: $defaultPadding;
		position: relative;
	}
	.content-container {
	    float: left;
	    width: 100%;
	}
	.content-inner {
    	border-right: $sideWidth solid $bannerBG;
    	padding-right: $defaultPadding/2;
	}
	&.side-left {
		.block-inner {
			padding-right: 0;
			padding-left: $defaultPadding;			
		}
		.content-container {
			float: right;
		}
		.content-inner {
			border-right: 0;
			border-left: $sideWidth solid $bannerBG;
			padding-right: $defaultPadding/2;
			padding-left: $defaultPadding/2;
		}
		.side-container {
			float: right;
			margin-right: -$sideWidth;
		}
		.ad-holder {
			//padding-top: $defaultPadding/2;
		}
		.bottom-ad {
			&.sticky-bottom {
				right: auto;
			}

		}

	}
}

.XL-side-by-side {
	float: left;
	.item-container {
		float: none;
		width: 100%;
		position: relative;
		&.first {
			.item-inner {
				padding: $figureHeight $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
				//padding: 0 $defaultPadding/2;
				border: 0;
			}
			.item-headline {
				font-size:1em;
				border: 0;
				padding-top: 0;
				margin-bottom: $defaultPadding/2;
			}
		}
	}
	.item-inner {
		padding: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
		position: static;
	}
	.item-headline {
		padding: $defaultPadding/2 $defaultPadding/2 0 0;
		margin-bottom: 0;
		border-top: 1px dotted $borderColor;
		font-size: 0.9em;
	}
}

.side-container {
	float: right;
    width: $sideWidth;
    background-color: $bannerBG;
    //padding-bottom: $defaultPadding;
    margin-left: - $sideWidth;
	iframe {
		margin: 0 auto $defaultPadding auto;
		display: block;
		&.ad-hidden {
			margin: 0 auto;
		}
	}
	.list-title {
		@include itemTitleMobile;
	}
	.item-container {
		float: none;
		width: 100%;
	}
	.item-inner {
		padding: 0 0 $defaultPadding/2 0;
		position: static;
		border-top: 1px dotted $borderColor;
	}
	.item-headline {
		padding: $defaultPadding/2 $defaultPadding/2 0 $defaultPadding/2;
		margin-bottom: 0;
		font-size: 0.9em;
		font-weight: normal;
	}
	.interactives {
		padding-bottom: $defaultPadding;
		.item-headline {
			padding: $defaultPadding/2 $defaultPadding/2 0 0;
		}
	}
	.image {
		position: static;
		float:right;
		width: 82px;
		padding: 2px 0 0 5px;
		clear: right;
	}
	.item-container.first {
		position: relative;
		margin-bottom: $defaultPadding/2;
		.item-inner {
			padding: 0;
			border: 0;
		}
		.image {
			float:none;
			width: 100%;
			padding: 0;
		}
		.item-headline {
			font-size:1em;
			position: absolute;
			bottom: 0;
			background-color: $opaque;
			color: white;
			padding-bottom: $defaultPadding/2;
			width: 100%;
			a {
				color: white;
				font-weight: normal;
			}
		}
	}
	.bottom-ad {
		width: 300 + 2*$defaultPadding;
		iframe {
			margin: 0 auto;
		}
		&.sticky-top {
			position: fixed;
			top: $navHeight + $defaultPadding;
		}
		&.sticky-bottom {
			position: absolute;
			right: $defaultPadding;
			bottom: $defaultPadding;
		}

	}
	.ad-holder {
		width: 100%;
		padding-top: $defaultPadding;
		clear: both;
		//background-color: grey;
	}
}

.side-inner {
	//padding-bottom: $defaultPadding;
}



.video-container {
	width: auto;
	padding-top: 100% * 9 / 16;
	position: relative;
	background-color: black;
}
.video-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.video-title {
	color: white;
	background-color: black;
	padding: $defaultPadding/2;
	margin-bottom: $defaultPadding;
	font-size: 14px;
	a {
		color: white;
	}
}
#three-video-content {
	overflow: hidden;
	li {
		width: 33.333333%;
		display: block;
		float: left;
		padding: 0 5px;
		font-size: 0.8em;
		line-height: 120%;
		figure {
			@include figure;
			margin-bottom: 5px;
			border: 2px solid transparent;
		}
		&.on, &:hover, &:active {
			figure {
				border-color: $blue;
			}
		}
	}
}



.links {
	padding: 0 $defaultPadding;
	font-size: 0.75em;
	a {
		display: block;
		padding-top: $defaultPadding/2;
		margin-top: $defaultPadding/2;
		border-top: 1px dotted $borderColor;
		overflow: hidden;
		width: 100%;
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:first-child {
			border: 0;
			margin-top: 0;
			padding-top: 0;
		}
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}

.top10 {
	padding: 0 $defaultPadding/2;
	li {
		padding: $defaultPadding/2 0 $defaultPadding/2 0;
		border-top: 1px dotted $borderColor;
		font-weight: bold;
		&.mp1 {
			padding-top: 0;
			border: 0;
		}
		span {
			color: $red;
			padding-right: $defaultPadding/2;
			text-align: right;
			display: inline-block;
			width: $defaultPadding;
		}
	}
}

//XL related styles
@media only screen and (min-width: 1221px) {
	@include XL;
}

//L: large screen devices like pc and iPad landscape
@media only screen and (max-width: 1220px) and (min-width: 981px) {
	.L4 {
		width: 33.33333333%;
	}
	.XLT {
		display: none;
	}
	.LT {
		@include itemTop;
	}
}

//M: middle screen devices like iPad portrait
@media only screen and (max-width: 980px) and (min-width: 741px) {
	.M4 {
		width: 33.33333333%;
	}
	.LT {
		display: none;
	}
	.MT {
		@include itemTop;
	}
	.has-side {
		.image {
			@include coverImageLeft;	
		}
		.stand-alone, .first {
			.item-headline, .item-lead, .relative-container {
				@include coverRightSingle;
			}
		}
		.item-container {
			&.left, &.right {
				float: none;
				width: 100%;
				//padding: 0 $defaultPadding/2;
				@include itemTop;
				// &.first, &:nth-of-type(1), &:first-child {
				// 	border-width: 0;
				// 	padding-top: 0;
				// }
				.item-headline, .item-lead, .relative-container {
					padding-left: 0;
					padding-right: 0;
				}
				.image {
					padding-left: 0;
				}
			}
			&:first-child, &.first, &:nth-of-type(1) {
				border-width: 0;
				padding-top: 0;
			}
		}
		.item-top-left {
			display: none;
		}
		.lists-inner {
			.item-container:nth-of-type(1) {

			}
		}
	}
	.no-side {
		.item-container {
			width: 50%;
		}
		.item-inner {
//			padding: 0 $defaultPadding/2 $defaultPadding $defaultPadding/2;
		}
		.item-top-three {
			display: none;
		}
		.item-top-two {
			display: block;
			@include itemTop;
			margin: 0 $defaultPadding/2;
		}
		.odd-items .first .image {
			@include coverImageLeft;
		}
		.odd-items .first {
			width: 100%;
			.item-headline, .item-lead, .relative-container {
				@include coverRight;
			}
		}
	}
}


//S smaller screens like iPhone 6s landscape
@media only screen and (max-width: 740px) and (min-width: 491px) {
	.S6 {
		width: 50%;
	}
	.MT {
		display: none;
	}
	.ST {
		@include itemTop;
	}
	.has-side {
		.content-container {
		    float: none;
		}
		.content-inner {
	    	border-right-width: 0;
	    	padding-right: 0;
		}
		.side-container {
			float: none;
		    width: 100%;
		    margin-left: 0;
		    //background-color: #f6e9d8;
		}
		/*
		.block-inner {
			padding-left: 0;
			padding-right: 0;
		}
		.item-inner {
			padding-left: $defaultPadding;
			padding-right: $defaultPadding;
		}*/
	}
}

//mobile phones portrait
@media only screen and (max-width: 490px) {
	.item-container {
		float: none;
		width: 100%;
	}
	.ST {
		display: none;
	}
	.no-side, .has-side {
		.stand-alone {
			.image {
				width: 100%;
				padding: 0 0 5px 0;
			}
		}
		.block-inner {
			padding: 0;
		}
		.item-top-two {
			display: none;
		}
		.item-container {
			float: none;
			width: 100%;
			//padding: 0 $defaultPadding/2;
			@include itemTop;
			&.first, &:first-child {
				border-width: 0;
				padding-top: 0;
			}
		}
		.item-inner {
			padding: 0 0 $defaultPadding 0;
		}
		.items {
			padding: 0 $defaultPadding;
		}
		.image {
			@include coverImageLeft;	
		}
		.odd-items .first {
			.item-headline, .item-lead, .relative-container {
				@include coverRightSingle;
			}
		}
	}
	.list-title, .no-side .list-title, .side-inner .list-title {
		@include itemTitleMobile;
		font-size: 1.1em;
	}
}
