@import "variables.scss";
@import "maxins.scss";

.block-container {
	margin-bottom: $defaultPadding/2;
	a {
		color: $darkGrey;
	}
}
.block-inner {
	max-width: $maxWidth;
	padding: 0 $defaultPadding;
	margin: auto;
}
.list-title {
	font-size: 0.9em;
	position: relative;
	height: $listTitleHeight;
	margin: 0 auto 5px auto;
	//border-top: 1px solid #cec6b9;
	//padding: 5px 0;
	a {
		line-height: $listTitleHeight;
		position: absolute;
		height: 100%;
		left: 0;
		padding-right: 5px;
		background-color: $defaultPink;
	}
	&:before {
	    content: '';
	    position: absolute;
	    height: 1px;
	    border-top: 1px solid $borderColor;
	    top: 50%;
	    width: 100%;
	}
}

.item-inner {
	padding-bottom: $defaultPadding;
	position: relative;
	figure {
	    @include figure;
	}
}

.item-headline, .relative-container {
	a {
		border-bottom: 1px dotted transparent;
		&:hover, &:active {
		border-bottom-color: $darkGreen;
		}
	}
}

.item-headline {
	font-weight: bold;
	font-size: 1.25em;
	line-height: 120%;
	margin-bottom: 5px;
}
.item-lead {
	color: $lightGrey;
	font-size: 0.9em;
}
.item-bottom {
	clear: both;
}
.image {
	display: block;
}
.relative-container {
	margin-top: 5px;
}
.relative {
	font-size: 0.9em;
	font-weight: normal;
	&:before {
	    content: '•';
	    padding-right: 5px;
	    color: $lightGrey;
	}
}

.has-side {
	.content-container {
	    float: left;
	    width: 100%;
	}
	.content-inner {
    	border-right: $sideWidth solid $bannerBG;
    	padding-right: $defaultPadding;
	}


	//single cover style
	.stand-alone .image, .first .image {
		@include coverImageLeft;
	}
	.stand-alone .item-headline, .stand-alone .item-lead, .stand-alone .relative-container, .first .item-headline, .first .item-lead, .first .relative-container {
		@include coverRight;
	}

	.item-container {
		&.left {
			float: left;
			.item-headline, .item-lead, .relative {
				padding-right: $defaultPadding/2;
			}
			.image {
				width: 50;
				float: left;
			}
		}
		&.right {
			float: right;
			.item-headline, .item-lead, .relative {
				padding-left: $defaultPadding/2;
			}
			.image {
				float: left;
				padding-left: $defaultPadding/2;
			}
		}
		&.left, &.right {
			width: 50%;
			.item-headline {
				font-size: 1.1em;
			}
			.image {
				width: 50%;
				min-width: 100px;
				margin-top: 3px;
				padding-right: $defaultPadding/2;
			}
		}
		
	}
	.item-top-left {
		@include itemTop;
	}
}

.side-container {
	float: right;
    width: $sideWidth;
    margin-left: -$sideWidth;
    //background-color: #f6e9d8;
	iframe {
		margin: auto;
		display: block;
	}
	.list-title {
		@include itemTitleMobile;
	}
}


.no-side {
	.block-inner {
		padding: 0 $defaultPadding/2;
		max-width: $maxWidth;
	}
	.list-title {
		//max-width: $maxWidth - 2*$defaultPadding;
		margin: 0 $defaultPadding/2 5px $defaultPadding/2;
	}

	/*
	.item-container {
		float: left;
		width: 33.3333%;
	}
	.item-inner {
		padding: 0 $defaultPadding/2 $defaultPadding $defaultPadding/2;
	}
	.image {
		margin-bottom: 5px;
	}
	.item-top-three {
		@include itemTop;
		margin: 0 $defaultPadding/2;
	}
	*/
}

.video-container {
	width: auto;
	padding-top: 100% * 9 / 16;
	position: relative;
	background-color: black;
}
.video-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.video-title {
	color: white;
	background-color: black;
	padding: $defaultPadding/2;
	margin-bottom: $defaultPadding;
	font-size: 14px;
	a {
		color: white;
	}
}
#three-video-content {
	overflow: hidden;
	li {
		width: 33.333333%;
		display: block;
		float: left;
		padding: 0 5px $defaultPadding 5px;
		font-size: 0.8em;
		line-height: 120%;
		figure {
			@include figure;
			margin-bottom: 5px;
			border: 2px solid transparent;
		}
		&.on, &:hover, &:active {
			figure {
				border-color: $blue;
			}
		}
	}
}


//grid system
.item-container {
	float: left;
}
.item-inner {
	padding: $figureHeight $defaultPadding/2 $defaultPadding $defaultPadding/2;
}
.image {
	position: absolute;
	top: 0;
	left: $defaultPadding/2;
	right: $defaultPadding/2;
	padding-bottom: 5px;
}

//XL related styles
.XL3 {
	width: 25%;
}
.XL-half {
	font-size: 0.9em;
	.item-inner {
		padding-top: 0;		
	}
	.image {
		position: static;
		float:left;
		width: 50%;
		padding: 0 $defaultPadding/2 $defaultPadding/2 0;
	}
	.item-headline, .item-lead, .relative-container {
		//@include coverRight;
	}
}
.XL-lower {
	.item-headline {
		border-top: 1px dotted $borderColor;
		padding-top: $defaultPadding;
	}
}
.XL6 {
	width: 50%;
	@include doubleWidth;
}
.XLT {
	@include itemTop;
}


//L: large screen devices like pc and iPad landscape
@media only screen and (max-width: 1220px) {
	.L4 {
		width: 33.33333333%;
	}
	.XLT {
		display: none;
	}
	.LT {
		@include itemTop;
	}
}

//M: middle screen devices like iPad portrait
@media only screen and (max-width: 980px) {
	.M4 {
		width: 33.33333333%;
	}
	.LT {
		display: none;
	}
	.MT {
		@include itemTop;
	}
	.has-side {
		.image {
			@include coverImageLeft;	
		}
		.stand-alone, .first {
			.item-headline, .item-lead, .relative-container {
				@include coverRightSingle;
			}
		}
		.item-container {
			&.left, &.right {
				float: none;
				width: 100%;
				//padding: 0 $defaultPadding/2;
				@include itemTop;
				// &.first, &:nth-of-type(1), &:first-child {
				// 	border-width: 0;
				// 	padding-top: 0;
				// }
				.item-headline, .item-lead, .relative-container {
					padding-left: 0;
					padding-right: 0;
				}
				.image {
					padding-left: 0;
				}
			}
			&:first-child, &.first, &:nth-of-type(1) {
				border-width: 0;
				padding-top: 0;
			}
		}
		.item-top-left {
			display: none;
		}
		.lists-inner {
			.item-container:nth-of-type(1) {

			}
		}
	}
	.no-side {
		.item-container {
			width: 50%;
		}
		.item-inner {
//			padding: 0 $defaultPadding/2 $defaultPadding $defaultPadding/2;
		}
		.item-top-three {
			display: none;
		}
		.item-top-two {
			display: block;
			@include itemTop;
			margin: 0 $defaultPadding/2;
		}
		.odd-items .first .image {
			@include coverImageLeft;
		}
		.odd-items .first {
			width: 100%;
			.item-headline, .item-lead, .relative-container {
				@include coverRight;
			}
		}
	}
}

//S smaller screens like iPhone 6s landscape
@media only screen and (max-width: 740px) {
	.S6 {
		width: 50%;
	}
	.MT {
		display: none;
	}
	.ST {
		@include itemTop;
	}
	.has-side {
		.content-container {
		    float: none;
		}
		.content-inner {
	    	border-right-width: 0;
	    	padding-right: 0;
		}
		.side-container {
			float: none;
		    width: 100%;
		    margin-left: 0;
		    //background-color: #f6e9d8;
		}
		/*
		.block-inner {
			padding-left: 0;
			padding-right: 0;
		}
		.item-inner {
			padding-left: $defaultPadding;
			padding-right: $defaultPadding;
		}*/
	}
}

//mobile phones portrait
@media only screen and (max-width: 490px) {
	.item-container {
		float: none;
		width: 100%;
	}
	.ST {
		display: none;
	}
	.no-side, .has-side {
		.stand-alone {
			.image {
				width: 100%;
				padding: 0 0 5px 0;
			}
		}
		.block-inner {
			padding: 0;
		}
		.item-top-two {
			display: none;
		}
		.item-container {
			float: none;
			width: 100%;
			//padding: 0 $defaultPadding/2;
			@include itemTop;
			&.first, &:first-child {
				border-width: 0;
				padding-top: 0;
			}
		}
		.item-inner {
			padding: 0 0 $defaultPadding 0;
		}
		.items {
			padding: 0 $defaultPadding;
		}
		.image {
			@include coverImageLeft;	
		}
		.odd-items .first {
			.item-headline, .item-lead, .relative-container {
				@include coverRightSingle;
			}
		}
	}
	.list-title, .no-side .list-title, .side-inner .list-title {
		@include itemTitleMobile;
		font-size: 1.2em;
	}
}
