@import "main-story.scss";
@import "main-table.scss";
@import "main-user-comments.scss";
body {
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .preview & {
        display: none;
    }
}

.preview-container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    font-size: 1.2em;
    .preview-content {
        max-width: 768px;
        margin: 15px auto;
        padding-bottom: 60px;
    }
    p {
        margin-bottom: 1em;
    }
    * {
        line-height: 1.618em;
    }
}

.replace-container {
    height: $navHeight;
    width: 100%;
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
    font-size: 1.2em;
    .replace-content {
        margin: $defaultPadding*0.25 auto 0 auto;
        display: grid;
        grid-template-columns: 200px 200px 180px;
        justify-content: center;
        column-gap: $defaultPadding;
        input, button {
            height: $navHeight;
            font-size: 1.2em;
            padding: 0 $defaultPadding*0.25;
        }
        button {
            background: white;
        }

    }
    * {
        line-height: 1.618em;
    }
    .show-replace & {
        display: block;
    }

}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    &.full-grid {
        grid-template-columns: 1fr 0;
    }
}
.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    overflow: hidden;
    textarea {
        width: 100%;
        height: 100%;
        font-size: 1.2em;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.info-original {
    margin-bottom: 15px;
}
.info-translation, .translation-suggestion {
    border-top: 1px solid #505050;
    padding: 15px 44px 15px 15px;
    cursor: pointer;
    picture {
        display: none;
    }
}
#story-body-container p {
    padding-right: $navHeight;
}
p.chinese-translation {
    cursor: pointer;
    &.selected {
        background: transparent;
        cursor: default;
    }
}
.content {
    overflow-y: scroll;
    padding: $defaultPadding*0.5;
}
.sidebar {
    display: none;
    padding: 0 $defaultPadding*0.5;
    grid-template-rows: $defaultPadding 1fr $navHeight*2;
    .commentTextArea {
        height: 100%;
        box-sizing: border-box;
        margin: auto;
    }
}
.title-text-box {
    display: grid;
    grid-template-rows: $defaultPadding 1fr;
}
.title {
    font-weight: bold;
    line-height: $defaultPadding;
}
.centerButton {
    padding: $navHeight*0.5 $defaultPadding 0 $defaultPadding;
    &.bottom-button {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: $defaultPadding;
        justify-content: center; 
        justify-items: center;
        .button {
            max-width: 280px;
        }
    }
    .button {
        max-width: 45%;
    }
}
.story-body {
    margin-bottom: 60px;
}
hr {
    width: 100%;
    margin: 30px 0;
}
.chinese-translation {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #555;
}

// #story-body-container {
//     max-width: 600px;
// }
// .questions-container {
//     //position: fixed;

// }