

.ai-search-block {
    padding: 170px 0;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
// @media(max-width:767px) {
//     .ai-search-block {
//         padding: 50px 0;
//         position: relative;
//         margin-bottom: 20px;
//     }
// }
.container{
    display: inline-block;
    width: 100%;
}
.floatClass {
    float:left
}
.clearfloat {
  clear: both;
}
.select-search-group{
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

.container input,button{
    height: 40px;
}
.select-search-group select{
    width: 40%;
    font-size: 18px;
}
.select-search-field{
    width:80%
}
.input-search-group{
    width: 70%;
}
.input-search-group input{
    font-size: 18px;
}
.select-search-button{
    background: #27757b;
}
.select-search-button:after {
  content: '';
  vertical-align: middle;
  background-image: url("http://static.ftchinese.com/ftc-icons/png/white/search-white.png");
  background-image: url("http://static.ftchinese.com/ftc-icons/svg/white/search-white.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.select-search-button span {
  display: none;
  z-index: 0;
}

// detail css
    html, body {
        position: relative;
        height: 100%;
    }
    .swiper-position{
        position: relative;
        height: 100%;
        margin: 0 30px;
    }
.swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 60%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 40%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 20%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

    // 
    .indentation{
        padding: 0 15px;
    }
    .items ul li{
        // color: rgb(139, 87, 42);
    font-weight: normal;
    font-size: 13px;
    }

    // .fa-phone:before{   
    //     content: url("/images/phone-call.svg");
    // }
.sky-form  fieldset{
    border: none;
}
.sky-form section {
    margin-bottom: 8px;
    margin-top: 5px;
}
.sky-form  img{
    width:30px;
    height:30px;
    border-right:1px solid red;
    padding: 5px 5px;
    // margin: 5px 0;
    vertical-align: middle;
}
.sky-form .input, .textarea{
    position: relative;
    display: block;
    border:1px solid #555;
}

.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
    // border-width: 1px;
    font-size: 14px;
    color: #404040;
    width: 100%;
    font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
}
.sky-form .input input {
    height: 34px;
    padding: 6px 12px;
    border: none;
    margin: 0 auto;
    width: 80%;
}










