@mixin coverImageLeft {
	position: static;
    float: left;
    width: 50%;
    padding: 0 $defaultPadding/2 0 0;
}
@mixin coverRight {
	float: right;
	width: 50%;
	padding-left: $defaultPadding/2;
}
@mixin doubleWidth {
	.item-inner {
		padding-top: 0;		
	}
	.image {
		@include coverImageLeft;
	}
	.item-headline, .item-lead, .relatives {
		@include coverRight;
	}
}
@mixin coverImageLeftBig {
    float: left;
    width: 66.66666666%;
    padding-right: $defaultPadding/2;
}
@mixin coverRightSmall {
	float: right;
	width: 33.33333333%;
	padding-left: $defaultPadding/2;
}
@mixin coverRightSingle {
	float: none;
	width: 100%;
	padding-left: 0;
}
@mixin itemTop {
	clear: both;
	border-top: 1px dotted $borderColor;
	padding: $defaultPadding 0 0 0;
	margin: 0 $defaultPadding/2;
}
@mixin itemTitleMobile {
	position: static;
    padding: 7px 14px;
    background: #E9DECF;
    border-style: solid;
    border-color: #A7A59B;
    border-width: 1px 0;
    clear: both;
    display: block;
    height: auto;
    margin: 0 0 15px 0;
    font-weight: normal;
	//padding: 5px 0;
	a {
		color: #000;
		position: static;
		background-color: transparent;
		display: block;
	}
	&:before {
		display: none;
	}
}
@mixin figure {
    position: relative;
    padding-bottom: $figureHeight;
    background-color: $lightPink;
    background-size: 50%;
    background-image: url(http://static.ftchinese.com/images/ft.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 1s ease-in;
    overflow: hidden;
    img {
    	position: absolute;
    	width: 100%;
    }
}
@mixin headerContainer {
	background-color: $darkGrey;
	color: white;
}
@mixin headerInner {
	height: $headerHeight;
	padding: 0 $defaultPadding;
	position: relative;
	max-width: $maxWidth;
	margin: auto;
	a {
		color: white;
	}
}