@mixin coverImageLeft {
	//position: static;
    //float: left;
    width: 50%;
    padding: 0 $defaultPadding 0 0;
}
@mixin coverRight {
	float: right;
	width: 50%;
	padding-left: $defaultPadding/2;
	clear: right;
}
@mixin doubleWidth {
	.item-inner {
		padding-top: 0;		
	}
	.image {
		@include coverImageLeft;
	}
	.item-headline, .item-lead, .relatives, .item-tag, .item-time {
		@include coverRight;
	}
}
@mixin coverImageLeftBig {
    float: left;
    width: 66.66666666%;
    padding-right: $defaultPadding/2;
}
@mixin coverRightSmall {
	float: right;
	width: 33.33333333%;
	padding-left: $defaultPadding/2;
}
@mixin coverRightSingle {
	float: none;
	width: 100%;
	padding-left: 0;
}
@mixin itemTop {
	clear: both;
	border-top: 1px dotted $borderColor;
	padding: $defaultPadding 0 0 0;
	margin: 0 $defaultPadding/2;
}
@mixin itemTitleMobile {
	position: static;
    padding: 7px 14px;
    background: #E9DECF;
    border-style: solid;
    border-color: #A7A59B;
    border-width: 1px 0;
    clear: both;
    display: block;
    height: auto;
    margin: 0 0 15px 0;
    font-weight: normal;
	//padding: 5px 0;
	a {
		color: #000;
		position: static;
		background-color: transparent;
		display: block;
	}
	&:before {
		display: none;
	}
}
@mixin figure {
    position: relative;
    padding-bottom: $figureHeight;
    background-color: $lightPink;
    background-size: cover;
    //background-image: url(http://static.ftchinese.com/images/ft.svg);
    background-repeat: no-repeat;
    //background-position: center center;
    transition: opacity 1s ease-in;
    overflow: hidden;
    display: block;
    img {
    	position: absolute;
    	width: 100%;
    }
}
@mixin headerContainer {
	background-color: $darkGrey;
	color: white;
}
@mixin headerInner {
	height: $headerHeight;
	padding: 0 $defaultPadding;
	position: relative;
	max-width: $maxWidth;
	margin: auto;
	a {
		color: white;
	}
}
@mixin footerInner {
	//height: $headerHeight;
	padding: $defaultPadding/2 $defaultPadding;
	position: relative;
	max-width: $maxWidth;
	margin: auto;
	a {
		color: white;
	}
}
@mixin headlineOnBG {
	font-size:1em;
	position: absolute;
	bottom: 0;
	background-color: $opaque;
	color: white;
	padding-bottom: $defaultPadding/2;
	width: 100%;
	a {
		color: white;
		font-weight: normal;
	}
}
@mixin XL {
	.XL2 {
		width: 16.6666666667%;
	}
	.XL3 {
		width: 25%;
	}
	.XL4 {
		width: 33.333333333%;
	}
	.XL6 {
		width: 50%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL8 {
		width: 66.666666667%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL12 {
		width: 100%;
		//@include doubleWidth;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL12 {
		@include doubleWidth;
		//font-size: 1.1em;
	}
	.XL-half {
		font-size: 0.9em;
		.item-inner {
			padding-top: 0;		
		}
		.image {
			position: static;
			float:left;
			width: 115px;
			padding: 3px 6px 3px 0;
		}
		&.no-image .image {
			display: none;
		}
	}
	.XL-lower {
		.item-headline {
			border-top: 1px dotted $borderColor;
			padding-top: $defaultPadding;
		}
	}
	.XL-right {
		clear:right;
		float: right;
	}
	.XLT {
		@include itemTop;
	}
	.XLC {
		clear: both;
		padding-top: $defaultPadding/2;
	}
	.XLT-clear-right {
		clear: right;
		width: 66.6666667%;
		float:left;
	}
	.XL-double-width {
		@include doubleWidth;
	}
	.XL-no-image {
		.image {
			display: none;
		}
		.item-inner {
			padding-top: 0;
		}
	}
	.XL-main {
		width: 66.66666667%;
		.item-inner {
			//padding-bottom: $defaultPadding/2;
		}
		.XLT {
			//padding-top: $defaultPadding/2;
			//margin-right: 0;
		}
		.list-title {
			//margin-right: 0;
		}
		.XL6 .item-headline {
			font-size: 1.15em;
		}
		.XL-cover .item-headline {
			font-size: 1.4em;
		}
	}
	.XL-side {
		width: 33.3333333%;
		.list-inner {
			border-right: 1px solid $borderColor;
			padding-right: $defaultPadding/2;
			margin-right: $defaultPadding/2;
			//background-color: $bannerBG;
		}
		.item-inner {
			padding-bottom: $defaultPadding/2;
		}
		.XLT {
			padding-top: $defaultPadding/2;
		}
	}
	.XL-oneline {
		width: 100%;
		float: left;
	}

	.XL-list-left {
		float: left;
		//clear: right;
	}
	.XL-list-right {
		float: right;
		.item-inner {
			//padding-right: 0;
			.image {
				//right: 0;
			}
		}
	}
	.no-side {
		.XL6 {
			@include doubleWidth;
		}
	}
}