@mixin coverImageLeft {
	position: static;
    float: left;
    width: 50%;
    padding: 0 $defaultPadding/2 0 0;
    //clear: left;
}
@mixin coverRight {
	float: right;
	width: 50%;
	padding-left: $defaultPadding/2;
	clear: right;
}
@mixin doubleWidth {
	.item-inner {
		padding-top: 0;		
	}
	.image {
		@include coverImageLeft;
	}
	.item-headline, .item-lead, .relatives, .item-time {
		@include coverRight;
	}
}
@mixin coverImageLeftBig {
    float: left;
    width: 66.66666666%;
    padding-right: $defaultPadding/2;
}
@mixin coverRightSmall {
	float: right;
	width: 33.33333333%;
	padding-left: $defaultPadding/2;
}
@mixin coverRightSingle {
	float: none;
	width: 100%;
	padding-left: 0;
}
@mixin itemTop {
	clear: both;
	border-top: 1px dotted $borderColor;
	padding: $defaultPadding 0 0 0;
	margin: 0 $defaultPadding/2;
}
@mixin itemTopPhone {
	clear: both;
	border-top: 1px dotted $borderColor;
	padding: $defaultPadding 0 0 0;
	margin: 0 $defaultPadding/4;
}
@mixin itemTitleMobile {
	position: static;
    padding: 7px 14px;
    background: #E9DECF;
    border-style: solid;
    border-color: #A7A59B;
    border-width: 1px 0;
    border-bottom-style: dotted;
    clear: both;
    display: block;
    height: auto;
    margin: 0 0 15px 0;
    font-weight: normal;
	//padding: 5px 0;
	a {
		color: #000;
		position: static;
		background-color: transparent;
		display: block;
	}
	&:before {
		display: none;
	}
}
@mixin figure {
    position: relative;
    padding-bottom: $figureHeight;
    background-color: $lightPink;
    background-size: cover;
    //background-image: url(http://static.ftchinese.com/images/ft.svg);
    background-repeat: no-repeat;
    //background-position: center center;
    transition: opacity 1s ease-in;
    overflow: hidden;
    display: block;
    img {
    	position: absolute;
    	width: 100%;
    }
}
@mixin headerContainer {
	background-color: $darkGrey;
	color: white;
}
@mixin headerInner {
	height: $headerHeight;
	padding: 0 $defaultPadding;
	position: relative;
	max-width: $maxWidth;
	margin: auto;
	a {
		color: white;
	}
}
@mixin footerInner {
	//height: $headerHeight;
	padding: $defaultPadding/2 $defaultPadding;
	position: relative;
	max-width: $maxWidth;
	margin: auto;
	a {
		color: white;
	}
}
@mixin headlineOnBG {
	font-size:1em;
	position: absolute;
	bottom: 0;
	background-color: $opaque;
	color: white;
	padding-bottom: $defaultPadding/2;
	width: 100%;
	a {
		color: white;
		font-weight: normal;
	}
}
@mixin half {
	font-size: 0.9em;
	.item-inner {
		padding-top: 0;		
	}
	.image {
		position: static;
		float:left;
		width: 115px;
		padding: 3px 6px 3px 0;
	}
	&.no-image .image {
		display: none;
	}
}
@mixin halfPhone {
	font-size: 0.9em;
	.item-inner {
		padding-top: 0;		
	}
	.image {
		position: static;
		float:left;
		width: 135px;
		padding: 3px 6px 3px 0;
	}
	&.no-image .image {
		display: none;
	}
}
@mixin lower {
	.item-headline {
		border-top: 1px dotted $borderColor;
		padding-top: $defaultPadding;
	}
}
@mixin noImage {
	.image {
		display: none;
	}
	.item-inner {
		padding-top: 0;
	}
}
@mixin XL {
	.XL2 {
		width: 16.6666666667%;
	}
	.XL3 {
		width: 25%;
	}
	.XL4 {
		width: 33.333333333%;
	}
	.XL6 {
		width: 50%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL8 {
		width: 66.666666667%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL12 {
		//@include doubleWidth;
		float: none;
		width: 100%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.XL-half {
		@include half;
	}
	.XL-lower {
		@include lower;
	}
	.XL-right {
		clear:right;
		float: right;
	}
	.XLT {
		@include itemTop;
	}
	.XLC {
		clear: both;
		padding-top: $defaultPadding/2;
	}
	.XLT-clear-right {
		clear: right;
		width: 66.6666667%;
		float:left;
	}
	.XL-double-width {
		@include doubleWidth;
	}
	.XL-no-image {
		@include noImage;
	}
	.XL-main {
		width: 66.66666667%;
		.item-inner {
			//padding-bottom: $defaultPadding/2;
		}
		.XLT {
			//padding-top: $defaultPadding/2;
			//margin-right: 0;
		}
		.list-title {
			//margin-right: 0;
		}
		.XL6 .item-headline {
			font-size: 1.15em;
		}
		.XL-cover .item-headline {
			font-size: 1.4em;
		}
	}
	.XL-side {
		width: 33.3333333%;
		.list-inner {
			border-right: 1px solid $borderColor;
			padding-right: $defaultPadding/2;
			margin-right: $defaultPadding/2;
			//background-color: $bannerBG;
		}
		.item-inner {
			padding-bottom: $defaultPadding/2;
		}
		.XLT {
			padding-top: $defaultPadding/2;
		}
	}
	.XL-list-oneline {
		width: 100%;
		float: left;
	}

	.XL-list-left {
		float: left;
		//clear: right;
	}
	.XL-list-right {
		float: right;
		.item-inner {
			//padding-right: 0;
			.image {
				//right: 0;
			}
		}
	}
	.no-side {
		.XL6 {
			@include doubleWidth;
		}
	}
}
@mixin L {
	.L2 {
		width: 16.6666666667%;
	}
	.L3 {
		width: 25%;
	}
	.L4 {
		width: 33.33333333%;
	}
	.L6 {
		width: 50%;
		//@include doubleWidth;
	}
	.L8 {
		width: 66.66666667%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.L12 {
		width: 100%;
		float: none;
		@include doubleWidth;
	}
	.LT {
		@include itemTop;
	}
	.L-half {
		@include half;
	}
	.L-lower {
		@include lower;
	}
	.L-double-width {
		@include doubleWidth;
	}
	.LC {
		clear: both;
		padding-top: $defaultPadding/2;
	}
	.L-right {
		clear:right;
		float: right;
		.item-headline {
			font-size: 1em;
		}
	}
	.L-no-image {
		@include noImage;
	}
	.L-no-lead {
		.item-headline {
			margin-bottom: 0;
		}
		.item-lead {
			display: none;
		}
	}
	.L-cover {
		.item-headline {
			font-size: 1.4em;
		}
	}
	.video-package {
		.LT {
			padding-top: $defaultPadding/3;
		}
	}
}
@mixin M {
	.M3 {
		width: 25%;
	}
	.M4 {
		width: 33.33333333%;
	}
	.M6 {
		width: 50%;
		//@include doubleWidth;
	}
	.M8 {
		width: 66.66666667%;
		.item-headline {
			font-size: 1.4em;
		}
	}
	.M12 {
		width: 100%;
		float: none;
	}
	.MT {
		@include itemTop;
	}
	.M-half {
		@include half;
		.item-tag, .item-time {
			display: none;
		}
	}
	.M-lower {
		@include lower;
	}
	.M-double-width {
		@include doubleWidth;
	}
	.MC {
		clear: both;
		padding-top: $defaultPadding/2;
	}
	.M-right {
		clear:right;
		float: right;
		.item-headline {
			font-size: 1em;
		}
	}
	.M-no-image {
		@include noImage;
	}
	.M-no-lead {
		.item-headline {
			margin-bottom: 0;
		}
		.item-lead {
			display: none;
		}
	}
	.M-cover {
		.item-headline {
			font-size: 1.4em;
		}
	}
	.video-package {
		.MT {
			padding-top: $defaultPadding/3;
		}
	}
}

@mixin S {
	.S3 {
		width: 25%;
	}
	.S4 {
		width: 33.33333333%;
	}
	.S6 {
		width: 50%;
	}
	.S12 {
		width: 100%;
		float: none;
	}
	.ST {
		@include itemTop;
	}
	.S-half {
		@include half;
	}
	.S-double-width {
		@include doubleWidth;
	}
	.SC {
		clear: both;
		padding-top: $defaultPadding/2;
	}
	.S-no-image {
		@include noImage;
	}
	.S-no-lead {
		.item-headline {
			margin-bottom: 0;
		}
		.item-lead {
			display: none;
		}
	}
	.S-cover {
		.item-headline {
			font-size: 1.4em;
		}
	}
	.video-package {
		.ST {
			padding-top: $defaultPadding/3;
		}
	}
}

@mixin P {
	body {
		font-size: 18px;
	}

	.P3 {
		width: 25%;
	}
	.P4 {
		width: 33.33333333%;
	}
	.P6 {
		width: 50%;
		.item-headline {
			font-size: 0.8em;
			margin-bottom: 0;
		}
	}
	.P12 {
		width: 100%;
		float: none;
	}
	.PT {
		@include itemTopPhone;
		padding-top: $defaultPadding/2;
	}
	.P-half {
		@include halfPhone;
	}
	.PC {
		clear: both;
		padding-top: $defaultPadding/2;
	}
	.P-no-image {
		@include noImage;
	}
	.P-no-lead {
		.item-headline {
			margin-bottom: 0;
		}
		.item-lead {
			display: none;
		}
	}
	.P-cover {
		.item-headline {
			font-size: 1.4em;
		}
	}
	.P-hide {
		display: none;
	}
	.P-only {
		display: block;
	}
	.video-package {
		.PT {
			padding-top: $defaultPadding/3;
		}
		.items {
			padding: 0 $defaultPadding/4 $defaultPadding/2 $defaultPadding/4;
		}
	}
	.items {
		padding: 0 $defaultPadding/4;
	}
	.item-inner {
		padding-bottom: $defaultPadding/2;
		padding-left: $defaultPadding/4;
		padding-right: $defaultPadding/4;
	}
	.image {
		left: $defaultPadding/4;
		right: $defaultPadding/4;
	}
	.item-tag {
		padding-bottom: $defaultPadding/4;
	}
	.item-time {
		padding-top: $defaultPadding/4;
	}
	.list-title{
		font-size: 0.9em;
	}
	.top10 {
		font-size: 0.9em;
	}

	.triplet-container {
		padding: 0 $defaultPadding * 0.25;
	}

	.has-side {
		&.side-left {
			.content-container {
				padding: 0;
			}
		}
	}
	.side-by-side {
		.list-title {
			margin-left: 0;
			margin-right: 0;
		}
		&.first.item-container {
			@include halfPhone;
		}
		.item-headline {
			font-size: 0.85em;
		}
	}

	.side-container {
		.item-container {
			&.first {
				padding: 0 $defaultPadding/2;
				.item-headline {
					width: auto;
					left: $defaultPadding/2;
					right: $defaultPadding/2;
					font-size: 0.9em;
				}
			}
			.item-headline {
				font-size: 0.9em;
			}
		}
		iframe {
			//display: none;
		}
	}
}