$borderColor: #cec6b9;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #936971;
$whiteColor: #FFF;
$headerTint: #936971;
$headerTintLight: #f2eae5;
$darkGreen: #27757b;
