.nav-place-holder {
	height: $navHeight + $subNavHeight + $defaultPadding;
}
.nav-container {
	background: $darkGrey;
	//margin-bottom: $defaultPadding;
	a {
		color: white;
	}
}
.nav-inner {
	position: relative;
	max-width: $maxWidth;
	padding: 0 $defaultPadding;
	margin: auto;
}
.nav-content {
	display: block;
	margin: auto;
	position: relative;
}
.nav {
	display: inline-block;
	>a {
		line-height: $navHeight;
		display: inline-block;
		padding: 0 $defaultPadding/2;
		border-width: 0;
		border-radius: 5px 5px 0 0;
		transition: all 0.3s linear;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
	}
	&.on>a, >a:hover, >a:active {
		background: $lightGrey;
	}
}
.subnav {
	//display: none;
	position: absolute;
	top: $navHeight;
	width: 100%;
	font-size: 14px;
	height: $subNavHeight;
	>li {
		display: inline-block;

		>a {
			display: inline-block;
			line-height: $subNavHeight;
			padding: 0 $defaultPadding/2;
			border-width: 0;
			&:hover, &:active {
				background: $darkGreen;
			}
		}

	}
	ul {
		display: none;
	}
}
.nav-right {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: $defaultPadding;
	height: $defaultPadding;
	width: $headerHeight;
    cursor: pointer;
    div {
    	width: 100%;
    	height: 100%;
    	margin: auto;
		background-image: url('http://static.ftchinese.com/images/search.svg');
	    background-repeat: no-repeat;
	    background-size: 20px 20px;
	    background-position: right 50%;
	    background-color: transparent;
    }
}
.nav-bottom {
	height: $subNavHeight;
	background: $lightGrey;
}
.subnav-right {
	float: right;
}
.subnav, .nav-bottom {
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	overflow: hidden;
}
.is-sticky {
	.nav-container {
		position: fixed;
		top: 0;
		left:0;
		right: 0;
		z-index:99999999999;
		height: $navHeight;
	}
	.subnav, .nav-bottom {
		//opacity: 0;
		display: none;
		//height: 0;
	}
	.nav {
		>a {
			border-radius: 0;
		}
		&.on>a, >a:hover, >a:active {
			border-radius: 0;
		}
	}
}
.no-svg {
	.nav-right {
	    div {
			background-image: url('http://static.ftchinese.com/images/png/search.png');
	    }
	}
}

@media only screen and (max-width: 490px) {
	.nav-container {
		display: none;
	}
	.nav-place-holder {
		height: $defaultPadding/2;
	}
}