
body, #mbagym-container, .bottom-part, .cmt_quote{
    background:#000!important;
    color:#AAA!important;
}
.side-container, .box-title a, table th, table tr, .oneStory, #mbagym-container ul.quizlist li, #gymslides .slide, .user_id, .list-title a.list-link{
    background:transparent!important;
    color:#AAA!important;
}
.side-container .list-title, .box-title, table caption, table tr.row-odd, table tbody tr:nth-child(2n), .image figure, .banner-content, #allcomments .commentcontainer, .commentcontainer, .ebook-image-container .ebook-image-inner:before, .book-title-container, #mbagym-container[theme="defau"] .quizlist li.selected, #mbagym-container .rightanswer, .toprecommend-part {
    background: #333!important;
}
.item-lead {
    color:#999!important;
}
a, .item-tag a, .item-headline a, .relative-container a, .item-time.highlight, .item-time, .block-container a, .cmt_oldcmt {
    color:#BBB!important;
}
.story-headline-large:after {
    border-color:#BBB!important;
}
.side-container .list-title a, button, .story-body, #allcomments .commentcontainer, .commentcontainer, .is-current, .story-body a, .top10 li span  {
    color: #AAA!important;
}
button.myft-follow {
    border-color: #BBB!important;
}
button.myft-follow.tick {
    background-color: transparent!important;
}
button.myft-follow.plus:before {
    background: none!important;
    content: '+';
    color: #BBB;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 20px;
}
#promo-box-container {
    display: none;
}
@media only screen and (min-width: 691px) {
    .has-side .content-inner {
        border-color: #333!important;
    }
}
.story-page.has-side {
    .content-inner {
        border-color: transparent!important;
    }
    .box-title {
        background-color: transparent!important;
    }
}
img {
    filter: gray !important;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}