.pagination-container {
	@include headerContainer;
	background-color: transparent;
	color: $darkGrey;
	//height: $headerHeight;
}
.pagination-inner {
	@include headerInner;
	height: $mastheadHeight;
	line-height: $mastheadHeight;
	margin-bottom: $defaultPadding;
	span, a {
		padding-right: $defaultPadding;
		font-weight: bold;
	}
	a {
		color: $darkGreen;
		&:hover, &:active {
			color: $darkGrey;
		}
	}
}