.photo-more {
	margin-top: $defaultPadding;
	clear: both;
}
.o-gallery--thumbnails.o-gallery--more{
height:auto;
background:#f6e9d8;
margin:14px 0;
padding-top:14px;
}
.o-gallery__item__caption.o-gallery__item__main {
color:white;
background:#333;
}
.o-gallery__item__caption.o-gallery__item__moretitle {
font-size:12px;
margin:0 10px;
}
.o-gallery__item__more {
vertical-align: top;
}
.ftscroller_x, .ftscroller_y{-webkit-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}