.app-download-container {
	display: none;
	width: 110px;
	top: 160px;
	_top: expression(documentElement.scrollTop + 160);
	left: 49%;
	margin: 0 0 0 $maxWidth/2;
	position: fixed;
	_position: absolute;
	z-index: 100;
	overflow: hidden;
	font: 12px/22px Arial;
	color: $darkGrey;
	&.wechat {
		top: 330px;
		_top: expression(documentElement.scrollTop + 330);
	}
	a {
		display: block;
		width: 110px;
		background: #F6E9D8;
		line-height: 0;
		text-align: center;
		position: relative;
		zoom: 1;
		color: $darkGrey;
	}
	figure {
		display: block;
		margin: auto;
		width: 90px;
		height: 90px;
	}
	div {
		display: block;
		text-align: center;
		line-height: 25px;
	}
}

@media only screen and (min-width: 1480px) {
	.app-download-container {
		display: block;
	}
}



// download button for WeChat
.app-download-bar-container {
	display: none;
	position: fixed;
	width: 100%;
	height: $headerHeight;
	bottom: 0;
	background-color: $darkGreen;
	z-index: 2;
}
.app-download-bar-inner {
	padding: $textPadding;
}
.app-download-bar-image {
	float: left;
	width: $headerHeight - $textPadding * 2;
	height: $headerHeight - $textPadding * 2;
	margin-right: $textPadding;
	figure {
		width: $headerHeight - $textPadding * 2;
		height: $headerHeight - $textPadding * 2;
	}
}
.app-download-bar-text {
	padding-left: $textPadding;
	line-height: $headerHeight/2 - $textPadding;
	color: white;
	font-size: 15px;
	b {
		display:block;
	}
}
.app-download-bar-button {
	float: right;
	background-color: #FFF1E0;
	height: $buttonHeight;
	line-height: $buttonHeight;
	margin-top: ($headerHeight - $textPadding * 2 - $buttonHeight)/2;
	margin-right: $textPadding;
}

@media only screen and (max-width: 490px) {
	.is-wechat {
		.app-download-bar-container {
			display: block;
		}
	}
}