.n-content-pullquote, .n-content-big-number {
    display: block;
    min-width: 41.66667%;
    max-width: 41.66667%;
    width: 41.66667%;
    margin-right: $defaultPadding;
    float: left;
    clear: both;
    p {
    	padding-bottom: 0;
    }
	@media only screen and (max-width: 490px), (max-width: 1024px) and (min-width: 691px) {
	    min-width: 100%;
	    max-width: 100%;
	    width: 100%;
	    margin: 0 $defaultPadding $defaultPadding 0;
	    padding: 0;
	    float: none;
	}
}
.n-content-big-number {
	margin-bottom: $defaultPadding;
}
.n-content-pullquote__content {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: $defaultPadding/2;
    padding-right: $defaultPadding/2;
    p {
    	padding-bottom: 0.5em;
    }
	&:before {
	    background-image: url(https://static.ftimg.net/icons/png/fticon-v1_speech-left.svg);
	    width: 44px;
	    height: 44px;
	    display: inline-block;
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: 50%;
	    background-color: transparent;
	    vertical-align: baseline;
	    content: "";
	    position: relative;
	    top: -8px;
	    left: -8px;
	}
}
.n-content-pullquote__footer {
    font-family: MetricWeb, sans-serif;
    font-size: 0.85em;
    color: #33302e;
}
.n-content-big-number__title {
    font-size: 3em;
    line-height: 100%;
    font-weight: bold;
}
.n-content-big-number__content {
	font-size: 0.9em;
	color: $lightGrey;
}