.n-content-blockquote {
	border-left: 4px solid #1a1817;
	padding-left: $defaultPadding * 0.5;
	&:before {
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50%;
		background-color: transparent;
		vertical-align: baseline;
		width: 36px;
		height: 36px;
		background-image: url(https://d1eeae5921l804.cloudfront.net/ftc-icons/svg/fticon-v1_speech-left.svg);
		content: "";
		position: relative;
		left: -7.2px;
		margin-top: -7.2px;
		margin-bottom: 1.6px;
	}
}
.n-content-pullquote, .n-content-big-number {
    display: block;
    margin-right: $defaultPadding;
    float: left;
	clear: both;
	max-width: 360px;
    p {
    	padding-bottom: 0;
    }
	@media only screen and (max-width: 490px), (max-width: 980px) and (min-width: 691px) {
	    margin: 0 $defaultPadding $defaultPadding 0;
	    padding: 0;
		float: none;
		max-width: 100%;
	}
}
.n-content-big-number {
	margin-bottom: $defaultPadding;
	min-width: 290px;
}
.n-content-pullquote__content {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: $defaultPadding*0.5;
    padding-right: $defaultPadding*0.5;
    p {
    	padding-bottom: 0.5em;
    }
	&:before {
	    background-image: url(https://d1eeae5921l804.cloudfront.net/icons/png/fticon-v1_speech-left.svg);
	    width: 44px;
	    height: 44px;
	    display: inline-block;
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: 50%;
	    background-color: transparent;
	    vertical-align: baseline;
	    content: "";
	    position: relative;
	    top: -8px;
	    left: -8px;
	}
}
.n-content-pullquote__footer {
    font-family: MetricWeb, sans-serif;
    font-size: 0.85em;
    color: #33302e;
}
.n-content-big-number__title {
    font-size: 2em;
    line-height: 100%;
	font-weight: bold;
	display: block;
	margin-bottom: $defaultPadding*0.5;
}
.n-content-big-number__content {
	font-size: 0.9em;
	color: $lightGrey;
}