@import "theme-default.scss";
@import "variables.scss";
.speaker-date-stamp {
    max-width: $maxWidth;
    margin: 0 auto;
    font-weight: bold;
    padding: $defaultPadding/2 0 0 $defaultPadding/2;
    font-size: 1.1em;
}
.speakers-section-container {
    max-width: $maxWidth;
    margin: $defaultPadding auto;
    // padding: 0 $defaultPadding;
}
.speakers-container {
    max-width: $maxWidth - $defaultPadding;
    img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: $defaultPadding/2;
    }
}
.speaker {
    // display: grid;
    // grid-template-columns: 120px 1fr;
    padding-bottom: $defaultPadding/2;
    margin-bottom: $defaultPadding/2;
    border-bottom: 1px solid $borderColor;
    cursor: pointer;
    padding: 0 $defaultPadding/2 $defaultPadding/2;
    &:last-child {
        border-width: 0;
    }
    .content {
        min-height: 100px;
    }
}
@supports (display: grid) {
    // .speaker {
    //     display: grid;
    //     grid-template-columns: 120px 1fr;
    // }
}

.speaker-name {
    font-weight: bold;
}
.speaker-intro {
    color: $lightGrey;
    font-weight: 0.8em;
}
#overlay-content {
    .overlay-content {
        width: auto;
        max-width: 600px;
    }
    .name {
        font-weight: bold;
        font-size: 1.7em;
        padding: 0;
    }
    .title {
        color: $lightGrey;
        padding: 0;
        margin-bottom: 1em;
    }
    img {
        float: right;
        width: 120px;
        height: 120px;
        margin: 5px 0 10px 10px;
    }
    .intro {
        padding: 0;

    }
}
@media all and (min-width: 490px) {
    @supports (display: grid) {
        .speakers-container {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
            grid-gap: 1rem;
        }
        .speaker {
            display: block;
            border-bottom-width: 0;
            padding: 0;
            .content {
                min-height: 0;
            }
            img {
                width: 160px;
                height: 160px;
                margin: 0 0 $defaultPadding/4 0;
                float: none;
            }
        }
        .speakers-section-container {
            .speakers-container {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
        .section-session {
            .speakers-container {
                justify-items: start;
            }
            .speaker {
                padding: 0;
                margin-bottom: 0;
            }
        }
    }
}