.story-container {
	padding: 0 $defaultPadding/2;
	max-width: 680px;
	margin: auto;
}
.story-headline {
	font-size: 1.6em;
	padding-bottom: $defaultPadding/2;
}
.story-body {
	font-size: 1.1em;
	color: $darkGrey;
	p {
		line-height: $goldenRatio;
		padding-bottom: 1em;
		text-indent: 2em;
		&:first-child {
			text-indent: 0;
			&:first-letter {
			display: block;
		    float: left;
		    margin: 3px 4px -14px 0;
		    font-size: 3.285714em;
		    line-height: 100%;
		    text-transform: uppercase;
		    font-weight: 400;
		    font-style: normal;
		    text-decoration: none;
				}
		}

	}
}

@include narrowSide;
.has-side .content-inner {
	border-color: transparent;
}
.side-container {
	background-color: transparent;
}
.story-page .mpu-container.first-child {
	padding-top: 0;
}
.story-theme {
	font-weight: bold;
	color: $red;
	padding-bottom: $defaultPadding/2;
	a {
		color: $red;
		&:hover, &:active {
			color: black;
		}
	}
}
.story-byline {
	padding-bottom: $defaultPadding/2;
}
.story-time {
	color: $timeGrey;
	font-size: 0.8em;
}
.story-author {
	font-size: 0.8em;
	a {
		color: $red;
		font-weight: bold;
		&:hover, &:active {
			color: black;
		}
	}
}
.image {
	&.story-image {
		position: static;
		margin: 0 auto $defaultPadding/2 auto;
		padding-bottom: 0;
	}
	&:hover, &:active {
		img {		
			transform: none;
		}
	}
	&.right-image {
		float: right;
		width: 50%;
		margin: 0 0 0 $defaultPadding/2;
		figure {
			padding-bottom: $portraitRatio;
		}
	}
}
.story-box {
	border: 1px solid $borderColor;
	margin-bottom: $defaultPadding;
}
.box-title {
	margin: -10px 0 $defaultPadding/2 $defaultPadding/3;
	font-size: 16px;
//	font-weight: normal;
	a {
		background-color: $defaultPink;
		padding: 0 $defaultPadding/3;
	}
}
.pagination-inner {
	text-align: right;
	height: $mastheadHeight;
	line-height: $mastheadHeight;
	span, a {
		padding-left: $defaultPadding;
		font-weight: bold;
	}
	a {
		color: $darkGreen;
		&:hover, &:active {
			color: black;
		}
	}
}