.progress-container {
	margin-top: 15px;
	position: relative;
	width: 40px;
	height: 40px;
	display: none;

}
@media screen and (min-width: 1400px) {
	.progress-container {
		display: block;
	}
}
.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
}

.pregress-tick {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}




.progress-container-watch {
	left: -40px;
	margin-top: 15px;
	position: absolute;
	width: 130px;
	height: 300px;
	display: none;
	background-color: transparent;
	background-size: contain;
	background-position: 50% 0;
	background-repeat: no-repeat;
}
.progress-watch-hour, .progress-watch-minute {
	background-color: transparent;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	height: 115px;
	position: absolute;
	top: 35px;
	left: -8px;
	right:0;
	margin: auto;
}
@media screen and (min-width: 1400px) {
	.progress-container-watch {
		display: block;
	}
}