
//XL related styles
@media only screen and (min-width: 1221px) {
	@include XL;
}

//L: large screen devices like pc and iPad landscape
@media only screen and (max-width: 1220px) and (min-width: 981px) {
	@include L;
}

// MARK: iPad related styles. It needs to be here so that it can be override for smaller break points. 
@media only screen and (max-width: 980px) {
	@include iPadPortrait;
}

//M: middle screen devices like iPad portrait
@media only screen and (max-width: 980px) and (min-width: 691px) {
	@include M;
}

//S smaller screens like iPhone 6s landscape
@media only screen and (max-width: 768px) and (min-width: 491px) {
	@include S;
	@include AudioStickyTop;
}

//S1 Story page for iPad Portrait
@media only screen and (max-width: 768px) {
	@include S1;
}

//HasSide screens that has side
@media only screen and (min-width: 769px) {
	@include HasSide;
	@include HasNoHeader;
}

@media only screen and (min-width: 981px) {
	@include FullNavigation;
	@include HasNoHeader;
}


//mobile phones portrait
@media only screen and (max-width: 490px) {
	@include P;
}

@media only screen and (max-width: 1220px) {
	@include NoneXL;
}

@media only screen and (max-width: 490px) {
    .rightPic,.leftPic{
    	margin:10px auto;
    	text-align:center;
    	font-size:0.9em;
    	color:#4d4845;
    	float:none;
    	width:100%;
    	img {
    		width: auto;
    		display: block;
    		margin: auto;
    	}
    }
    .story_main_mpu_vw {
    	display:block;
    }
    .leftp, .rightp {
		width: 100%; float: none;
	}
	.story-theme, .story-headline, .story-lead {
		padding-bottom: $defaultPadding*0.25;
	}
	.story-lead {
		font-size: 1em;
	}
	.story-byline {
		padding: $defaultPadding*0.25 0;
	}
    @include paginationPhone;
}

@media only screen and (max-width: 768px) {
	.story-box {
		margin: 0 $defaultPadding*0.5 $defaultPadding*0.5 $defaultPadding*0.5;
		//border: medium none;
		font-size: 0.9em;
	}
	.story-container {
		.story-theme {
			margin-top: $defaultPadding*0.5;
		}
	}
}

@media only screen and (max-width: 980px) {
	.ce {
		.content-inner {
			border: 0 !important; 
			padding: 0 !important;
			float: none !important;
		}
		.story-container {
			max-width: 100%;
			//padding: 0;
		}
		.has-side {
			.block-inner {
				padding: 0;
			}
			.content-container {
			    float: none;
			}
			.content-inner {
		    	border-right: 0;
		    	padding-right: 0;
			}
		}
		.side-container {
			float: none;
		    width: auto;
		    background-color: transparent;
		    margin-left: 0;
		    padding: 0 0 $defaultPadding*0.5 0;
		}
		.block-inner {
			padding: 0;
		}
	}
}
