a.rejob, .myemail, .sendemail {
  
  border: 1px solid $borderColor;
  //width: 100%;
  display: inline-block;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: 26px;
  border-radius: 5px;
  padding: 5px $defaultPadding/2;
  font-family: BentonSans,sans-serif;
  font-size: 14px;
  outline: 0;
  -webkit-transition: .15s box-shadow ease-in;
  transition: .15s box-shadow ease-in;
  background-clip: padding-box;
}
a.rejob, .sendemail {
	margin-bottom: $defaultPadding/2;
	background-color: rgba(255,255,255,.4);
	color: $darkGreen;
	text-align: center;
	font-weight: bold;
}
.myemail {
	display: inline;
	line-height: 30px;
	height: 30px;
	margin-bottom: $defaultPadding/2;
}
a.rejob {
	
}
