.progress-container {
	margin-top: 15px;
	position: relative;
	width: 40px;
	height: 40px;
	display: none;

}
@media screen and (min-width: 1400px) {
	.progress-container {
		display: block;
	}
}
.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
}

.pregress-tick {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}