.item-headline-link.locked, .item-headline .locked, .item-headline-link.unlocked, .item-headline .unlocked {
	display: inline-block;
	&:after {
	    content: " ";
	    display: inline-block;
	    width: 26px;
	    height: .8em;
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
		background-size: contain;
	}
	&.vip {
		&:after {
			content: '高端专享';
			width: auto;
			height: auto;
			font-size: 12px;
			line-height: 1em;
			font-weight: 600;
			text-align: center;
			display: inline-block;
			box-sizing: border-box;
			// MARK: - Use a negative top margin so that the sign is visually aligned middle
			margin: -4px 0 0 5px;
			text-decoration: none;
			padding: 3px 7px;
			border: 1px solid transparent;
			vertical-align: middle;
			color: white;
		}
	}
}
.free-to-read, .free-to-read-vip {
	&:after {
		width: auto;
		height: auto;
		font-size: 12px;
		line-height: 1em;
		font-weight: 600;
		text-align: center;
		display: inline-block;
		box-sizing: border-box;
		// MARK: - Use a negative top margin so that the sign is visually aligned middle
		margin: -4px 0 0 5px;
		text-decoration: none;
		padding: 3px 7px;
		border: 1px solid transparent;
		vertical-align: middle;
		color: white;
		background: #21a5b4;
	}
}
.free-to-read:after {
	content: '限免'
}
.free-to-read-vip:after {
	content: '高端限免'
}
.interactives {
	.item-headline-link.locked, .item-headline .locked, .item-headline-link.unlocked, .item-headline .unlocked {
		display: inline;
	}
}
.item-headline-link.locked, .item-headline .locked {
	&:after {
		background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNTU1NTU1IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE4IDhoLTFWNmMwLTIuNzYtMi4yNC01LTUtNVM3IDMuMjQgNyA2djJINmMtMS4xIDAtMiAuOS0yIDJ2MTBjMCAxLjEuOSAyIDIgMmgxMmMxLjEgMCAyLS45IDItMlYxMGMwLTEuMS0uOS0yLTItMnptLTYgOWMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6bTMuMS05SDguOVY2YzAtMS43MSAxLjM5LTMuMSAzLjEtMy4xIDEuNzEgMCAzLjEgMS4zOSAzLjEgMy4xdjJ6Ii8+PC9zdmc+);
	}
	&.vip {
		&:after {
			background: black;
		}
	}
}
.item-headline-link.unlocked, .item-headline .unlocked {
	&:after {
		background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMjc3NTdiIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyIDE3YzEuMSAwIDItLjkgMi0ycy0uOS0yLTItMi0yIC45LTIgMiAuOSAyIDIgMnptNi05aC0xVjZjMC0yLjc2LTIuMjQtNS01LTVTNyAzLjI0IDcgNmgxLjljMC0xLjcxIDEuMzktMy4xIDMuMS0zLjEgMS43MSAwIDMuMSAxLjM5IDMuMSAzLjF2Mkg2Yy0xLjEgMC0yIC45LTIgMnYxMGMwIDEuMS45IDIgMiAyaDEyYzEuMSAwIDItLjkgMi0yVjEwYzAtMS4xLS45LTItMi0yem0wIDEySDZWMTBoMTJ2MTB6Ii8+PC9zdmc+);
	}
	&.vip {
		&:after {
			background: $darkGreen;
		}
	}
}
.no-svg {
	.item-headline-link.locked, .item-headline .locked {
		&:after {
			background-image: url('https://d2785ji6wtdqx8.cloudfront.net/icon/png/lock-24x24.png');
		}
		&.vip {
			&:after {
				background: black;
			}
		}
	}
	.item-headline-link.unlocked, .item-headline .unlocked {
		&:after {
			background-image: url('https://d2785ji6wtdqx8.cloudfront.net/icon/png/unlock-24X24.png');
		}
		&.vip {
			&:after {
				background: $darkGreen;
			}
		}
	}
}


//subscribe-lock
@media only screen and (max-width: 350px) {
	#paywall-box {
		width: 80%;
		left: 10%;
	}

  	.lock-block{
		height: 80%;
	}
}

@media only screen and  (max-width: 980px) and (min-width: 351px) {
	#paywall-box {
		width: 70%;
		left: 15%;
	}

  	.lock-block{
		height: 70%;
	}
}

@media only screen and (min-width: 600px) {
	#paywall-box {
		width: 50%;
		left: 25%;
	}

  	.lock-block{
		height: 50%;
	}
}

.paywall-hint-container {
    // position: relative;
    overflow: visible;
	display: none;
}

.paywall-overlay-shadow {
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}


#paywall-box{
	display: flex;
    justify-content: center;
    flex-direction: column;

	position: fixed;
	overflow: visible;
	z-index: 60;
	font-size:15px;
	opacity: 1;
	height: 40%;
	bottom: 30%;
	background: #faeadd;	
	overflow: visible;  
	.lock-block{
		width: 100%;
		display: flex;
    	flex-direction: column;
		justify-content: space-between;
	}
    .lock-content{		
      width: 100%;
	  text-align: center;
      padding-bottom: 15px;
	  a{
		color: #26747a;
	  }
    }

    .subscribe-btn{
	  bottom: 10px;
      text-align: center;
      width: 100%;
      color:white;
	  a{
		color: white;
		background-color: #0d7680;
		display: inline-block;
		letter-spacing: 3px;
		height: 30px;
		line-height: 30px;
		width: 150px;
		text-align: center;
		font-size: 14px;
		border-radius: 1px;
	  }

    }

}