.tag-about {
	padding:$defaultPadding/2 $defaultPadding;
	font-size: 0.9em;
	line-height: $goldenRatio;
	color: $lightGrey;
	//font-weight: bold;
}
.mpu-container {
	&.first-child {
		padding-top: $defaultPadding;
	}
	&.last-child iframe {
		margin: 0 auto;
	}
}
.story-box.last-child {
	margin-bottom: 0;
}