$defaultPink: #000;
$borderColor: #cec6b9;
$bannerBG: #777;
$darkTint: #505050;
$sideBorderColor: #A7A59B;
$footerBorder: #777;
$whiteColor: #FFF;
$headerTint: #333;
$headerTintLight: #505050;
$darkGreen: #27757b;
$fontColor: #FFF;
$titleColor: #FFF;
$lightFontColor: #FFF;
$highlightColor: #FFF;
