$defaultPink: white;
$borderColor: #cec6b9;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #6a9390;
$whiteColor: #FFF;
$headerTint: #FFF1E0;
$headerTintLight: $bannerBG;
$headerColor: #333;
$headerDeliminatorColor: #333;
$darkGreen: #0a5e66;
$fontColor: #333;
$lightFontColor: #505050;
$visitedLink: #66605c;
$titleColor: #000;
$leadColor: #777;
$highlightColor: #9E2F50;
$mastHead: url('https://thumbor.ftacademy.cn/unsafe/picture/1/000132361_piclink.png');
$logoPNG: url('https://thumbor.ftacademy.cn/unsafe/picture/1/000132361_piclink.png');
$logoSVG: url('https://thumbor.ftacademy.cn/unsafe/picture/1/000132361_piclink.png');
$hamberger: 'hamburger';
$search: 'search';
$cross: 'cross';
$arrowDown: 'arrow-down';
$arrowRight: 'arrow-right';
$arrowUp: 'white/arrow-up-white';
$arrowLeft: 'white/arrow-left-white';
@mixin navBottomMobile {
    box-shadow: 0 1px 3px rgb(77 72 69 / 20%), 0 6px 10px rgb(77 72 69 / 15%);
}
// MARK: - Override Colors
.story-hero-content, .story-hero-topper-container {
    background-color: $defaultPink!important;
}