$defaultPink: #FFF1E5;
$borderColor: #d7c29e;
$bannerBG: #f5e4ce;
$darkTint: #d7c29e;
$sideBorderColor: #d7c29e;
$footerBorder: #d7c29e;
$whiteColor: #f5e4ce;
$headerTint: #272B33;
$headerTintLight: #505050;
$headerColor: white;
$darkGreen: #a88e60;
$fontColor: #333;
$lightFontColor: #505050;
$visitedLink: #66605c;
$leadColor: #777;
$titleColor: #000;
$highlightColor: #9E2F50;