$defaultPink: #FFF1E5;
$borderColor: #cec6b9;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #000;
$whiteColor: #FFF;
$headerTint: $defaultPink;
$headerTintLight: #fff9f5;
$headerColor: #333;
$headerDeliminatorColor: #333;
$darkGreen: #0a5e66;
$fontColor: #333;
$lightFontColor: #505050;
$visitedLink: #66605c;
$titleColor: #000;
$leadColor: #777;
$highlightColor: #9E2F50;
$header_underline_color: #000;
$mastHead: url('https://d1sh1cgb4xvhl.cloudfront.net/unsafe/picture/9/000132359_piclink.png');
$mastHeadBig5: url('https://d1sh1cgb4xvhl.cloudfront.net/unsafe/picture/6/000132936_piclink.png');
$logoPNG: url('https://d1sh1cgb4xvhl.cloudfront.net/unsafe/picture/1/000132361_piclink.png');
$logoSVG: url('https://d2hgac2iiu3amu.cloudfront.net/picture/3/000132363_piclink.svg');
$hamberger: 'hamburger';
$search: 'search';
$cross: 'cross';
$arrowDown: 'arrow-down';
$arrowRight: 'arrow-right';
$arrowUp: 'arrow-up';
$arrowLeft: 'arrow-left';

$arrowRightWhite: 'white/arrow-right-white';
$arrowUpWhite: 'white/arrow-up-white';
$arrowDownWhite: 'white/arrow-down-white';

@mixin my-account-icon() {
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><circle cx="512" cy="409.5" r="102.4" fill="%2333302E"/><path d="M512 563.1c-128 0-179.2 25.6-179.2 102.4v102.6h358.4V665.5c0-77.3-51.2-102.4-179.2-102.4z" fill="%2333302E"/></svg>');
}

// MARK: - These properties are optional, some other themes might not have it
$navBorderOptional: #ccc1b7;

@mixin navBottomMobile {
    box-shadow: 0 1px 3px rgb(77 72 69 / 20%), 0 6px 10px rgb(77 72 69 / 15%);
}