$defaultPink: #FFF1E5;
$borderColor: #d7c29e;
$bannerBG: #f5e4ce;
$darkTint: #d7c29e;
$sideBorderColor: #d7c29e;
$footerBorder: #d7c29e;
$whiteColor: #f5e4ce;
$headerTint: #272B33;
$headerTintLight: #505050;
$headerColor: white;
$darkGreen: #a88e60;
$fontColor: #333;
$lightFontColor: #505050;
$visitedLink: #66605c;
$leadColor: #777;
$titleColor: #000;
$highlightColor: #9E2F50;
$mastHead: url('https://dhgxl8qk9zgzr.cloudfront.net/images/masthead36.png');
$logoPNG: url('https://dhgxl8qk9zgzr.cloudfront.net/img/png/brand-ftc-masthead-white.png');
$logoSVG: url('https://dhgxl8qk9zgzr.cloudfront.net/img/svg/brand-ftc-masthead-white.svg');
$hamberger: 'white/hamburger-white';
$search: 'white/search-white';
$cross: 'white/cross-white';
$arrowDown: 'white/arrow-down-white';
$arrowRight: 'white/arrow-right-white';