$defaultPink: #FFFFFF;
$borderColor: #cec6b9;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #6a9390;
$whiteColor: #FFF;
$headerTint: #6a9390;
$headerTintLight: #505050;
$darkGreen: #000000;
$fontColor: #333;
$lightFontColor: #505050;
$titleColor: #000;
$highlightColor: #9E2F50;