$defaultPink: #FFF1E5;
$borderColor: #A7A59B;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #990f3d;
$whiteColor: #FFF;
$headerTint: #990f3d;
$headerTintLight: #505050;
$headerColor: white;
$headerDeliminatorColor: #fdf8f2;
$darkGreen: #0a5e66;
$fontColor: #333;
$lightFontColor: #505050;
$visitedLink: #66605c;
$titleColor: #000;
$leadColor: #777;
$highlightColor: #9E2F50;
$mastHead: url('https://dhgxl8qk9zgzr.cloudfront.net/images/masthead36.png');
$logoPNG: url('https://dhgxl8qk9zgzr.cloudfront.net/img/png/brand-ftc-masthead-white.png');
$logoSVG: url('https://dhgxl8qk9zgzr.cloudfront.net/img/svg/brand-ftc-masthead-white.svg');
$hamberger: 'white/hamburger-white';
$search: 'white/search-white';
$cross: 'white/cross-white';
$arrowDown: 'white/arrow-down-white';
$arrowRight: 'white/arrow-right-white';
$arrowUp: 'white/arrow-up-white';
$arrowLeft: 'white/arrow-left-white';
@mixin navBottomMobile {
    box-shadow: none;
}