$defaultPink: white;
$borderColor: #cec6b9;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #6a9390;
$whiteColor: #FFF;
$headerTint: #FFF1E0;
$headerTintLight: #505050;
$headerColor: #333;
$darkGreen: #0a5e66;
$fontColor: #333;
$lightFontColor: #505050;
$visitedLink: #66605c;
$titleColor: #000;
$leadColor: #777;
$highlightColor: #9E2F50;