$defaultPink: #000;
$borderColor: #cec6b9;
$bannerBG: #777;
$darkTint: #505050;
$sideBorderColor: #A7A59B;
$footerBorder: #000;
$whiteColor: #FFF;
$headerTint: #272B33;
$headerTintLight: #505050;
$headerColor:white;
$darkGreen: #0a5e66;
$fontColor: #FFF;
$titleColor: #FFF;
$leadColor: #777;
$visitedLink: #FFF;
$lightFontColor: #FFF;
$highlightColor: #FFF;
