$defaultPink: #1f2632;
$borderColor: #cec6b9;
$bannerBG: #333333;
$darkTint: #505050;
$sideBorderColor: #A7A59B;
$footerBorder: #000;
$whiteColor: #FFF;
$headerTint: #333;
$headerTintLight: #505050;
$headerColor: white;
$darkGreen: #0a5e66;
$fontColor: #FFF;
$titleColor: #FFF;
$leadColor: #FFF;
$visitedLink: #FFF;
$lightFontColor: #FFF;
$highlightColor: #FFF;