$defaultPink: #1f2632;
$borderColor: #cec6b9;
$bannerBG: #333333;
$darkTint: #505050;
$sideBorderColor: #A7A59B;
$footerBorder: #000;
$whiteColor: #FFF;
$headerTint: #333;
$headerTintLight: #505050;
$headerColor: white;
$headerDeliminatorColor: #fdf8f2;
$darkGreen: #0a5e66;
$fontColor: #FFF;
$titleColor: #FFF;
$leadColor: #FFF;
$visitedLink: #FFF;
$lightFontColor: #FFF;
$highlightColor: #FFF;
$mastHead: url('https://dhgxl8qk9zgzr.cloudfront.net/images/masthead36.png');
$logoPNG: url('https://dhgxl8qk9zgzr.cloudfront.net/img/png/brand-ftc-masthead-white.png');
$logoSVG: url('https://dhgxl8qk9zgzr.cloudfront.net/img/svg/brand-ftc-masthead-white.svg');
$hamberger: 'white/hamburger-white';
$search: 'white/search-white';
$cross: 'white/cross-white';
$arrowDown: 'white/arrow-down-white';
$arrowRight: 'white/arrow-right-white';
$arrowUp: 'white/arrow-up-white';
$arrowLeft: 'white/arrow-left-white';
@mixin navBottomMobile {
    box-shadow: none;
}