$defaultPink: #FFF1E5;
$borderColor: #cec6b9;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #000;
$whiteColor: #FFF;
$headerTint: $defaultPink;
$headerTintLight: #fff9f5;
$headerColor: #333;
$headerDeliminatorColor: #333;
$darkGreen: #0a5e66;
$fontColor: #333;
$lightFontColor: #505050;
$visitedLink: #66605c;
$titleColor: #000;
$leadColor: #777;
$highlightColor: #9E2F50;
$mastHead: url('https://dhgxl8qk9zgzr.cloudfront.net/img/ftcLogoHD.png');
$logoPNG: url('https://dhgxl8qk9zgzr.cloudfront.net/img/png/brand-ftc-masthead.png');
$logoSVG: url('https://dhgxl8qk9zgzr.cloudfront.net/img/svg/brand-ftc-masthead.svg');
$hamberger: 'hamburger';
$search: 'search';
$cross: 'cross';
$arrowDown: 'arrow-down';
$arrowRight: 'arrow-right';
$arrowUp: 'arrow-up';
$arrowLeft: 'arrow-left';

$arrowRightWhite: 'white/arrow-right-white';
$arrowUpWhite: 'white/arrow-up-white';
$arrowDownWhite: 'white/arrow-down-white';

// MARK: - These properties are optional, some other themes might not have it
$navBorderOptional: #ccc1b7;

@mixin navBottomMobile {
    box-shadow: 0 1px 3px rgb(77 72 69 / 20%), 0 6px 10px rgb(77 72 69 / 15%);
}