$defaultPink: #FFF1E5;
$borderColor: #cec6b9;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #000;
$whiteColor: #FFF;
$headerTint: #272B33;
$headerTintLight: #505050;
$headerColor: white;
$headerDeliminatorColor: #fdf8f2;
$darkGreen: #0a5e66;
$fontColor: #333;
$lightFontColor: #505050;
$visitedLink: #66605c;
$titleColor: #000;
$leadColor: #777;
$highlightColor: #9E2F50;
$mastHead: url('https://d2pp5jzfsu1xgq.cloudfront.net/images/masthead36.png');
$mastHeadBig5: url('https://thumbor.ftacademy.cn/unsafe/picture/7/000132937_piclink.png');
$logoPNG: url('https://d2pp5jzfsu1xgq.cloudfront.net/img/png/brand-ftc-masthead-white.png');
$logoSVG: url('https://d2pp5jzfsu1xgq.cloudfront.net/img/svg/brand-ftc-masthead-white.svg');
$hamberger: 'white/hamburger-white';
$search: 'white/search-white';
$cross: 'white/cross-white';
$arrowDown: 'white/arrow-down-white';
$arrowRight: 'white/arrow-right-white';
$arrowUp: 'white/arrow-up-white';
$arrowLeft: 'white/arrow-left-white';

@mixin navBottomMobile {
    box-shadow: none;
}