$defaultPink: #FFF1E0;
$borderColor: #B6A67F;
$bannerBG: #E0CDAC;
$darkTint: #B6A67F;
$sideBorderColor: #B6A67F;
$footerBorder: #B6A67F;
$whiteColor: #E0CDAC;
$headerTint: #333;
$headerTintLight: #505050;
$darkGreen: #B6A67F;
$fontColor: #333;
$lightFontColor: #505050;
$titleColor: #000;
$highlightColor: #9E2F50;