// tints
$defaultPink: #FFF1E0;
$lightPink: $bannerBG;

// colors
$darkGrey: #333333;
$lightGrey: #505050;
$timeGrey: #8b572a;
$red: #9E2F50;
$blue: #2e6e9e;
$overlayTitleColor: #918F83;
$opaque: rgba(0,0,0,0.7);

// width, height and padding
$defaultPadding: 30px;
$textPadding: 5px;
$maxAdWidth: 1200px;
$maxWidth: 2*$defaultPadding + $maxAdWidth;
$maxAdWidthIE: $maxAdWidth;
$maxWidthIE: 2*$defaultPadding + $maxAdWidthIE;
$maxWidthL: 969px;
$mastheadHeight: 36px;
$headerHeight: 57px;//$mastheadHeight*1.4;
$headerContainerHeight: 57px;
$navHeight: 44px;
$buttonHeight: 36px;
$subNavHeight: 30px;
$iconWidth: 24px;

$listTitleHeight: 20px;
$bannerHeight: 90px;
$sideInnerWidth: 300px;
$sideWidth: 2*$defaultPadding + $sideInnerWidth;
$beltHeight: 30px;

//ratios
$goldenRatio: 161.8%;
$figureHeight: 56.25%;
$portraitRatio: $goldenRatio;