// colors
$darkGrey: #33302e;
$lightGrey: #505050;
$lighterGrey: #777;
$timeGrey: #8b572a;
$red: #990f3d;
$blue: #2e6e9e;
$blueBG: #275c85;
$blueBGFT: #0f5499;
$blueBorderFT: #0a3866;
$lightBlueBGFT: #cce6ff;
$pinkBGFT: #f2dfce;
$yellowBGFT: #ffec1a;
$purpleBGFT: #593380;
$whiteBGFT: #fff7ef;
$whiteBorderFT: #f2e5da;
$overlayTitleColor: #918F83;
$opaque: rgba(0,0,0,0.7);
$correct: #458b00;
$wrong: #CC0000;
$lightGreenBorder: #ced4cc;
$teal: #0D7680;
$disabledButtonColor: #CCC1B7;
$crimson: #CC0000;
$gold: #fcd0b1;

// App
$appBottomAppTint: #f7e9d8;

// width, height and padding
$defaultPadding: 30px;
$textPadding: 5px;
$audioProgressHeight: 6px;
$audioScrubHeight: 14px;
$narrowBlockWidth: 728px;
$chatWidth: 768px;
$maxAdWidth: 1200px;
$maxWidth: 2*$defaultPadding + $maxAdWidth;
$maxAdWidthIE: $maxAdWidth;
$maxWidthIE: 2*$defaultPadding + $maxAdWidthIE;
$maxWidthL: 969px;
$mastheadHeight: 36px;
$mastheadHeightApp: 21px;
$headerHeight: 57px;//$mastheadHeight*1.4;
$headerContainerHeight: 57px;
$navHeight: 44px;
$logoHeight: 32px;
$shareButtonWidth: 40px;
$buttonHeight: 36px;
$subNavHeight: 30px;
$iconWidth: 24px;
$headshotWidth: 60px;
$listTitleHeight: 20px;
$bannerHeight: 90px;
$sideInnerWidth: 300px;
$sideWidth: 2*$defaultPadding + $sideInnerWidth;
$beltHeight: 30px;
$followButtonPadding: 10px;
$followButtonSignWidth: 12px;
$largeHeadlineFontSize: 32px;
$headlineUnderlineWidth: 180px;
$headlineUnderlineHeight: 8px;
$storyMaxWidth: 768px;
$columnistHeadshotWidth: 100px;

//ratios
$goldenRatio: 161.8%;
$figureHeight: 56.25%;
$figureHeightPortrait: 133.3333333333%;
$figureHeightWide: 33.33333333333%;
$portraitRatio: $goldenRatio;
$captionLineHeight: 140%;