// tints
$lightPink: $bannerBG;

// colors
$darkGrey: #33302e;
$lightGrey: #505050;
$visitedLink: #66605c;
$lighterGrey: #777;
$timeGrey: #8b572a;
$red: #990f3d;
$blue: #2e6e9e;
$blueBG: #275c85;
$overlayTitleColor: #918F83;
$opaque: rgba(0,0,0,0.7);
$correct: #458b00;
$wrong: #c00;
$lightGreenBorder: #ced4cc;
$teal: #0D7680;
$disabledButtonColor: #CCC1B7;

// width, height and padding
$defaultPadding: 30px;
$textPadding: 5px;
$audioProgressHeight: 6px;
$audioScrubHeight: 14px;
$narrowBlockWidth: 728px;
$maxAdWidth: 1200px;
$maxWidth: 2*$defaultPadding + $maxAdWidth;
$maxAdWidthIE: $maxAdWidth;
$maxWidthIE: 2*$defaultPadding + $maxAdWidthIE;
$maxWidthL: 969px;
$mastheadHeight: 36px;
$headerHeight: 57px;//$mastheadHeight*1.4;
$headerContainerHeight: 57px;
$navHeight: 44px;
$shareButtonWidth: 40px;
$buttonHeight: 36px;
$subNavHeight: 30px;
$iconWidth: 24px;
$headshotWidth: 60px;
$listTitleHeight: 20px;
$bannerHeight: 90px;
$sideInnerWidth: 300px;
$sideWidth: 2*$defaultPadding + $sideInnerWidth;
$beltHeight: 30px;
$followButtonPadding: 10px;
$followButtonSignWidth: 12px;
$largeHeadlineFontSize: 32px;
$headlineUnderlineWidth: 180px;
$headlineUnderlineHeight: 8px;
$storyMaxWidth: 700px;

//ratios
$goldenRatio: 161.8%;
$figureHeight: 56.25%;
$figureHeightPortrait: 133.3333333333%;
$figureHeightWide: 33.33333333333%;
$portraitRatio: $goldenRatio;
$captionLineHeight: 140%;