// colors
$defaultPink: #FFF1E0;
$bannerBG: #F6E9D8;
$lightPink: $bannerBG;
$darkGrey: #333333;
$lightGrey: #505050;
$red: #9E2F50;
$blue: #2e6e9e;
$darkGreen: #27757b;
$borderColor: #cec6b9;

// width, height and padding
$defaultPadding: 20px;
$textPadding: 5px;
$maxAdWidth: 1360px;
$maxWidth: 2*$defaultPadding + $maxAdWidth;
$mastheadHeight: 27px;
$headerHeight: $mastheadHeight + 2*$defaultPadding;
$navHeight: 38px;
$subNavHeight: 30px;
$listTitleHeight: 20px;
$bannerHeight: 90px;
$sideWidth: 2*$defaultPadding + 300;
$beltHeight: 39px;

$goldenRatio: 161.8%;
$figureHeight: 56.25%;