// .top10 {
// 	&.related-videos {
// 		li {
// 			//line-height: 46px;
// 			font-weight: bold;
// 		}
// 		.image {
// 			float: left;
// 			padding: 2px $defaultPadding/2 $defaultPadding/2 0;
// 			width: 167px;
// 		}
// 	}

// }

.side-container {
    .related-videos{
    	&.interactives {
    		.item-inner {
    			padding-bottom: 0;
    		}
	        .item-headline {
	            padding: $defaultPadding*0.5;
	        }
    	}
    }
}

.item-lead {
	p {
		margin-bottom: 1em;
	}
}

.mps {
	&.last-child {
		margin-bottom: 0;
	}
}
.last-child {
	.top10 {
		padding-bottom: 0;
		li:last-child {
			padding-bottom: 0;
		}
	}
}

.video-story {
	.item-inner {
		padding: 0 $defaultPadding*0.5 $defaultPadding $defaultPadding*0.5;
	}
}
.video-player {
	margin-bottom: $defaultPadding;
	position: relative;
	padding-top: $figureHeight;
	background: black;
}
.video-player-inner {
	position: absolute;
	width: 100%;
	top:0;
	left:0;
}
// MARK: - CC Video has some bug, fix it here. If we stop using CC Video as our video vendor, this line can be removed
.ccH5playerBox.ccH5PlayerBoxFixed {
	z-index: 999!important;
	left: 0!important;
}
//mobile phones portrait
@media only screen and (max-width: 490px) {
	.video-list-container {
		.item-inner {
			padding: 0 0 $defaultPadding 0;
		}
		.items {
			padding: 0;
		}
		.story-headline, .story-action, .story-byline, .story-lead{
			padding-left: $defaultPadding*0.5;
			padding-right: $defaultPadding*0.5;
		}
	}

	.video-body-container {
		padding: 0 $defaultPadding*0.5;
	}
}

// MARK: - Try to Address CC Video bugs for iPad
@media only screen and (max-width: 1024px) and (min-width: 768px){
	.side-container { 
		display: none; 
	}
	.has-side {
		.content-inner {
			border: 0; 
			padding: 0;
		}
		.block-inner {
			padding-right:$defaultPadding*0.5;
		}
	}
}
@import "subscriber-lock.scss";