// .top10 {
// 	&.related-videos {
// 		li {
// 			//line-height: 46px;
// 			font-weight: bold;
// 		}
// 		.image {
// 			float: left;
// 			padding: 2px $defaultPadding/2 $defaultPadding/2 0;
// 			width: 167px;
// 		}
// 	}

// }

.side-container {
    .related-videos{
    	&.interactives {
    		.item-inner {
    			padding-bottom: 0;
    		}
	        .item-headline {
	            padding: $defaultPadding/2;
	        }
    	}
    }
}

.item-lead {
	p {
		margin-bottom: 1em;
	}
}

.mps {
	&.last-child {
		margin-bottom: 0;
	}
}
.last-child {
	.top10 {
		padding-bottom: 0;
		li:last-child {
			padding-bottom: 0;
		}
	}
}

.video-story {
	.item-inner {
		padding: 0 $defaultPadding/2 $defaultPadding $defaultPadding/2;
	}
}
.video-player {
	margin-bottom: $defaultPadding;
	position: relative;
	padding-top: $figureHeight;
	background: black;
}
.video-player-inner {
	position: absolute;
	width: 100%;
	top:0;
	left:0;
}

//mobile phones portrait
@media only screen and (max-width: 490px) {
.video-list-container {
	.item-inner {
		padding: 0 0 $defaultPadding 0;
	}
	.items {
		padding: 0;
	}
	.story-headline, .story-action, .story-byline, .story-lead{
		padding-left: $defaultPadding/2;
		padding-right: $defaultPadding/2;
	}
}

}