
.iap-vip-container{
	// color: white;
	.iap-info{
		border-bottom:solid #ded5d5 1px;
		margin: 0 1em 0;
		font-size: 1.1em;
        padding-bottom: 10px;
		label{
			font-weight: bold;
		}
        .info-container{
            margin: 10px 0 0px;
        }
	}
	.headline{
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.iap-intruction{
		margin: 1em !important;
	}

    .hint-container{
        margin: 15px 0 0px;
    }
    .hint-box{
        padding:0px 0px 5px;
    }
	.hint-headline{
		font-size: 1.1em;
		font-weight: 600;
		// margin: 15px 0 5px;
	}
	.hint-content{
		font-size: 1.0em; 
	}

	.policy{
		border-bottom:solid #ded5d5 0.5px;
		padding: 5px 0px;	
		span{
			float:right;
		}
	}


}