<%assign var="p" value=$nextmodel->getPublishJson($pageId)|json_decode:true%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<style><%include file="next/styles/main-innotree.css"%></style>
<style>
* {padding:0;margin:0;border:0;}
.lineH{line-height: 1.618 !important;}
.lineH1{line-height: 1 !important;}
.lineH1_2{line-height: 1.2 !important;}
.lineH1_4{line-height: 1.4 !important;}
html{-webkit-text-size-adjust: none;}

img,div,p,table,td,tr{max-width:100%;}
.mainTD{width:100%;max-width:100%;}

@media all and (max-width: 450px) {
.mainTD{width:100%;max-width:450px;}

#containerTable {
*width: 400px !important;
_width: 400px !important;
width: 100% !important;
}


.ft-logo {
font-size:26px !important;line-height:1.2 !important;height:26px !important;text-align:center !important;
}
.ft-logo-briefing {
font-size:5px !important;line-height:1 !important;height:5px !important;
}
.ft-desc {
font-size:13px !important;line-height:1.2 !important;color:#505050 !important;text-align:center !important;font-weight:bold !important;
}

.textPadding {
padding-left:10px !important;padding-right:10px !important;
}

.largeViewBar,.HSpace{display: none !important;}
.tableBorder{border:0 !important;}
}
@media all and (min-width: 451px) {
.mainTD{width:100%;max-width:450px;}
#containerTable {
*width: 400px !important;
_width: 400px !important;
width: 100% !important;
}

.openInBrowserGap {
height: 10px !important; font-size: 8px !important; line-height: 1.2 !important; padding: 0 !important;
}
.contentPadding {
width: 45px !important;
}
.bottomContentPadding {
height: 43px !important; font-size: 43px !important; line-height: 1 !important; padding: 0 !important;
}

.ft-logo {
font-size:53px !important;line-height:1 !important;height:53px !important;text-align:center !important;
}
.ft-logo-briefing {
font-size:2px !important;line-height:1 !important;height:2px !important;
}
.ft-desc {
font-size:13px !important;line-height:1.2 !important;color:#505050 !important;text-align:center !important;font-weight:bold !important;
}


.textPadding {
padding-left:17px !important;padding-right:17px !important;
}

}
@media all and (min-width: 720px) {
.mainTD{width:100%;max-width:720px;}

#containerTable {
width: 720px !important;
}
}
.items a {
    color: #666;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Innotree - FT中文网</title>
<script    src="http://static.ftchinese.com/js/jquery-1.10.2.min.js?0"></script>
<script type="text/javascript">
    <%include file="next/scripts/innotree.js"%>
</script>
</head>
<!-- htmlmin:ignore -->
<body style="width:100%;color:#111111;background-color:#FFFFFF;font-family:" Hiragino Sans GB ","WenQuanYi Micro Hei ","Heiti
    SC ",STHeiti,SimSun,sans-serif;font-size:14px;">
    <div class="mainTD"style=" background-color:#FFF1E0; display: table; margin: 0 auto; text-align: center; ">
        <table border="0" cellspacing="0" cellpadding="0" id="containerTable" style="background-color:#FFF1E0; display: table; margin: 0 auto; text-align: center; width: 720px; "
            align="center">

            <tr>
                <td class="lineH1" style="height: 3px; font-size: 3px; line-height: 3px; padding: 0;">&nbsp;</td>
            </tr>

            <tr>
                <td class="lineH1_2" style="text-align: center; font-size: 11px; line-height: 13px;  color: #505050;">如果您无法正常显示邮件, <a href="<%$smarty.server.REQUEST_URI%>" style="color: #2e6e9e; text-decoration: none;">请点击此处</a></td>
            </tr>

            <tr>
                <td class="lineH1 openInBrowserGap" style="height: 10px; font-size: 10px; line-height: 10px; padding: 0;">&nbsp;</td>
            </tr>

            <tr>
                <td style="padding-left: 10px; padding-right: 10px;">
                    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                        <tr>
                            <td class="ft-logo lineH1" style="font-size:43px;line-height:43px;height:43px;text-align:center; width: 100%;">
                                <a href="http://www.ftchinese.com" target="_blank"><img id="ft-logo-img" src="http://i.ftimg.net/picture/6/000071546_piclink.jpg" style="width: 320px;height: 42px; color: #091523; font-size: 25px; border: 0 none;" alt="FT中文网-INNOTREE"
title="FT中文网-INNOTREE" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:4px;line-height:4px;height:4px;" class="ft-logo-briefing lineH1">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="ft-desc lineH1_2" style="font-size:13px;line-height:16px;color:#505050;text-align:center;font-weight:bold;">
                                <%$smarty.now|date_format:"%Y年%m月%d日"%>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    <div class="block-container" style="margin-top: 20px;">
    <div class="block-inner">
    <div class="content-container">
    <div class="content-inner">
        <div class="list-container">
            <div class="list-inner">
                <h2 class="list-title"><a class="list-link">栏目介绍</a></h2>
                <div  style="font-size:.9em;padding: 0 15px 30px;">
        本栏目由FT中文网与美国科技新闻网站The Information联合出品，定期呈现中国互联网投资领域最新动态。数据来源于人工智能信息服务平台因果树。
        </div>
            </div>
        </div>	
    <div class="clearfloat block-bottom"></div>
    </div><!--content-inner结束-->
    </div><!--content-container结束-->
    <div class="clearfloat"></div>
    </div><!--block-inner结束-->
    </div><!--block-container has-side结束-->

        <div class="block-container">
    <div class="block-inner">
    <div class="content-container">
        <div class="content-inner" id="content-inner">
        <div class="clearfloat block-bottom"></div>
        </div><!--content-inner结束-->
    </div><!--content-container结束-->

    <div class="clearfloat"></div>
</div><!--block-inner结束-->
</div><!--block-container has-side结束-->
<div class="pagination-container" style="margin: 0 30px;">
    <div class="pagination-inner" style="font-size: 1em;">
        <a href="http://www.innotree.cn/"><img src="http://www.innotree.cn/static/photos/inno_logo.png" style="width:50px ;margin-right:20px">以上数据来源于因果树</a> 
    </div>
</div> 

        <table width="100%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="lineH1" style="height: 22px; font-size: 22px; line-height: 22px; padding: 0;">&nbsp;</td>
                </tr>

                <tr>
                    <td class="lineH1" style="height: 22px; font-size: 22px; line-height: 22px; padding: 0;">&nbsp;</td>
                </tr>

                <tr>
                    <td style="width: 3%;" class="contentPadding">&nbsp;</td>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="lineH1" style="height: 10px; font-size: 10px; line-height: 10px; padding: 0;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding: 0 12px 6px 12px;">
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 50%; background-color: #F6E8D7; padding: 6px 8px; border-radius: 2px;" valign="middle">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="line-height: 16px;">
                                                                        <a href="http://www.ftchinese.com/users/setting/maillist" style="text-decoration: none;  line-height: 16px;" target="_blank">
                                                                        <img src="http://img.ed4.net/financialtimesc/images/2013/Responsive/emailsettings-v2.png" alt="" style="width: 26px; height: 26px; border: 0 none;" />
                                                                        </a>
                                                                    </td>
                                                                    <td style="padding-left:5px;color:#2E6E9E;line-height:16px;" target="_blank" nowrap="">
                                                                        <a class="lineH1_2" href="http://www.ftchinese.com/users/setting/maillist" style="text-decoration:none;font-size:12px;line-height:16px;color:#2E6E9E;"
                                                                            target="_blank">设置邮件</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="width: 7px; height: 100%;">&nbsp;&nbsp;</td>
                                                    <td style="width: 50%; background-color: #F6E8D7; padding: 6px 8px; border-radius: 2px;" valign="middle">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="line-height: 16px;">
                                                                        <a href="http://service.weibo.com/share/share.php?appkey=4221537403&amp;url=http%3A%2F%2Fwww.ftchinese.com%2Fm%2Femail%2Fweek&amp;title=FT%E4%B8%AD%E6%96%87%E7%BD%91%E4%B8%80%E5%91%A8%E7%B2%BE%E9%80%89&amp;ralateUid=1698233740&amp;source=&amp;sourceUrl=&amp;content=utf-8&amp;pic="
                                                                            style="text-decoration: none;  line-height: 16px;"
                                                                            target="_blank">
                                                                            <img src="http://img.ed4.net/financialtimesc/images/2013/Responsive/forward-v2.png" alt="" style="width: 26px; height: 26px; border: 0 none;">
                                                                        </a>
                                                                    </td>
                                                                    <td style="padding-left: 5px; color: #2E6E9E;  line-height: 16px;" nowrap="">
                                                                        <a href="http://service.weibo.com/share/share.php?appkey=4221537403&amp;url=http%3A%2F%2Fwww.ftchinese.com%2Fm%2Femail%2Fweek&amp;title=FT%E4%B8%AD%E6%96%87%E7%BD%91%E4%B8%80%E5%91%A8%E7%B2%BE%E9%80%89&amp;ralateUid=1698233740&amp;source=&amp;sourceUrl=&amp;content=utf-8&amp;pic="
                                                                            class="lineH1_2" style="text-decoration: none; font-size: 12px; line-height: 16px;  color: #2E6E9E;"
                                                                            target="_blank">分享到微博</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lineH1" style="height: 7px; font-size: 7px; line-height: 7px; padding: 0;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="lineH1" style="height: 7px; font-size: 7px; line-height: 7px; padding: 0;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #F6E8D7; padding: 6px 8px; text-align: center;">
                                                        <a href="http://user.ftchinese.com/register" style="text-decoration: none; color: #2E6E9E; font-size: 12px;" target="_blank">免费注册FT中文网</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="lineH1" style="height: 7px; font-size: 7px; line-height: 7px; padding: 0;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; border-top: 1px dotted #C0C0C0; border-bottom: 1px dotted #C0C0C0;">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding: 4px 0;">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="middle">
                                                                        <span style="font-size: 12px; color: #505050; ">关注FT中文网</span>
                                                                    </td>
                                                                    <td style="padding-left: 10px; width: 160px;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" align="left" valign="middle" style="width: 150px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <a href="http://weibo.com/ftchinese" style="text-decoration: none; font-size: 12px; display: block;" target="_blank"><img src="http://i.ftimg.net/picture/8/000031298_piclink_24_24.jpg"
                                                                                                style="border: 0 none; display: block;"
                                                                                                width="24" height="24" alt="新浪微博"></a>
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href="http://e.t.qq.com/ftchinese" style="text-decoration: none; font-size: 12px; display: block;" target="_blank"><img src="http://i.ftimg.net/picture/6/000031296_piclink_24_24.jpg"
                                                                                                style="border: 0 none; display: block;"
                                                                                                width="24" height="24" alt="腾讯微博"></a>
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href="http://user.qzone.qq.com/622006290" style="text-decoration: none; font-size: 12px; display: block;" target="_blank"><img src="http://i.ftimg.net/picture/2/000031292_piclink_24_24.jpg"
                                                                                                style="border: 0 none; display: block;"
                                                                                                width="24" height="24" alt="QQ空间"></a>
                                                                                    </td>
                                                                                    <td>
                                                                                        <a href="http://www.ftchinese.com/m/corp/follow.html" style="text-decoration: none; font-size: 12px; display: block;" target="_blank"><img src="http://static.ftchinese.com/img/wechat48.png"
                                                                                                style="border: 0 none; display: block;"
                                                                                                width="24" height="24" alt="微信"></a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="lineH1" style="height: 22px; font-size: 22px; line-height: 22px; padding: 0;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="ft-email-bar lineH1_4" style="text-align: center;font-size: 12px;line-height: 17px;color: #98948F;">
                                        <a href="http://www.ftchinese.com/m/corp/aboutus.html" style="text-decoration: none;color: #98948F;" target="_blank">关于我们</a>                                        |
                                        <a href="http://www.ftchinese.com/jobs/?from=ft" style="text-decoration: none; color: #98948F;" target="_blank">加入我们</a>                                        |
                                        <a href="http://www.ftchinese.com/m/corp/contact.html" style="text-decoration: none; color: #98948F;" target="_blank">联系方式</a>                                        |
                                        <a href="http://www.ftchinese.com/m/corp/service.html" target="_blank" style="text-decoration: none;color: #98948F;">服务条款</a>                                        |
                                        <a href="http://www.ftchinese.com/m/corp/sales.html" style="text-decoration: none;color: #98948F;" target="_blank">广告业务</a>                                        |
                                        <a href="http://www.ftchinese.com/m/corp/faq.html" style="text-decoration: none;color: #98948F;" target="_blank">问题回馈</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="lineH1" style="height: 34px; font-size: 34px; line-height: 34px; padding: 0;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="ft-copyright lineH1_4" style="font-size: 12px;line-height: 17px;padding: 5px 5px 0 5px;text-align: center;color: #505050;">
                                        © THE FINANCIAL TIMES LTD 2017
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="width: 3%;" class="contentPadding largeViewBar">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <%include file="include/email/tracking.html"%>
</body>
<!-- htmlmin:ignore -->
</html>