
<%assign var="showNavigation" value="yes"%>
<%assign var="requirelogin" value=""%>
<%if $pageId == ""%>
    <%*<!--MARK: - Two Sponsored Special Mini-Sites/Reports-->*%>
    <%if $smarty.server.HTTP_HOST=="www.lunchwithft.com"%>
        <%assign var="pageId" value="lunchwiththeft"%>
        <%assign var="requirelogin" value="no"%>
    <%elseif $smarty.server.HTTP_HOST=="www.leshangavenue.com"%>
        <%assign var="pageId" value="pursuit"%>
        <%assign var="requirelogin" value="no"%> 
    <%elseif $smarty.server.HTTP_HOST=="www.ftchineselive.com"%>
        <%*<!--MARK: - Requested by Feng Yan to show the FTC home page for this domain, because PR Newswire, a client, requires it this way-->*%>
        <%*<!--assign var="pageId" value="events"-->*%>
        <%assign var="pageId" value="home"%>
        <%assign var="requirelogin" value="no"%>      
    <%elseif $smarty.server.HTTP_HOST=="www.ftchinesemember.com"%>
        <%assign var="pageId" value="memberclub"%>
        <%assign var="requirelogin" value="no"%>     
    <%elseif $smarty.server.HTTP_HOST=="www.ftmembercare.com"%>
        <%assign var="pageId" value="memberclub"%>
        <%assign var="requirelogin" value="no"%>     
    <%else%>
        <%assign var="pageId" value="home"%>
    <%/if%>
<%/if%>

<%*<!--MARK: - hide navigations for all these domains
   - Feng Yan requested ftchineselive to display navigation on May 4th
 || $smarty.server.HTTP_HOST=="www.ftchineselive.com"
-->*%>
<%if $smarty.server.HTTP_HOST=="www.ftmembercare.com" || $smarty.server.HTTP_HOST=="www.ftchinesemember.com" || $smarty.server.HTTP_HOST=="www.lunchwithft.com" || $smarty.server.HTTP_HOST=="www.leshangavenue.com"%>
    <%assign var="showNavigation" value="no"%>
<%/if%>

<%*<!--MARK: - event pages don't need the overlay-->*%>
<%if preg_match("/rewired|event|Age_of_Longevity/is",$pageId) %>
    <%assign var="requirelogin" value="no"%>
<%/if%>

<%assign var="p" value=$nextmodel->getPublishJson($pageId)|json_decode:true%>
<%php%>
    // MARK: - Loop throught the p to add index for Side MPUs or other elements that need to have correct index
    $jsonArray = $this->get_template_vars('p');
    // MARK: - Initialize index
    $sideMPUIndex = 1;
    foreach ($jsonArray['sections'] as &$section) {
        // Check if 'lists' exists and is an array
        if (isset($section['lists']) && is_array($section['lists'])) {
            foreach ($section['lists'] as &$list) {
                // Check if the type is 'SideMPU'
                if (isset($list['type']) && $list['type'] === 'SideMPU') {
                    $list['index'] = $sideMPUIndex++; // Assign and increment index
                }
            }
        }
    }
    $this->assign("p", $jsonArray);
<%/php%>
<%if $p.meta.requirelogin == "no" %>
    <%assign var="requirelogin" value="no"%>
<%/if%>

<%if $p.meta.marker != "" %>
    <%assign var="marker" value=$p.meta.marker%>
<%/if%>

<%*<!--MARK: - campaign pages need to have expire times-->*%>
<%assign var="pageExpired" value="no"%>
<%if $p.meta.PageExpire != ""%>
    <%assign var=currentTime value=$smarty.now%>
    <%assign var=expireTime value=$p.meta.PageExpire|strtotime%>
    <%if $currentTime >= $expireTime%>
        <%assign var="pageExpired" value="yes"%>
    <%/if%>
<%/if%>

<%*<!--MARK: - This has to be replicated to multiple templates as this version of smarty doesn't support global scoop in included file-->*%>
<%if $topnav == ""%>
    <%if $p.meta.topnav != ""%>
        <%assign var="topnav" value=$p.meta.topnav%>
    <%else%>
        <%assign var="topnav" value="home"%>
    <%/if%>
<%/if%>
<%if $smarty.get.topnav != ""%>
    <%assign var="topnav" value=$smarty.get.topnav|sanitize%>
<%/if%>
<%if $smarty.get.subnav != ""%>
    <%assign var="subnav" value=$smarty.get.subnav|sanitize%>
<%elseif $p.meta.subnav != ""%>
    <%assign var="subnav" value=$p.meta.subnav%>
<%/if%>
<%if $smarty.get.thirdnav != ""%>
    <%assign var="thirdnav" value=$smarty.get.thirdnav|sanitize%>
<%elseif $p.meta.thirdnav != ""%>
    <%assign var="thirdnav" value=$p.meta.thirdnav%>
<%/if%>
<%*<!--MARK: End-->*%>


<%if $storymodel != ""%>
    <%assign var=whitelist value=$storymodel->getWhitelistTag()%>
<%/if%>

<%*<!-- MARK: Set features based on iOS and Android app version number -->*%>
<%assign var="displayMBAGymWithCorp" value="no"%>
<%assign var="showAppStoreWarning" value="no"%>
<%if $smarty.get.v != ""%>
    <%*<!-- MARK: iOS app -->*%>
    <%assign var="v" value=$smarty.get.v|sanitize|floatval%>
    <%if $v >= 7.3%>
        <%assign var="showExclusiveContent" value="yes"%>
    <%/if%>
    <%if $v >= 7.6%>
        <%assign var="supportBackgroundDowndingWhenBlocked" value="yes"%>
    <%/if%>
    <%if $v >= 9.8%>
        <%assign var="supportSubscriptionUpgradePromo" value="yes"%>
    <%/if%>
    <%if $v >= 9.8%>
        <%assign var="supportSubscriptionPromoBox" value="yes"%>
    <%/if%>
    <%if $v >= 10.7%>
        <%assign var="supportThirdPartyFrame" value="yes"%>
    <%else%>
        <%assign var="supportThirdPartyFrame" value="no"%>
    <%/if%>
    <%if $v == 98%>
        <%assign var="useCorpToRenderStory" value="yes"%>
    <%else%>
        <%assign var="useCorpToRenderStory" value="no"%>
    <%/if%>
    <%if $v <= 119%>
        <style>.block-image-container {padding: 0;}</style>
    <%/if%>
    <%if $v <= 217%>
        <%assign var="showMaximum8Tops" value="yes"%>
    <%/if%>
    <%*<!--MARK: - This is taken off per request from Tracy on Nov 18th, 2022 -->*%>
    <%if 1>2 && $v <= 238 && $pageId == "home"%>
        <%assign var="showAppStoreWarning" value="yes"%>
    <%/if%>
    <%if $v < 286%>
        <%assign var="grabGoogleAdGPT" value="yes"%>
    <%/if%>
<%elseif $smarty.get.android != ""%>
    <%*<!-- MARK: android app -->*%>
    <%assign var="androidVersionCode" value=$smarty.get.android|sanitize|floatval%>
    <%if $androidVersionCode >= 1%>
        <%assign var="showExclusiveContent" value="yes"%>
    <%/if%>
    <%if $androidVersionCode >= 1%>
        <%assign var="supportSubscriptionPromoBox" value="yes"%>
    <%/if%>
    <%if $androidVersionCode <= 64%>
        <%assign var="displayMBAGymWithCorp" value="yes"%>
    <%/if%>
    <%if $androidVersionCode < 119%>
        <%assign var="grabGoogleAdGPT" value="yes"%>
    <%/if%>
<%/if%>

<%*<!--MARK: - Sometimes ad will extend horizontally by using code like style="width:414px;". This cause the page to scroll horizontally, a very bad user experience. The following code will force the overflow to be hidden, thus fixing the problem. To be on the safe side, I only apply it to mobile screens for now.  -->*%>
<style>
    @media screen and (max-width: 490px) {
        html, body {
            max-width: 100%!important;
            overflow-x: hidden!important;
        }
    }
</style>
    
<%assign var="isPublicHoliday" value="no"%>
<%assign var="isWorkingDayMorning" value="no"%>
<%if $pageId == "home" || $p.meta.HighlightFTAcademy == "yes"%>
    <%*<!--MARK: Check if the editorial team has published breaking new story on cover during public holidays and weekends. -->*%>
    <%assign var="itemT" value=""%>
    <%assign var="foundCoverStory" value="no"%>
    <%foreach from=$p.sections item=section%>
        <%if $section.type == "block" && $foundCoverStory == "no"%>
            <%foreach from=$section.lists item=list%>
                <%foreach from=$list.items item=item%>
                    <%if $foundCoverStory == "no" && !preg_match("/FT商学院/is",$item.tag)%>
                        <%*<!--MARK: Don't count FT Academy, which is already on top. -->*%>
                        <%assign var="itemT" value=$item.timeStamp|default:$item.fileupdatetime|default:$item.last_publish_time|default:$item.pubdate%>
                        <%assign var="foundCoverStory" value="yes"%>
                    <%/if%>
                <%/foreach%>
            <%/foreach%>
        <%/if%>
    <%/foreach%>
    <%assign var="hasPublishedNewCoverStory" value="no"%>
    <%if $itemT != ""%>
        <%assign var="itemT" value=$itemT|regex_replace:"/\.[0-9]+$/i":""%>
        <%assign var="coverStoryTime" value=$itemT%>
        <%math assign="timeDiff" equation="x-y" x=$smarty.now y=$itemT%>
        <%assign var="timeMath" value=$timeDiff%>
        <%*<!--MARK: There's really no need to let the editorial team override the weekend edition, as they usually don't respond to breaking news and only put soft content on cover on weekends. -->*%>
        <%if $timeMath <= 60*60*1%>
            <%assign var="hasPublishedNewCoverStory" value="yes"%>
        <%/if%>
    <%/if%>
    <%*<!--MARK: Show FT Academy on top during public holidays and weekends-->*%>
    <%if date("Ymd", $smarty.now) == 20240428 || date("Ymd", $smarty.now) == 20240511%>
        <%*<!--MARK: When weekend days are working days in China because of long public holidays exchanges such as Chinese new year, National day, etc... -->*%>
        <%assign var="isPublicHoliday" value="no"%>
    <%elseif date("Ymd", $smarty.now) >= 20240608 && date("Ymd", $smarty.now) <= 20240610%>
        <%assign var="isPublicHoliday" value="yes"%>
    <%elseif date("w", $smarty.now) == 0 || date("w", $smarty.now) == 6%>
        <%assign var="isPublicHoliday" value="yes"%>
    <%elseif $hasPublishedNewCoverStory == "no" && date("w", $smarty.now) == 1 && date("H", $smarty.now) <= 5%>
        <%*<!--MARK: - Extend the public holiday setting to Monday Mornings -->*%>
        <%assign var="isPublicHoliday" value="yes"%>
    <%elseif $hasPublishedNewCoverStory == "no" && date("w", $smarty.now) >= 2 && date("w", $smarty.now) <= 5 && date("H", $smarty.now) <= 5%>
        <%*<!--MARK: - Other working day mornings before editorial team start updating-->*%>
        <%assign var="isWorkingDayMorning" value="yes"%>
    <%/if%>
    <%*<!--MARK: - highlight FT Academy on public holidays for all users -->*%>
    <%*<!--if $isPublicHoliday == "no" || $smarty.get.subscription == "member" || $smarty.get.subscription == "premium"-->*%>
    <%if $isPublicHoliday == "yes" || $isWorkingDayMorning == "yes"%>
        <%assign var="highlightFTAcademy" value="top"%>
    <%else%>
        <%assign var="highlightFTAcademy" value="feed"%>
    <%/if%>
<%/if%>

<%if $smarty.get.eventinfo == "yes"%>
    <%assign var="supportEventInfoFlow" value="yes"%>
<%/if%>


<%*<!-- MARK: If it's from a web page, then it is sure to support third party frame -->*%>
<%if $smarty.get.webview != "ftcapp"%>
    <%assign var="supportThirdPartyFrame" value="yes"%>
<%/if%>

<%assign var="adchannelID" value="`$p.meta.adid`"%>

<%*<!-- 新版本需要调整从pagemaker获取的频道号adchannelID -->*%>
<%assign var="adchannelID" value=$adchannelID|regex_replace:"/^(20)(..)$/":'50${2}'%>


<%assign var="isCurrentAdchFinal" value="yes"%>
<%if !isset($adchannelID)||$adchannelID==""%>
    <%assign var="adchannelID" value="1100"%>
    <%assign var="isCurrentAdchFinal" value="no"%>
<%/if%>



<%assign var="itemIds" value="'0000'"%>
<%assign var="keys" value="`$smarty.server.REQUEST_URI``$pageId`"%>
<%foreach from=$p.sections item=section%>
    <%if $section.type == "block"%>
        <%foreach from=$section.lists item=list%>
            <%foreach from=$list.items item=item%>
                <%assign var="itemIds" value="`$itemIds`,'`$item.id`'"%>
                <%assign var="keys" value="`$keys``$item.headline``$item.longlead``$item.shortlead``$item.tag`"%>
            <%/foreach%>
        <%/foreach%>
    <%/if%>
<%/foreach%>
<%assign var="itemIdsArray" value=$itemIds|replace:"'":""%>

<%if $p.meta.sponsorMobile == "yes" || $p.meta.inSponsor == "yes"%>
    <%assign var="inSponsor" value="yes"%>
<%/if%>

<%if $p.meta.hidePromoBox == "yes"%>
    <%assign var=hidePromoBox value="yes"%>
<%/if%>

<%if $p.meta.hideDownloadButton == "yes"%>
    <%assign var=hideQR value="yes"%>
    <%assign var=hidePromoBox value="yes"%>
<%/if%>


<%if $p.meta.hideAd == "yes"%>
    <%assign var=hideAd value="yes"%>
<%/if%>


<%if $p.meta.title != ""%>
	<%if $pageId != "home"%>
		<%assign var=pageTitle value=$p.meta.title - FT中文网%>
	<%else%>
		<%assign var=pageTitle value=$p.meta.title%>
	<%/if%>
<%else if $pageId == "home"%>
    <%assign var=pageTitle value=FT中文网%>
<%/if%>

<%*<!-- Start: Decide if show new db-->*%>
   <%*<!-- First： The newdbStart -->*%>
    <%if ($smarty.get.newdb == "yes" && $smarty.get.env == "prod") || date("Ymd", $smarty.now) >= 20180903 %>
       <%assign var=newdbStart value="yes"%>
    <%else%>
       <%assign var=newdbStart value="no"%>
    <%/if%>
   <%*<!-- Second: The newdbShow -->*%>

    <%*<!-- 1. Force to show new db ad-->*%>
    <%if $adchannelID == "1701" %>
        <%assign var="newdbShow" value="yes"%>

    <%*<!-- 2. Force to show od chuanyang ad-->*%>
    <%elseif $adchannelID == "5070" || $adchannelID == "5069" || $adchannelID == "5067" || $adchannelID == "5066" %>
        <%assign var="newdbShow" value="no"%>

    <%*<!-- 3. Show new ad or not depending on gray-->*%>
    <%else%>
        <%assign var="newdbRand" value =0|mt_rand:1000 %>
        <%if $newdbRand < 0 %>
            <%assign var="newdbShow" value="yes"%>
        <%else%>
            <%assign var="newdbShow" value="no"%>
        <%/if%>
    <%/if%>

    <%*<!-- Start: iOS native app rules-->*%>
    <%if $smarty.get.webview == "ftcapp"%>
        <%if $smarty.get.newdb == "yes"%>
            <%assign var="newdbShow" value="yes"%>
            <%assign var="newdbStart" value="yes"%>
        <%else%>
            <%assign var="newdbShow" value="no"%>
            <%assign var="newdbStart" value="no"%>
        <%/if%>
    <%else%>
        <%*<!-- Start: If page is served over https, use new db all the time as dolphine doesn't support https-->*%>
        <%*<!-- Todo: as the php version is too old, there's no info on protocol returned, so this is useless. We got to upgrade our backend! -->*%>
            <% if $smarty.server.HTTPS == "on"%>
                <%assign var="newdbShow" value="yes"%>
                <%assign var="newdbStart" value="yes"%>
            <%/if%>
        <%*<!-- End: If page is served over https, use new db all the time -->*%>
    <%/if%>
    <%*<!-- End: iOS native app rules-->*%>

    <%*<!-- Start: test rules-->*%>
    <%if $smarty.get.newzone != ""%>
        <%assign var="newdbShow" value="yes"%>
        <%assign var="newdbStart" value="yes"%>
    <%/if%>
    <%*<!-- End: test rules-->*%>


<%*<!-- End: Decide if show new db-->*%>



<%*<!--MARK: Check the next model tag for sponsored special reports start-->*%>
<%assign var="pageIdForSponsorshipManagement" value="sponsorshipmanagement"%>
<%assign var="pageIdForBrandSafety" value="brandsafety"%>
<%if $nextmodel != ""%>
    <%assign var="infoForSponsorships" value=$nextmodel->getPublishJson($pageIdForSponsorshipManagement)|json_decode:true%>
    <%assign var="infoForBrandSafety" value=$nextmodel->getPublishJson($pageIdForBrandSafety)|json_decode:true%>
    <%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
    <%foreach from=$infoForSponsorships.sections item=section%>
        <%if $section.status == "on" && $section.dates != "" && preg_match("/`$currentDate`/is",$section.dates) && ($section.adChannelId != "" || $section.zone != "")%>

            <%assign var="tagName" value=$p.meta.title%>
            <%if $tagName != "" && ($tagName == $section.title || $tagName == $section.tag)%>
                <%assign var="zone" value=$section.zone%>
                <%if !preg_match("/\//is",$zone)%>
                    <%assign var="zone" value="home/special/`$zone`"%>
                <%/if%>
                <%*<!-- MARK: - If it is an active sponsored topic, don't require login -->*%>
                <%assign var="requirelogin" value="no"%>
            <%/if%>
        <%/if%>
    <%/foreach%>

    <%assign var="hasFoundBrandSafety" value="no"%>
    <%foreach from=$infoForBrandSafety.sections item=section%>
        <%if $hasFoundBrandSafety == "no" && $section.status == "on" && ($section.dates == "" || preg_match("/`$currentDate`/is",$section.dates))%>
            <%assign var="sponsorKeys" value=$section.storyKeyWords%>
            <%if $sponsorKeys == ""%>
                <%assign var="sponsorKeys" value=$section.tag%>
            <%else%>
                <%assign var="sponsorKeys" value=$sponsorKeys|regex_replace:"/, */":"|"%>
            <%/if%>
            <%if $sponsorKeys != "" && preg_match("/`$sponsorKeys`/is",$keys)%>
                <%assign var="hasFoundBrandSafety" value="yes"%>
                <%if $section.cntopic != ""%>
                    <%assign var="cntopic" value=$section.cntopic%>
                <%/if%>
            <%/if%>
        <%/if%>
    <%/foreach%>

<%/if%>
<%*<!--MARK: Check the next model tag for sponsored special reports end-->*%>

<%*<!--MARK: If a page is a marketing page, don't show overlay-->*%>
<%if $p.sections%>
    <%foreach from=$p.sections item=section%>
        <%if $section.type == "FixedButtons"%>
            <%assign var="requirelogin" value="no"%>
        <%/if%>
    <%/foreach%>
<%/if%>

<%php%>
    $isUserInternal = (isset($_COOKIE["paywall_source"]) && $_COOKIE["paywall_source"] === 'ftc') ? true : false;
    if (isset($_COOKIE["USER_ID"]) && ($_COOKIE["USER_ID"] == 'JTSix1VjQeQ_f6' || $_COOKIE["USER_ID"] == '123e1716-427e-496d-a93c-783d0cb8b077')) {
        $isUserInternal = true;
    }
    $isUserTester = (isset($_COOKIE["USER_NAME"]) && $_COOKIE["USER_NAME"] === 'BLAY') ? true : false;
    $subscriptionType = 'free';
    if (isset($_COOKIE["paywall"]) && isset($_COOKIE["paywall_expire"])) {
        $payWallExpire = intval($_COOKIE["paywall_expire"]);
        if ($payWallExpire > time()) {
            $subscriptionType = $_COOKIE["paywall"];
        }
    }
    if (isset($_GET['subscription']) && $_GET['subscription'] != '') {
        $subscriptionType = $_GET['subscription'];
    }
    $this->assign("isUserInternal", $isUserInternal);
    $this->assign("isUserTester", $isUserTester);
    $this->assign("subscriptionType", $subscriptionType);
<%/php%>


<%if $smarty.get.bodyonly != "yes"%>
    <!--
        version: 7
        isUserInternal: <%$isUserInternal%>
        isUserTester: <%$isUserTester%>
        subscriptionType: <%$subscriptionType%>
    -->
    <!DOCTYPE html>
    <html class="no-js core<%if $smarty.get.webview == "ftcapp"%> is-ftc-app<%/if%><%if $smarty.get.device == "iPad"%> is-ipad-app<%/if%>" data-next-app="front-page">
        <head>
            <meta charset="utf-8" />
            <%*<!--MARK: - Support Standalone PWA, especially on iPhone-->*%>
            <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=contain">
            <meta name="apple-touch-fullscreen" content="YES">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="default">
            <meta name="theme-color" content="#FFF1E0" />
            <link rel="apple-touch-icon" sizes="180x180" href="https://d2785ji6wtdqx8.cloudfront.net/img/friend-share-icon.jpg">
            <link rel="apple-touch-icon-precomposed" href="https://d2785ji6wtdqx8.cloudfront.net/img/ipad_icon.png" />
            <link rel="manifest" href="/pwa-metatags.json" />


            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <title><%$pageTitle%></title>
            <meta http-equiv="Content-Language" content="zh-CN"/>
            <meta content="<%$p.meta.description|strip_tags:false%>" name="description"/>

            <%if $pageId == "home" && date("Ymd",$smarty.now) <= 20220110 && date("Ymd",$smarty.now) >= 20211217%>
                <%assign var="refreshInSeconds" value="360"%>
                <%if $isUserTester === true%>
                    <%assign var="refreshInSeconds" value="0"%>
                <%elseif $isUserInternal === true%>
                    <%assign var="refreshInSeconds" value="360"%>
                <%elseif $subscriptionType == "premium"%>
                    <%assign var="refreshInSeconds" value="0"%>
                <%elseif $subscriptionType == "standard"%>
                    <%assign var="refreshInSeconds" value="1800"%>
                <%/if%>
                <%if $refreshInSeconds != "0"%>
                    <meta http-equiv="refresh" content="<%$refreshInSeconds%>;url=/?refresh" />
                <%/if%>
            <%/if%>


            <link rel="preconnect" href="https://d2785ji6wtdqx8.cloudfront.net" />
            <link rel="preconnect" href="https://thumbor.ftacademy.cn/unsafe" />
            <script type="text/javascript">
                window.errorBuffer = window.errorBuffer || [];
                function beaconCssError(e) {
                    window.errorBuffer.push({
                        error: e ? e : new Error('CSS failed to load.'),
                        context: {
                            isMobileNetork: document.cookie.replace(/(?:(?:^|.*;\s*)h2_isMobile\s*\=\s*([^;]*).*$)|^.*$/, "$1") === '' ? false : true
                        }
                    });
                }
            </script>
            <script type="text/javascript">
                window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined');
                if (window.cutsTheMustard) {
                    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js').replace(/\bcore\b/, 'enhanced');
                }
            </script>
            <%*<!--MARK: - Switch between different themes-->*%>
            <%if $pageId == "home"%>
                <style><%include file="next/styles/main.css"%></style>
            <%elseif $pageType == "job"%>
                <style><%include file="next/styles/main-job.css"%></style>
            <%elseif $p.meta.theme == "ebook"%>
                <style><%include file="next/styles/main-ebook.css"%></style>
                <script type="text/javascript">var pageTheme = 'ebook';</script>
            <%elseif $p.meta.theme == "darkblue"%>
                <style><%include file="next/styles/main-dark-blue.css"%></style>
                <script type="text/javascript">var pageTheme = 'dark-blue';</script>
            <%elseif $p.meta.theme == "red"%>
                <style><%include file="next/styles/main-red.css"%></style>
                <script type="text/javascript">var pageTheme = 'red';</script>
            <%elseif $p.meta.theme == "black"%>
                <style><%include file="next/styles/main-black.css"%></style>
                <script type="text/javascript">var pageTheme = 'black';</script>
            <%elseif $p.meta.theme == "luxury"%>
                <style><%include file="next/styles/main-luxury.css"%></style>
                <script type="text/javascript">var pageTheme = 'luxury';</script>
            <%elseif $p.meta.theme == "specialreport"%>
                <style><%include file="next/styles/main-special-report.css"%></style>
            <%elseif $p.meta.theme == "myFT"%>
                <style><%include file="next/styles/main-myft.css"%></style>
            <%elseif $p.meta.theme == "technology"%>
                <style><%include file="next/styles/main-technology.css"%></style>
            <%elseif $p.meta.theme == "education"%>
                <style><%include file="next/styles/main-education.css"%></style>
            <%elseif $p.meta.theme == "partner_content"%>
                <style><%include file="next/styles/main-partner-content.css"%></style>
            <%elseif $p.meta.theme == "lifestyle"%>
                <style><%include file="next/styles/main-lifestyle.css"%></style>
            <%elseif $p.meta.theme == "darkgrey"%>
                <style><%include file="next/styles/main-dark-grey.css"%></style>
            <%elseif $p.meta.theme == "mba"%>
                <style><%include file="next/styles/main-mba.css"%></style>
            <%elseif $p.meta.theme == "english"%>
                <style><%include file="next/styles/main-english.css"%></style>
            <%else%>
                <style><%include file="next/styles/main-tag.css"%></style>
            <%/if%>
            <link rel="icon" type="image/png" href="https://d2785ji6wtdqx8.cloudfront.net/img/friend-share-icon.jpg" sizes="32x32">
            <link rel="icon" type="image/png" href="https://d2785ji6wtdqx8.cloudfront.net/img/friend-share-icon.jpg" sizes="194x194">
            <link rel="apple-touch-icon" sizes="180x180" href="https://d2785ji6wtdqx8.cloudfront.net/img/friend-share-icon.jpg" />
            <meta name="msapplication-TileColor" content="#fff1e0" />
            <meta name="msapplication-TileImage" content="https://d2785ji6wtdqx8.cloudfront.net/img/friend-share-icon.jpg" />
            <script type="text/javascript">var startTime = new Date().getTime();</script>
            <meta content="FT中文网" name="application-name" /><meta content="app-id=443870811" name="apple-itunes-app" />
            <link rel="alternate" type="application/rss+xml" title="FT中文网 - 每日更新" href="/rss/feed" />
            <link rel="alternate" type="application/rss+xml" title="FT中文网 - 双语阅读" href="/rss/diglossia" />
            <link rel="alternate" type="application/rss+xml" title="FT中文网 - 今日焦点" href="/rss/news" />
            <link rel="alternate" type="application/rss+xml" title="FT中文网 - 生活时尚" href="/rss/lifestyle" />
            <link rel="alternate" type="application/rss+xml" title="FT中文网 - 一周十大热门文章" href="/rss/hotstoryby7day" />
            <link rel="alternate" type="application/rss+xml" title="FT中文网 - 热门用户评论" href="/rss/hotusercomment" />
            <link rel="search" type="application/opensearchdescription+xml" title="FT中文网财经搜索" href="/opensearch.xml">
            <%include file = "next/partials/loadAdDataByDevice.html"%>
            <script type="text/javascript">
                <%include file = "next/scripts/key.js"%>
            </script>
            <%include file="next/partials/ie-8-hack.html"%>
            <%if $p.meta.sponsorMobile == "yes" || $p.meta.adid == "2061"%>
                <%assign var="sponsorMobile" value="yes"%>
            <%/if%>
            <%include file="next/partials/head.html"%>

            <%if $pageId == "home" && $smarty.get.showHotClick == "yes"%>
                <meta name="google-signin-client_id" content="911260228291-d2b7cjs7c0ajobjd6l89133tv4bmrcjb.apps.googleusercontent.com">
                <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
            <%/if%>
            <meta property="og:type" content="webpage" />
            <meta property="og:url" content="<%$smarty.server.REQUEST_URI%>" />
            <meta property="og:title" content="<%$p.meta.title%><%if $pageId != "home"%> - FT中文网<%/if%>" />
            <meta property="og:description" content="<%$p.meta.description%>" />
            <%if $pageId == "home"%>
                <script async src="https://www.googleoptimize.com/optimize.js?id=OPT-NQJDTMS"></script>
            <%/if%>
        </head>
        <body>
            <script>checkB();</script>
            <%include file="next/partials/wechat-icon.html"%>
            <%if $pageId == "home"%>
                <script>var gPageId = 'home';</script>
                <%if $smarty.get.ad != 'no'%>
                    <div
                    data-o-ads-name="fullscreen-pc"
                    class="o-ads fullscreen-pc"
                    data-o-ads-formats-default="false"
                    data-o-ads-formats-small="false"
                    data-o-ads-formats-medium="FtcPcFullscreen"
                    data-o-ads-formats-large="FtcPcFullscreen"
                    data-o-ads-targeting="cnpos=pcfullscreen;"
                    >
                    </div>
                    <div id=roadblock style="margin:0 auto;position:relative;width:700px;text-align:center;">
                    </div>
                    <script type="text/javascript">
                        setTimeout(function () {
                            stickyBottomPrepare();
                            stickyAdsPrepare();
                        }, 9000);
                    </script>
                <%/if%>
            <%/if%>

            <%include file="next/partials/body.html"%>
            <%include file="next/partials/QrCode.html"%>
            <!--[if lte IE 8]>
            <script src="https://cdnjs.cloudflare.com/v2/polyfill.min.js"></script>
            <![endif]-->
            <script type="text/javascript">
                <%if $smarty.get.webview == "ftcapp"%>
                    <%include file = "next/scripts/main-ftcapp.js"%>
                <%else%>
                    <%include file = "next/scripts/main.js"%>
                    <%include file = "next/scripts/main-pay-wall.js"%>
                <%/if%>
            </script>
            <%if $pageId == "home"%>
                <script type="text/javascript">
                    <%include file = "next/scripts/main-inline.js"%>
                    <%include file = "next/scripts/main-smart-home-page.js"%>
                </script>
            <%/if%>
            <%if $debug_model == 1 && $pageId != "home"%>
            <div style="text-align: center; background-color: #FFFFFF; font-size: 38px; margin: 20px 0 100px 0;font-weight:bold;"><a title="编辑本页的内容" href="https://backyard.ftchinese.com/pagemaker/page-maker.html?page=<%$pageId%>">编辑本页</a></div>
            <%/if%>

            <%if $pageId == "home" && $smarty.get.showHotClick == "yes"%>
                <script type="text/javascript" src="https://d2785ji6wtdqx8.cloudfront.net/n/main-home-click.js?<%include file="next/timestamp/timestamp.html"%>"></script>
            <%/if%>


            <%*<!--MARK: - Wake up heroku to check if editor's choice is updated during weekends. -->*%>
            <%if $pageId == "premiumsubscription"%>
                <%if date("G",$smarty.now) == 9 && (date("D",$smarty.now) == 'Sat' || date("D",$smarty.now) == 'Sun')%>
                    <script type="text/javascript">
                        var d = new Date();
                        var n = d.getMinutes() + 100 * d.getHours() + 10000 * d.getDate() + 1000000 * (d.getMonth() + 1) + 10000000000 * d.getFullYear();
                        var url2 = 'https://ftcbot.herokuapp.com/?f=ftchome&t=' + n;
                        var image2 = new Image();
                        window.image2.src = url2;
                    </script>
                <%/if%>
            <%/if%>
            
            <%*<!--MARK: - IE fallback for grid card start -->*%>
            <%assign var="hasGridCard" value="no"%>
            <%foreach from=$p.sections item=section%>
                <%if $section.type == "block" && $hasGridCard == "no"%>
                    <%foreach from=$section.lists item=list%>
                        <%if $list.float == "GridCard"%>
                            <%assign var="hasGridCard" value="yes"%>
                        <%/if%>
                    <%/foreach%>
                <%/if%>
            <%/foreach%>
            <%if $hasGridCard == "yes"%>
                <script type="text/javascript"><%include file="next/scripts/main-ie-grid-polyfill.js"%></script>
            <%/if%>
            <%*<!--MARK: - IE fallback for grid card end -->*%>


        </body>
    </html>
<%else%>
    <%*<!--MARK: - Use Themes for app only for eBook (dark mode sponsored by Audi) -->*%>
    <%if $p.meta.theme == "black"%>
        <style><%include file="next/styles/main-black.css"%></style>
        <script type="text/javascript">var pageTheme = 'black';</script>
    <%/if%>


    <script type="text/javascript">
        var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
        if (/^[0-9]{4}$/.test(adchIDNew)) {
            window.adchID = adchIDNew;
        } else {
            window.adchID = '<%$adchannelID|default:$adchId%>';
        }
        window.adChannelId = window.adchID;
        <%if $pageId != "home"%>
            document.title = '<%$p.meta.title%>';
        <%/if%>
    </script>
    <%include file="next/partials/head-db-zone.html"%>
    <%include file="next/partials/body.html"%>
    <%if $pageId == "home"%>
        <script type="text/javascript">
            <%include file = "next/scripts/main-smart-home-page.js"%>
        </script>
    <%/if%>


    <%if $smarty.get.android != "" && $smarty.get.pageid == "mbavideo"%>
        <div>Video Test For Android App: </div>
        <video controls width="320" height="180">

            <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm"
                    type="video/webm">

            <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4"
                    type="video/mp4">

            Sorry, your browser doesn't support embedded videos.
        </video>
        <div style="height: 200px"></div>
    <%/if%>



    <%if $grabGoogleAdGPT == "yes" || $smarty.get.android != ""%>
        <script type="text/javascript">window.timeStamp = '<%include file="next/timestamp/timestamp.html"%>';</script>
        <script type="text/javascript" src="https://d2785ji6wtdqx8.cloudfront.net/n/ad-fix-old-versions.js?<%include file="next/timestamp/timestamp.html"%>"></script>
                                <%*<!--
                                    <script type="text/javascript">
                                        // Function to load a script
                                        var timeStamp = '<%include file="next/timestamp/timestamp.html"%>';
                                        function loadScript(url, callback) {
                                            var script = document.createElement("script");
                                            script.type = "text/javascript";

                                            // If the script loads successfully, execute the callback
                                            script.onload = function() {
                                                if (callback) callback();
                                            };

                                            // Handle errors in loading the script
                                            script.onerror = function() {
                                                console.error("Script load failed: " + url);
                                            };

                                            script.src = url + '?' + timeStamp;
                                            document.head.appendChild(script);
                                        }

                                        // Function to load the first script and then the second
                                        function loadScriptsSequentially() {
                                            loadScript("https://creatives.ftacademy.cn/ads/gpt.js", function() {
                                                console.log("First script loaded successfully.");
                                                window.adCodeLoaded = false;
                                                window.googletag = undefined;
                                                loadScript("https://d2785ji6wtdqx8.cloudfront.net/n/ad-polyfill.js", function() {
                                                    console.log("Second script loaded and run successfully.");
                                                });
                                            });
                                        }

                                        // Load the scripts when the window loads
                                        loadScriptsSequentially();
                                    </script>
                                -->*%>
    <%/if%>



<%/if%>



<%php%>
$user_language = $_SERVER['HTTP_ACCEPT_LANGUAGE'];
// echo '<!--user language full: ' . $user_language . '-->';

<%/php%>