<%if $pageId == ""%>
    <%assign var="pageId" value="home"%>
<%/if%>
<%assign var="p" value=$nextmodel->getPublishJson($pageId)|json_decode:true%>
<%assign var="adchannelID" value="`$p.meta.adid`"%>
<%if !isset($adchannelID)||$adchannelID==""%>
    <%assign var="adchannelID" value="1100"%>
<%/if%>
<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title><%$p.meta.title%></title>
        <meta http-equiv="Content-Language" content="zh-CN"/>
        <meta content="<%$p.meta.description%>" name="description"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon-precomposed" href="http://static.ftchinese.com/img/ipad_icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="http://static.ftchinese.com" />
        <link rel="preconnect" href="http://i.ftimg.net" />
        <script>
            window.errorBuffer = window.errorBuffer || [];
            function beaconCssError(e) {
                window.errorBuffer.push({
                    error: e ? e : new Error('CSS failed to load.'),
                    context: {
                        isMobileNetork: document.cookie.replace(/(?:(?:^|.*;\s*)h2_isMobile\s*\=\s*([^;]*).*$)|^.*$/, "$1") === '' ? false : true
                    }
                });
            }
        </script>
        <script>
            window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined');
            if (window.cutsTheMustard) {
                document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js').replace(/\bcore\b/, 'enhanced');
            }
        </script>
        <style>
            <%if $pageId == "home"%>
                <%include file="next/styles/main.css"%>
            <%else%>
                <%include file="next/styles/main-tag.css"%>
            <%/if%>
        </style>
        <link rel="icon" type="image/png" href="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=32&height=32" sizes="32x32">
        <link rel="icon" type="image/png" href="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=194&height=194" sizes="194x194">
        <link rel="apple-touch-icon" sizes="180x180" href="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=180&height=180" />
        <link rel="manifest" href="/assets/manifest/manifest-v2.json" />
        <meta name="msapplication-TileColor" content="#fff1e0" />
        <meta name="msapplication-TileImage" content="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=144&height=144" />


        <script>var startTime = new Date().getTime();</script>
        <script>
            if (screen.width <= 480) {
                document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=443870811" name="apple-itunes-app" />');
            } else {
                document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=396124008" name="apple-itunes-app" />');
            }
        </script>
        <link rel="alternate" type="application/rss+xml" title="FT中文网 - 每日更新" href="/rss/feed" />
        <link rel="alternate" type="application/rss+xml" title="FT中文网 - 双语阅读" href="/rss/diglossia" />
        <link rel="alternate" type="application/rss+xml" title="FT中文网 - 今日焦点" href="/rss/news" />
        <link rel="alternate" type="application/rss+xml" title="FT中文网 - 生活时尚" href="/rss/lifestyle" />
        <link rel="alternate" type="application/rss+xml" title="FT中文网 - 一周十大热门文章" href="/rss/hotstoryby7day" />
        <link rel="alternate" type="application/rss+xml" title="FT中文网 - 热门用户评论" href="/rss/hotusercomment" />
        <link rel="search" type="application/opensearchdescription+xml" title="FT中文网财经搜索" href="/opensearch.xml">
        <%include file="next/partials/head.html"%>
        <script type="text/javascript">
            <%include file = "next/scripts/key.js"%>
        </script>
        <!--[if lte IE 8]>
            <script>
                document.documentElement.className += ' is-ie-8';
                document.createElement('figure');
                document.createElement('header');
                document.createElement('nav');
                document.createElement('section');
                document.createElement('article');
                document.createElement('aside');
                document.createElement('footer');
                var wIE = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                var cssId = 'ie-css';
                var cssFile = '';
                if (!document.getElementById(cssId)) {
                    var head  = document.getElementsByTagName('head')[0];
                    var link  = document.createElement('link');
                    link.id   = cssId;
                    link.rel  = 'stylesheet';
                    link.type = 'text/css';
                    cssFile = (wIE>=1200)?'XL':'L';
                    link.href = 'http://static.ftchinese.com/n/main-ie-'+ cssFile +'.css?<%include file="next/timestamp/timestamp.html"%>';
                    link.media = 'all';
                    head.appendChild(link);
                }
            </script>
        <![endif]-->
    </head>
    <body>

        <%if $pageId == "home"%>
            <%if $smarty.get.ad != 'no'%>
                <%assign var="ad" value=$publishhtml->get_publish_html("ad")%>
                <div id=roadblock style="margin:0 auto;position:relative;width:700px;text-align:center;">
                    <script>
                        var thisday1 = new Date();
                        var todaydate1 = thisday1.getFullYear() + "-" + (thisday1.getMonth() + 1) + "-" + thisday1.getDate();
                        var fullsc = GetCookie("rb2");
                        var loadFullAtEnd = false;
                        if (fullsc == null && (todaydate1 == "<%$ad.fullscreen1%>" || todaydate1 == "<%$ad.fullscreen2%>" || todaydate1 == "<%$ad.fullscreen3%>" || todaydate1 == "<%$ad.fullscreen4%>" || todaydate1 == "<%$ad.fullscreen5%>")) {
                            document.write('<scr' + 'ipt type="text/jav' + 'ascript" src="http://dolphin.ftimg.net/s?z=ft&amp;c=10000014&amp;slot=645072137&amp;_sex=101&amp;_trip=1&amp;_lux=1&amp;_dc=2&amp;_mm=2&amp;_sz=2&amp;_am=2" charset="gbk"></scr' + 'ipt>');
                        } else if (fullsc == null) {
                            loadFullAtEnd = true;
                        }
                        setTimeout(function () {
                            stickyBottomPrepare();
                            stickyAdsPrepare();
                        }, 9000);
                    </script>
                </div>
            <%/if%>
        <%/if%>

        <%assign var="bannerCount" value=0%>
        <%assign var="mpuCount" value=0%>
        <%foreach from=$p.sections item=section%>
            <%if $section.type == "header"%>
                <%if $pageId != "" && $pageId != "home"%>
                    <%include file="next/partials/tag-header.html"%>
                <%else%>
                    <%include file="next/partials/header.html"%>
                <%/if%>
                <%include file="next/partials/nav.html"%>
            <%elseif $section.type == "banner"%>
                <%include file="next/partials/banner.html"%>
                <%assign var="bannerCount" value=$bannerCount+1%>
            <%elseif $section.type == "block"%>
                <%include file="next/partials/block.html"%>
                <%if $section.side != "" && $section.side != "none"%>
                <%assign var="mpuCount" value=$mpuCount+1%>
                <%/if%>
            <%elseif $section.type == "footer"%>
                <%include file="next/partials/footer.html"%>
            <%elseif $section.type == "topbelt"%>
                <%include file="next/partials/topbelt.html"%>
            <%elseif $section.type == "include" && $section.from != ""%>
                <%assign var="includeSide" value=$section.side%>
                <%assign var="includeSideAlign" value=$section.sideAlign%>
                <%include file="next/partials/`$section.from`.html"%>
            <%/if%>
        <%/foreach%>
        <%include file="next/partials/QrCode.html"%>
        <!--[if lte IE 8]>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            <%include file = "next/scripts/main.js"%>
        </script>
        <%if $pageId == "home"%>
            <%if $smarty.get.ad != 'no'%>
                <script type="text/javascript" src="http://static.ftchinese.com/n/main-home.js?<%include file="next/timestamp/timestamp.html"%>"></script>
                <div class="hide">
                    <script>
                        if (fullsc == null && loadFullAtEnd === true) {
                            document.write('<scr' + 'ipt type="text/jav' + 'ascript" src="http://dolphin.ftimg.net/s?z=ft&amp;c=10000014&amp;slot=645072137&amp;_sex=101&amp;_trip=1&amp;_lux=1&amp;_dc=2&amp;_mm=2&amp;_sz=2&amp;_am=2" charset="gbk"></scr' + 'ipt>');
                            SetCookie("rb2",1,cookiesecond,"/");
                        }
                    </script>
                </div>
            <%/if%>
        <%/if%>
    </body>
</html>