<%if $smarty.get.android != "" || $smarty.get.utm_medium == "androidmarket" || $smarty.get.utm_mediu == "androidmarket"%>
	<%assign var=isAndroidApp value="yes"%>
<%/if%>
<!DOCTYPE html>
<html class="no-js core">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Language" content="zh-CN"/>
		<title><%$cheadline%> - FT中文网</title>
		<META name=keywords content="<%$keys%>">
		<meta content="<%$description%>" name="description"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="robots" content="noarchive">
		<link rel="apple-touch-icon-precomposed" href="https://d39nylm5k3hqco.cloudfront.net/img/ipad_icon.png" />
		<%if $isAndroidApp == "yes"%>
			<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<%else%>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%/if%>
		<link rel="preconnect" href="https://d39nylm5k3hqco.cloudfront.net" />
		<link rel="preconnect" href="https://thumbor.ftacademy.cn/unsafe" />
		<script>
		window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined');
		if (window.cutsTheMustard) {
		document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js').replace(/\bcore\b/, 'enhanced');
		}
		</script>
		<link rel="icon" type="image/png" href="https://d39nylm5k3hqco.cloudfront.net/img/friend-share-icon.jpg" sizes="32x32">
		<link rel="icon" type="image/png" href="https://d39nylm5k3hqco.cloudfront.net/img/friend-share-icon.jpg" sizes="194x194">
		<link rel="apple-touch-icon" sizes="180x180" href="https://d39nylm5k3hqco.cloudfront.net/img/friend-share-icon.jpg" />
		<meta name="msapplication-TileColor" content="#fff1e0" />
		<meta name="msapplication-TileImage" content="https://d39nylm5k3hqco.cloudfront.net/img/friend-share-icon.jpg" />
		<style><%include file="next/styles/main-mini-site.css"%></style>
		<script type="text/javascript"><%include file="next/scripts/key.js"%></script>
		<%include file="next/partials/head.html"%>
	</head>
	<%assign var="bannerCount" value=0%>
	<body>
		<div id="mini-site-content"></div>
        <div class="overlay-container" id="overlay-login">
            <div class="overlay-inner">
            <div class="overlay-bg" data-parentid="overlay-login"></div>
            <div class="overlay-content-outer">
            <div class="overlay-content-inner">
            <div class="overlay-content">
            <div class="overlay-title">登录<i class="overlay-close" data-parentid="overlay-login">×</i></div>
            <form method="post" action="/users/login">
            <div class="input-title" id="login-reason"></div>
            <div class="input-title">电子邮件/用户名</div>
            <div class="input-container"><input type="text" class="input-oneline" name="username" id="ft-login-input-username"></div>
            <div class="input-title">密码</div>
            <div class="input-container"><input type="password" class="input-oneline" name="password"></div>
            <div><input type="checkbox" class="checkbox" value="1" checked="checked" name="saveme" id="ft-login-input-remember">记住我</div>
            <div class="login-btn input-submit-container center">
            <input class="" type="submit" value="登录"></div>
            <div class="center register-find"><a href="https://user.ftchinese.com/register" class="blue-link">免费注册</a><span></span><a href="https://profile.ftchinese.com/users/findpassword" class="blue-link">找回密码</a></div>
            <div class="wx-login-container">
            <div class="center wx-login"><a href="https://www.ftacademy.cn/wxlogin" class="blue-link">微信登录</a></div>
            </div>
            </form>
            </div>
            </div>
            </div>
            </div>
        </div>
        <div class="overlay-container" id="overlay-content">
            <div class="overlay-inner">
            <div class="overlay-bg" data-parentid="overlay-content"></div>
            <div class="overlay-content-outer">
            <div class="overlay-content-inner">
            <div class="overlay-content">
                <div class="overlay-title">演讲嘉宾<i class="overlay-close" data-parentid="overlay-content">×</i></div>
                <div class="overlay-content-detail"></div>
            </div>
            </form>
            </div>
            </div>
            </div>
            </div>
        </div>
	</body>

	<script type="text/javascript">
		(function(){
			var pageType = 'broadcast';
			var pageInfo = <%$cbody|replace:"\n":""%>;
			<%include file="next/scripts/main-mini-site.js"%>
		})();
	</script>

</html>
