<%assign var="topnav" value="home"%>
<%assign var="subnav" value="photo"%>
<%assign var="storyHeadline" value=$info.cn_title%>
<%assign var="pageType" value="photo"%>
<%assign var="adchannelID" value="2009"%>
<%assign var="shareTitle" value="`$storyHeadline` - FT中文网"%>
<%assign var="shareLead" value=$info.leadbody|strip_tags%>
<%assign var="shareUrl" value="http://www.ftchinese.com/photonews/`$info.photonewsid`"%>
<%assign var="shareUrl" value=$shareUrl|escape:'url'%>
<%assign var="shareText" value="【`$storyHeadline`】`$shareLead`（分享自 @FT中文网）"%>

<%assign var="wechatUrl" value="/m/corp/qrshare.html?url=`$shareUrl`&title=`$shareTitle`"%>
<%assign var="sinaUrl" value="http://service.weibo.com/share/share.php?appkey=4221537403&url=`$shareUrl`?ccode=2G169001&title=`$shareText`&ralateUid=1698233740&source=&sourceUrl=&content=utf-8&pic="%>
<%assign var="linkedInUrl" value="https://www.linkedin.com/cws/share?url=`$shareUrl`%3Fccode%3D2G169003&original_referer=https%3A%2F%2Fdeveloper.linkedin.com%2Fsites%2Fall%2Fthemes%2Fdlc%2Fsandbox.php%3F&token=&isFramed=true&lang=zh_CN&_ts=1422502780259.2795"%>
<%assign var="twitterUrl" value="http://twitter.com/home?status=`$shareText`...%20`$shareUrl`"%>
<%assign var="facebookUrl" value="http://www.facebook.com/sharer.php?u=`$shareUrl`&t=`$shareText`"%>

<%*<!-- Start: Decide if show new db-->*%>
   <%*<!-- First： The newdbStart -->*%>
    <%if ($smarty.get.newdb == "yes" && $smarty.get.env == "prod") || date("Ymd", $smarty.now) >= 20180903 %>
       <%assign var=newdbStart value="yes"%>
    <%else%>
       <%assign var=newdbStart value="no"%>
    <%/if%>
   <%*<!-- Second: The newdbShow -->*%>
    
    <%*<!-- 1. Force to show new db ad-->*%>
    <%if $adchannelID == "1701" %>
        <%assign var="newdbShow" value="yes"%>

    <%*<!-- 2. Force to show od chuanyang ad-->*%>
    <%elseif $adchannelID == "5070" || $adchannelID == "5069" || $adchannelID == "5067" || $adchannelID == "5066" %>
        <%assign var="newdbShow" value="no"%>

    <%*<!-- 3. Show new ad or not depending on gray-->*%>
    <%else%>
        <%assign var="newdbRand" value =0|mt_rand:1000 %>
        <%if $newdbRand < 0 %>
            <%assign var="newdbShow" value="yes"%>
        <%else%>
            <%assign var="newdbShow" value="no"%>
        <%/if%>
    <%/if%>

    <%*<!-- Start: iOS native app rules-->*%>
    <%if $smarty.get.webview == "ftcapp"%>
        <%if $smarty.get.newdb == "yes"%>
            <%assign var="newdbShow" value="yes"%>
            <%assign var="newdbStart" value="yes"%>
        <%else%>
            <%assign var="newdbShow" value="no"%>
            <%assign var="newdbStart" value="no"%>
        <%/if%>
    <%/if%>
    <%*<!-- Start: iOS native app rules-->*%>

    <%*<!-- Start: test rules-->*%>
    <%if $smarty.get.newzone != ""%>
        <%assign var="newdbShow" value="yes"%>
        <%assign var="newdbStart" value="yes"%>
    <%/if%>
    <%*<!-- End: test rules-->*%>
<%*<!-- End: Decide if show new db-->*%>

<!DOCTYPE html>
<html class="no-js core" data-next-app="tag-page">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <title><%$storyHeadline%> - FT中文网</title>
    <META name=keywords content="<%$tagtitle%>">
    <meta content="<%$p.meta.description%>" name="description"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="https://dhgxl8qk9zgzr.cloudfront.net/img/ipad_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://dhgxl8qk9zgzr.cloudfront.net" />
    <link rel="preconnect" href="http://i.ftimg.net" />
    <script>
    window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined');
    if (window.cutsTheMustard) {
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js').replace(/\bcore\b/, 'enhanced');
    }
    </script>


    
    <%if preg_match("/艺术品投资/is",$info.tags) || preg_match("/乐尚街/is",$info.tags)%>
        <style><%include file="next/styles/main-photo-luxury.css"%></style>
        <script type="text/javascript">var pageTheme = 'luxury';</script>
    <%else%>
        <style><%include file="next/styles/main-photo.css"%></style>
    <%/if%>
    <style><%include file="next/styles/o-gallery.css"%></style>
    
    <link rel="icon" type="image/png" href="https://thumbor.ftacademy.cn/unsafe/32x32/http://static.ftchinese.com/img/friend-share-icon.jpg" sizes="32x32">
    <link rel="icon" type="image/png" href="https://thumbor.ftacademy.cn/unsafe/194x194/http://static.ftchinese.com/img/friend-share-icon.jpg" sizes="194x194">
    <link rel="apple-touch-icon" sizes="180x180" href="https://thumbor.ftacademy.cn/unsafe/180x180/http://static.ftchinese.com/img/friend-share-icon.jpg" />
    
    <meta name="msapplication-TileColor" content="#fff1e0" />
    <meta name="msapplication-TileImage" content="https://thumbor.ftacademy.cn/unsafe/144x144/http://static.ftchinese.com/img/friend-share-icon.jpg" />


    <script>var startTime = new Date().getTime();</script>
    <script>
    if ( screen.width<=480) {
        document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=443870811" name="apple-itunes-app" />');
    } else {
        document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=396124008" name="apple-itunes-app" />');
    }
    </script>
    <script>var gPageId = 'photo';</script>
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 每日更新" href="/rss/feed" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 双语阅读" href="/rss/diglossia" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 今日焦点" href="/rss/news" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 生活时尚" href="/rss/lifestyle" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 一周十大热门文章" href="/rss/hotstoryby7day" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 热门用户评论" href="/rss/hotusercomment" />
    <link rel="search" type="application/opensearchdescription+xml" title="FT中文网财经搜索" href="/opensearch.xml">
    <!--[if lte IE 8]>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    <%include file="next/scripts/key-photo.js"%>
    </script>
    <script type="text/javascript">
    <%include file="next/scripts/o-gallery.js"%>
    </script>
    <%include file="next/partials/s"%>
  </head>
  <%assign var="bannerCount" value=0%>
  <body class="<%$hideDate%>">
      <script>checkB();</script>
      <%include file="next/partials/header.html"%>
      <%include file="next/partials/nav.html"%>
      <%if !preg_match("/艺术品投资/is",$info.tags) && !preg_match("/乐尚街/is",$info.tags)%>
        <%include file="next/partials/banner.html"%>
        <%assign var="bannerCount" value=$bannerCount+1%>
      <%/if%>
      <%include file="next/partials/photo-block.html"%>
      <%include file="next/partials/story-recommend.html%>
      <%include file="next/partials/footer.html"%>
      <%include file="next/partials/QrCode.html"%>
      <%include file="next/partials/story-font.html"%>
      <%include file="next/partials/story-action.html"%>
  </body>
<script type="text/javascript">
  <%include file="next/scripts/main-story.js"%>
</script>
<script type="text/javascript" src="https://dhgxl8qk9zgzr.cloudfront.net/n/main-sharelinks.js?<%include file="next/timestamp/timestamp.html"%>"></script>
</html>