
<%assign var="hideQR" value="yes"%>

<%assign var="channelname" value=" <span>`$tagtitle`</span>"%>
<%if !isset($adchannelID)||$adchannelID ==""%>
<%assign var="adchannelID" value="2000"%>
<%/if%>

<%assign var="adchannelID" value=$adchannelID|regex_replace:"/^(20)(..)$/":'50${2}'%>

<%if $showTimeStamp == ""%>
    <%assign var="showTimeStamp" value="all"%>
<%/if%>

<%*<!-- Start: Decide if show new db-->*%>
   <%*<!-- First： The newdbStart -->*%>
    <%if ($smarty.get.newdb == "yes" && $smarty.get.env == "prod") || date("Ymd", $smarty.now) >= 20180903 %>
       <%assign var=newdbStart value="yes"%>
    <%else%>
       <%assign var=newdbStart value="no"%>
    <%/if%>
   <%*<!-- Second: The newdbShow -->*%>
    
    <%*<!-- 1. Force to show new db ad-->*%>
    <%if $adchannelID == "1701" %>
        <%assign var="newdbShow" value="yes"%>

    <%*<!-- 2. Force to show od chuanyang ad-->*%>
    <%elseif $adchannelID == "5070" || $adchannelID == "5069" || $adchannelID == "5067" || $adchannelID == "5066" %>
        <%assign var="newdbShow" value="no"%>

    <%*<!-- 3. Show new ad or not depending on gray-->*%>
    <%else%>
        <%assign var="newdbRand" value =0|mt_rand:1000 %>
        <%if $newdbRand < 0 %>
            <%assign var="newdbShow" value="yes"%>
        <%else%>
            <%assign var="newdbShow" value="no"%>
        <%/if%>
    <%/if%>

    <%*<!-- Start: iOS native app rules-->*%>
    <%if $smarty.get.webview == "ftcapp"%>
        <%if $smarty.get.newdb == "yes"%>
            <%assign var="newdbShow" value="yes"%>
            <%assign var="newdbStart" value="yes"%>
        <%else%>
            <%assign var="newdbShow" value="no"%>
            <%assign var="newdbStart" value="no"%>
        <%/if%>
    <%/if%>
    <%*<!-- Start: iOS native app rules-->*%>

    <%*<!-- Start: test rules-->*%>
    <%if $smarty.get.newzone != ""%>
        <%assign var="newdbShow" value="yes"%>
        <%assign var="newdbStart" value="yes"%>
    <%/if%>
    <%*<!-- End: test rules-->*%>
<%*<!-- End: Decide if show new db-->*%>


     
<!DOCTYPE html>
<html class="no-js core" data-next-app="tag-page">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <title>全球地产 - FT中文网</title>
    <%if $tagtitle=="FT中文网" || $tagtitle=="无效的关键字"%><META NAME="robots" CONTENT="noindex"><%/if%>
    <META name=keywords content="<%$tagtitle%>">
    <meta content="<%$p.meta.description|default:$PageIntro%>" name="description"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="https://d39nylm5k3hqco.cloudfront.net/img/ipad_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://d39nylm5k3hqco.cloudfront.net" />
    <link rel="preconnect" href="https://thumbor.ftacademy.cn/unsafe" />
    <script>
    window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined');
    if (window.cutsTheMustard) {
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js').replace(/\bcore\b/, 'enhanced');
    }
    </script>
    
    <style><%include file="next/styles/main-search.css"%></style>
    <style><%include file="next/styles/main-page-property.css"%></style>

    <link rel="icon" type="image/png" href="https://d39nylm5k3hqco.cloudfront.net/img/friend-share-icon.jpg" sizes="32x32">
    <link rel="icon" type="image/png" href="https://d39nylm5k3hqco.cloudfront.net/img/friend-share-icon.jpg" sizes="194x194">
    <link rel="apple-touch-icon" sizes="180x180" href="https://d39nylm5k3hqco.cloudfront.net/img/friend-share-icon.jpg" />
    
    <meta name="msapplication-TileColor" content="#fff1e0" />
    <meta name="msapplication-TileImage" content="https://d39nylm5k3hqco.cloudfront.net/img/friend-share-icon.jpg" />

    <script>var gPageId = '<%$tag_name|default:$PageTitle%>';</script>
    <script>var startTime = new Date().getTime();</script>
    <script>
    if ( screen.width<=480) {
        document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=443870811" name="apple-itunes-app" />');
    } else {
        document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=396124008" name="apple-itunes-app" />');
    }
    </script>
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 每日更新" href="/rss/feed" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 双语阅读" href="/rss/diglossia" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 今日焦点" href="/rss/news" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 生活时尚" href="/rss/lifestyle" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 一周十大热门文章" href="/rss/hotstoryby7day" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 热门用户评论" href="/rss/hotusercomment" />
    <link rel="search" type="application/opensearchdescription+xml" title="FT中文网财经搜索" href="/opensearch.xml">
    <%include file = "next/partials/loadAdDataByDevice.html"%>
    <script type="text/javascript">
    <%include file="next/scripts/key.js"%>
    </script>
    <%include file="next/partials/ie-8-hack.html"%>
    <%if $p.meta.sponsorMobile == "yes" || $p.meta.adid == "2061"%>
        <%assign var="sponsorMobile" value="yes"%>
    <%/if%>
    <%include file="next/partials/head.html"%>
  </head>
  <%assign var="bannerCount" value=0%>
  <body class="<%$hideDate%>">
    <script>checkB();</script>
        <%if $smarty.get.webview != "ftcapp"%>
    <header class="header-container">
        <div class="header-inner">
            <div class="header-title">全球地产</div>
            <div class="header-side header-left">
            <div class="header-brand"><figure class="loading logo" data-url="https://d39nylm5k3hqco.cloudfront.net/images/masthead36.png"></figure></div>
            </div>
            <div class="header-side header-right">
                <span class="visitor-box">
                    <a onclick="showOverlay('overlay-login')">登录</a>
                    <a class="more last" href="http://user.ftchinese.com/register">免费注册</a>
                </span>
                <span class="member-box">
                    <a href="/channel/myftlocal.html">我的FT</a>
                    <a id="ft-login-your-account" href="/users/cp">设置</a>
                    <a id="ft-login-logout" href="/users/logout">登出</a>
                </span>
            </div>
        </div>
    </header>
    <%include file="next/partials/login-overlay.html"%>
    <%/if%>

    <%include file="next/partials/nav.html"%>
   
    <%include file="next/partials/banner.html"%>

    <%assign var="bannerCount" value=$bannerCount+1%>

    <%if $pageId=="setting"%>
    <%include file="next/partials/setting-block.html"%>
    <%elseif $pageId!=""%>
    <%include file="next/partials/`$pageId`.html"%>
    <%elseif $pageType=="search"%>
    <%include file="next/partials/search-block.html"%>
    
    <%/if%> 
    <%include file="next/partials/property-block.html"%>
    <%include file="next/partials/banner.html"%>
    <%include file="next/partials/footer.html"%>
    <%include file="next/partials/QrCode.html"%>
  </body>
<!--[if lte IE 8]>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<![endif]-->
<script type="text/javascript">
  <%include file="next/scripts/main.js"%>
</script>
<script src="https://d39nylm5k3hqco.cloudfront.net/js/jquery-1.10.2.min.js?0"></script>

<script type="text/javascript">
$('body').on('click', '#select-search-button', function () { 
    console.log( 'select-search-button');
    var propertyNature=$('#property-nature').val();
    var propertyPosition=$('#property-position').val();
    
    if ((propertyNature==="forSale") && (propertyPosition==="")){
        /*window.location = '/index.php/ft/property';*/
        /*alert('请输入地区') */
        return
    }else{
        window.location = '/index.php/ft/property/list?property-nature='+propertyNature+'&property-position='+propertyPosition;
    }
});
    $('body').on('click', '.nav-link', function () {
        $(this).attr('href','/index.php/ft/property');
    });
    

</script>
</html>