<%*<!--Important: override tag for sponsored special reports start-->*%>
<%assign var="keys" value=$tag%>
<%if $smarty.get.ad == "no" || preg_match("/去广告|会员专享|高端专享/is",$keys)%>
  <%assign var="noAd" value="true"%>
<%/if%>

<%*<!--MARK: This is copied from story.html. We had to do this because included file won't be able to update global variable in this version of smarty. -->*%>
<%*<!--MARK: Check the next model tag for sponsored special reports start-->*%>
<%if $nextmodel != ""%>
  <%assign var="infoForSponsorships" value=$nextmodel->getPublishJson("sponsorshipmanagement")|json_decode:true%>
  <%assign var="infoForBrandSafety" value=$nextmodel->getPublishJson("brandsafety")|json_decode:true%>
  <%assign var="hasFoundSponsorship" value="no"%>
  <%assign var="hasFoundPaidPost" value="no"%>
  <%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
  <%foreach from=$infoForSponsorships.sections item=section%>
    <%if $hasFoundSponsorship == "no" && $section.status == "on" && $section.dates != "" && preg_match("/`$currentDate`/is",$section.dates)%>
      <%assign var="sponsorKeys" value=$section.storyKeyWords%>
      <%if $sponsorKeys == ""%>
        <%assign var="sponsorKeys" value=$section.tag%>
      <%else%>
        <%assign var="sponsorKeys" value=$sponsorKeys|regex_replace:"/, */":"|"%>
      <%/if%>
      <%if $sponsorKeys != "" && preg_match("/`$sponsorKeys`/is",$keys)%>
        <%assign var="hasFoundSponsorship" value="yes"%>
        <%assign var="sponsorshipLink" value=$section.link%>
        <%if $sponsorshipLink == "" && $section.tag != ""%>
          <%assign var="sponsorshipLink" value="/tag/`$section.tag`"%>
        <%/if%>
        <%if $sponsorshipLink != ""%>
          <%assign var="sponsorshipLink" value=" href=\"`$sponsorshipLink`\""%>
          <%assign var=breadcrum value="<a`$sponsorshipLink`>`$section.title`</a>"%>
        <%/if%>
        <%if preg_match("/^[0-9]{4}$/is",$section.adChannelId)%>
          <%assign var="adchannelID" value=$section.adChannelId%>
        <%/if%>
        <%if $section.storyMPU1 != "show"%>
          <%assign var="hideMPU1" value="yes"%>
        <%else%>
          <%assign var="hideMPU1" value="no"%>
        <%/if%>
        <%if $section.storyMPU2 != "show"%>
          <%assign var="hideMPU2" value="yes"%>
        <%else%>
          <%assign var="hideMPU2" value="no"%>
        <%/if%>
        <%if $section.storyMPU3 != "show"%>
          <%assign var="hideMPU3" value="yes"%>
        <%else%>
          <%assign var="hideMPU3" value="no"%>
        <%/if%>
        <%if $section.storyBanner != "show"%>
          <%assign var="hideBanner" value="yes"%>
        <%else%>
          <%assign var="hideBanner" value="no"%>
        <%/if%>
        <%if $section.story590Banner != "show"%>
          <%assign var="hide590" value="yes"%>
        <%else%>
          <%assign var="hide590" value="no"%>
        <%/if%>
        <%if $section.zone != ""%>
          <%assign var="topnav" value="home"%>
          <%assign var="subnav" value="special"%>
          <%assign var="pageId" value=$section.zone%>
        <%/if%>
      <%/if%>
      <%assign var="paidPostKey" value=$section.paidPostKey%>
      <%if $hasFoundPaidPost == "no" && $paidPostKey != "" && preg_match("/`$paidPostKey`/is",$keys)%>
        <%assign var="paidPostTrack" value=$section.paidPostTrack%>
        <%assign var="hasFoundPaidPost" value="yes"%>
      <%/if%>
    <%/if%>
  <%/foreach%>
  <%assign var="hasFoundBrandSafety" value="no"%>
  <%foreach from=$infoForBrandSafety.sections item=section%>
    <%if $hasFoundBrandSafety == "no" && $section.status == "on" && ($section.dates == "" || preg_match("/`$currentDate`/is",$section.dates))%>
      <%assign var="sponsorKeys" value=$section.storyKeyWords%>
      <%if $sponsorKeys == ""%>
        <%assign var="sponsorKeys" value=$section.tag%>
      <%else%>
        <%assign var="sponsorKeys" value=$sponsorKeys|regex_replace:"/, */":"|"%>
      <%/if%>
      <%if $sponsorKeys != "" && preg_match("/`$sponsorKeys`/is",$keys)%>
        <%assign var="hasFoundBrandSafety" value="yes"%>
        <%assign var="sponsorshipLink" value=$section.link%>
        <%if $sponsorshipLink == "" && $section.tag != ""%>
          <%assign var="sponsorshipLink" value="/tag/`$section.tag`"%>
        <%/if%>
        <%if $sponsorshipLink != ""%>
          <%assign var="sponsorshipLink" value=" href=\"`$sponsorshipLink`\""%>
          <%assign var=breadcrum value="<a`$sponsorshipLink`>`$section.title`</a>"%>
        <%/if%>
        <%if preg_match("/^[0-9]{4}$/is",$section.adChannelId)%>
          <%assign var="adchannelID" value=$section.adChannelId%>
        <%/if%>
        <%if $section.storyMPU1 != "show"%>
          <%assign var="hideMPU1" value="yes"%>
        <%else%>
          <%assign var="hideMPU1" value="no"%>
        <%/if%>
        <%if $section.storyMPU2 != "show"%>
          <%assign var="hideMPU2" value="yes"%>
        <%else%>
          <%assign var="hideMPU2" value="no"%>
        <%/if%>
        <%if $section.storyMPU3 != "show"%>
          <%assign var="hideMPU3" value="yes"%>
        <%else%>
          <%assign var="hideMPU3" value="no"%>
        <%/if%>
        <%if $section.storyBanner != "show"%>
          <%assign var="hideBanner" value="yes"%>
        <%else%>
          <%assign var="hideBanner" value="no"%>
        <%/if%>
        <%if $section.story590Banner != "show"%>
          <%assign var="hide590" value="yes"%>
        <%else%>
          <%assign var="hide590" value="no"%>
        <%/if%>
        <%if $section.zone != ""%>
          <%assign var="topnav" value="home"%>
          <%assign var="subnav" value="special"%>
          <%assign var="pageId" value=$section.zone%>
        <%/if%>
      <%/if%>
    <%/if%>
  <%/foreach%>
  <%if $hasFoundSponsorship == "no"%>
    <%assign var="infoForManualTags" value=$nextmodel->getPublishJson("tagmanagement")|json_decode:true%>
    <%assign var="hasFoundManualTag" value="no"%>
    <%foreach from=$infoForManualTags.sections item=section%>
      <%if $hasFoundManualTag == "no" && preg_match("/`$section.tag`/is",$keys)%>
          <%assign var="hasFoundManualTag" value="yes"%>
          <%if $section.topnav != ""%>
              <%assign var="topnav" value=$section.topnav%>
          <%/if%>
          <%if $section.subnav != ""%>
              <%assign var="subnav" value=$section.subnav%>
          <%/if%>
          <%if $section.thirdnav != ""%>
              <%assign var="thirdnav" value=$section.thirdnav%>
          <%/if%>
          <%if $section.link != ""%>
              <%assign var="breadcrum" value="<a href=\"`$section.link`\">`$section.title`</a><button class=\"myft-follow plus\" data-tag=\"`$section.tag`\" data-type=\"tag\">关注</button>"%>
          <%else%>
            <%assign var="breadcrum" value="<a href=\"/tag/`$section.tag`\">`$section.title`</a><button class=\"myft-follow plus\" data-tag=\"`$section.tag`\" data-type=\"tag\">关注</button>"%>
          <%/if%>
      <%/if%>
    <%/foreach%>
  <%/if%>
<%/if%>
<%*<!--MARK: Check the next model tag for sponsored special reports end-->*%>


<!DOCTYPE html>
<html lang="zh-Hans" class="enable-scrollmation">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="<%$cauthor%>"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta property="og:title" content="<%$cheadline%>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content="">
  <meta property="og:description" content="<%$clongleadbody%>" />
  <meta property="og:locale" content="zh-Hans">
  <meta property="og:site_name" content="FT中文网">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FTChinese">
  <meta name="twitter:title" content="<%$cheadline%>">
  <meta name="twitter:description" content="<%$clongleadbody%>">
  <meta name="twitter:image" content="">
  <title><%$cheadline%> - FT中文网</title>
  <!-- smoosh-->
  <link rel="stylesheet" type="text/css" href="http://interactive.ftchinese.com/ig-template/styles/main.css">
  <!-- endsmoosh -->
  <style type="text/css">
    .o-ads {
      margin: 30px auto;
    }
    .o-ads.mpu {
      width: 300px;
    }
    .o-ads[data-o-ads-loaded=false] {
      display: none;
    }
    @media only screen and (max-width: 1119px) {
        .o-ads.banner {
          width: 100%;
          overflow: hidden;
        }
    }
    @media only screen and (min-width: 1200px) {
        .o-ads.banner {
          width: 1200px;
        }
    }
  </style>

  <script type="text/javascript"><%include file="next/scripts/key.js"%></script>
	<%include file="next/partials/head.html"%>

</head>

<body>
<img src="<%$story_pic.other|default:$story_pic.smallbutton|default:$story_pic.cover%>" style="display:block; width:0px; height:0px; overflow:hidden">
<svg style="display:none;">
  <symbol id="o-icons__cross" viewBox="0 0 1024 1024"><path d="M282 672l64 64 160-160 160 160 64-64-160-160 160-160-64-64-160 160-160-160-64 64 160 160z"/></symbol>
  <symbol id="o-icons__hamburger" viewBox="0 0 1024 1024"><path d="M224 304h576v66H224zm0 175h576v66H224zm0 175h576v66H224z"/></symbol>
</svg>
<header class="o-header o-header--theme-dark" data-o-component="o-header">
    <div class="o-header__container">
      <div class="o-header__left">
        <div class="o-header__logo">
          <a class="o-header__logo-link" href="http://www.ftchinese.com" target="_blank" title="前往FT中文网首页"><span>FT中文网</span><img src="http://interactive.ftchinese.com/bower_components/ftc-logos/static/svg/brand-square.svg" target="_blank"></a>
        </div>
        <div class="o-header__series">
          <span><%$cskylineheadline%></span>
        </div>
      </div>

      <div class="o-header__center">
        <div class="o-header__title">
          <span class="o-header__headline"><%$cheadline%></span>
          <%if $eskylineheadline != ""%>
            <a class="o-header__edition" href="<%$eskylineheadline%>" target="_blank">English</a>
          <%/if%>
        </div>
        
      </div>

      <div class="o-header__right" data-o-component="o-toggle">
        <div class="o-share o-share--theme-dark" data-o-component="o-share"></div>

        <button class="o-header__nav-toggle" data-o-toggle-button aria-controls=".o-header__nav">
          <span>目录</span>
          <svg class="o-icons__hamburger">
            <use xlink:href="#o-icons__hamburger"></use>
          </svg>
          <svg class="o-icons__cross">
            <use xlink:href="#o-icons__cross"></use>
          </svg>
        </button>
        
        <ol class="o-header__nav" data-o-toggle-target>
          

            <%if $eskylineheadline != ""%>
            <li class="o-header__nav-item mobile">
              <a class="o-header__edition" href="<%$eskylineheadline%>" target="_blank">English</a>
            </li>
            <%/if%>
        </ol>           
      </div>         
    </div><!-- o-header__container -->    

</header>

	
<article class="article" role="main">
<%$cbody%>
</article>


	<footer class="o-footer o-footer--theme-dark" data-o-component="o-footer">
	<div class="o-footer__container">
		<div class="o-footer__row">
			<nav class="o-footer__matrix">

				
				<div class="o-footer__matrix-group o-footer__matrix-group--">

					<h6 class="o-footer__matrix-title">支持</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/aboutus.html" target="_blank">关于我们</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/jobs/?from=ft" target="_blank">职业机会</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/faq.html" target="_blank">问题回馈</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/contact.html" target="_blank">联系方式</a>
							

					</div>

				</div>
				
				<div class="o-footer__matrix-group o-footer__matrix-group--">

					<h6 class="o-footer__matrix-title">法律事务</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/service.html" target="_blank">服务条款</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/copyright.html" target="_blank">版权声明</a>
							

					</div>

				</div>
				
				<div class="o-footer__matrix-group o-footer__matrix-group--">

					<h6 class="o-footer__matrix-title">服务</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/sales.html" target="_blank">广告业务</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/events/event.html" target="_blank">会议活动</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/marketing/home.html" target="_blank">会员信息中心</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/marketing/ftc.html" target="_blank">最新动态</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/partner.html" target="_blank">合作伙伴</a>
							

					</div>

				</div>
				
				<div class="o-footer__matrix-group o-footer__matrix-group--">

					<h6 class="o-footer__matrix-title">关注我们</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/corp/follow.html" target="_blank">微信</a>
						
						<a class="o-footer__matrix-link" href="http://weibo.com/ftchinese" target="_blank">微博</a>
						
						<a class="o-footer__matrix-link" href="https://www.linkedin.com/company/4865254?trk=hp-feed-company-name" target="_blank">Linkedin</a>
						
						<a class="o-footer__matrix-link" href="https://www.facebook.com/financialtimeschinese" target="_blank">Facebook</a>
						
						<a class="o-footer__matrix-link" href="https://twitter.com/FTChinese" target="_blank">Twitter</a>
							

					</div>

				</div>
				
				<div class="o-footer__matrix-group o-footer__matrix-group--">

					<h6 class="o-footer__matrix-title">FT产品</h6>
					<div class="o-footer__matrix-content">

						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/marketing/intelligence.html" target="_blank">FT研究院</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/channel/mba.html" target="_blank">FT商学院</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/m/marketing/ebook.html" target="_blank">FT电子书</a>
						
						<a class="o-footer__matrix-link" href="http://www.ftchinese.com/channel/datanews.html" target="_blank">数据新闻</a>
						
						<a class="o-footer__matrix-link" href="https://www.ft.com/" target="_blank">FT英文版</a>
							

					</div>

				</div>
				

			</nav>			
		</div>

		<div class="o-footer__copyright">
			<small>
				&#xA9; FT中文网 <%$smarty.now|date_format:"%Y"%>.
				<abbr title="Financial Times" aria-label="F T">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.
			</small>
		</div>

	</div>
</footer>

	

	<script type="text/javascript">
  (function(){
     var sections = document.querySelectorAll('article section[id]'); 
     var sectionsHTML = '';
     for (section of sections) {
        var id = section.id;
        var title = section.getAttribute('title');
        if (title === null) {
          var titleEle = section.querySelector('h2');
          if (titleEle) {
            title = titleEle.innerHTML;
          }
        }
        if (title && title !== '') {
          sectionsHTML += '<li class="o-header__nav-item"><a class="o-header__nav-link" href="#' + id + '">'+ title +'</a></li>'; 
        }
     }
     var headerNav = document.querySelector('.o-header__nav[data-o-toggle-target]');
     if (headerNav) {
      headerNav.innerHTML = sectionsHTML + headerNav.innerHTML;
     }
   })();
  </script>

	<!-- smoosh -->
	<script src="http://interactive.ftchinese.com/ig-template/scripts/main.js"></script>
	
	<!-- endsmoosh -->

	

</body>
</html>