<%if !isset($adchId) || $adchId==""%>
    <%assign var=adchId value="1900"%>
<%/if%>

<%foreach item=t from=$tag%>
<%assign var=mytag value="`$mytag`,`$t.tag`"%>
<%/foreach%>
<%*<!--MARK: Change Ad Channel Id based on tag: <%$mytag|var_dump%>-->*%>
<%*<!--MARK: catelogname: <%$catalogname%>-->*%>
<%if preg_match("/高端视点/",$mytag)%>
    <%assign var=adchId value="1902"%>
<%/if%>

<%if $itemType == ""%>
    <%assign var="itemType" value="video"%>
<%/if%>
<%if $cc_vaddress == ""%>
    <%assign var="cc_vaddress" value=$cbyline_status%>
<%/if%>


<%if $PageTitle == ""%>
    <%assign var="PageTitle" value=$catalogname%>
<%/if%>
<%if preg_match("/有色眼镜/is",$videotag)%>    
    <%assign var="channelcatename" value="有色眼镜"%>
    <%assign var="allstory" value=$videomodel->get_video_by_channel(29,0,50)%> 
    <%assign var="channelLink" value="/channel/videotinted.html"%>
<%elseif preg_match("/高端视点/",$PageTitle)%>
    <%assign var="allstory" value=$videomodel->get_video_by_channel(30,0,50)%>
    <%assign var="channelcatename" value="高端视点"%>
    <%assign var="channelLink" value="/channel/viewtopvideo.html"%>
<%elseif preg_match("/政经/",$PageTitle)%>
    <%assign var="allstory" value=$videomodel->get_video_by_channel(25,0,50)%>
    <%assign var="channelcatename" value="政经"%>
    <%assign var="channelLink" value="/channel/vpolitics.html"%>
<%elseif preg_match("/文化/",$PageTitle)%>
    <%assign var="allstory" value=$videomodel->get_video_by_channel(28,0,50)%>
    <%assign var="channelcatename" value="文化"%>
    <%assign var="channelLink" value="/channel/vculture.html"%>
<%elseif preg_match("/产经/",$PageTitle)%>
    <%assign var="allstory" value=$videomodel->get_video_by_channel(27,0,50)%>
    <%assign var="channelcatename" value="产经"%>
    <%assign var="channelLink" value="/channel/vbusiness.html"%>
<%elseif preg_match("/金融/",$PageTitle)%>
    <%assign var="allstory" value=$videomodel->get_video_by_channel(26,0,50)%> 
    <%assign var="channelcatename" value="金融"%>
    <%assign var="channelLink" value="/channel/vfinance.html"%>
<%elseif preg_match("/秒懂/",$PageTitle)%>
    <%assign var="allstory" value=$videomodel->get_video_by_channel(33,0,50)%> 
    <%assign var="channelcatename" value="秒懂"%>
    <%assign var="channelLink" value="/channel/explainer.html"%>
<%/if%>

<%assign var="topnav" value="stream"%>


<%*<!--MARK: This has to be replicated to multiple templates as this version of smarty doesn't support global scoop in included file-->*%>
<%if $topnav == ""%>
    <%assign var="topnav" value="home"%>
<%/if%>
<%if $smarty.get.topnav != ""%>
    <%assign var="topnav" value=$smarty.get.topnav%>
<%/if%>
<%if $smarty.get.subnav != ""%>
    <%assign var="subnav" value=$smarty.get.subnav%>
<%/if%>
<%if $smarty.get.thirdnav != ""%>
    <%assign var="thirdnav" value=$smarty.get.thirdnav%>
<%/if%>
<%*<!--MARK: End-->*%>


<%if $cheadline == ""%>
    <%assign var="cheadline" value=$video[0].cheadline%>
    <%assign var="cc_vaddress" value=$video[0].cc_vaddress%>
    <%assign var="id" value=$video[0].id%>
    <%assign var="pubdate" value=$video[0].pubdate%>
    <%assign var="cbody" value=$video[0].cbody%>
    <%assign var="cshortleadbody" value=$video[0].cshortleadbody%>
    <%assign var="clongleadbody" value=$video[0].clongleadbody%>
    <%assign var="cbyline" value=$video[0].cbyline%>
    <%assign var="cdescribe" value=$video[0].cdescribe%>
    <%assign var="story_pic" value=$video[0].story_pic%>
    <%assign var="channelLink" value="#"%>
    <%assign var="allstory" value=$video%>
    <%assign var="pageType" value="channel"%>
<%/if%>


<%assign var="shareLead" value=$clongleadbody|default:$cbody%>
<%assign var="shareTitle" value="`$cheadline` - FT中文网"%>
<%assign var="shareUrl" value="http://www.ftchinese.com/`$itemType`/`$id`"%>
<%assign var="shareUrl" value=$shareUrl|escape:'url'%>
<%assign var="shareText" value="【`$cheadline`】`$shareLead`（分享自 @FT中文网）"%>

<%assign var="wechatUrl" value="/m/corp/qrshare.html?url=`$shareUrl`&title=`$shareTitle`"%>
<%assign var="sinaUrl" value="http://service.weibo.com/share/share.php?appkey=4221537403&url=`$shareUrl`?ccode=2G169001&title=`$shareText`&ralateUid=1698233740&source=&sourceUrl=&content=utf-8&pic="%>
<%assign var="linkedInUrl" value="https://www.linkedin.com/cws/share?url=`$shareUrl`%3Fccode%3D2G169003&original_referer=https%3A%2F%2Fdeveloper.linkedin.com%2Fsites%2Fall%2Fthemes%2Fdlc%2Fsandbox.php%3F&token=&isFramed=true&lang=zh_CN&_ts=1422502780259.2795"%>
<%assign var="twitterUrl" value="http://twitter.com/home?status=`$shareText`...%20`$shareUrl`"%>
<%assign var="facebookUrl" value="http://www.facebook.com/sharer.php?u=`$shareUrl`&t=`$shareText`"%>

<%*<!-- Start: Decide if show new db-->*%>
   <%*<!-- First： The newdbStart -->*%>
    <%if ($smarty.get.newdb == "yes" && $smarty.get.env == "prod") || date("Ymd", $smarty.now) >= 20180903 %>
       <%assign var=newdbStart value="yes"%>
    <%else%>
       <%assign var=newdbStart value="no"%>
    <%/if%>
   <%*<!-- Second: The newdbShow -->*%>
    
    <%*<!-- 1. Force to show new db ad-->*%>
    <%if $adchannelID == "1701" %>
        <%assign var="newdbShow" value="yes"%>

    <%*<!-- 2. Force to show od chuanyang ad-->*%>
    <%elseif $adchannelID == "5070" || $adchannelID == "5069" || $adchannelID == "5067" || $adchannelID == "5066" %>
        <%assign var="newdbShow" value="no"%>

    <%*<!-- 3. Show new ad or not depending on gray-->*%>
    <%else%>
        <%assign var="newdbRand" value =0|mt_rand:1000 %>
        <%if $newdbRand < 0 %>
            <%assign var="newdbShow" value="yes"%>
        <%else%>
            <%assign var="newdbShow" value="no"%>
        <%/if%>
    <%/if%>

    <%*<!-- Start: iOS native app rules-->*%>
    <%if $smarty.get.webview == "ftcapp"%>
        <%if $smarty.get.newdb == "yes"%>
            <%assign var="newdbShow" value="yes"%>
            <%assign var="newdbStart" value="yes"%>
        <%else%>
            <%assign var="newdbShow" value="no"%>
            <%assign var="newdbStart" value="no"%>
        <%/if%>
    <%/if%>
    <%*<!-- Start: iOS native app rules-->*%>

    <%*<!-- Start: test rules-->*%>
    <%if $smarty.get.newzone != ""%>
        <%assign var="newdbShow" value="yes"%>
        <%assign var="newdbStart" value="yes"%>
    <%/if%>
    <%*<!-- End: test rules-->*%>
<%*<!-- End: Decide if show new db-->*%>

<%if $smarty.get.bodyonly != "yes"%>
    <!DOCTYPE html>
    <html class="no-js core<%if $smarty.get.webview == "ftcapp"%> is-ftc-app<%/if%><%if $smarty.get.device == "iPad"%> is-ipad-app<%/if%>" data-next-app="video-page">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <title><%$cheadline|default:$PageTitle|strip_tags%> - FT中文网</title>
    <META name=keywords content="<%foreach item=t from=$tag%><%$t.tag%> <%/foreach%>">
    <meta content="<%$PageIntro|default:$clongleadbody%>" name="description"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="robots" content="noarchive">
    <link rel="apple-touch-icon-precomposed" href="https://dhgxl8qk9zgzr.cloudfront.net/img/ipad_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://dhgxl8qk9zgzr.cloudfront.net" />
    <link rel="preconnect" href="https://thumbor.ftacademy.cn/unsafe" />
    <script>
    window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined');
    if (window.cutsTheMustard) {
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js').replace(/\bcore\b/, 'enhanced');
    }
    </script>
    <script>var gPageId = 'video';</script>
    <style>
    <%if $pageType=="channel"%>
        <%include file="next/styles/main-video-channel.css"%>
    <%else%>
        <%include file="next/styles/main-video.css"%>
    <%/if%>
    <%if $smarty.get.webview == "ftcapp"%>
        <%include file="next/styles/main-ftc-app.css"%>
    <%/if%>
    </style>
    <link rel="icon" type="image/png" href="https://dhgxl8qk9zgzr.cloudfront.net/img/friend-share-icon.jpg" sizes="32x32">
    <link rel="icon" type="image/png" href="https://dhgxl8qk9zgzr.cloudfront.net/img/friend-share-icon.jpg" sizes="194x194">
    <link rel="apple-touch-icon" sizes="180x180" href="https://dhgxl8qk9zgzr.cloudfront.net/img/friend-share-icon.jpg" />
    <%if $cc_piclink != ""%>
        <meta property="og:image" content="<%$cc_piclink%>" />
    <%/if%>
    <meta name="msapplication-TileColor" content="#fff1e0" />
    <meta name="msapplication-TileImage" content="https://dhgxl8qk9zgzr.cloudfront.net/img/friend-share-icon.jpg" />


    <script>var startTime = new Date().getTime();</script>
    <script>
    if ( screen.width<=480) {
        document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=443870811" name="apple-itunes-app" />');
    } else {
        document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=396124008" name="apple-itunes-app" />');
    }
    </script>
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 每日更新" href="/rss/feed" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 双语阅读" href="/rss/diglossia" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 今日焦点" href="/rss/news" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 生活时尚" href="/rss/lifestyle" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 一周十大热门文章" href="/rss/hotstoryby7day" />
    <link rel="alternate" type="application/rss+xml" title="FT中文网 - 热门用户评论" href="/rss/hotusercomment" />
    <link rel="search" type="application/opensearchdescription+xml" title="FT中文网财经搜索" href="/opensearch.xml">
    <%include file = "next/partials/loadAdDataByDevice.html"%>
    <script type="text/javascript">
    <%include file="next/scripts/key.js"%>
    </script>
    <%include file="next/partials/ie-8-hack.html"%>
    <%include file="next/partials/head.html"%>

    <%if $smarty.get.webview != "ftcapp" && preg_match("/高端视点/",$PageTitle) %>
        <script>
            var trackImp = 'http://bsch.serving-sys.com/serving/adServer.bs?cn=display&c=19&mc=imp&pli=24934762&PluID=0&ord=__TIME__&rtu=-1&mb=1';        
            var trackVideoImpression = new Image();
            trackVideoImpression.onload = function() {
            }
            trackVideoImpression.onerror = function() {
            }
            trackVideoImpression.src = trackImp;
        </script>
    <%/if%>

    <%if $smarty.get.webview != "ftcapp" && preg_match("/有色眼镜/",$PageTitle) %>
        <script>
        var trackImp = 'http://bsch.serving-sys.com/serving/adServer.bs?cn=display&c=19&mc=imp&pli=23613562&PluID=0&ord=__TIME__&rtu=-1&mb=1';
        var trackVideoImpression = new Image();
        trackVideoImpression.onload = function() {
        }
        trackVideoImpression.onerror = function() {
        }
        trackVideoImpression.src = trackImp;
        </script>
    <%/if%>

    </head>
    <%assign var="bannerCount" value=0%>
    <body>
    <script>checkB();</script>
    <%if $pageType=="channel"%>
        <%include file="next/partials/tag-header.html"%>
    <%else%>
        <%include file="next/partials/header.html"%>
    <%/if%>
    <%include file="next/partials/nav.html"%>

    <%include file="next/partials/banner.html"%>

    <%assign var="bannerCount" value=$bannerCount+1%>
    <%include file="next/partials/video-block.html"%>

    <%if $maxPageIndex && $maxPageIndex>1%>
        <%include file="next/partials/pagination-manual.html"%>
    <%/if%>

    <%include file="next/partials/footer.html"%>
    <%include file="next/partials/QrCode.html"%>
    <%include file="next/partials/story-action.html"%>
    </body>
    <!--[if lte IE 8]>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      <%include file="next/scripts/main-video.js"%>
    </script>
    <script type="text/javascript" src="https://dhgxl8qk9zgzr.cloudfront.net/n/main-sharelinks.js?<%include file="next/timestamp/timestamp.html"%>"></script>
    </html>
<%else%>

    <script>var gPageId = 'video';</script>
    <style>
    <%if $pageType=="channel"%>
        <%include file="next/styles/main-video-channel.css"%>
    <%else%>
        <%include file="next/styles/main-video.css"%>
    <%/if%>
    </style>

    <script type="text/javascript">
        var adChannelId = '<%$adchannelID|default:$adchId%>';
    </script>

    <%assign var="bannerCount" value=0%>
    <script>checkB();</script>
    <%if $pageType=="channel"%>
        <%include file="next/partials/tag-header.html"%>
    <%else%>
        <%include file="next/partials/header.html"%>
    <%/if%>
    <%include file="next/partials/nav.html"%>

    <%include file="next/partials/banner.html"%>

    <%assign var="bannerCount" value=$bannerCount+1%>
    <%include file="next/partials/video-block.html"%>
    <%if $maxPageIndex && $maxPageIndex>1%>
        <%include file="next/partials/pagination-manual.html"%>
    <%/if%>
    <%include file="next/partials/footer.html"%>
    <%include file="next/partials/QrCode.html"%>
    <%include file="next/partials/story-action.html"%>

<%/if%>