<!-- DB Ad -->
  <%include file="next/dbads/dbad-prepare.html"%>

  <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
  <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
  </script>
  
  <script>
      
      googletag.cmd.push(function() {
        var gptadslots = [];
        
        gptadslots.push(
          googletag.defineSlot('/80682004/PC-1000/1000'+adChannelId+'0201', [[969, 90], [1200, 120], [1200, 500], 'fluid', [969, 250], [1200, 400], [969, 400]], 'PC-Leaderboard-Num1').addService(googletag.pubads())
        );
        
        gptadslots.push(  
          googletag.defineSlot('/80682004/PC-1000/1000'+ adChannelId +'0301', [[969, 90], [1200, 120]], 'PC-Banner-Num1').addService(googletag.pubads())
        );
        
        
        gptadslots.push(
          googletag.defineSlot('/80682004/PC-1000/1000'+adChannelId+'0411', [[300, 250], [300, 1050], [300, 600], 'fluid', [810, 600]], 'PC-MPU-Right1').addService(googletag.pubads())
        );
      
        gptadslots.push(
          googletag.defineSlot('/80682004/PC-1000/1000'+adChannelId+'0412', [[300, 250], [300, 1050], [300, 600], 'fluid', [810, 600]], 'PC-MPU-Right2').addService(googletag.pubads())
        );
        
        gptadslots.push(
          googletag.defineSlot('/80682004/PC-1000/1000'+adChannelId+'0421', [[300, 250], [300, 1050], [300, 600], 'fluid', [810, 600]], 'PC-MPU-Middle1').addService(googletag.pubads())
        );
        
        gptadslots.push(
          googletag.defineSlot('/80682004/PC-1000/1000'+adChannelId+'0422', [[300, 250], [300, 1050], [300, 600], 'fluid', [810, 600]], 'PC-MPU-Middle2').addService(googletag.pubads())
        );
       
        googletag.pubads().enableSingleRequest();
        googletag.pubads().disableInitialLoad();
        googletag.enableServices();
        googletag.pubads().refresh(gptadslots);
      });
      
      /*
      googletag.cmd.push(function() {
          googletag.defineSlot('/80682004/iPhoneApp-2000/200010000301', [[414, 104], [375, 94]], 'div-gpt-ad-1518143807221-0').addService(googletag.pubads());
          googletag.pubads().enableSingleRequest();
          googletag.enableServices();
      });
      */
  </script>
  
  <!-- End Doubleclick Head -->