.header-container {
	@include oGridRespondTo($until:L) {
		display: none;
	}
}
.o-nav__placeholder {
	padding: 0;
	margin: 0;
	border: 0;
	@include oGridRespondTo($until: L) {
// placeholder to keep document height intact when `.o-nav` becomes fixed and moved out of document flow.
		height: $o-header-bottom-height/*  + 15px */;
		background-color: transparent;
	}

	@include oGridRespondTo(L) {
		position: relative;
		z-index: 99999999;
		height: $o-header-bottom-height + $o-header-sub-nav-height + 30px;
		background-color: transparent;
	}

	@include oGridTargetIE8 {
		position: relative;
		z-index: 1;
	}
}

.o-nav {
	// @include oColorsFor(o-header);
	background-color: $headerTint;
	color: $whiteColor;
	position: relative;

	@include oGridRespondTo($until: L) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		height: $o-header-bottom-height;
	}
	@include oGridRespondTo(L) {
		
// add background placeholder for .nav-items. Move it out of normal flow.
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: $o-header-sub-nav-height;
			transition: $o-header-height-transition;
			// @include oColorsFor(o-header-sub-nav, background);
			background-color: $headerTintLight;
		}
		.o-nav-sticky & {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
 			&:after {
				height: 0;
			}
			z-index: 999999;
		}
	}
}

.o-nav__meganav-placeholder {
	display: none;
}

.o-nav__outer {
	position: relative;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	min-width: $o-grid-min-width;
	max-width: 1260px;
	padding-left: oGridGutter();
	padding-right: oGridGutter();


	@include oGridRespondTo(L) {
		padding: 0 30px;
	}

	@include oGridTargetIE8 {
		padding-left: oGridGutter($o-grid-fixed-layout);
		padding-right: oGridGutter($o-grid-fixed-layout);
		width: oGridGetMaxWidthForLayout($o-grid-fixed-layout, $grid-mode: 'fixed');
	}
}

.o-nav__inner {
	position: relative;
	box-sizing: border-box;
	display: block;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}

.site-map {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	min-width: $o-grid-min-width;
	max-width: 1260px;
	padding: 5px oGridGutter() 10px oGridGutter();

	@include oGridRespondTo(L) {
		display: none;
	}
}
.site-map__container {
	box-sizing: border-box;
	display: block;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}
.site-map__items {
	li {
		display: inline-block;
		background-image: url('http://s.ftimg.net/img/png/arrow-right.png');
		background-image: url('http://s.ftimg.net/img/svg/arrow-right.svg');
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 15px;
		padding-left: 15px;
		a {
			font-size: 1.05em;
			line-height: 120%;
			&:hover {
			    color: #2e6e9e;
			}
		}
	}
	li:first-child {
		background-image: none;
		padding-left: 0;
	}
}