.o-nav__extra-tools {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;

	@include oGridRespondTo(XL) {
		display: block;
		height: $o-header-sub-nav-height;
		transition: $o-header-height-transition;

		position: absolute;
		right: 0;
		top: 100%;
		z-index: 10;

		.o-nav-sticky & {
			height: 0;
			overflow: hidden;
		}

		.tools-section {
			display: inline-block;
			position: relative;
			height: $o-header-sub-nav-height;
		}

		.tools-section[aria-haspopup=true] .tools-section-head:after {
				content: '';
				padding-left: 5px;
				@include oHeaderIcon('white/arrow-down-white', 10);
		}

		.tools-section-head {
			text-decoration: none;
			display: block;
			word-break: keep-all;
			white-space: nowrap;
			line-height: $o-header-sub-nav-height;
			font-size: 14px;
			color: $whiteColor;
			padding: 0 5px 0 0;
		}

		.follow__rss {
			span {
				text-indent: -999em;
				@include oHeaderIcon(rss, 20);
				display: block;
				height: $o-header-sub-nav-height;
			}
		}

		.tools-section:hover .tools-section-head,
		.tools-section-head:hover {
			&:after {
				background-image: url('http://static.ftchinese.com/ftc-icons/png/white/arrow-up-white.png');
				background-image: url('http://static.ftchinese.com/ftc-icons/svg/white/arrow-up-white.svg');				
			}
		}

		.tools-items {
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 0;
			min-width: 100%;
			z-index: 1;
			display: none;
			background-color: $headerTintLight;

			li {
				border-top: 1px solid #666;
			}
			a{
				color: $whiteColor;
				padding: 0 10px;
				height: $o-header-sub-nav-height;
				line-height: $o-header-sub-nav-height;
				font-size: 12px;
				display: block;
				text-decoration: none;
				white-space: nowrap;

				&:hover {
					background-color: $darkGreen;
				}
			}
		}

		.tools-section:hover,
		.tools-section-head:hover ~ {
			.tools-items {
				z-index: 5;
				display: block;
			}
		}
	}
}

.o-nav__placeholder {
	@include oGridRespondTo($until: L) {
		position: relative;
	}
}
.current-page {
	position: absolute;
	left: 0;
	bottom: 0;
}



