.o-header__masthead-mobile {
// This makes the o-header__bottom 12 * 2 + 21 = 45px;
	padding: ($o-header-bottom-height - $o-header-logo-mobile-height)*0.5 0;
	margin: 0;

	@include oGridRespondTo(L) {
		display: none;
	}
	> a {
		@include oHeaderLogo($o-header-logo-mobile-height);
	}
}

.hide_nav {
	.o-nav__placeholder {
		@include oGridRespondTo(L) {
			display: none;
		}
	}
	.nav-toggle, .mps {
		display: none;
	}
}

.hide_header {
	.o-nav__placeholder, header, .header-container {
		display: none;
	}
}


@if variable-exists(mastHeadBig5) {
	.is-big5 .o-header__masthead-mobile {
		> a {
			background-image: $mastHeadBig5;
		}
	}
}