.o-nav--open {
	@include oGridRespondTo($until: M) {
		overflow-y: hidden;
		height: 100%;
	}
}

.o-nav__container {
	position: absolute;
	top: 0;
	height: $o-header-bottom-height;
}

.o-nav__meganav {
	list-style: none;
	margin: 0;
	padding: 0;

	@include oGridRespondTo($until:L) {
		background-color: $o-nav-pink-mobile;
		color: $headerTint;
		
		position: absolute;
		display: none;
// psuedo left column background.
		&:before {
			content: '';
			display: block;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: $o-header-mobile-left-width;
			background-color: $headerTint;
			color: $whiteColor;
			z-index: -1;
		}
		
		.nav-toggle[aria-pressed=true] ~ & {
			display: block;
			position: fixed;
			top: $o-header-bottom-height;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 1;
			overflow-y: scroll;
			width: 100%;
			display: block;
		}
	}
}

// use `display:block` with caution here. It is not the same as `display:list-item`.
.nav-section{
	@include oGridRespondTo($until: L) {
		&.logout {
			display: none;
		}
		.is-member &.login{
			display: none;
		}
		.is-member &.logout {
			display: block;
		}
	}
}

// left part of navigation on small screen
.nav-section-head {
	box-sizing: border-box;

	@include oGridRespondTo($until:L) {
		@include oNavMobileLeft;

		// override link color for luxury page
		&:after {
			content: '';
			padding-left: 1em;
			margin-right: -15px;
			@include oHeaderIcon('white/arrow-right-white', 10);
		}

		&[aria-selected=true] {
// When button.nav-section-head was clicked
			background-color: $o-nav-pink-mobile;
			color: $headerTint;
			font-weight: bold;

			&:after {
				@include oHeaderIcon(arrow-right, 10);
			}
		}
	}

	&.desktop {
		display: none;
	}

	&.mobile {
		display: block;
		@include oGridRespondTo(L) {
			display: none;
		}
	}
}

// right part of navigation on small screen
.nav-items {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;

	@include oGridRespondTo($until:L) {
		padding-left: oGridGutter();
		min-width: $o-header-mobile-right-width;
		max-width: $o-header-mobile-right-width;
		width: $o-header-mobile-right-width;
			
		// position: absolute;
		position: fixed;
		right: 0;
		// top: 0;
		top: $o-header-bottom-height;
		bottom: 0;
		padding: 0 0 0 15px;
		min-height: 340px;
		overflow-y: scroll;

		.nav-section-head ~ &{
			display: none;
		}
		.nav-section-head[aria-selected=true] ~ &{
			display: block;
		}
		// @include oColorsFor(o-header-mega-nav);
		background-color: $o-nav-pink-mobile;
		color: $headerTint;
	}
}

// set links' style
.nav-link {
	box-sizing: border-box;	
	text-decoration: none;

	@include oGridRespondTo($until:L) {
		@include oNavMobileLeft;

		&:hover {
			color: $whiteColor;
		}

		.nav-items & {
// reset styles to default for links of level-2 nav.
			display: block;
			padding-left: 0;
			padding-right: 0;
			min-width: 0;
			max-width: none;
			width: auto;
			height: 32px;
			line-height: 32px;
			text-align: left;
// reset color and background-colors under `.nav-items`.
			background-color: $o-nav-pink-mobile;
			color: $headerTint;

			font-size: 16px;
			font-weight: normal;	
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

.nav-sub-items {
	display: none;
}


/* =====toggler==== */

.nav-toggle {
	@include oGridRespondTo(L) {
		display: none;
	}
	background-color: $headerTint;
	color: $whiteColor;

	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
	cursor: pointer;
	text-align: left;
	display: inline-block;
	line-height: $o-header-bottom-height;
	height: 100%;
	width: $o-header-bottom-height;
	text-align: left;
	vertical-align: middle;

	span {
		display: none;
	}

	@include oGridRespondTo($until:L) {
		&:before {
			content: '';
			vertical-align: middle;
			@include oHeaderIcon('white/hamburger-white', 20);
		}

		&[aria-pressed=true]{
			&:before {
				@include oHeaderIcon('white/cross-white', 20);
			}

		}		
	}
}
