.o-nav__search {
	z-index: 10;
	background-color: transparent;
	// overflow: hidden;
	box-sizing: border-box;	
	padding: 0;
	margin: 0;
	width: $o-header-bottom-height;
	height: $o-header-bottom-height;
	float: right;

	button {
		box-sizing: border-box;
	 	padding: 0;
		margin: 0;
		border: none;
		outline: none;
		cursor: pointer;
		text-align: center;
		background-color: transparent;
		width: $o-header-bottom-height;
		height: 100%;
		span {
			color: $whiteColor;
		}
	}
}

.o-nav__search-toggle {
	width: $o-header-bottom-height;
	height: $o-header-bottom-height;	
	// background-color: transparent;	
	display: inline-block;
	position: relative;
	z-index: 10;
	.search-toggle--close {
		display: none;
	}
	.search-toggle--open {
		display: none
	}
	&:after {
		content: '';
		vertical-align: middle;
		@include oHeaderIcon('white/search-white', 20);
	}
	&[aria-expanded=true]:after {
		@include oHeaderIcon('white/cross-white', 20);
	}
}

#search-form {
	box-sizing: border-box;
	background-color: $headerTint;
	padding: 0 $o-header-bottom-height;
	position: absolute;
	top: 0;
	right: -10px;
	z-index: 9;

	height: $o-header-bottom-height;
	width: 0;
	visibility: hidden;
	&[aria-hidden="false"] {
		width: 100%;
		right: $o-header-bottom-height;
		visibility: visible;
	}
}

.search-input {
	box-sizing: border-box;
	color: white;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;
	display: block;
	margin: 0 0 0 $o-header-bottom-height;
	padding: 2px 26px 1px 12px;
	height: 100%;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
// canel iOS safari auto zoom.
	font-size: inherit;
	display: block;
	@include oHeaderSearchExpanded;
	
	transition: 0.2s width;
}

.search-button {
	position: absolute;
	left: $o-header-bottom-height;;
	top: 0;

	&:after {
		content: '';
		vertical-align: middle;
		@include oHeaderIcon('white/search-white', 20);
	}
 	span {
		display: none;
		z-index: 0;
	}
}