<style>
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
img{
    border-style: none;
}
a {
    text-decoration: none;
    background-color: transparent;
}

@media only screen and (min-width: 1024px) {
     /* 图片 */
    .headerBigImage{
        width: inherit;
        height: auto;
        margin: 0 auto;
    }
    .bigImage{
        width:100%;
        height:100%;
    }

    .headerSmallImage{
        width: 800px;
        height: auto;
        margin: 0 auto;
    }
    .smallImage{
        width:100%;
        height:100%;
    }
    /* 带框的标题+ 文字 ------内容介绍 */
       /* 公共部分 */
    .container{
        display: block;
        width: 800px;
        margin: 60px auto;
        position:relative;
        border-radius: 8px;
    }
    .container-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        font-size: 36px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        border-radius: 25px;
        text-align: center;
        color: #010101;
    }
    .title-photo{
        width: 80%;
        border-radius: 25px;
    }
    .containerTitleImage{
        display: block;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .container-content{
        padding: 60px 0 30px 0;
        text-align: center;
        font-size: 24px;
    }
    .title-content{
        padding: 40px 0 20px 0;
    }
    .noTitle-content{
        padding: 20px 0;
    }
    .captionImage{
        display: block;
        width: 500px;
        height: auto;
        margin: 20px auto;
    }
    .caption{
        line-height: 30px;
        margin: 20px 20px 0 20px;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }
    .pointImage{
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
    .caption > p{
        line-height: 40px;
    }

     /* 如何参加 */
    .join-name{
        line-height: 42px;
        font-size: 40px;
    }
    .join-success{
        line-height: 35px;
        font-size: 30px;
        margin: 25px 0 45px 0;
    }
    .join-remind{
        height: 20px;
        line-height: 20px;
        font-size: 14px;
    }


    /* 企业机构会员 */
    .company-detail {
        margin-bottom: 20px;
    }
    .company-service{
        margin: 40px 0;
        display: flex;
        justify-content: space-around;
    }
    .service-detail{
        text-align: center;
    }
    .companyImage {
        margin: 0 auto;
        width: 70px;
        height: 70px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .companyImage > img {
        width: auto;
        height: auto;
    }
    .company-remind{
        font-size: 14px;
        margin-top: 50px
    }

      /* 赠品介绍 */
    .giveaways-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    .giveawaysImage{
        width: 500px;
        height: auto;
    }
    .giveaways-name{
        font-size: 24px;
        font-weight: bold;
        padding: 0 30px;
        line-height: 40px;
        margin: 30px 0;
    }
    .giveaways-remind{
        line-height: 20px;
        font-size: 14px;
    }
    .giveaways-explanation{
        text-align: left;
        line-height: 40px;
        padding: 0 30px;
    }

   /* 公共部分 */
    .memberContainer {
        width: 800px;
        margin: 140px auto 80px auto;
        border-radius: 8px;
        position: relative;
    }

    .member-price{
        width: 85%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: -80px;
        margin: auto;
        z-index: 1;
        border-radius: 10px;
    }
    .priceImage{
        width:100%;
        height:100%;
    }
    .member-content{
        padding: 100px 120px 80px 120px;
    }
    /* 标准会员权益 */
      /* 内容 */
    .standardMember-detail{
        margin-top: 64px;
        display: flex;
    }
    .memberImage{
        flex: none;
        width: 104px;
        height: 104px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .memberImage > img {
        width: auto;
        height: auto;
    }
    .standardTopic{
        flex: 1;
        margin-left: 45px;
    }
    /* 右边内容 */
    .standardTopic-name {
        line-height: 30px;
        font-size: 28px;
        margin: 5px 0 15px 0;
    }
    .standardTopic-content{
        line-height: 40px;
        font-size: 22px;
        color: #657278;
    }


    /* 高端会员权益 */
     /* 标题 */
    .premium-title{
        margin-top: 60px;
        line-height: 45px;
        font-size: 30px;
        text-align: center;
    }
    .title-span{
        margin: 0 5px;
        padding: 0 5px;
        display: inline-block;
        width: 180px;
        height: inherit;
        line-height: inherit;
        background-color: #841b20;
        border-radius: 25px;
    }
      /* 内容 */
    .premiumMember-details{
        margin-top: 64px;
        display: flex;;
    }
    .premiumImage{
        flex: none;
        width: 104px;
        height: 104px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .premiumImage > img {
        width: auto;
        height: auto;
    }
    .premiumTopic{
        flex: 1;
        margin-left: 45px;
    }
    /* 右边内容 */
    .premiumTopic-name {
        line-height: 30px;
        font-size: 28px;
        margin: 5px 0 15px 0;
    }
    .premiumTopic-content{
        line-height: 40px;
        font-size: 22px;
        color: #657278;
    }
    .premiumTopic-notice{
        line-height: 18px;
        font-size: 14px;
        margin-top: 30px;
    }
    .premiumMember-remind{
        text-align: center;
        line-height: 20px;
        font-size: 14px;
        font-weight: bold;
        margin-top: 64px;
    }
}

@media only screen and (max-width: 768px) {
       /* 图片 */
    .headerBigImage{
        width: inherit;
        height: auto;
        margin: 0 auto;
    }
    .bigImage{
        width:100%;
        height:100%;
    }

    .headerSmallImage{
        width: inherit;
        height: auto;
        margin: 0 auto;
    }
    .smallImage{
        width:100%;
        height:100%;
    }
    /* 带框的标题+ 文字 ------内容介绍 */
       /* 公共部分 */
    .container{
        display: block;
        width: inherit;
        margin: 10px 10px 60px 10px;
        position:relative;
        border-radius: 8px;
    }
    .container-title{
        width: 80%;
        height: 36px;
        line-height: 36px;
        font-size: 24px;
        position: absolute;
        left: 0;
        right: 0;
        top: -18px;
        margin: auto;
        z-index: 1;
        border-radius: 25px;
        text-align: center;
        color: #010101;
    }
    .title-photo{
        width: 90%;
        border-radius: 25px;
    }
    .containerTitleImage{
        display: block;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .container-content{
        padding: 40px 0;
        text-align: center;
        font-size: 18px;
    }
    .title-content{
        padding: 5px 0 20px 0;
    }


     /* introduction */
    .captionImage{
        display: block;
        width: 280px;
        height: auto;
        margin: 20px auto;
    }
    .caption{
        line-height: 30px;
        margin: 20px 10px 0 10px;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }
    .pointImage{
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }
    .caption > p{
        line-height: 40px;
    }

     /* 如何参加 */
    .join-name{
        line-height: 42px;
        font-size: 28px;
    }
    .join-success{
        line-height: 15px;
        margin: 25px 0;
    }
    .join-remind{
        line-height: 20px;
        font-size: 10px;
    }


    /* 企业机构会员 */
    .company-detail {
        margin-bottom: 20px;
    }
    .memberCompanies-content{
        padding: 40px 0;
    }
    .company-service{
        margin: 20px 0;
        display: flex;
        justify-content: space-around;
    }
    .service-detail{
        text-align: center;
        font-size: 13px;
    }
    .companyImage {
        margin: 0 auto;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .companyImage > img {
        width: 50%;
        height: auto;
    }
    .company-remind{
        font-size: 10px;
    }

      /* 赠品介绍 */
    .giveaways-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    .giveawaysImage{
        width: 240px;
        height: auto;
    }
    .giveaways-name{
        font-size: 18px;
        font-weight: bold;
        padding: 0 30px;
        line-height: 40px;
        margin: 30px 0;
    }
    .giveaways-remind{
        line-height: 20px;
        font-size: 10px;
    }
    .giveaways-explanation{
        text-align: left;
        line-height: 40px;
        padding: 0 30px;
    }

   /* 公共部分 */
    .memberContainer {
        width: inherit;
        margin: 80px 10px 60px 10px;
        border-radius: 8px;
        position: relative;
    }

    .member-price{
        width: 90%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: -40px;
        margin: auto;
        z-index: 1;
        border-radius: 5px;
    }
    .priceImage{
        width:100%;
        height:100%;
    }
    .member-content{
        padding: 30px 20px 30px 45px;
    }
    /* 标准会员权益 */
      /* 内容 */
    .standardMember-detail{
        margin-top: 44px;
        display: flex;
    }
    .memberImage{
        flex: none;
        width: 52px;
        height: 52px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .memberImage > img {
        width: 50%;
        height: 50%;
    }
    .standardTopic{
        flex: 1;
        margin-left: 15px;
    }
    /* 右边内容 */
    .standardTopic-name {
        line-height: 20px;
        font-size: 18px;
        margin: 5px 0;
    }
    .standardTopic-content{
        line-height: 20px;
        font-size: 12px;
        color: #657278;
    }


    /* 高端会员权益 */
     /* 标题 */
    .premium-title{
        height: 30px
        line-height: 30px;
        font-size: 20px;
        text-align: center;
        margin-top: 40px;
    }
    .title-span{
        margin: 0 5px;
        padding: 0 5px;
        display: inline-block;
        width: 120px;
        height: inherit;
        line-height: inherit;
        border-radius: 25px;
    }
      /* 内容 */
    .premiumMember-details{
        margin-top: 44px;
        display: flex;
    }
    .premiumImage{
        flex: none;
        margin-top: 5px;
        width: 52px;
        height: 52px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .premiumImage > img {
        width: 50%;
        height: 50%;
    }
    .premiumTopic{
        flex: 1;
        margin-left: 15px;
    }
    /* 右边内容 */
    .premiumTopic-name {
        line-height: 25px;
        font-size: 18px;
        margin: 5px 0;
    }
    .premiumTopic-content{
        line-height: 20px;
        font-size: 12px;
        color: #657278;
    }
    .premiumTopic-notice{
        line-height: 18px;
        font-size: 10px;
        margin-top: 10px;
    }
    .premiumMember-remind{
        line-height: 20px;
        font-size: 8px;
        font-weight: bold;
        margin-top: 44px;
    }
}

</style>


<%%>








<%if $list.ItemLayout == "headerBigImage"%>
    <div class="<%$list.ItemLayout%>">
        <img src="<%$list.HeadImage%>" alt="" class="bigImage">
    </div>
<%/if%>

<%if $list.ItemLayout == "headerSmallImage"%>
    <div class="<%$list.ItemLayout%>">
        <img src="<%$list.HeadImage%>" alt="" class="smallImage">
    </div>
<%/if%>

<%if $list.ItemLayout == "standardMemberRights"%>
    <div class="<%$list.ItemLayout%> memberContainer" style="background-color: <%$list.BackgroundColor%>">
        <div class="member-price">
            <img src="<%$list.TitleImage%>" alt="" class="priceImage">
        </div>
        <div class="member-content">
            <%foreach from=$list.items item=item%>
                <div class="standardMember-detail">
                    <div class="memberImage" style="background-color: <%$list.IconColor%>">
                        <img src="<%$item.image%>" alt="">
                    </div>
                    <div class="standardTopic">
                        <div class="standardTopic-name" style="color: <%$list.FontColor%>"><%$item.shortlead%></div>
                        <div class="standardTopic-content"><%$item.longlead%></div>
                    </div>
                </div>
            <%/foreach%>
        </div>
    </div>
<%/if%>

<%if $list.ItemLayout == "premiumMemberRights"%>
    <div class="<%$list.ItemLayout%> memberContainer" style="background-color: <%$list.BackgroundColor%>" >
        <div class="member-price">
            <img src="<%$list.TitleImage%>" alt="" class="priceImage">
        </div>
        <div class="member-content">
            <p class="premium-title">享受<span class="title-span" style="background-color: <%$list.SubtitleColor%>">标&nbsp;准&nbsp;会&nbsp;员</span>所有权益</p>
            <%foreach from=$list.items item=item%>
                <div class="premiumMember-details">
                    <div class="premiumImage"  style="background-color: <%$list.IconColor%>">
                        <img src="<%$item.image%>" alt="">
                    </div>
                    <div class="premiumTopic">
                        <div class="premiumTopic-name" style="color: <%$list.FontColor%>"><%$item.shortlead%></div>
                        <div class="premiumTopic-content"><%$item.longlead%></div>
                        <div class="premiumTopic-notice"><%$item.tag%></div>
                    </div>
                </div>
            <%/foreach%>
            <div class="premiumMember-remind">*付费后请关注欢迎邮件，内有会员专属服务平台访问方式及功能服务介绍</div>
        </div>
    </div>
<%/if%>

<%if $list.ItemLayout == "headline-word"%>
    <div class="<%$list.ItemLayout%>  container" style="background-color: <%$list.BackgroundColor%>">
        <div class="container-title" style="background-color: <%$list.TitleColor%>"><%$list.title%></div>
        <div class="container-content title-content">
            <%foreach from=$list.items item=item%>
                <div class="caption">
                    <img src="<%$item.image%>" alt="" class="pointImage">
                    <p><%$item.longlead%></p>
                </div>
            <%/foreach%>
            <img src="<%$list.ItemImage%>" alt="" class="captionImage">
        </div>
    </div>
<%/if%>

<%if $list.ItemLayout == "headline-photo"%>
    <div class="<%$list.ItemLayout%>  container" style="background-color: <%$list.BackgroundColor%>">
        <div class="container-title title-photo" style="background-color: <%$list.TitleColor%>">
            <img src="<%$list.TitleImage%>" alt="" class="containerTitleImage">
        </div>
        <div class="container-content title-content">
            <%foreach from=$list.items item=item%>
                <div class="caption">
                    <img src="<%$item.image%>" alt="" class="pointImage">
                    <p><%$item.longlead%></p>
                </div>
            <%/foreach%>
            <img src="<%$list.ItemImage%>" alt="" class="captionImage">
        </div>
    </div>
<%/if%>

<%if $list.ItemLayout == "introduction"%>
    <div class="<%$list.ItemLayout%>  container" style="background-color: <%$list.BackgroundColor%>">
        <div class="container-content noTitle-content">
            <%foreach from=$list.items item=item%>
                <div class="caption">
                    <img src="<%$item.image%>" alt="" class="pointImage">
                    <p><%$item.longlead%></p>
                </div>
            <%/foreach%>
            <img src="<%$list.ItemImage%>" alt="" class="captionImage">
        </div>
    </div>
<%/if%>



<%if $list.ItemLayout == "join"%>
    <div class="<%$list.ItemLayout%> container"  style="background-color: <%$list.BackgroundColor%>">
        <div class="container-title" style="background-color: <%$list.TitleColor%>"><%$list.title%></div>
        <div class="container-content">
            <%foreach from=$list.items item=item%>
                <p class="join-name"><%$item.tag%></p>
                <p class="join-success"><%$item.headline%></p>
                <p class="join-remind">*<%$item.longlead%></p>
                <p class="join-remind">*<%$item.shortlead%></p>
            <%/foreach%>
        </div>
    </div>
<%/if%>

<%if $list.ItemLayout == "giveaways"%>
    <div class="<%$list.ItemLayout%>  container" style="background-color: <%$list.BackgroundColor%>">
        <div class="container-title" style="background-color: <%$list.TitleColor%>"><%$list.title%></div>
        <div class="container-content">
            <%foreach from=$list.items item=item%>
                <div class="giveaways-detail">
                    <img src="<%$item.image%>" alt="" class="giveawaysImage">
                    <p class="giveaways-name"><%$item.headline%></p>
                    <p class="giveaways-explanation"><%$item.longlead%></p>
                    <p class="giveaways-remind"><%$item.shortlead%></p>
                </div>
            <%/foreach%>
        </div>
    </div>
<%/if%>


<%if $list.ItemLayout == "memberCompanies"%>
    <div class="<%$list.ItemLayout%> container"  style="background-color: <%$list.BackgroundColor%>">
        <div class="container-title" style="background-color: <%$list.TitleColor%>"><%$list.title%></div>
        <div class="container-content memberCompanies-content">
            <p class="company-detail">同一机构、同时订阅5个高端会员及以上</p>
            <p class="company-detail">可享有如下服务，具体请联系fan.qi@ftchinese.com </p>
            <div class="company-service">
                <%foreach from=$list.items item=item%>
                    <div class="service-detail">
                        <div class="companyImage" style="background-color: <%$list.IconColor%>">
                            <img src="<%$item.image%>" alt="">
                        </div>
                        <p><%$item.longlead%></p>
                    </div>
                <%/foreach%>
            </div>
            <p class="company-remind">*企业机构会员不参加本次活动</p>
        </div>
    </div>
<%/if%>








<%*


*%>