<style>
@media only screen and (min-width: 1024px) {
    #box{
        margin: 0 auto;
        width: 1024px;
        position: relative;
    }
    /* 图片 */
    .header-img{
        width: inherit;
        height: 320px;
        background-image: url('../image/bg-1.jpg');
        background-repeat: no-repeat;
        background-size:100% auto;
    }

    /* 文字说明模块 */
    .content{
        width: 800px;
        margin: 0 auto;
        padding-bottom: 60px;
    }
        /* 活动介绍 */
    .introduction{
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 20px;
        margin: 0 20px;
        padding: 30px 80px;
    }
    .caption {
        line-height: 40px;
        margin-bottom: 20px;
    }
    /* 会员权益 */
    .member-title{
        margin: 30px 20px 120px 20px;
        text-align: justify;
        text-align-last: justify;
        font-size: 80px;
        color: #d3edfa;
        font-weight: bold;
    }
    /*  会员标准 */
    /* 标准会员 */
    .standard-member{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 30px 20px;
    }
    /* 标题 */
    .price{
        width: 80%;
        height: 180px;
        position: absolute;
        left: 0;
        right: 0;
        top: -90px;
        margin: auto;
        z-index: 1;
        background-color: #841b20;
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price-left{
        width: 50%;
        height: 46px;
        line-height: 46px;
        text-align: center;
        font-size: 42px;
    }
    .price-right{
        width: 50%;
        height: 80px;
        line-height: 80px;
        font-size: 38px;
        text-align: left;
    }
    .right-bold{
        font-size: 90px;
        font-weight:bold;
    }
    /* 内容 */
    .standard{
        width: 80%;
        padding: 140px 0 40px 70px;
        margin: 0 auto;
    }
    .standard-detail{
        height: 106px;
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .detail-img{
        width: 104px;
        height: 104px;
        border-radius: 6px;
    }
    .detailImg{
        width: 100%;
        height: auto;
    }
    .detail-topic{
        width: 90%;
        height: inherit;
        margin-left: 45px;
    }
    .topic-name {
        height: 30px;
        line-height: 30px;
        font-size: 28px;
        margin: 15px 0 20px 0;
        color: #8b2123;
    }
    .topic-content{
        height: 24px;
        line-height: 24px;
        font-size: 20px;
        color: #657278;
    }
    /* 高端会员 */
    .high-member{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 160px 20px 30px 20px;
    }
    .high-price{
        background-color: #112041;
    }

    /* 内容 */
    .high{
        width: 80%;
        padding: 120px 0 40px 25px;
        margin: 0 auto;
    }
    /* 标题 */
    .high-title{
        height: 45px;
        line-height: 45px;
        font-size: 30px;
        text-align: center;
        margin-bottom: 80px;
    }
    .title-span{
        margin: 0 5px;
        padding: 0 5px;
        display: inline-block;
        width: 180px;
        height: inherit;
        line-height: inherit;
        background-color: #841b20;
        border-radius: 25px;
        color: #fff;
    }
    /* 内容 */
    .high-detail{
        height: 130px;
        margin-bottom: 64px;
        padding-left: 20px;
        display: flex;
        justify-content: space-around;
    }
    .highTopic{
        width: 90%;
        height: inherit;
        margin-left: 45px;
    }
    /* 右边内容 */
    .high-name {
        height: 30px;
        line-height: 30px;
        font-size: 28px;
        margin: 5px 0 15px 0;
        color: #112041;
    }
    .high-content{
        line-height: 40px;
        font-size: 22px;
        color: #657278;
    }
    .high-notice{
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        margin-top: 30px;
    }
    .detail-warn{
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        padding-left: 20px;
        font-weight: bold;
    }
    /* 如何参加 */
    .join{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 24px;
        margin: 100px 20px 30px 20px;
    }
    /* 标题 */
    .join-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .join-title > p{
        margin: 0 auto;
        height: 42px;
        font-size: 40px;
        padding-left: 10px;
    }
    .join-content{
        margin: 0 auto;
        padding: 50px 0 30px 0;
        text-align: center;
    }
    .join-content > h2{
        height: 42px;
        line-height: 42px;
        font-size: 40px;
        font-weight: normal;
        margin-bottom: 0;
    }
    .join-success{
        line-height: 35px;
        font-size: 30px;
        margin: 25px 0 45px 0;
    }
    .join-warn{
        height: 20px;
        line-height: 20px;
        font-size: 14px;
    }
    /* 赠品介绍 */
    .giveaways{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 100px 20px 30px 20px;
    }
    /* 标题 */
    .giveaways-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        font-size: 42px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .giveaways-content{
        width: 90%;
        height: 300px;
        margin: 0 auto;
        padding: 70px 0 30px 0;
        text-align: center;
        background-color: #0f1f43;
    }
    /*  活动须知 */
    .notice{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 20px;
        margin: 100px 20px 30px 20px;
    }
    /* 标题 */
    .notice-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        font-size: 42px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .notice-content{
        width: 90%;
        margin: 0 auto;
        padding: 70px 0 30px 0;
    }
    .notice-detail{
        line-height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .notice-detail > p {
        line-height: 40px;
    }
    .noticeImg{
        width: 16px;
        margin-right: 20px;
    }
    /* 企业机构会员 */
    .company{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 20px;
        margin: 100px 20px 0 20px;
    }
    /* 标题 */
    .company-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        font-size: 42px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .company-content{
        margin: 0 auto;
        padding: 70px 0 30px 0;
        text-align: center;
    }
    .company-detail{
        margin-bottom: 40px;
    }
    .company-serice{
        display: flex;
        justify-content: space-around;
    }
    .service-detail > img {
        width: 75px;
        height: 80px;
        margin-bottom: 30px;
    }
    .company-warn{
        font-size: 14px;
        margin-top: 50px;
    }

}
@media only screen and (min-width: 612px) and (max-width: 1023px) {
    #box{
        margin: 0 auto;
        width: 800px;
        position: relative;
    }
    /* 图片 */
    .header-img{
        width: inherit;
        height: 260px;
        background-image: url('../image/bg-1.jpg');
        background-repeat: no-repeat;
        background-size:100% auto;
    }

    /* 文字说明模块 */
    .content{
        width: 700px;
        margin: 0 auto;
        padding-bottom: 60px;
    }
        /* 活动介绍 */
    .introduction{
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 20px;
        margin: 0 20px;
        padding: 30px 80px;
    }
    .caption {
        line-height: 40px;
        margin-bottom: 20px;
    }
    /* 会员权益 */
    .member-title{
        margin: 30px 20px 120px 20px;
        text-align: justify;
        text-align-last: justify;
        font-size: 80px;
        color: #d3edfa;
        font-weight: bold;
    }
    /*  会员标准 */
    /* 标准会员 */
    .standard-member{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 30px 20px;
    }
    /* 标题 */
    .price{
        width: 80%;
        height: 180px;
        position: absolute;
        left: 0;
        right: 0;
        top: -90px;
        margin: auto;
        z-index: 1;
        background-color: #841b20;
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price-left{
        width: 40%;
        height: 46px;
        line-height: 46px;
        text-align: center;
        font-size: 42px;
    }
    .price-right{
        width: 60%;
        height: 80px;
        line-height: 80px;
        font-size: 38px;
        text-align: center;
    }
    .right-bold{
        font-size: 90px;
        font-weight:bold;
        margin: 0 10px;
    }
    /* 内容 */
    .standard{
        width: 80%;
        padding: 140px 0 40px 40px;
        margin: 0 auto;
    }
    .standard-detail{
        height: 106px;
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .detail-img{
        width: 104px;
        height: 104px;
        border-radius: 6px;
    }
    .detailImg{
        width: 100%;
        height: auto;
    }
    .detail-topic{
        width: 90%;
        height: inherit;
        margin-left: 25px;
    }
    .topic-name {
        height: 30px;
        line-height: 30px;
        font-size: 28px;
        margin: 15px 0 20px 0;
        color: #8b2123;
    }
    .topic-content{
        height: 24px;
        line-height: 24px;
        font-size: 20px;
        color: #657278;
    }
    /* 高端会员 */
    .high-member{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 160px 20px 30px 20px;
    }
    .high-price{
        background-color: #112041;
    }

    /* 内容 */
    .high{
        width: 80%;
        padding: 120px 0 40px 25px;
        margin: 0 auto;
    }
    /* 标题 */
    .high-title{
        height: 45px;
        line-height: 45px;
        font-size: 30px;
        text-align: center;
        margin-bottom: 80px;
    }
    .title-span{
        margin: 0 5px;
        padding: 0 5px;
        display: inline-block;
        width: 180px;
        height: inherit;
        line-height: inherit;
        background-color: #841b20;
        border-radius: 25px;
        color: #fff;
    }
    /* 内容 */
    .high-detail{
        height: 130px;
        margin-bottom: 64px;
        padding-left: 10px;
        display: flex;
        justify-content: space-around;
    }
    .highTopic{
        width: 90%;
        height: inherit;
        margin-left: 25px;
    }
    /* 右边内容 */
    .high-name {
        height: 30px;
        line-height: 30px;
        font-size: 28px;
        margin: 5px 0 15px 0;
        color: #112041;
    }
    .high-content{
        line-height: 40px;
        font-size: 22px;
        color: #657278;
    }
    .high-notice{
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        margin-top: 30px;
    }
    .detail-warn{
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        padding-left: 20px;
        font-weight: bold;
    }
    /* 如何参加 */
    .join{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 24px;
        margin: 100px 20px 30px 20px;
    }
    /* 标题 */
    .join-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .join-title > p{
        margin: 0 auto;
        height: 42px;
        font-size: 36px;
        padding-left: 10px;
    }
    .join-content{
        margin: 0 auto;
        padding: 50px 0 30px 0;
        text-align: center;
    }
    .join-content > h2{
        height: 42px;
        line-height: 42px;
        font-size: 40px;
        font-weight: normal;
        margin-bottom: 0;
    }
    .join-success{
        line-height: 35px;
        font-size: 30px;
        margin: 25px 0 45px 0;
    }
    .join-warn{
        height: 20px;
        line-height: 20px;
        font-size: 14px;
    }
    /* 赠品介绍 */
    .giveaways{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 100px 20px 30px 20px;
    }
    /* 标题 */
    .giveaways-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        font-size: 36px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .giveaways-content{
        width: 90%;
        height: 300px;
        margin: 0 auto;
        padding: 70px 0 30px 0;
        text-align: center;
        background-color: #0f1f43;
    }
    /*  活动须知 */
    .notice{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 20px;
        margin: 100px 20px 30px 20px;
    }
    /* 标题 */
    .notice-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        font-size: 36px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .notice-content{
        width: 90%;
        margin: 0 auto;
        padding: 70px 0 30px 0;
    }
    .notice-detail{
        line-height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .notice-detail > p {
        line-height: 40px;
    }
    .noticeImg{
        width: 16px;
        margin-right: 20px;
    }
    /* 企业机构会员 */
    .company{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 20px;
        margin: 100px 20px 0 20px;
    }
    /* 标题 */
    .company-title{
        width: 65%;
        height: 66px;
        line-height: 66px;
        font-size: 36px;
        position: absolute;
        left: 0;
        right: 0;
        top: -33px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .company-content{
        margin: 0 auto;
        padding: 70px 0 30px 0;
        text-align: center;
    }
    .company-detail{
        margin-bottom: 40px;
    }
    .company-serice{
        display: flex;
        justify-content: space-around;
    }
    .service-detail > img {
        width: 75px;
        height: 80px;
        margin-bottom: 30px;
    }
    .company-warn{
        font-size: 14px;
        margin-top: 50px;
    }

}
@media screen and (max-width: 610px){
    #box{
        margin: 0 auto;
        width: 100%;
        position: relative;
    }
    /* 图片 */
    .header-img{
        width: inherit;
        height: 380px;
        background-image: url('../image/bgimg_01.png');
        background-repeat: no-repeat;
        background-size:cover;
    }
    /* 文字说明模块 */
    .content{
        width: inherit;
        margin: 0 auto;
        padding-bottom: 60px;
    }
        /* 活动介绍 */
    .introduction{
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 14px;
        margin: 0 8px;
        padding: 10px 20px;
    }
    .caption {
        line-height: 25px;
        margin-bottom: 30px;
    }
    /* 会员权益 */
    .member-title{
        margin: 30px 8px 60px 8px;
        text-align: justify;
        text-align-last: justify;
        font-size: 40px;
        color: #d3edfa;
        font-weight: bold;
    }
    /*  会员标准 */
    /* 标准会员 */
    .standard-member{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 30px 8px;
    }
    /* 标题 */
    .price{
        width: 80%;
        height: 80px;
        position: absolute;
        left: 0;
        right: 0;
        top: -40px;
        margin: auto;
        z-index: 1;
        background-color: #841b20;
        color: #fff;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price-left{
        width: 40%;
        text-align: center;
        font-size: 20px;
    }
    .price-right{
        width: 60%;
        font-size: 18px;
        text-align: center;
    }
    .right-bold{
        font-size: 40px;
        font-weight:bold;
        margin: 0 5px;
    }
    /* 内容 */
    .standard{
        width: 80%;
        padding: 80px 0 40px 0;
        margin: 0 auto;
    }
    .standard-detail{
        padding-left: 30px;
        margin-bottom: 20px;
        display: flex;
    }
    .detail-img{
        width: 50px;
        height: 50px;
        border-radius: 6px;
    }
    .detailImg{
        width: 100%;
        height: auto;
    }
    .detail-topic{
        width: 240px;
        height: inherit;
        margin-left: 10px;
    }
    .topic-name {
        font-size: 16px;
        margin: 1px 0;
        color: #8b2123;
    }
    .topic-content{
        font-size: 12px;
        color: #657278;
    }
    /* 高端会员 */
    .high-member{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 80px 8px 30px 8px;
    }
    .high-price{
        background-color: #112041;
    }
    /* 内容 */
    .high{
        width: 80%;
        padding: 60px 0 40px 0;
        margin: 0 auto;
    }
    /* 标题 */
    .high-title{
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
    .title-span{
        margin: 0 5px;
        padding: 0 5px;
        display: inline-block;
        width: 100px;
        height: inherit;
        line-height: inherit;
        background-color: #841b20;
        border-radius: 25px;
        color: #fff;
    }
    /* 内容 */
    .high-detail{
        margin-bottom: 30px;
        display: flex;
        padding-left: 20px;
    }
    .highTopic{
        width: 260px;
        height: inherit;
        margin-left: 10px;
    }
    /* 右边内容 */
    .high-name {
        font-size: 16px;
        margin: -2px 0;
        color: #112041;
    }
    .high-content{
        margin: 10px 0;
        font-size: 12px;
        color: #657278;
        line-height: 25px
    }
    .high-notice{
        line-height: 20px;
        font-size: 10px;
        -webkit-transform:scale(0.85);
        margin-left: -20px;
    }
    .detail-warn{
        font-weight: bold;
        font-size: 10px;
        -webkit-transform:scale(0.85);
    }
    /* 如何参加 */
    .join{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 24px;
        margin: 60px 8px 30px 8px;
    }
    /* 标题 */
    .join-title{
        width: 80%;
        height: 36px;
        line-height: 36px;
        position: absolute;
        left: 0;
        right: 0;
        top: -18px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .join-title > p{
        margin: 0 auto;
        font-size: 22px;
        padding-left: 10px;
    }
    .join-content{
        margin: 0 5px;
        padding: 40px 0 30px 0;
        text-align: center;
    }
    .join-content > h2{
        margin: 0 !important;
        font-size: 25px;
        font-weight: normal;
    }
    .join-content > p{
        margin: 0;
    }
    .join-success{
        font-size: 20px;
        margin-bottom: 10px !important;
    }
    .join-warn{
        line-height: 25px;
        font-size: 10px;
        -webkit-transform:scale(0.85);
    }
    /* 赠品介绍 */
    .giveaways{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 60px 8px 30px 8px;
    }
    /* 标题 */
    .giveaways-title{
        width: 60%;
        height: 36px;
        line-height: 36px;
        font-size: 22px;
        position: absolute;
        left: 0;
        right: 0;
        top: -18px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .giveaways-content{
        width: 90%;
        height: 300px;
        margin: 0 auto;
        padding: 70px 0 30px 0;
        text-align: center;
        background-color: #0f1f43;
    }
    /*  活动须知 */
    .notice{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        margin: 60px 8px 30px 8px;
    }
    /* 标题 */
    .notice-title{
        width: 60%;
        height: 36px;
        line-height: 36px;
        font-size: 22px;
        position: absolute;
        left: 0;
        right: 0;
        top: -18px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .notice-content{
        padding: 50px 30px;
    }
    .notice-detail{
        font-size: 14px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .notice-detail > p {
        margin: 0;
        line-height: 25px;
    }
    .noticeImg{
        margin-right: 10px;
    }
    .noticeImg > img {
        width: 12px;
        height: 12px;
    }
    /* 企业机构会员 */
    .company{
        position: relative;
        background-color: #d7f3ff;
        border-radius: 8px;
        font-size: 14px;
        margin: 60px 8px 0 8px;
    }
    /* 标题 */
    .company-title{
        width: 60%;
        height: 36px;
        line-height: 36px;
        font-size: 22px;
        position: absolute;
        left: 0;
        right: 0;
        top: -18px;
        margin: auto;
        z-index: 1;
        background-color: #78bfdd;
        color: #010101;
        border-radius: 25px;
        text-align: center;
    }
    .company-content{
        padding: 30px 0;
        text-align: center;
    }
    .company-detail{
        margin-bottom: 20px;
    }
    .company-serice{
        display: flex;
        justify-content: space-around;
    }
    .service-detail:first-child {
        margin-right: 10px;
    }
    .service-detail > img {
        width: 75px;
        height: 80px;
        margin-bottom: 20px;
    }
    .service-detail > p {
        font-size: 12px;
    }
    .company-warn{
        font-size: 10px;
        -webkit-transform:scale(0.85);
    }

}
</style>

<%if $list.title != ""%>

<%/if%>
<div id="box">
        <!-- 背景图 -->
        <div class="header-img"></div>
        <!-- 文字说明 -->
        <div class="content">
            <!-- 活动介绍 -->
            <div class="introduction">
                <div class="caption">六一将至，FT中文网甄选2套儿童书籍作为心定高端会员的礼物--《门萨思维谜题》圈3册与《DK儿童大百科》圈5册。</div>
                <div class="caption">教育无痕，陪伴孩子，做学习型父母，与他共同成长。</div>
                <div class="caption">一起看DK百科，太空，自然，动物，科学，历史，潜移默化扩展各领域知识；</div>
                <div class="caption">一起看DK百科，太空，自然，动物，科学，历史，潜移默化扩展各领域知识；</div>
                <div class="caption">一起看DK百科，太空，自然，动物，科学，历史，潜移默化扩展各领域知识；</div>
                <div class="caption">家庭教育，润物无声；市场投资，顺势而为。</div>
                <div class="caption">130起看DK百科，太空，自然，动物，科学，历史，潜移默化扩展各领域知识起看DK百科，太空，自然，动物，科学，历史，潜移默化扩展各领域知识起看DK百科，太空，自然，动物，科学，历史，潜移默化扩展各领域知识</div>
                <div class="caption">希望全球视野的FT中文网，能带带你站在高海拔的地方俯瞰世界，起看DK百科，太空，自然，动物，科学，历史，潜移默化扩展各领域知识</div>
            </div>
            <!-- 会员权益 -->
            <h2 class="member-title">FT中文网会员权益</h2>
            <!-- 会员标准 -->
            <div class="standard-member">
                <div class="price">
                    <p class="price-left">标准会员</p>
                    <p class="price-right">¥<span class="right-bold">298</span>/年</p>
                </div>
                <div class="standard">
                    <div class="standard-detail">
                        <div class="detail-img">
                            <img src="../image/icon-1.png"    class="detailImg" alt="">
                        </div>
                        <div class="detail-topic">
                            <p class="topic-name">精选深度分析</p>
                            <p class="topic-content">只给你专业、全面、平衡、可靠的咨询</p>
                        </div>
                    </div>
                    <div class="standard-detail">
                        <div class="detail-img">
                            <img src="../image/icon-1.png"    class="detailImg" alt="">
                        </div>
                        <div class="detail-topic">
                            <p class="topic-name">中英双语内容</p>
                            <p class="topic-content">中文/英文/对照，三种模式，一键切换</p>
                        </div>
                    </div>
                    <div class="standard-detail">
                        <div class="detail-img">
                            <img src="../image/icon-1.png"    class="detailImg" alt="">
                        </div>
                        <div class="detail-topic">
                            <p class="topic-name">英语原声电台</p>
                            <p class="topic-content">碎片时间，囊括全球市场瞬息万变</p>
                        </div>
                    </div>
                    <div class="standard-detail">
                        <div class="detail-img">
                            <img src="../image/icon-1.png"    class="detailImg" alt="">
                        </div>
                        <div class="detail-topic">
                            <p class="topic-name">金融英语速读训练</p>
                            <p class="topic-content">每日一练，不断迭代</p>
                        </div>
                    </div>
                    <div class="standard-detail">
                        <div class="detail-img">
                            <img src="../image/icon-1.png"    class="detailImg" alt="">
                        </div>
                        <div class="detail-topic">
                            <p class="topic-name">9万历史文章</p>
                            <p class="topic-content">重温历史数据与专家分析，助你把握机遇</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="high-member">
                <div class="price high-price">
                    <p class="price-left">高端会员</p>
                    <p class="price-right">¥<span class="right-bold">1998</span>/年</p>
                </div>
                <div class="high">
                    <p class="high-title">享受<span class="title-span">标&nbsp;准&nbsp;会&nbsp;员</span>所有权益</p>
                    <div class="high-detail">
                        <div class="detail-img">
                            <img src="../image/icon-2.png"   class="detailImg" alt="">
                        </div>
                        <div class="highTopic">
                            <p class="high-name">编辑精选</p>
                            <p class="high-content">每周五，总编/各模板主编为您推荐本周必读资讯分享他们的思考与观点</p>
                        </div>
                    </div>
                    <div class="high-detail">
                        <div class="detail-img">
                            <img src="../image/icon-2.png"   class="detailImg" alt="">
                        </div>
                        <div class="highTopic">
                            <p class="high-name">FT商学院高端专享内容</p>
                            <p class="high-content">提升战略格局与投资视野</p>
                        </div>
                    </div>
                    <div class="high-detail">
                        <div class="detail-img">
                            <img src="../image/icon-2.png"   class="detailImg" alt="">
                        </div>
                        <div class="highTopic">
                            <p class="high-name">论坛门票</p>
                            <p class="high-content">FT中文网2021年论坛门票2张</p>
                            <p class="high-notice">注：所有活动门票不可折算现金、不能转让、不含差旅与食宿</p>
                        </div>
                    </div>
                    <div class="detail-warn">*付费后请关注欢迎邮件，内有会员专属服务平台访问方式及功能服务介绍</div>
                </div>
            </div>
            <!-- 谁可以参加 -->
            <div class="join">
                <div class="join-title"><p>谁可以参加&nbsp;+&nbsp;如何参加？</p></div>
                <div class="join-content">
                    <h2>新订高端会员</h2>
                    <p class="join-success">支付成功后，按提示填写物流信息</p>
                    <p class="join-warn">*现有会员请关注邮箱或官网不定期老会员专享活动</p>
                    <p class="join-warn">*配送地址仅限中过大陆</p>
                </div>
            </div>
            <!-- 赠送介绍 -->
            <div class="giveaways">
                <div class="giveaways-title">赠品介绍</div>
                <div class="giveaways-content">
                </div>
            </div>
            <!-- 活动须知 -->
            <div class="notice">
                <div class="notice-title">活动须知</div>
                <div class="notice-content">
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>活动时间：2021年5月13-23日24点（北京时间）</p>
                    </div>
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>现有会员（含升级/续订）、标准会员、实体订阅卡、企业机构会员和Stripe支付会员均不参加本次活动</p>
                    </div>
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>赠品配送地址仅限中国大陆，海外及港澳台地区订户可请大陆好友代收；5月底顺丰发出</p> 
                    </div>
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>安卓系统手机用户请通过华为市场更新应用至最新版本；iOS（iPhone、iPad）系统用户请通过苹果App Store应用市场更新应用至最新版本</p> 
                    </div>
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>通过iOS内购支付的会员，次年自动续订为原价</p> 
                    </div>
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>更多会员专属服务，请关注系统推送欢迎邮件</p>
                    </div>
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>联系客服：subscriber.service@ftchinese.com 电话/微信： 18501972480；(工作日9:30-17:30)</p>
                    </div>
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>付费订阅为虚拟内容服务，一经订阅成功概不退款，请谨慎购买</p>
                    </div>
                    <div class="notice-detail">
                        <div class="noticeImg">
                            <img src="../image/icon-3.png" alt="">
                        </div>
                        <p>本次活动的最终解释权归FT中文网所有</p>
                    </div>
                </div>
            </div>
            <!-- 企业机构会员 -->
            <div class="company">
                <div class="company-title">企业机构会员</div>
                <div class="company-content">
                    <p class="company-detail">同一机构、同时订阅5个高端会员及以上</p>
                    <p class="company-detail">可享有如下服务，具体请联系fan.qi@ftchinese.com </p>
                    <div class="company-serice">
                        <div class="service-detail">
                            <img src="../image/icon-4.png" alt="">
                            <p>享受更灵活、更优惠的定制化权益</p>
                        </div>
                        <div class="service-detail">
                            <img src="../image/icon-5.png" alt="">
                            <p>享受售前/售后专属服务</p>
                        </div>
                    </div>
                    <p class="company-warn">*企业机构会员不参加本次活动</p>
                </div>
            </div>
        </div>
    </div>



