

<%*easyapi command="11001" assign="datass1" debug=false*%>
<%*assign var="navData" value=$datass1.odatalist*%>

  <%php%>
  $filename = "../frontend/tpl/next/api/page/navCopy.json";
  $handle = fopen($filename, "r");
  $json = fread($handle, filesize ($filename));
  fclose($handle);
  $page = json_decode($json, true);
  $this->assign("p", $page);
  <%/php%>

<%assign var="navData" value=$p.body.odatalist%>


<%*foreach from=$datass1.odatalist item="level_1"*%>
<%foreach from=$navData item="level_1"%>
<!-- ajax-nav-->
<li class="nav-section" data-section="<%$level_1.code%>">
  <!-- start subnav -->
  <ol class="nav-items level-2">
    <li class="nav-item mobile">
      <a class="nav-link" href="<%$level_1.link%>"><%if $level_1.code=='home'%>FT中文网首页<%else%>频道首页<%/if%></a>
    </li>
    <%foreach from=$level_1.children item="level_2"%>
    <li class="nav-item"<%if $level_2.haschildren%> aria-haspopup="true"<%/if%> data-channel="<%$level_2.code%>">
      <a class="nav-link" href="<%$level_2.link%>"><%$level_2.name %></a>     
      <%if $level_2.haschildren%>
      <ol class="nav-sub-items level-3">  
        <%if $level_2.code == "special"%>
        <%if date("Ymd", $smarty.now) <= 20181231 %>
          <li><a href="/channel/tradewar.html">中美贸易战</a></li>
        <%/if%>
        <%if date("Ymd",$smarty.now) >= 20180806 && date("Ymd", $smarty.now) <= 20180930 %>
          <li><a href="/m/corp/preview.html?pageid=taikang">商业理想主义 专注成就未来</a></li>
        <%/if%>
        <%if date("Ymd",$smarty.now) >= 20180730 && date("Ymd", $smarty.now) <= 20180831 %>
          <li><a href="/tag/汽车未来">汽车未来</a></li>
        <%/if%>
        <%if date("Ymd",$smarty.now) >= 20180628 && date("Ymd", $smarty.now) <= 20181031 %>
          <li><a href="/tag/中国商业观察">中国商业观察</a></li>
        <%/if%>
        <%if date("Ymd",$smarty.now) >= 20180611 && date("Ymd", $smarty.now) <= 20180712 %>
          <li><a href="/tag/新经济公司IPO">新经济公司IPO</a></li>
        <%/if%>
          <%if date("Ymd",$smarty.now) >= 20180601 && date("Ymd", $smarty.now) <= 20180630 %>
            <li><a href="/tag/引领变局之势">引领变局之势</a></li>
          <%/if%>
          <%if date("Ymd",$smarty.now) >= 20180402 && date("Ymd",$smarty.now) <= 20180430 %>
            <li><a href="/tag/2018中国女性力量">2018 She's 中国女性力量</a></li>
          <%/if%>
          <%if date("Ymd",$smarty.now) >= 20180307 && date("Ymd",$smarty.now) <= 20180406 %>
            <li><a href="/tag/创新经济-物流4.0">创新经济-物流4.0</a></li>
          <%/if%>
          <%if date("Ymd",$smarty.now) >= 20180129 && date("Ymd",$smarty.now) <= 20180331 %>
            <li><a href="/tag/经济发展新动力">经济发展新动力</a></li>
          <%/if%>
          <%if date("Ymd",$smarty.now) <= 20180401 %>
          <li><a href="/channel/viewtop.html">高端视点</a></li>
          <%/if%>
          <%if date("Ymd",$smarty.now) >= 20171201 && date("Ymd",$smarty.now) <= 20180331 %>
          <li><a href="/tag/2017年度报告">2017年度报告</a></li>
          <%/if%>
          <li><a href="/m/marketing/antfinancial.html">“新四大发明”背后的中国浪潮</a></li>
          <li><a href="/channel/teawithft.html">与FT共进下午茶</a></li>
          <li><a href="/tag/与FT共进午餐">与FT共进午餐</a></li>
          <li><a href="/tag/智慧城市群">西门子·智慧城市群</a></li>
          <li><a href="/m/marketing/creditease.html">未来生活 未来金融</a></li>
          <li><a href="/channel/2016highlight.html">2016年度好文推荐</a></li>
          <%if date("Ymd",$smarty.now) >= 20171115%>
          <li><a href="/index.php/ft/property">全球地产</a></li>
          <%/if%>
        <%else%>   
          <%foreach from=$level_2.children item="level_3"%>
          <li><a href="<%$level_3.link%>"><%$level_3.name%></a></li>
          <%/foreach%>
        <%/if%>
      </ol>
      <%/if%>
    </li>
    <%/foreach%>
  </ol>
</li>
<%/foreach%>

