

<%*easyapi command="11001" assign="datass1" debug=false*%>
<%*assign var="navData" value=$datass1.odatalist*%>

  <%php%>
  $filename = "../frontend/tpl/next/api/page/navCopy.json";
  $handle = fopen($filename, "r");
  $json = fread($handle, filesize ($filename));
  fclose($handle);
  $page = json_decode($json, true);
  $this->assign("p", $page);
  <%/php%>

<%assign var="navData" value=$p.body.odatalist%>


<%*foreach from=$datass1.odatalist item="level_1"*%>
<%foreach from=$navData item="level_1"%>
<!-- ajax-nav-->
<li class="nav-section" data-section="<%$level_1.code%>">
  <!-- start subnav -->
  <ol class="nav-items level-2">
    <li class="nav-item mobile">
      <a class="nav-link" href="<%$level_1.link%>"><%if $level_1.code=='home'%>FT中文网首页<%else%>频道首页<%/if%></a>
    </li>
    <%foreach from=$level_1.children item="level_2"%>
    <li class="nav-item"<%if $level_2.haschildren%> aria-haspopup="true"<%/if%> data-channel="<%$level_2.code%>">
      <a class="nav-link" href="<%$level_2.link%>"><%$level_2.name %></a>     
      <%if $level_2.haschildren%>
      <ol class="nav-sub-items level-3">  
        <%if $level_2.code == "special"%>
          <%*<!--MARK: Check the next model tag for sponsored special reports start-->*%>
          <%assign var="pageIdForSponsorshipManagement" value="sponsorshipmanagement"%>
          <%if $nextmodel != ""%>
            <%assign var="infoForSponsorships" value=$nextmodel->getPublishJson($pageIdForSponsorshipManagement)|json_decode:true%>
            <%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
            <%foreach from=$infoForSponsorships.sections item=section%>
              <%if $section.status == "on" && $section.dates != "" && preg_match("/`$currentDate`/is",$section.dates) && $section.addToNavSpecialReports == "yes"%>
                <%assign var="sponsorshipLink" value=$section.link%>
                <%if $sponsorshipLink == "" && $section.tag != ""%>
                  <%assign var="sponsorshipLink" value="/tag/`$section.tag`"%>
                <%/if%>
                <%if $sponsorshipLink != ""%>
                  <%assign var="sponsorshipLink" value=" href=\"`$sponsorshipLink`\""%>
                  <li><a<%$sponsorshipLink%>><%$section.title%></a></li>
                <%/if%>
              <%/if%>
            <%/foreach%>
          <%/if%>
          <%*<!--MARK: Check the next model tag for sponsored special reports end-->*%>
          <li><a href="/m/marketing/antfinancial.html">“新四大发明”背后的中国浪潮</a></li>
          <li><a href="/channel/teawithft.html">与FT共进下午茶</a></li>
          <li><a href="/tag/与FT共进午餐">与FT共进午餐</a></li>
          <li><a href="/tag/智慧城市群">西门子·智慧城市群</a></li>
          <li><a href="/m/marketing/creditease.html">未来生活 未来金融</a></li>
          <li><a href="/index.php/ft/property">全球地产</a></li>
        <%else%>   
          <%foreach from=$level_2.children item="level_3"%>
          <li><a href="<%$level_3.link%>"><%$level_3.name%></a></li>
          <%/foreach%>
        <%/if%>
      </ol>
      <%/if%>
    </li>
    <%/foreach%>
  </ol>
</li>
<%/foreach%>

