<%*<!--if it's a bonus campaign, then hide banners-->*%>
<%if $smarty.get.utm_campaign == "2M161000" || preg_match("/2U16[0-9]+/is",$smarty.get.utm_campaign)%>
	<%assign var="hideBanner" value="yes"%>
<%/if%>
<%if $smarty.get.ad != "no" && $noAd != "true" && $hideBanner != "yes"%>
	<%if $pageId == "home"%>
		<%assign var="bannerType" value="banner"%>
	<%elseif $pageId != ""%>
		<%assign var="bannerType" value="tagbanner"%>
	<%elseif !preg_match("/story|interactive/is",$smarty.server.REQUEST_URI)%>
		<%assign var="bannerType" value="tagbanner"%>
	<%else%>
		<%assign var="bannerType" value="banner"%>
	<%/if%>
	<%if $section.url && $section.url != ""%>
		<%assign var="sectionLink" value=" href=\"`$section.url`\" target=_blank"%>
	<%else%>
		<%assign var="sectionLink" value=""%>
	<%/if%>
	<%if $section.image && $section.image != "" && $section.fit != ""%>
		<%assign var="figureClass" value=" `$section.fit`"%>
	<%else%>
		<%assign var="figureClass" value=""%>
	<%/if%>
	<%assign var="image1" value=$section.image|default:$section.highImpactImage%>
	<%assign var="image2" value=$section.highImpactImage|default:$section.image%>
	<%if $section.image && $section.image != "" && $section.fit == ""%>
		<div class="block-image-container">
			<a<%$sectionLink%>><img src="<%$section.image%>"></a>
		</div>
	<%else%>
		<div class="bn-ph<%$figureClass%>">
		<div class="banner-container">
		<div class="banner-inner">
		<div class="banner-content">
			<%if $section.image == ""%>
		  		<script type="text/javascript">document.write (writeAd('<%$bannerType%>'));</script>
		  	<%else%>
		  		<a<%$sectionLink%> class="P-hide"><figure class="loading" data-url="<%$image1%>"></figure></a>
		  		<a<%$sectionLink%> class="P-only"><figure class="loading" data-url="<%$image2%>"></figure></a>
		  	<%/if%>
		</div>
		</div>
		</div>
		</div>
	<%/if%>
<%/if%>