<%if $smarty.get.utm_campaign == "2M161000" || preg_match("/2U16[0-9]+/is",$smarty.get.utm_campaign)%>
  <%assign var="hideBanner" value="yes"%>
<%/if%>

<%*<!--if $smarty.get.ad != "no" && $noAd != "true" && $hideBanner != "yes"-->*%>

<%if 1 == 1%>
    <%if $section.url && $section.url != ""%>
        <%assign var="sectionLink" value=" href=\"`$section.url`\" target=_blank"%>
    <%else%>
        <%assign var="sectionLink" value=""%>
    <%/if%>
    
    <%if $section.image && $section.image != "" && $section.fit != ""%>
        <%assign var="figureClass" value=" `$section.fit`"%>
    <%else%>
        <%assign var="figureClass" value=""%>
    <%/if%>

    <%assign var="image1" value=$section.image|default:$section.highImpactImage%>
    <%assign var="image2" value=$section.highImpactImage|default:$section.image%>

    <%if $section.image && $section.image != "" && $section.fit == ""%>
        <div class="block-image-container">
            <a<%$sectionLink%> class="track-click" data-ec="House Ad" data-ea="Click" data-el="<%$section.url%>"><img src="<%$section.image%>"></a>
        </div>
    <%else%>
        <%if $section.image == ""%>
            <%if $bannerCount == 0%>
                <%if $newdbStart == "yes" && $newdbShow == "yes"%>
                    <div class="o-ads" data-o-ads-name="banner1"
                    data-o-ads-center="true" 
                    data-o-ads-formats-default="false" 
                    data-o-ads-formats-small="FtcMobileBanner" 
                    data-o-ads-formats-medium="false"
                    data-o-ads-formats-large="FtcLeaderboard"
                    data-o-ads-formats-extra="FtcLeaderboard"
                    data-o-ads-targeting="cnpos=top1;"
                    data-cy='[{"devices":["PC"],"pattern":"Leaderboard","position":"Num1"},{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"Banner","position":"Num1"}]'
                    >
                    </div>
                    <script type="text/javascript">
                        ga('send', 'event', 'Ad Switch Tracker', 'GAM', 'banner1', {'nonInteraction': 1});
                        //sendJSONToFTC({ec: 'Ad Switch Tracker', ea: 'GAM', el: 'banner1'});
                    </script>
                <%else%>                
                    <script type="text/javascript">
                        document.write(writeAdNew({
                            devices: ['PC'],
                            pattern:'Leaderboard',
                            position:'Num1'
                        }));
                        document.write(writeAdNew({
                            devices: ['iPhoneWeb', 'AndroidWeb','iPhoneApp','AndroidApp'],
                            pattern:'Banner',
                            position:'Num1'
                        }));
                        ga('send', 'event', 'Ad Switch Tracker', 'Dolphine', 'banner1', {'nonInteraction': 1});
                        //sendJSONToFTC({ec: 'Ad Switch Tracker', ea: 'Dolphine', el: 'banner1'});
                    </script>
                <%/if%>
            <%elseif $bannerCount == 1%>
                <%if $newdbStart == "yes" && $newdbShow == "yes"%>
                    <div class="o-ads" data-o-ads-name="banner2"
                    data-o-ads-center="true" 
                    data-o-ads-formats-default="false"
                    data-o-ads-formats-small="FtcMobileBanner"
                    data-o-ads-formats-medium="false"
                    data-o-ads-formats-large="FtcBanner" 
                    data-o-ads-formats-extra="FtcBanner"
                    data-o-ads-targeting="cnpos=top2;"
                    data-cy='[{"devices":["PC"],"pattern":"Banner","position":"Num1"},{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"Banner","position":"Num2"}]'>
                    </div>
                    <script type="text/javascript">
                        ga('send', 'event', 'Ad Switch Tracker', 'GAM', 'banner2', {'nonInteraction': 1});
                        //sendJSONToFTC({ec: 'Ad Switch Tracker', ea: 'GAM', el: 'banner2'});
                    </script>
                <%else%>
                    <script>
                        document.write(writeAdNew({
                            devices: ['PC'],
                            pattern:'Banner',
                            position:'Num1'
                        }));
                        document.write(writeAdNew({
                            devices: ['iPhoneWeb','AndroidWeb','iPhoneApp','AndroidApp'],
                            pattern:'Banner',
                            position:'Num2'
                        }));
                        ga('send', 'event', 'Ad Switch Tracker', 'Dolphine', 'banner2', {'nonInteraction': 1});
                        //sendJSONToFTC({ec: 'Ad Switch Tracker', ea: 'Dolphine', el: 'banner2'});
                    </script>
                <%/if%>
            <%elseif $bannerCount == 2 %>
                <script type="text/javascript">
                    function sendJSONToFTC(jsonData) {
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/log/adlog.php');
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.send(JSON.stringify(jsonData));
                    }
                </script>
                <%if $newdbStart == "yes" && $newdbShow == "yes"%>
                    <div class="o-ads" data-o-ads-name="banner3"
                    data-o-ads-center="true" 
                    data-o-ads-formats-default="false" 
                    data-o-ads-formats-small="false" 
                    data-o-ads-formats-medium="false"
                    data-o-ads-formats-large="FtcBanner" 
                    data-o-ads-formats-extra="FtcBanner"
                    data-o-ads-targeting="cnpos=top3;"
                    data-cy='[{"devices":["PC"],"pattern":"Banner","position":"Num2"}]'
                    >
                    </div>
                    <script type="text/javascript">
                        ga('send', 'event', 'Ad Switch Tracker', 'GAM', 'banner3', {'nonInteraction': 1});
                        sendJSONToFTC({ec: 'Ad Switch Tracker', ea: 'GAM', el: 'banner3'});
                    </script>
                <%else%>
                    <script>
                        document.write(writeAdNew({
                            devices: ['PC'],
                            pattern:'Banner',
                            position:'Num2'
                        }));
                        ga('send', 'event', 'Ad Switch Tracker', 'Dolphine', 'banner3', {'nonInteraction': 1});
                        sendJSONToFTC({ec: 'Ad Switch Tracker', ea: 'Dolphine', el: 'banner3'});
                    </script>
                <%/if%>
            <%elseif $bannerCount == 3 %>
                <%if $newdbStart == "yes" && $newdbShow == "yes"%>
                    <div class="o-ads" data-o-ads-name="banner4"
                    data-o-ads-center="true" 
                    data-o-ads-formats-default="false" 
                    data-o-ads-formats-small="false" 
                    data-o-ads-formats-medium="false"
                    data-o-ads-formats-large="FtcBanner" 
                    data-o-ads-formats-extra="FtcBanner"
                    data-o-ads-targeting="cnpos=top4;"
                    data-cy='[{"devices":["PC"],"pattern":"Banner","position":"Num3"}]'
                    >
                    </div>
                    <script type="text/javascript">
                        ga('send', 'event', 'Ad Switch Tracker', 'GAM', 'banner4', {'nonInteraction': 1});
                        //sendJSONToFTC({ec: 'Ad Switch Tracker', ea: 'GAM', el: 'banner4'});
                    </script>
                <%else%>
                    <script>
                        document.write(writeAdNew({
                            devices: ['PC'],
                            pattern:'Banner',
                            position:'Num3'
                        }));
                        ga('send', 'event', 'Ad Switch Tracker', 'Dolphine', 'banner4', {'nonInteraction': 1});
                        //sendJSONToFTC({ec: 'Ad Switch Tracker', ea: 'Dolphine', el: 'banner4'});
                    </script>
                <%/if%>
            <%/if%>        
        <%else%>
            <div class="bn-ph<%$figureClass%>">
            <div class="banner-container">
            <div class="banner-inner">
            <div class="banner-content hide-sign">
              <a<%$sectionLink%> class="P-hide"><figure class="loading" data-url="<%$image1%>"></figure></a>
              <a<%$sectionLink%> class="P-only"><figure class="loading" data-url="<%$image2%>"></figure></a>
            </div>
            </div>
            </div>
            </div>
        <%/if%>
    <%/if%>
<%/if%>