<%if $adchannelID != "1000"%>
    <%assign var="adForceString" value="#adchannelID=$adchannelID"%>
<%/if%>
<%assign var="listHasFloat" value="none"%>
<%assign var="sideListCount" value=0%>
<%foreach from=$section.lists item=list%>
	<%if $list.float === "left" || $list.float === "right" || $list.float === "SideBySide"%>
	<%assign var="listHasFloat" value="`$list.float`"%>
	<%/if%>
	<%if $list.type != "" && $list.type != "list"%>
		<%assign var="sideListCount" value=$sideListCount+1%>
	<%/if%>
<%/foreach%>
<div class="block-container <%if ($section.side != "" && $section.side != "none") || $sideListCount > 0 %><%assign var="sectionHasSide" value="yes"%>has-side<%if $section.sideAlign !== ""%> side-<%$section.sideAlign|default:"right"%><%/if%><%else%><%assign var="sectionHasSide" value="no"%>no-side<%/if%><%if $section.side == "HotVideos"%> side-video<%/if%>"><div class="block-inner">
	<div class="content-container"><div class="content-inner">
	<%if $section.title != ""%>
		<div class="block-title"><%$section.title%></div>
	<%/if%>
	<%assign var="l" value=0%>
	<%assign var="listLength" value=$section.lists|@count%>
	<%foreach from=$section.lists item=list%>
		<%assign var="listType" value=""%>
		<%assign var="listClass" value=""%>
		<%if $list.feedType == "job"%>
			<%include file="next/partials/job.html"%>
		<%elseif $list.type == "" || $list.type == "list"%>
			<%assign var="listTop" value=""%>
			<%assign var="listTopClass" value=""%>
			<%if $list.float == "none" && (($list.items|@count >= 6 && $list.items[0].type === 'video' && $list.items[1].type === 'video' && $list.items[2].type === 'video' && $list.items[3].type === 'video' && $list.items[4].type === 'video' && $list.items[5].type === 'video') || ($list.feedType=="video" && $list.feedItems == 6))%>
				<%if $l == $listLength-1%>
					<%assign var="listLastChildClass" value=" last-child"%>
				<%else%>
					<%assign var="listLastChildClass" value=""%>
				<%/if%>
				<%assign var="listClass" value=" video-package`$listLastChildClass`"%>
				<%assign var="listType" value="videos"%>
			<%elseif $listHasFloat === "left" || $listHasFloat === "right"%>
				<%*<!--Layout of side and main lists-->*%>
				<%if $list.float === "oneline"%>
					<%assign var="listClass" value=" XL-list-oneline L-list-oneline"%>
					<%assign var="listType" value="oneline"%>
				<%elseif $list.float === "left" || $list.float === "right"%>
					<%assign var="listClass" value=" XL-list-`$list.float` XL-side L-list-`$list.float` L-side"%>
					<%assign var="listType" value="side"%>
				<%elseif $listHasFloat === "left"%>
					<%assign var="listClass" value=" XL-list-right XL-main L-list-right L-main"%>
					<%assign var="listType" value="main"%>
				<%else%>
					<%assign var="listClass" value=" XL-list-left XL-main L-list-left L-main"%>
					<%assign var="listType" value="main"%>
				<%/if%>
			<%elseif $listHasFloat === "SideBySide"%>
				<%*<!--Layout of side-by-side lists-->*%>
				<%if $list.float === "SideBySide"%>
					<%if $sectionHasSide == "yes"%>
						<%assign var="listClass" value=" XL4 L6 M12 S6 P12 side-by-side"%>
						<%if $l%3 === 0 %>
							<%assign var="listTopClass" value="XLC"%>
						<%/if%>
						<%if $l%2 === 0 %>
							<%assign var="listTopClass" value="`$listTopClass` LC SC"%>
						<%/if%>
						<%assign var="listTopClass" value="`$listTopClass` MC PC"%>
					<%else%>
						<%assign var="listClass" value=" XL3 L4 M6 S6 P12 side-by-side"%>
						<%if $l%4 === 0 %>
							<%assign var="listTopClass" value="XLC"%>
						<%/if%>
						<%if $l%3 === 0 %>
							<%assign var="listTopClass" value="`$listTopClass` LC"%>
						<%/if%>
						<%if $l%2 === 0 %>
							<%assign var="listTopClass" value="`$listTopClass` MC SC"%>
						<%/if%>
						<%assign var="listTopClass" value="`$listTopClass` PC"%>
					<%/if%>
				<%else%>
					<%assign var="listClass" value=" XL-oneline"%>
				<%/if%>
			<%/if%>
			<%assign var="prev" value=$l-1%>
			<%if $listTopClass !== "" && $l > 0%>
				<%assign var="listTop" value="<div class=\"`$listTopClass`\"></div>"%>
			<%/if%>
			<%$listTop%>
			<%*<!--combine side lists-->*%>
			<%if $listHasFloat === "none" || $listHasFloat === "SideBySide" || $l==0 || ($prev >= 0 && $list.float != $section.lists[$prev].float)%><div class="list-container<%$listClass%>"><div class="list-inner"><%/if%>
				<%if $list.title != ""%>
					<h2 class="list-title">
						<a class="list-link" href="<%$list.url|default:"#"%>"><%$list.title%></a>
						<%if $list.sponsorLogoUrl != ""%>
							<a class="sponsor-link" target=_blank href="<%$list.sponsorLink|default:"#"%>"><figure class="loading sponsor" data-url="<%$list.sponsorLogoUrl|replace:"/upload/":"/"%>"></figure></a>
						<%/if%>
					</h2>
				<%/if%>

				<%if $list.description != ""%>
					<div class="no-image">
						<div class="item-inner">
							<div class="item-lead"><%$list.description%></div>
						</div>
					</div>
				<%/if%>


				<%if $list.sponsorAdId != ""%>
				<div class="sponsor-container"><div class="banner-placeholder"><div class="banner-container">
				<div class="banner-inner">
				<div style="line-height:90px;text-align:center;font-size:2em;background-color:black;color: white;">IBM</div>
				</div>
				<%*<!--
				  <iframe id="mpu3Frame" name="mpu3Frame" width="100%" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="/m/marketing/<%$adFileName%>.html#adid=<%$p.meta.adid%><%$banners[$bannerCount]%>&slot=986723212"></iframe>
				-->*%>
				</div></div></div>
				<%/if%>

				<div class="items">

				<%if preg_match("/all|story|interactive|photo/is",$list.feedType) && $list.items|@count==0%>
					<%if $list.feedImage == "necessary"%>
						<%assign var="feedImage" value="necessary"%>
					<%/if%>
					<%assign var="feedRepeatCheck" value="yes"%>
					<%assign var="feedItems" value=$list.feedItems*4%>
				<%else%>
					<%assign var="feedImage" value="optional"%>
					<%assign var="feedRepeatCheck" value="no"%>
					<%assign var="feedItems" value=$list.feedItems%>
				<%/if%>
				<%*<!--feed type is <%$feedType%>, feed repeat check is <%$feedRepeatCheck%>-->*%>

				<%if $list.feedType == "myFT"%>
					<%easyapi command="31005" assign="myftArrays" topnum=30%>
					<%assign var="itemsArray" value=$myftArrays.odatalist%>
				<%elseif $list.feedType == "ftc_columns"%>
					<%assign var="itemsArray" value=$storymodel->get_column_list("cn")%>
					<%assign var="feedType" value="columns"%>
				<%elseif $list.feedType == "ft_columns"%>
					<%assign var="itemsArray" value=$storymodel->get_column_list("en")%>
					<%assign var="feedType" value="columns"%>
				<%elseif $list.items|@count==0 && $list.feedItems != "" && $list.feedItems != "0"%>
					<%if preg_match("/like|find_in_set|=|\(| in /is",$list.feedTag)%>
						<%if $list.feedType == "story"%>
							<%assign var="feedType" value=$list.feedType%>
							<%assign var="itemsArray" value=$storymodel->get_story_by_field_search($list.feedTag,0,$feedItems,999999999,10800)%>
						<%elseif $list.feedType == "interactive"%>
							<%assign var="feedType" value=$list.feedType%>
							<%assign var="itemsArray" value=$interactivemodel->get_interactive_by_field_search($list.feedTag,0,$feedItems,999999999,10800)%>
						<%elseif $list.feedType == "video"%>
							<%assign var="feedType" value=$list.feedType%>
							<%assign var="itemsArray" value=$videomodel->get_video_by_field_search($list.feedTag,0,$feedItems,9999999999999,10800)%>
						<%elseif $list.feedType == "photo"%>
							<%assign var="feedType" value="photonews"%>
							<%assign var="itemsArray" value=$photonewsmodel->get_photonews_by_field_search($list.feedTag,"ORDER BY photonewsid DESC",$feedItems)%>
						<%/if%>
					<%else%>
						<%if $list.feedType == "story"%>
							<%assign var="feedType" value=$list.feedType%>
							<%assign var="itemsArray" value=$storymodel->get_story_by_tag($list.feedTag,0,$feedItems)%>
						<%elseif $list.feedType == "interactive"%>
							<%assign var="feedType" value=$list.feedType%>
							<%assign var="itemsArray" value=$interactivemodel->get_interactive_by_tag($list.feedTag, $feedItems)%>
						<%elseif $list.feedType == "video"%>
							<%assign var="feedType" value=$list.feedType%>
							<%assign var="itemsArray" value=$videomodel->get_video_by_tag($list.feedTag,0,$feedItems)%>
						<%elseif $list.feedType == "photo"%>
							<%assign var="feedType" value="photonews"%>
							<%assign var="itemsArray" value=$photonewsmodel->get_photonews_by_tag($list.feedTag,0,$feedItems)%>
						<%else%>
							<%assign var="feedType" value=$list.feedType%>
							<%assign var="itemsArray" value=$storymodel->getContentByTag($list.feedTag,$feedItems)%>
						<%/if%>
					<%/if%>
				<%else%>
					<%assign var="feedType" value="manual"%>
					<%assign var="itemsArray" value=$list.items%>
				<%/if%>


				<%assign var="i" value=0%>
				
				<%if $feedRepeatCheck == "yes"%>
					<%foreach from=$itemsArray item=item%>
						<%if $i < $list.feedItems%>
							<%if $feedType == "all"%>
								<%assign var="itemImage" value=$item.image.cover|default:$item.image.smallbutton|default:$item.image.other|default:$item.image.bigbutton%>
							<%elseif $feedType == "photonews"%>
								<%assign var="itemImage" value=$item.illustration|default:$item.cover|default:$item.thumb_url%>
								<%if $itemImage != ""%>
									<%assign var="itemImage" value="http://i.ftimg.net/`$itemImage`"%>
								<%/if%>
							<%else%>
								<%assign var="itemImage" value=$item.image|default:$item.story_pic.cover|default:$item.story_pic.smallbutton|default:$item.story_pic.other|default:$item.story_pic.bigbutton%>
							<%/if%>
							<%assign var="itemId" value=$item.id|default:$item.photonewsid%>
							<%if ($itemImage != "" || $feedImage != "necessary") && !in_array($itemId, explode(',',$itemIdsArray))%>
								<%assign var="i" value=$i+1%>
							<%elseif in_array($itemId, explode(',',$itemIdsArray))%>
								<%*<!--repeated item: <%$itemId%>-->*%>
							<%/if%>

						<%/if%>
					<%/foreach%>
					<%assign var="listItemCount" value=$i%>
					<%assign var="i" value=0%>
					<%*<!--Display Only <%$listItemCount%> Items That should display: <%$feedType%>/<%$feedImage%>/<%$feedRepeatCheck%>-->*%>
				<%else%>
					<%assign var="listItemCount" value=$itemsArray|@count%>
					<%*<!--Display Only <%$listItemCount%> Items without Image: <%$feedType%>/<%$feedImage%>/<%$feedRepeatCheck%>-->*%>
				<%/if%>


				<%foreach from=$itemsArray item=item%>

					<%assign var="itemHeadline" value=$item.headline|default:$item.cheadline|default:$item.cn_title%>
					<%if $list.feedImage == "hide"%>
						<%assign var="itemImage" value=""%>
					<%elseif $feedType == "all"%>
						<%assign var="itemImage" value=$item.image.cover|default:$item.image.smallbutton|default:$item.image.other|default:$item.image.bigbutton%>
					<%elseif $feedType == "columns"%>
						<%assign var="columninfo" value=$storymodel->get_column_info($item.id)%>
						<%assign var="itemImage" value=$columninfo.piclink%>
					<%elseif $feedType == "photonews"%>
						<%assign var="itemImage" value=$item.illustration|default:$item.cover|default:$item.thumb_url%>
						<%if $itemImage != ""%>
							<%assign var="itemImage" value="http://i.ftimg.net/`$itemImage`"%>
						<%/if%>
					<%else%>
						<%assign var="itemImage" value=$item.image|default:$item.story_pic.cover|default:$item.story_pic.smallbutton|default:$item.story_pic.other|default:$item.story_pic.bigbutton%>
					<%/if%>
					<%assign var="itemId" value=$item.id|default:$item.photonewsid%>

					<%*<!--
						符合以下条件的方可显示：
						1. $feedRepeatCheck != "yes": 手动插入的，或是非story, interactive, photo类的auto feed
						或者
						2. 同时满足下列三种条件：
						a. 在手动插入的item中没有出现过的item；
						b. feedItems大于0；
						c. 当前展示的item数量没有超过feedItems；
						d. 当前item配图，或者当前list不要求必须出图
					-->
					*%>
					<%if $feedRepeatCheck != "yes" || (($feedImage != "necessary" || $itemImage != "") && $list.feedItems>0 && $i<$list.feedItems && !in_array($itemId, explode(',',$itemIdsArray)))%>
						<%assign var="itemType" value=$item.type|default:$item.itemtype|default:$feedType%>
						<%if $itemType == "photo"%>
							<%assign var="itemType" value="photonews"%>
						<%/if%>
						
						<%assign var="itemClass" value=""%>
						<%assign var="itemTop" value=""%>
						<%assign var="itemTopClass" value=""%>
						<%assign var="XL" value=""%>
						<%assign var="L" value=""%>
						<%assign var="M" value=""%>
						<%assign var="S" value=""%>
						<%assign var="P" value=""%>
						<%assign var="hasImage" value="has-image"%>
						<%assign var="hideImage" value="no"%>
						<%assign var="hideLead" value="no"%>
						<%if $listType === "videos"%>
							<%if $i === 0%>
							<%assign var="XL" value="XL2 L4 M4 S4 P4 on"%>
							<%else%>
							<%assign var="XL" value="XL2 L4 M4 S4 P4"%>
							<%/if%>
							<%if $i === 3%>
								<%assign var="itemTopClass" value="`$itemTopClass` LT MT ST"%>
							<%/if%>
							<%if $i>2%>
								<%assign var="P" value="P-hide"%>
							<%/if%>
							<%assign var="hideLead" value="yes"%>
						<%elseif $list.float === "myFT"%>
							<%assign var="hideImage" value="yes"%>
							<%assign var="XL" value="one-row"%>
							<%assign var="itemTopClass" value="XLT LT ST MT PT"%>
						<%elseif $list.float === "Card" || $list.float === "eBook" || $feedType=="columns"%>
							<%if $sectionHasSide == "yes"%>
								<%assign var="XL" value="XL4 L4 S12 M6 P12"%>
								<%if $i%3 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` XLT LT"%>
								<%/if%>
								<%if $i%2 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` MT"%>
								<%/if%>
								<%assign var="itemTopClass" value="`$itemTopClass` ST PT"%>
							<%else%>
								<%assign var="XL" value="XL3 L3 S4 M6 P12"%>
								<%if $i%4 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` XLT LT"%>
								<%/if%>
								<%if $i%3 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` ST"%>
								<%/if%>
								<%if $i%2 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` MT"%>
								<%/if%>
								<%assign var="itemTopClass" value="`$itemTopClass` PT"%>
							<%/if%>
						<%elseif $list.float === "IconTitle"%>
							<%if $sectionHasSide == "yes"%>
								<%assign var="XL" value="icon-title XL3 L3 S4 M6 P12"%>
								<%if $i%4 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` XLT LT"%>
								<%/if%>
								<%if $i%3 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` ST"%>
								<%/if%>
								<%if $i%2 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` MT"%>
								<%/if%>
								<%assign var="itemTopClass" value="`$itemTopClass` PT"%>
							<%else%>
								<%assign var="XL" value="icon-title XL2 L2 S3 M4 P6"%>
								<%if $i%6 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` XLT LT"%>
								<%/if%>
								<%if $i%4 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` ST"%>
								<%/if%>
								<%if $i%3 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` MT"%>
								<%/if%>
								<%if $i%2 == 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` PT"%>
								<%/if%>
							<%/if%>
						<%elseif $sectionHasSide == "yes"%>
							<%if $list.float === "SideBySide"%>
								<%if $i > 0%>
									<%assign var="XL" value="side-by-side"%>
									<%assign var="hideImage" value="yes"%>
									<%assign var="hideLead" value="yes"%>
								<%else%>
									<%assign var="XL" value="side-by-side first"%>
								<%/if%>
							<%elseif $listType === "side"%>
								<%assign var="XL" value="XL-half"%>
								<%*<!--In X, side display one column-->*%>
								<%if $i !== 0%>
									<%assign var="itemTopClass" value="XLT"%>
								<%/if%>

								<%*<!--In L and S, side display two columns-->*%>
								<%if $i === 0 && $listItemCount % 2 === 1 %>
									<%assign var="L" value="L12"%>
									<%assign var="S" value="S12"%>
								<%else%>
									<%assign var="L" value="L6 L-half"%>
									<%assign var="S" value="S6 S-half"%>
								<%/if%>
								<%if ($listItemCount % 2 === 0 && $i%2 === 0) || ($listItemCount % 2 === 1 && $i%2 === 1)%>
									<%assign var="itemTopClass" value="`$itemTopClass` LT ST"%>
								<%/if%>

								<%*<!--In M and P, side display one column-->*%>
								<%if $l===0 && $i===0%>
									<%assign var="M" value="M12"%>
									<%assign var="P" value="P12"%>
								<%else%>
									<%assign var="M" value="M12 M-half"%>
									<%assign var="P" value="P12 P-half"%>
									<%assign var="itemTopClass" value="`$itemTopClass` MT PT"%>
								<%/if%>
							<%elseif $listType === "main"%>
								<%*<!--In XL, L and S, main display two columns-->*%>
								<%if $i === 0 && $l === 0 && $listItemCount % 2 === 1 %>
									<%assign var="XL" value="XL-cover"%>
									<%assign var="L" value="L-cover"%>
									<%assign var="S" value="S-cover"%>
								<%elseif $i === 0 && $listItemCount % 2 === 1 %>
									<%assign var="XL" value="XL12 XL-double-width"%>
									<%assign var="L" value="L12 L-double-width"%>
									<%assign var="S" value="S12 S-double-width"%>
								<%else%>
									<%assign var="XL" value="XL6 XL-half"%>
									<%assign var="L" value="L6 L-half"%>
									<%assign var="S" value="S6 S-half"%>
								<%/if%>
								<%if ($listItemCount % 2 === 1 && $i % 2 === 1) || ($listItemCount % 2 === 0 && $i % 2 === 0)%>
									<%assign var="itemTopClass" value="XLT LT ST"%>
								<%/if%>

								<%*<!--In M and P, main display one column-->*%>
								<%if $l===0 && $i===0%>
									<%assign var="M" value="M12"%>
									<%assign var="P" value="P12"%>
								<%else%>
									<%assign var="M" value="M12 M-half"%>
									<%assign var="P" value="P12 P-half"%>
									<%assign var="itemTopClass" value="`$itemTopClass` MT PT"%>
								<%/if%>
							<%else%>
								<%*<!--Has Side: XL Styles-->*%>
								<%if $listItemCount === 1%>
									<%assign var="XL" value="XL12"%>
								<%elseif $listItemCount === 2%>
									<%assign var="XL" value="XL6"%>
								<%elseif $listItemCount % 3 === 0 && $l === 0 && $list.items[0].image !== ""%>
									<%if $i === 0 %>
										<%assign var="XL" value="XL8"%>
									<%elseif $i===2 && $list.items[1].image !== ""%>
										<%if $list.preferLead == 'none'%>
											<%assign var="XL" value="XL4 XL-right"%>
										<%else%>
											<%assign var="XL" value="XL4 XL-right XL-no-image"%>
										<%/if%>
									<%elseif $i===1%>
										<%assign var="XL" value="XL4 XL-right"%>
									<%else%>
										<%assign var="XL" value="XL4"%>
									<%/if%>
									<%if $i % 3 === 0%>
										<%assign var="itemTopClass" value="XLT"%>
									<%/if%>
								<%elseif $listItemCount == 4%>
									<%assign var="XL" value="XL6"%>
									<%if $i % 2 === 0%>
										<%assign var="itemTopClass" value="XLT"%>
									<%/if%>
								<%elseif $listItemCount <= 5 && $l === 0 && $list.items[0].image !== ""%>
									<%if $i === 0 %>
										<%assign var="XL" value="XL8"%>
									<%elseif $i === 1 %>
										<%assign var="XL" value="XL4 XL-half XL-right"%>
									<%else%>
										<%assign var="XL" value="XL4 XL-half XL-lower XL-right"%>
									<%/if%>
								<%elseif $listItemCount % 3 === 1 && $l === 0 && $list.items[0].image !== ""%>
									<%if $i === 0 %>
										<%assign var="XL" value="XL8"%>
									<%elseif $i===2 && $list.items[1].image !== ""%>
										<%assign var="XL" value="XL4 XL-right XL-no-image"%>
									<%elseif $i===1%>
										<%assign var="XL" value="XL4 XL-right"%>
									<%elseif $i === ($listItemCount - 1) %>
										<%assign var="XL" value="XL4 XL-half XL-lower"%>
									<%elseif $i === ($listItemCount - 2) %>
										<%assign var="XL" value="XL4 XL-half"%>
									<%else%>
										<%assign var="XL" value="XL4"%>
									<%/if%>
									<%if $i !== ($listItemCount - 1) && $i%3===0%>
										<%assign var="itemTopClass" value="XLT"%>
									<%/if%>
								<%elseif $listItemCount % 3 === 2 && $l === 0 && $list.items[0].image !== ""%>
									<%if $i === 0 %>
										<%assign var="XL" value="XL8"%>
									<%elseif $i===2 && $list.items[1].image !== ""%>
										<%assign var="XL" value="XL4 XL-right XL-no-image"%>
									<%elseif $i===1%>
										<%assign var="XL" value="XL4 XL-right"%>
									<%elseif $i >= ($listItemCount - 2)%>
										<%assign var="XL" value="XL4 XL-half XL-lower"%>
									<%elseif $i >= ($listItemCount - 4)%>
										<%assign var="XL" value="XL4 XL-half"%>
									<%else%>
										<%assign var="XL" value="XL4"%>
									<%/if%>
									<%if $i < ($listItemCount - 4) && $i%3===0%>
										<%assign var="itemTopClass" value="XLT"%>
									<%elseif $i === ($listItemCount - 2)%>
										<%assign var="itemTopClass" value="XLT-clear-right"%>
									<%/if%>
								<%elseif $listItemCount % 3 == 0%>
									<%assign var="XL" value="XL4"%>
									<%if $i % 3 === 0%>
										<%assign var="itemTopClass" value="XLT"%>
									<%/if%>
								<%elseif $listItemCount % 3 == 1%>
									<%if $i === ($listItemCount - 1) %>
										<%assign var="XL" value="XL4 XL-half XL-lower"%>
									<%elseif $i === ($listItemCount - 2) %>
										<%assign var="XL" value="XL4 XL-half"%>
									<%else%>
										<%assign var="XL" value="XL4"%>
									<%/if%>
									<%if $i !== ($listItemCount - 1) && $i%3===0%>
										<%assign var="itemTopClass" value="XLT"%>
									<%/if%>
								<%elseif $listItemCount % 3 == 2%>
									<%if $i >= ($listItemCount - 2)%>
										<%assign var="XL" value="XL4 XL-half XL-lower"%>
									<%elseif $i >= ($listItemCount - 4)%>
										<%assign var="XL" value="XL4 XL-half"%>
									<%else%>
										<%assign var="XL" value="XL4"%>
									<%/if%>
									<%if $i < ($listItemCount - 4) && $i%3===0%>
										<%assign var="itemTopClass" value="XLT"%>
									<%elseif $i === ($listItemCount - 2)%>
										<%assign var="itemTopClass" value="XLT-clear-right"%>
									<%/if%>
								<%/if%>
								<%*<!--Has Side: XL Styles End-->*%>

								<%*<!--Has Side: L Styles-->*%>
								<%if $listItemCount === 1%>
									<%assign var="L" value="L12"%>
								<%elseif $listItemCount === 2%>
									<%assign var="L" value="L6 L-double-width"%>
								<%elseif $listItemCount % 3 === 0 && $l === 0 && $list.items[0].image !== ""%>
									<%if $i === 0 %>
										<%assign var="L" value="L8"%>
									<%elseif $i===2 && $list.items[1].image !== ""%>
										<%if $list.preferLead == "none"%>
											<%assign var="L" value="L4 L-right"%>
										<%else%>
											<%assign var="L" value="L4 L-right L-no-image"%>
										<%/if%>
									<%elseif $i===1%>
										<%assign var="L" value="L4 L-right"%>
									<%else%>
										<%assign var="L" value="L4"%>
									<%/if%>
									<%if $i % 3 === 0%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT"%>
									<%/if%>
								<%elseif $listItemCount == 4%>
									<%assign var="L" value="L6"%>
									<%if $i % 2 === 0%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT"%>
									<%/if%>
								<%elseif $listItemCount <= 5 && $l === 0 && $list.items[0].image !== ""%>
									<%if $i === 0 %>
										<%assign var="L" value="L8"%>
									<%elseif $i === 1 %>
										<%assign var="L" value="L4 L-right L-no-lead"%>
									<%else%>
										<%assign var="L" value="L4 L-half L-right L-lower L-no-image"%>
									<%/if%>
								<%elseif $listItemCount % 3 === 1 && $l === 0 && $list.items[0].image !== ""%>
									<%if $i === 0 %>
										<%assign var="L" value="L8"%>
									<%elseif $i===2 && $list.items[1].image !== ""%>
										<%assign var="L" value="L4 L-right L-no-image"%>
									<%elseif $i===1%>
										<%assign var="L" value="L4 L-right"%>
									<%elseif $i === ($listItemCount - 1) %>
										<%assign var="L" value="L4 L-half L-lower"%>
									<%elseif $i === ($listItemCount - 2) %>
										<%assign var="L" value="L4 L-half"%>
									<%else%>
										<%assign var="L" value="L4"%>
									<%/if%>
									<%if $i !== ($listItemCount - 1) && $i%3===0%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT"%>
									<%/if%>
								<%elseif $listItemCount % 3 === 2 && $l === 0 && $list.items[0].image !== ""%>
									<%if $i === 0 %>
										<%assign var="L" value="L8"%>
									<%elseif $i===2 && $list.items[1].image !== ""%>
										<%assign var="L" value="L4 L-right L-no-image"%>
									<%elseif $i===1%>
										<%assign var="L" value="L4 L-right"%>
									<%elseif $i >= ($listItemCount - 2)%>
										<%assign var="L" value="L4 L-half L-lower"%>
									<%elseif $i >= ($listItemCount - 4)%>
										<%assign var="L" value="L4 L-half"%>
									<%else%>
										<%assign var="L" value="L4"%>
									<%/if%>
									<%if $i < ($listItemCount - 4) && $i%3===0%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT"%>
									<%elseif $i === ($listItemCount - 2)%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT-clear-right"%>
									<%/if%>
								<%elseif $listItemCount % 3 == 0%>
									<%assign var="L" value="L4"%>
									<%if $i % 3 === 0%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT"%>
									<%/if%>
								<%elseif $listItemCount % 3 == 1%>
									<%if $i === ($listItemCount - 1) %>
										<%assign var="L" value="L4 L-half L-lower"%>
									<%elseif $i === ($listItemCount - 2) %>
										<%assign var="L" value="L4 L-half"%>
									<%else%>
										<%assign var="L" value="L4"%>
									<%/if%>
									<%if $i !== ($listItemCount - 1) && $i%3===0%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT"%>
									<%/if%>
								<%elseif $listItemCount % 3 == 2%>
									<%if $i >= ($listItemCount - 2)%>
										<%assign var="L" value="L4 L-half L-lower"%>
									<%elseif $i >= ($listItemCount - 4)%>
										<%assign var="L" value="L4 L-half"%>
									<%else%>
										<%assign var="L" value="L4"%>
									<%/if%>
									<%if $i < ($listItemCount - 4) && $i%3===0%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT"%>
									<%elseif $i === ($listItemCount - 2)%>
										<%assign var="itemTopClass" value="`$itemTopClass` LT-clear-right"%>
									<%/if%>
								<%/if%>
								<%*<!--Has Side: L Styles End-->*%>

								<%*<!--Has Side: M and P Use Single Column-->*%>
								<%if $l===0 && $i===0%>
									<%assign var="M" value="M12"%>
									<%assign var="P" value="P12"%>
								<%else%>
									<%assign var="M" value="M12 M-half"%>
									<%assign var="P" value="P12 P-half"%>
									<%assign var="itemTopClass" value="`$itemTopClass` MT PT"%>
								<%/if%>
								<%*<!--Has Side: M Styles End-->*%>

								<%*<!--Has Side: S Styles-->*%>
								<%if $listItemCount % 2 == 1 && $i===0%>
									<%assign var="S" value="S12 S-double-width"%>
								<%else%>
									<%assign var="S" value="S6"%>
									<%if ($i%2===0 && $listItemCount % 2 == 0) || ($i%2===1 && $listItemCount % 2 == 1)%>
										<%assign var="itemTopClass" value="`$itemTopClass` ST"%>
									<%/if%>
								<%/if%>
								<%*<!--Has Side: S Styles End-->*%>

							<%/if%>


						<%else%>
							<%*<!--No Side: XL Styles-->*%>
							<%if $list.float === "SideBySide"%>
								<%if $i > 0%>
									<%assign var="XL" value="side-by-side"%>
									<%assign var="hideImage" value="yes"%>
									<%assign var="hideLead" value="yes"%>
								<%else%>
									<%assign var="XL" value="side-by-side first"%>
								<%/if%>
							<%elseif $listItemCount === 1%>

							<%elseif $listItemCount === 3%>

							<%elseif $listItemCount % 4 == 0%>
								<%assign var="XL" value="XL3"%>
								<%if $i % 4 === 0%>
									<%assign var="itemTopClass" value="XLT"%>
								<%/if%>
							<%elseif $listItemCount % 4 == 1%>
								<%if $i === ($listItemCount - 1) %>
									<%assign var="XL" value="XL3 XL-half XL-lower"%>
								<%elseif $i === ($listItemCount - 2) %>
									<%assign var="XL" value="XL3 XL-half"%>
								<%else%>
									<%assign var="XL" value="XL3"%>
								<%/if%>
								<%if $i !== ($listItemCount - 1) && $i%4===0%>
									<%assign var="itemTopClass" value="XLT"%>
								<%/if%>
							<%elseif $listItemCount % 4 == 2%>
								<%if $i===0 || $i===1%>
									<%assign var="XL" value="XL6"%>
								<%else%>
									<%assign var="XL" value="XL3"%>
								<%/if%>
								<%if $i===2 || ($i>4 && $i%4===2)%>
									<%assign var="itemTopClass" value="XLT"%>
								<%/if%>
							<%elseif $listItemCount % 4 == 3%>
								<%if $i===0 || $i===1%>
									<%assign var="XL" value="XL6"%>
								<%elseif $i === ($listItemCount - 1) %>
									<%assign var="XL" value="XL3 XL-half XL-lower"%>
								<%elseif $i === ($listItemCount - 2) %>
									<%assign var="XL" value="XL3 XL-half"%>
								<%else%>
									<%assign var="XL" value="XL3"%>
								<%/if%>
								<%if $i===2 || ($i>4 && $i%4===2 && $i<$listItemCount-2)%>
									<%assign var="itemTopClass" value="XLT"%>
								<%/if%>
							<%/if%>
							<%*<!--No Side: XL Styles End-->*%>

							<%*<!--No Side: L and M Styles-->*%>
							<%if $listItemCount === 1%>

							<%elseif $listItemCount === 3%>

							<%elseif $listItemCount === 4%>
								<%assign var="L" value="L3"%>
								<%assign var="M" value="M3"%>
							<%elseif $listItemCount % 3 == 0%>
								<%assign var="L" value="L4"%>
								<%assign var="M" value="M4"%>
								<%if $i % 3 === 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` LT MT"%>
								<%/if%>
							<%elseif $listItemCount % 3 == 1%>
								<%if $i === ($listItemCount - 1) %>
									<%assign var="L" value="L4 L-half L-lower"%>
									<%assign var="M" value="M4 M-half M-lower"%>
								<%elseif $i === ($listItemCount - 2) %>
									<%assign var="L" value="L4 L-half"%>
									<%assign var="M" value="M4 M-half"%>
								<%else%>
									<%assign var="L" value="L4"%>
									<%assign var="M" value="M4"%>
								<%/if%>
								<%if $i !== ($listItemCount - 1) && $i%3===0%>
									<%assign var="itemTopClass" value="`$itemTopClass` LT MT"%>
								<%/if%>
							<%elseif $listItemCount % 3 == 2%>
								<%if $i>=($listItemCount - 2)%>
									<%assign var="L" value="L6 L-double-width"%>
									<%assign var="M" value="M6 M-double-width"%>
								<%else%>
									<%assign var="L" value="L4"%>
									<%assign var="M" value="M4"%>
								<%/if%>
								<%if $i%3===0%>
									<%assign var="itemTopClass" value="`$itemTopClass` LT MT"%>
								<%/if%>
							<%/if%>
							<%*<!--No Side: L and M Styles End-->*%>

							<%*<!--No Side: S Styles-->*%>
							<%if $listItemCount === 4%>
								<%assign var="S" value="S6"%>
								<%if $i===2 %>
									<%assign var="itemTopClass" value="`$itemTopClass` ST"%>
								<%/if%>
							<%elseif $listItemCount % 2 == 1 && $i===0%>
								<%assign var="S" value="S12 S-double-width"%>
							<%else%>
								<%assign var="S" value="S6"%>
								<%if ($i%2===0 && $listItemCount % 2 == 0) || ($i%2===1 && $listItemCount % 2 == 1)%>
									<%assign var="itemTopClass" value="`$itemTopClass` ST"%>
								<%/if%>
							<%/if%>
							<%*<!--No Side: S Styles End-->*%>

							<%*<!--No Side: P Use Single Column-->*%>
							<%if $listItemCount === 4%>
								<%assign var="P" value="P6"%>
								<%if $i===2 %>
									<%assign var="itemTopClass" value="`$itemTopClass` PT"%>
								<%/if%>
							<%elseif $l===0 && $i===0%>
								<%assign var="P" value="P12"%>
							<%else%>
								<%assign var="P" value="P12 P-half"%>
								<%assign var="itemTopClass" value="`$itemTopClass` PT"%>
							<%/if%>
							<%*<!--No Side: P Use Single Column End-->*%>

						<%/if%>

						<%assign var="itemClass" value="`$XL` `$L` `$M` `$S` `$P`"%>
						<%if $itemTopClass != ""%>
						<%assign var="itemTop" value="<div class=\"`$itemTopClass`\"></div>"%>
						<%/if%>
						<%if $i === 0%>
							<%assign var="itemTop" value=""%>
						<%/if%>
						<%if $itemImage == "" && $itemType != "video"%>
							<%assign var="hasImage" value="no-image"%>
						<%/if%>

						<%assign var="itemTag" value=""%>
						<%if $list.showTag === "yes"%>
							<%*<!--Sometimes Editors Use Space in Tags-->*%>
							<%assign var="tagCanFollow" value="yes"%>
							<%assign var="itemTagsString" value=$item.tag|default:$item.tags|default:$item.tagname%>
							<%assign var="itemTagsString" value=$itemTagsString|replace:" ":","%>
							<%assign var="itemTags" value=","|explode:$itemTagsString%>
							<%assign var="itemTag" value=$itemTags[0]%>
							<%if $itemTag === "视频"%>
								<%assign var="itemTagLink" value="/channel/explainer.html"%>
								<%assign var="tagCanFollow" value="no"%>
							<%elseif $itemTag === "秒懂"%>
								<%assign var="itemTagLink" value="/channel/slides.html"%>
								<%assign var="tagCanFollow" value="no"%>
							<%elseif $itemTag === "图辑"%>
								<%assign var="itemTagLink" value="/channel/slides.html"%>
								<%assign var="tagCanFollow" value="no"%>
							<%elseif $itemTag === "数据新闻"%>
								<%assign var="itemTagLink" value="/channel/datanews.html"%>
							<%elseif $itemTag === "速读"%>
								<%assign var="itemTagLink" value="/channel/speedread.html"%>
							<%elseif $itemTag === "FT商学院"%>
								<%assign var="itemTagLink" value="/channel/mba.html"%>
							<%elseif $feedType=="columns"%>
								<%assign var="itemTag" value=$item.author_name_cn%>
								<%assign var="itemTagLink" value="/column/`$itemId`"%>
								<%assign var="tagCanFollow" value="no"%>
							<%else%>
								<%assign var="itemTagLink" value="/tag/`$itemTag`"%>
							<%/if%>
							<%if $tagCanFollow == "yes"%>
								<%assign var="itemTag" value="<div class=item-tag><a href=\"`$itemTagLink`\">`$itemTag`</a><button class=\"myft-follow plus\" data-tag=\"`$itemTag`\" data-type=\"tag\">关注</button></div>"%>
							<%else%>
								<%assign var="itemTag" value="<div class=item-tag><a href=\"`$itemTagLink`\">`$itemTag`</a></div>"%>
							<%/if%>
						<%/if%>



						<%assign var="itemTimeStamp" value=""%>
						<%assign var="itemT" value=$item.timeStamp|default:$item.pubdate|default:$item.add_times%>
						<%assign var="itemT" value=$itemT|regex_replace:"/\.[0-9]+$/i":""%>
						<%if $list.showTimeStamp === "all" || $lists.showTimeStamp === "new stories" || $list.feedType == "myFT"%>
							<%assign var="highlightTime" value=""%>
							<%math assign="timeDiff" equation="x-y" x=$smarty.now y=$itemT%>
							<%if $item.type === "video" && preg_match("/[0-9]+\-[0-9]+\-[0-9]+/is",$itemT)%>
								<%assign var="highlightTime" value=""%>
								<%assign var="timeDiff" value=$itemT|date_format:"%Y年%-m月%-d日"%>
							<%elseif $timeDiff < 0%>
								<%assign var="highlightTime" value=" highlight"%>
								<%assign var="timeDiff" value="刚刚发布"%>
							<%elseif $timeDiff < 60*60%>
								<%assign var="highlightTime" value=" highlight"%>
								<%assign var="timeDiff" value=$timeDiff/60|intval%>
								<%assign var="timeDiff" value="`$timeDiff`分钟前"%>
							<%elseif $timeDiff < 60*60*4%>
								<%assign var="highlightTime" value=" highlight"%>
								<%assign var="timeDiff" value=$timeDiff/3600|intval%>
								<%assign var="timeDiff" value="`$timeDiff`小时前"%>
							<%elseif $timeDiff < 60*60*24%>
								<%assign var="highlightTime" value=""%>
								<%assign var="timeDiff" value=$timeDiff/3600|intval%>
								<%assign var="timeDiff" value="`$timeDiff`小时前"%>
							<%elseif $timeDiff < 60*60*24*7%>
								<%assign var="highlightTime" value=""%>
								<%assign var="timeDiff" value=$timeDiff/86400|intval%>
								<%assign var="timeDiff" value="`$timeDiff`天前"%>
							<%elseif date("Y",$smarty.now) == date("Y",$item.timeStamp)%>
								<%assign var="highlightTime" value=""%>
								<%assign var="timeDiff" value=$itemT|date_format:"%-m月%-d日"%>
							<%else%>
								<%assign var="highlightTime" value=""%>
								<%assign var="timeDiff" value=$itemT|date_format:"%Y年%-m月%-d日"%>
							<%/if%>
							<%if $list.showTimeStamp === "all" || $timeDiff < 60*60*4%>
								<%assign var="itemTimeStamp" value="<div class=\"item-time`$highlightTime`\">`$timeDiff`</div>"%>
							<%/if%>
						<%/if%>

						<%if $list.preferLead === "none"%>
							<%assign var="hideLead" value="yes"%>
							<%assign var="itemLead" value=""%>
						<%elseif $list.preferLead === "shortlead"%>
							<%assign var="itemLead" value=$item.shortlead|default:$item.clead|default:$item.longlead|default:$item.cshortleadbody|default:$item.clongleadbody|default:$item.description%>
						<%else%>
							<%assign var="itemLead" value=$item.longlead|default:$item.clead|default:$item.shortlead|default:$item.clongleadbody|default:$item.cshortleadbody|default:$item.description%>
						<%/if%>

						<%if $hideImage === "yes"%>
							<%assign var="hasImage" value="no-image"%>
						<%/if%>
						<%assign var="listLanguage" value=$list.language%>
						<%if $listLanguage != "" && $itemType == "story"%>
							<%assign var="listLanguage" value="/`$listLanguage`"%>
						<%else%>
							<%assign var="listLanguage" value=""%>
						<%/if%>

						<%if $feedType=="columns"%>
							<%assign var="itemType" value="column"%>
						<%/if%>

						<%if $item.customLink != "" %>
							<%assign var="itemLink" value=$item.customLink%>
							<%assign var="itemLink" value=" href=\"`$itemLink`\""%>
						<%elseif $itemId == "" || $itemType == "" %>
							<%assign var="itemLink" value=""%>
						<%else%>
							<%assign var="itemLink" value="/`$itemType`/`$itemId``$listLanguage``$adForceString`"%>
							<%assign var="itemLink" value=" href=\"`$itemLink`\""%>
						<%/if%>

						<%if $listType === "videos" && $i==0%>
							<div class="item-inner video-package-inner"><div class="image"><figure id="video-package-play" class="loading-video" data-vid="<%$itemId%>"></figure></div><div class="video-package-title"><a href="/video/<%$itemId%>" target=_blank><%$itemHeadline%></a></div></div>
						<%/if%>

						<%if $listType == "videos" && $i>5%>
							<%*<!--Only display first 6 in video package-->*%>
						<%elseif $list.float === "myFT"%>
							<%$itemTop%>
							<div class="item-container <%$itemClass%> <%$hasImage%>"><div class="item-inner">
								<%$itemTag%>
								<div class="item-headline-lead">
								<h2 class="item-headline"><a target="_blank"<%$itemLink%>><%$itemHeadline%></a></h2>
								<%if $hideLead === "no"%><div class="item-lead"><%$itemLead|nl2br%></div><%/if%>
								</div>
								<div class="icon-right icon-save">
									<button id="addfavlink<%$itemId%>">收藏</button>
								</div>
								<%$itemTimeStamp%>
								<div class="item-bottom"></div>
							</div></div>
							<%assign var="i" value=$i+1%>
						<%elseif $list.float === "eBook"%>
							<%$itemTop%>
							<div class="item-container <%$itemClass%> has-image ebook"><div class="item-inner">
								<a class="image portrait-img" target="_blank"<%$itemLink%>><figure class="loading" data-url="<%$itemImage|replace:"/upload/":"/"%>"></figure></a>
								<div class="item-bottom"></div>
							</div></div>
							<%assign var="i" value=$i+1%>
						<%else%>
							<%$itemTop%>
							<div class="item-container <%$itemClass%> <%$hasImage%>"><div class="item-inner">
								<h2 class="item-headline"><%$itemTag%><a target="_blank"<%$itemLink%>><%$itemHeadline%></a></h2>
								<%if $item.relatives|@count > 0 && $item.relatives[0].type === 'video'%><div class="image"><figure class="loading-video" data-vid="<%$item.relatives[0].id%>"></figure></div><%elseif $itemType === "video" && $listType !== "videos"%><div class="image"><figure class="loading-video" data-vid="<%$itemId%>"></figure></div><%elseif $itemImage != "" && $hasImage === "has-image"%><a class="image" target="_blank"<%$itemLink%>><figure class="loading" data-url="<%$itemImage|replace:"/upload/":"/"%>"></figure></a><%/if%>
								<%if $hideLead === "no"%><div class="item-lead"><%$itemLead|nl2br%></div><%/if%>
								<%$itemTimeStamp%>
								<%if $item.relatives|@count > 0 && $item.showRelativeStoryItems > 0%>
									<%assign var="r" value=0%>
									<div class="relative-container">
										<%foreach from=$item.relatives item=relative%>
											<%if $r<$item.showRelativeStoryItems%>
											<h3 class="relative"><a href="/<%$relative.type%>/<%$relative.id%>" target="_blank"><%$relative.headline%></a></h3>
											<%assign var="r" value=$r+1%>
											<%/if%>
										<%/foreach%>
										<div class="clearfloat"></div>
									</div>
								<%/if%>
								<div class="item-bottom"></div>
							</div></div>
							<%assign var="i" value=$i+1%>
						<%/if%>




					<%/if%>
				<%/foreach%>
				<div class="clearfloat"></div>
			</div>
			<%if $list.sponsorNote != ""%>
				<div class="item-container no-image"><div class="item-inner"><%$list.sponsorNote|regex_replace:"/([A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,6})/i":"<a class=\"blue-link\" href=\"mailto: \\1\">\\1</a>"%></div></div>
			<%/if%>
			<%assign var="next" value=$l+1%>
			<%*<!--combine side lists-->*%>
			<%if $listHasFloat === "none" || $listHasFloat === "SideBySide" || $l === $section.lists|@count-1 || ($next < $section.lists|@count && $list.float != $section.lists[$next].float)%></div></div><%/if%>
			<%assign var="l" value=$l+1%>
		<%/if%>
	<%/foreach%>
	<div class="clearfloat block-bottom"></div>
	</div></div>
	<%if $sideListCount > 0%>
		<div class="side-container"><div class="side-inner">
			<%assign var="s" value=0%>	
			<%foreach from=$section.lists item=list%>
				<%assign var="firstChildClass" value=""%>
				<%assign var="lastChildClass" value=""%>
				<%if $s == 0%>
					<%assign var="firstChildClass" value=" first-child"%>
				<%/if%>
				<%if $s == $sideListCount - 1 %>
					<%assign var="lastChildClass" value=" last-child"%>
				<%/if%>
				<%if $list.type == "SideMPU"%>
					<%if $smarty.get.ad != "no"%>
						<div class="mpu-container<%$firstChildClass%><%$lastChildClass%>">
							<script type="text/javascript">document.write (writeAd('mpu'));</script>
						</div>
						<%assign var="s" value=$s+1%>
					<%/if%>
				<%elseif $list.type == "SideRanking"%>
					<%if $list.feedType == "video"%>
						<%assign var="defaultTitle" value="热门视频"%>
						<%assign var="feedType" value="video"%>
						<%assign var="mp" value=$videomodel->get_hot_video(30,10) %>
					<%else%>
						<%assign var="defaultTitle" value="热门文章"%>
						<%assign var="feedType" value="story"%>
						<%easyapi command="60006"%>
						<%assign var="mp" value=$data.odatalist%>
					<%/if%>
					<%if $list.feedItems == 0%>
						<%assign var="feedItems" value=10%>
					<%else%>
						<%assign var="feedItems" value=$list.feedItems%>
					<%/if%>
					<div class="mps<%$firstChildClass%><%$lastChildClass%>">
						<h2 class="list-title"><a href="<%$list.url|default:"#"%>"><%$list.title|default:$defaultTitle%></a></h2>
						<ul class="top10">
							<%assign var="i" value=0%>							
							<%foreach item=sc from=$mp%>
								<%if $i<$feedItems%>
									<%assign var="i" value=$i+1%>
									<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/<%$feedType%>/<%$sc.storyid|default:$sc.id%>"><%$sc.cheadline|default:$sc.title%></a></li>
								<%/if%>
							<%/foreach%>
						</ul>
					</div>
					<%assign var="s" value=$s+1%>
				<%elseif $list.type == "SideWithItems"%>
					<div class="side-list<%$firstChildClass%><%$lastChildClass%> <%$list.sideOption%>">
						<%if $list.title && $list.title != ""%>
							<h2 class="list-title">
								<a href="<%$list.url|default:"#"%>"><%$list.title%></a>
							</h2>
						<%/if%>
						<%if $list.items|@count==0 && $list.feedItems != "" && $list.feedItems != "0"%>
							<%if preg_match("/like|find_in_set|=|\(| in /is",$list.feedTag)%>
								<%if $list.feedType == "story"%>
									<%assign var="feedType" value=$list.feedType%>
									<%assign var="itemsArray" value=$storymodel->get_story_by_field_search($list.feedTag,0,$list.feedItems,999999999,10800)%>
								<%elseif $list.feedType == "interactive"%>
									<%assign var="feedType" value=$list.feedType%>
									<%assign var="itemsArray" value=$interactivemodel->get_interactive_by_field_search($list.feedTag,0,$list.feedItems,999999999,10800)%>
								<%elseif $list.feedType == "video"%>
									<%assign var="feedType" value=$list.feedType%>
									<%assign var="itemsArray" value=$videomodel->get_video_by_field_search($list.feedTag,0,$list.feedItems,9999999999999,10800)%>
								<%elseif $list.feedType == "photo"%>
									<%assign var="feedType" value="photonews"%>
									<%assign var="itemsArray" value=$photonewsmodel->get_photonews_by_field_search($list.feedTag,"ORDER BY photonewsid DESC",$list.feedItems)%>
								<%/if%>
							<%else%>
								<%if $list.feedType == "story"%>
									<%assign var="feedType" value=$list.feedType%>
									<%assign var="itemsArray" value=$storymodel->get_story_by_tag($list.feedTag,0,$list.feedItems)%>
								<%elseif $list.feedType == "interactive"%>
									<%assign var="feedType" value=$list.feedType%>
									<%assign var="itemsArray" value=$interactivemodel->get_interactive_by_tag($list.feedTag, $list.feedItems)%>
								<%elseif $list.feedType == "video"%>
									<%assign var="feedType" value=$list.feedType%>
									<%assign var="itemsArray" value=$videomodel->get_video_by_tag($list.feedTag,0,$list.feedItems)%>
								<%elseif $list.feedType == "photo"%>
									<%assign var="feedType" value="photonews"%>
									<%assign var="itemsArray" value=$photonewsmodel->get_photonews_by_tag($list.feedTag,0,$list.feedItems)%>
								<%else%>
									<%assign var="feedType" value=$list.feedType%>
									<%assign var="itemsArray" value=$storymodel->getContentByTag($list.feedTag,$list.feedItems)%>
								<%/if%>
							<%/if%>
						<%else%>
							<%assign var="feedType" value="manual"%>
							<%assign var="itemsArray" value=$list.items%>
						<%/if%>
						<%assign var="i" value=0%>
						<%foreach from=$itemsArray item=item%>
							<%assign var="itemHeadline" value=$item.headline|default:$item.cheadline|default:$item.cn_title%>
							<%if $feedType == "all"%>
								<%assign var="itemImage" value=$item.image.cover|default:$item.image.smallbutton|default:$item.image.other|default:$item.image.bigbutton%>
							<%elseif $feedType == "photonews"%>
								<%assign var="itemImage" value=$item.illustration|default:$item.cover|default:$item.thumb_url%>
								<%if $itemImage != ""%>
									<%assign var="itemImage" value="http://i.ftimg.net/`$itemImage`"%>
								<%/if%>
							<%else%>
								<%assign var="itemImage" value=$item.image|default:$item.story_pic.cover|default:$item.story_pic.smallbutton|default:$item.story_pic.other|default:$item.story_pic.bigbutton%>
							<%/if%>
							<%assign var="itemType" value=$item.type|default:$feedType%>
							<%if $itemType == "photo"%>
								<%assign var="itemType" value="photonews"%>
							<%/if%>
							<%assign var="itemId" value=$item.id|default:$item.photonewsid%>
							<%assign var="itemClass" value=""%>
							<%assign var="hasImage" value="has-image"%>
							<%assign var="hideImage" value="no"%>
							<%assign var="hideLead" value="no"%>
							<%if $i===0%>
								<%assign var="itemClass" value="first"%>
							<%/if%>
							<%if $list.preferLead === "none"%>
								<%assign var="hideLead" value="yes"%>
								<%assign var="itemLead" value=""%>
							<%elseif $list.preferLead === "shortlead"%>
								<%assign var="itemLead" value=$item.shortlead|default:$item.longlead|default:$item.cshortleadbody|default:$item.clongleadbody%>
							<%else%>
								<%assign var="itemLead" value=$item.longlead|default:$item.shortlead|default:$item.clongleadbody|default:$item.cshortleadbody%>
							<%/if%>

							<%if $hideImage === "yes"%>
								<%assign var="hasImage" value="no-image"%>
							<%/if%>

							<%if $list.sideOption == "headlineOnly"%>
								<%assign var="hasImage" value="no-image"%>
								<%if $i == 0%>
									<%assign var="itemClass" value="first-headline"%>
								<%else%>
									<%assign var="itemClass" value=""%>
								<%/if%>
							<%/if%>

							<%if $item.customLink != "" %>
								<%assign var="itemLink" value=$item.customLink%>
								<%assign var="itemLink" value=" href=\"`$itemLink`\""%>
							<%elseif $itemId == "" || $itemType == "" %>
								<%assign var="itemLink" value=""%>
							<%else%>
								<%assign var="itemLink" value="/`$itemType`/`$itemId``$adForceString`"%>
								<%assign var="itemLink" value=" href=\"`$itemLink`\""%>
							<%/if%>
							<div class="item-container <%$itemClass%> <%$hasImage%>"><div class="item-inner">
								<%if $list.sideOption != "leadOnly"%>
									<%if $itemImage != "" && $hasImage === "has-image"%><a class="image" target="_blank"<%$itemLink%>><figure class="loading" data-url="<%$itemImage|replace:"/upload/":"/"%>"></figure></a><%/if%>
									<%if $itemHeadline != ""%>
										<h2 class="item-headline"><%$itemTag%><a target="_blank"<%$itemLink%>><%$itemHeadline%></a></h2>
									<%/if%>
								<%else%>
									<div class="item-lead item-description"><%$itemLead|nl2br%></div>
								<%/if%>
							</div></div>
							<%assign var="i" value=$i+1%>
						<%/foreach%>
					</div>
					<%assign var="s" value=$s+1%>
				<%/if%>
			<%/foreach%>
		</div></div>
	<%elseif $section.side != "" && $section.side != "none"%>
		<%include file="next/partials/`$section.side`.html"%>
	<%/if%>
	<div class="clearfloat"></div>
</div></div>