<style>
    .info_content {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 50% 50%;
        -ms-grid-columns: 50% 50%;
        grid-column-gap: 10px;
        grid-gap: 0;
        align-items: center;
        margin: auto;
        padding: 0rem 1em 0 1em;
        max-width: 1200px;
    }

    .info_content .social, body .o-grid-container.header .share {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 35% 65%;
        -ms-grid-columns: 35% 65%;
        grid-column-gap: 10px;
        grid-gap: 0;
        align-items: center;
    }
    .info_content .social p {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        text-align: left;
        font: normal normal 600 16px Open Sans;
        letter-spacing: 0px;
        color: #00886F;
        margin: 0;
    }
    .info_content .social div.links, body .o-grid-container.header .share .social {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }
    .info_content .social div.links {
        padding: 0;
    }
    .info_content .social div.links a, body .o-grid-container.header .share .social .links a {
        padding: 5px;
        color: #FFF;
        height: 32px;
        width: 32px;
        border-radius: 24px;
        display: inline-block;
        text-align: center;
        margin: 3px;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        border-width: 0;
        background-size: cover;
    }
    .info_content .logo, body .o-grid-container.header .share .author {
        text-align: right;
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }
    .info_content .logo img {
        width: 30%;
    }
    .icon-twitter {
        background-image: url(https://d2jm9zoefzwu40.cloudfront.net/icons/png/ftsocial_twitter.png);
        background: rgba(0,0,0,.0001) url(https://d2jm9zoefzwu40.cloudfront.net/icons/svg/ftsocial_twitter.svg) center/24px no-repeat;
    }
    .icon-facebook {
        background-image: url(https://d2jm9zoefzwu40.cloudfront.net/icons/png/ftsocial_facebook.png);
        background: rgba(0,0,0,.0001) url(https://d2jm9zoefzwu40.cloudfront.net/icons/svg/ftsocial_facebook.svg) center/24px no-repeat;
    }
    .icon-linkedin {
        background-image: url(https://d2jm9zoefzwu40.cloudfront.net/icons/png/ftsocial_linkedin.png);
        background: rgba(0,0,0,.0001) url(https://d2jm9zoefzwu40.cloudfront.net/icons/svg/ftsocial_linkedin.svg) center/24px no-repeat;
    }
    .icon-wechat {
        background-image: url(https://d2jm9zoefzwu40.cloudfront.net/img/png/social-wechat.png);
        background: rgba(0,0,0,.0001) url(https://d2jm9zoefzwu40.cloudfront.net/img/svg/social-wechat.svg) center/24px no-repeat;
    }
    .icon-weibo {
        background-image: url(https://d2jm9zoefzwu40.cloudfront.net/img/png/social-weibo.png);
        background: rgba(0,0,0,.0001) url(https://d2jm9zoefzwu40.cloudfront.net/img/svg/social-weibo.svg) center/24px no-repeat;
    }
    .icon-instagram {
        background-image: url(https://d2jm9zoefzwu40.cloudfront.net/img/png/social-instagram.png);
    }
    .icon-youtube {
        background-image: url(https://d2jm9zoefzwu40.cloudfront.net/img/png/social-youtube.png);
    }
    @media only screen and (max-width: 1024px) {
        .info_content, .info_content .social {
            grid-template-columns: 100%;
            -ms-grid-columns: 100%;
        }
        .info_content .social {
            margin: 2em 0 0 0;
        }
        .info_content, .info_content .social {
            grid-template-columns: 100%;
            -ms-grid-columns: 100%;
        }
        .info_content > div {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        .info_content .logo, .info_content h1, .info_content .social p, .info_content .social div.links {
            text-align: center;
        }
        .info_content .social p {
            margin: 0 0 1em 0;
        }
        .info_content .logo, .info_content h1, .info_content .social p, .info_content .social div.links {
            text-align: center;
        }
        .info_content .logo {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .info_content .logo, .info_content h1, .info_content .social p, .info_content .social div.links {
            text-align: center;
        }
        .info_content .logo img {
            width: 50%;
            max-width: 250px;
        }
    }
</style>
<div class="info_content">
    <div class="social">
      <p>关注Cytiva</p>
      <div class="links">
        <a class="icon-facebook" href="https://www.facebook.com/cytiva" title="Facebook" target="_blank" rel="noreferrer"></a>
        <a class="icon-linkedin" href="https://www.linkedin.com/company/cytiva/" title="LinkedIn" target="_blank" rel="noreferrer"></a>
        <a class="icon-instagram" href="https://www.instagram.com/cytiva/" title="Instagram" target="_blank" rel="noreferrer"></a>
        <a class="icon-twitter" href="https://twitter.com/cytiva" title="Twitter" target="_blank" rel="noreferrer"></a>
        <a class="icon-youtube" href="https://www.youtube.com/channel/UC8BPR_3mMsymuaJxo0HwvNg" title="YouTube" target="_blank" rel="noreferrer"></a>
      </div>
    </div>
    <div class="logo">
      <a href="https://www.cytivalifesciences.com/en/us" target="_blank" rel="noreferrer">
        <img src="https://www.ft.com/partnercontent/cytiva/assets/Cytiva.svg" alt="Cytiva" title="Cytiva">
      </a>
    </div>
</div>

<div class="block-container">
    <div class="block-inner" style="margin: 5rem auto;">
        <img src="https://www.ft.com/partnercontent/images/cytiva/FT_Marketing_Services.svg" width="180" alt="" style="display:block; margin:auto;">
    </div>
</div>