<div class="block-container no-side">
    <div class="block-inner">
        <div class="content-container">
            <div class="content-inner">
                <div class="list-container">
                    <div class="list-inner">
                        <h2 class="list-title">
							<a class="list-link" href="/m/marketing/home.html">会员活动</a>
						</h2>
                        <div class="items headline-only" id="member-pic"></div>
                    </div>
                </div>
                <div class="clearfloat block-bottom"></div>
            </div>
        </div>
        <div class="clearfloat"></div>
    </div>
</div>
<iframe width="0" height="0" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src = "/m/marketing/memberpic.html" class="hide"></iframe>
