<div class="list-container">
	<div class="list-inner">
		<%if $list.title != ""%>
			<h2 class="list-title">
				<a class="list-link" href="#"><%$list.title%></a>
			</h2>
		<%/if%>
		<div class="items">
			<div class="no-image"">
				<div class="item-inner">
					<div class="item-lead">
						<form onsubmit="return applyEvent(this)" class="event-application" data-event-id="<%$list.EventName%>" data-description="<%$list.description%>" data-subscription-type="<%$subscriptionType%>" data-success-note="<%$SuccessNote%>" data-hide-form-info="<%$list.HideFormInfo%>">
							正在获取相关信息...
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

function getEventApplicationForm() {
	var formEle = document.querySelector('.event-application');
	var userId = GetCookie('USER_ID');
	if (userId === null || userId === undefined) {
		formEle.innerHTML = '您尚未登录，请<a onclick="showOverlay(\'overlay-login\')">点击这里登录</a>后再报名。';
		return;
	}
	var xhr = new XMLHttpRequest();
	var ajaxMethod = 'GET';
	var ajaxUrl = '/index.php/jsapi/paywall';
	xhr.open(ajaxMethod, encodeURI(ajaxUrl));
	xhr.setRequestHeader('Content-Type', 'application/json');
	xhr.onload = function() {
	  if (xhr.status === 200) {
	      var data = JSON.parse(xhr.responseText);
	      // TEST: 
	      data = {
			paywall: 1,
			premium: 0,
			standard: 0,
			firstName: '杰夫',
			lastName: '贝索斯',
			mobile: '13300003330',
			title: 'CEO',
			email: 'degang.guo@deyunshe.com',
			company: '亚马逊'
	      };
	      var formInfo = [
	      	{id: 'email', title: '邮件', default: data.email, type: 'email'},
	      	{id: 'backupEmail', title: '备用邮件', default: data.backupEmail || '', type: 'email'},
	      	{id: 'lastName', title: '姓', default: data.lastName},
	      	{id: 'firstName', title: '名', default: data.firstName},
	      	{id: 'mobile', title: '手机号', default: data.mobile, type: 'tel'},
	      	{id: 'title', title: '职务', default: data.title},
	      	{id: 'company', title: '公司', default: data.company},
	      	{id: 'number', title: '参会人数', default: '', type: 'number'}
	      ];
	      var description = formEle.getAttribute('data-description') || '';
	      var eventId = formEle.getAttribute('data-event-id') || '';
	      var formHTML = '';
	      formHTML += '<p>' + description + '</p>';
	      formHTML += '<input type="hidden" class="input-oneline" id="eventId" value="' + eventId + '">';
	      for (var i=0; i<formInfo.length; i++) {
	      	var dataType = formInfo[i].type || 'text';
	      	formHTML += '<div>' + formInfo[i].title + '</div>'
	      	formHTML += '<p><input type="' + dataType + '" class="input-oneline" id="' + formInfo[i].id + '" value="' + formInfo[i].default + '" placeholder="' + formInfo[i].title +'"></p>';
	      }
	      formHTML += '<div style="margin: 0;" class="login-btn input-submit-container center"><input type="submit" value="报名"></div>';
	      formHTML = '<div style="max-width: 450px;margin: auto;">' + formHTML + '</div>';
	      formEle.innerHTML = formHTML;
	  } 
	};
	xhr.send();
}
var isSubmitting = false;
function applyEvent(ele) {
	if (isSubmitting) {
		alert ('请不要重复提交！');
		return false;
	}
	isSubmitting = true;
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/users/');
	xhr.setRequestHeader('Content-Type', 'application/text');
	xhr.onload = function() {
	  if (xhr.status === 200) {
	      var data = xhr.responseText;
	      if (data === 'ok' || data === '') {
	          var successNote = document.querySelector('.event-application').getAttribute('.data-success-note') || '提交成功！';
	          alert (successNote);
	      }
	  } else if (xhr.status !== 200) {
	  	
	      //alert('Request failed.  Returned status of ' + xhr.status);
	  }
	  isSubmitting = false;
	};
	var eventInfo = {};
	var inputs = document.querySelectorAll('.event-application .input-oneline');
	for (var i=0; i<inputs.length; i++) {
		var id = inputs[i].id;
		var value = inputs[i].value;
		eventInfo[id] = value;
	}
	xhr.send(JSON.stringify({
	  eventInfo
	}));
	console.log (eventInfo);
	return false;
}
getEventApplicationForm();

</script>