<%*<!--MARK: Check the next model tag for sponsored special reports start-->*%>
<%if $nextmodel != ""%>
    <%assign var="pageIdForSponsorshipManagement" value="internalpromos"%>
    <%assign var="infoForSponsorships" value=$nextmodel->getPublishJson($pageIdForSponsorshipManagement)|json_decode:true%>
    <%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
    <div class="block-container  <%if $section.side != "" && $section.side != "none"%>has-side<%if $section.sideAlign=="right"%> side-right<%/if%><%else%>no-side<%/if%>">
        <div class="block-inner">
            <div class="content-container">
                <div class="content-inner">
                    <div class="list-container">
                        <div class="list-inner">
                            <h2 class="list-title"><a class="list-link" href="/m/marketing/home.html">市场活动</a></h2>
                            <div class="items">
                                <%assign var="totalItems" value=0%>
                                <%foreach from=$infoForSponsorships.sections item=report%>
                                <%if $i<4 && $report.status == "on" && (($report.dates != "" && preg_match("/`$currentDate`/is",$report.dates)) || ($report.dates == "" && $report.placeholder == "yes"))  && $report.imageHighlightBox != "" && ($report.link != "" || $report.tag != "")%>
                                    <%assign var="totalItems" value=$totalItems+1%>
                                <%/if%>
                                <%/foreach%>                                
                                <%assign var="i" value=0%>
                                <%foreach from=$infoForSponsorships.sections item=report%>
                                    <%if $i<4 && $report.status == "on" && (($report.dates != "" && preg_match("/`$currentDate`/is",$report.dates)) || ($report.dates == "" && $report.placeholder == "yes"))  && $report.imageHighlightBox != "" && ($report.link != "" || $report.tag != "")%>
                                        <%assign var="itemTopClass" value=""%>
                                        <%assign var="itemTop" value=""%>

                                        <%if $totalItems == 3%>
                                            <%if $i%3 === 0%>
                                                <%assign var="itemTopClass" value="XLT"%>
                                            <%/if%>
                                            <%assign var="itemTopClass" value="`$itemTopClass` ST PT"%>
                                            <%assign var="XL" value="XL4"%>
                                            <%assign var="L" value="L4"%>
                                            <%assign var="M" value="M4"%>
                                            <%assign var="S" value="S12"%>
                                            <%assign var="P" value="P12"%>
                                        <%else%>
                                            <%if $i%4 === 0%>
                                                <%assign var="itemTopClass" value="XLT"%>
                                            <%/if%>
                                            <%if $i%2 === 0%>
                                                <%assign var="itemTopClass" value="`$itemTopClass` ST PT"%>
                                            <%/if%>
                                            <%assign var="XL" value="XL3"%>
                                            <%assign var="L" value="L3"%>
                                            <%assign var="M" value="M3"%>
                                            <%assign var="S" value="S6"%>
                                            <%assign var="P" value="P6"%>
                                        <%/if%>


                                        <%assign var="itemClass" value="`$XL` `$L` `$M` `$S` `$P`"%>
                                        <%if $report.PromoId != ""%>
                                            <%assign var="itemClass" value="`$itemClass` n-internal-promo"%>
                                            <%assign var="trackingTag" value=" data-promo-id=\"`$report.PromoId`\" data-promo-name=\"`$report.title`\" data-promo-creative=\"`$report.imageHighlightBox`\" data-promo-position=\"Home Bottom\" data-event-category=\"Home Bottom\""%>
                                        <%else%>
                                            <%assign var="trackingTag" value=""%>
                                        <%/if%>
                                        <%if $itemTopClass != ""%>
                                            <%assign var="itemTop" value="<div class=\"`$itemTopClass`\"></div>"%>
                                        <%/if%>
                                        <%if $i === 0%>
                                            <%assign var="itemTop" value=""%>
                                        <%/if%>
                                        <%if $report.link != ""%>
                                            <%assign var="specialLink" value=$report.link%>
                                        <%else%>
                                            <%assign var="specialLink" value="/tag/`$report.tag`"%>
                                        <%/if%>
                                        <%$itemTop%>
                                        <div class="item-container <%$itemClass%> headline-only"<%$trackingTag%>>
                                            <div class="item-inner">
                                                <a class="image" href="<%$specialLink%>" target=_blank><figure class="loading" data-url="<%$report.imageHighlightBox%>"></figure></a>
                                                <h2 class="item-headline"><a href="<%$specialLink%>" target="_blank"><%$report.title%></a></h2>
                                            </div>
                                        </div>
                                        <%assign var="i" value=$i+1%>
                                    <%/if%>
                                <%/foreach%>
                                <div class="clearfloat"></div>
                            </div>
                        </div>
                    </div>


                    <%assign var='channels' value=','|explode:"china,global,opinion,lex,management,lifestyle,economy,business"%>


                    <div class="clearfloat block-bottom"></div>
                </div>
            </div>
            <%if $section.side != "" && $section.side != "none"%>
                <%include file="next/partials/`$section.side`.html"%>
            <%/if%>
            <div class="clearfloat"></div>
        </div>
    </div>
<%/if%>
<%*<!--MARK: Check the next model tag for sponsored special reports end-->*%>
