<div class="block-container has-side"><div class="block-inner">
    <div class="content-container"><div class="content-inner">
        <div class="list-container"><div class="list-inner">
            <div class="no-image"><div class="item-inner">
                <%if $errormsg != ''%><div class="item-headline"><%$errormsg%></div><%/if%>
                <form action="" method="POST" class="filter">
                    <%if preg_match("/@/is",$smarty.post.reg_email) %>
                    <%else%>
                        <input type="hidden" name="action" value="sendrequest"/>
                        <div class="item-headline">输入注册时所填写的邮箱：</div>
                        <div class="input-container item-headline">
                            <input class="input-oneline" type="text" name="reg_email"/>
                        </div>
                        <div class="input-submit-container">
                            <input type="submit" class="input-submit" value="提交"/>
                        </div>
                    <%/if%>
                </form>


            </div></div>

            <script>
            document.getElementById('thekeys').focus();
            </script>
        </div></div>
    </div></div>
    <%include file="next/partials/TagRightRail.html"%>
    <div class="clearfloat"></div>
</div></div>