<%assign var=standardPriceValue value="258"%>
<%assign var=premiumPriceValue value="1,998"%>
<%assign var=standardPrice value="¥`$standardPriceValue`/年"%>
<%assign var=premiumPrice value="¥`$premiumPriceValue`/年"%>
<%assign var=standardPriceDaily value="0.7"%>
<%assign var=premiumPriceDaily value="5.5"%>
<%assign var=hasDiscount value=""%>
<%assign var=standardOfferId value=""%>
<%assign var=premiumOfferId value=""%>
<%if $section.discountCode == "ft_win_back"%>
  <%assign var=hasDiscount value="yes"%>
  <%assign var=standardPriceValue value="128"%>
  <%assign var=premiumPriceValue value="998"%>
  <%assign var=standardPriceDaily value="0.3"%>
  <%assign var=premiumPriceDaily value="2.8"%>
  <%assign var=standardOfferId value="standard_win_back_offer_2020"%>
  <%assign var=premiumOfferId value="premium_win_back_offer_2020"%>
<%elseif $section.discountCode == "ft_renewal"%>
  <%assign var=hasDiscount value="yes"%>
  <%assign var=standardPriceValue value="198"%>
  <%assign var=premiumPriceValue value="1498"%>
  <%assign var=standardPriceDaily value="0.5"%>
  <%assign var=premiumPriceDaily value="4.2"%>
  <%assign var=standardOfferId value="standard_retention_offer_2020"%>
  <%assign var=premiumOfferId value="premium_retention_offer_2020"%>
<%elseif $section.discountCode == "ft_discount"%>
  <%assign var=hasDiscount value="yes"%>
  <%assign var=standardPriceValue value="218"%>
  <%assign var=premiumPriceValue value="1698"%>
  <%assign var=standardPriceDaily value="0.6"%>
  <%assign var=premiumPriceDaily value="4.6"%>
  <%assign var=standardOfferId value="standard_discount_offer_2020"%>
  <%assign var=premiumOfferId value="premium_discount_offer_2020"%>
<%/if%>
<%if $hasDiscount == "yes"%>
  <%assign var=standardPrice value="¥`$standardPriceValue`/年 <del>(原价`$standardPrice`)</del>"%>
  <%assign var=premiumPrice value="¥`$premiumPriceValue`/年 <del>(原价`$premiumPrice`)</del>"%>
<%/if%>
<%assign var=standardPriceValue value=$standardPriceValue|replace:",":""%>
<%assign var=premiumPriceValue value=$premiumPriceValue|replace:",":""%>
<style><%include file="next/styles/main-fixed-buttons.css"%></style>
<%if $smarty.get.ccode != ""%>
    <%assign var="ccode" value=$smarty.get.ccode%>
<%/if%>
<%assign var="standardBuyLink" value="http://www.ftacademy.cn/subscription.html?from=`$section.discountCode`&ccode=`$ccode`&tap=standard"%>
<%assign var="premiumBuyLink" value="http://www.ftacademy.cn/subscription.html?from=`$section.discountCode`&ccode=`$ccode`&tap=premium"%>
<%if $smarty.get.webview == "ftcapp" && $smarty.get.android == ""%>
    <%assign var="standardBuyLink" value="subscribe://standard/`$standardPriceValue`?offer=`$standardOfferId`&ccode=`$ccode`"%>
    <%assign var="premiumBuyLink" value="subscribe://premium/`$premiumPriceValue`?offer=`$premiumOfferId`&ccode=`$ccode`"%>
    <%*<!--MARK: For ios html validation-->*%>
    <div class="item-container"></div>
<%/if%>

<div class="fixed-buttons">
    <a href="<%$standardBuyLink%>" target="_blank"><button style="background-color: #9e2f50;">订阅标准会员</button></a>
    <a href="<%$premiumBuyLink%>" target="_blank"><button style="background-color: #50a2b1;">订阅高端会员</button></a>
</div>
