<%assign var="standardBuyLink" value=$nextmodel->getBuyLink("standard", "yearly", $section.discountCode, $section.ccode)%>
<%assign var="premiumBuyLink" value=$nextmodel->getBuyLink("premium", "yearly", $section.discountCode, $section.ccode)%>
<%if $smarty.get.webview == "ftcapp" && $smarty.get.android == ""%>
    <%*<!--MARK: For ios html validation-->*%>
    <div class="item-container"></div>
<%/if%>
<style><%include file="next/styles/main-fixed-buttons.css"%></style>

<%assign var=buttonsContainerBG value=""%>
<%if $section.backgroundColor != ""%>
  <%assign var=buttonsContainerBG value=" style=\"background-color: `$section.backgroundColor`\""%>
<%/if%>
<%assign var=leftButtonBG value="#9e2f50"%>
<%if $section.leftButtonBG != ""%>
  <%assign var=leftButtonBG value=$section.leftButtonBG%>
<%/if%>
<%assign var=leftButtonColor value="white"%>
<%if $section.leftButtonColor != ""%>
  <%assign var=leftButtonColor value=$section.leftButtonColor%>
<%/if%>
<%if $section.rightButtonBG != "#50a2b1"%>
  <%assign var=rightButtonBG value=$section.rightButtonBG%>
<%/if%>
<%assign var=rightButtonColor value="white"%>
<%if $section.rightButtonColor != ""%>
  <%assign var=rightButtonColor value=$section.rightButtonColor%>
<%/if%>

<div class="fixed-buttons-placeholder"><div class="fixed-buttons"<%$buttonsContainerBG%>>
    <%if $section.lists && $section.lists|@count > 0%>
      <%foreach from=$section.lists item=button%>
        <%assign var="click" value=$button.click%>
        <%if $button.click == ""%>
          <%assign var="click" value=$nextmodel->getBuyLink($button.subscription, $button.duration, $button.discountCode, $section.ccode)%>
        <%/if%>
        <a href="<%$click%>" target="_blank"><button style="background-color: <%$button.BackgroundColor%>; color: <%$button.buttonColor%>!important;"><%$button.title%></button></a>
      <%/foreach%>
    <%else%>
      <a href="<%$standardBuyLink%>" target="_blank"><button style="background-color: <%$leftButtonBG%>; color: <%$leftButtonColor%>!important;">订阅标准会员</button></a>
      <a href="<%$premiumBuyLink%>" target="_blank"><button style="background-color: <%$rightButtonBG%>; color: <%$rightButtonColor%>!important;">订阅高端会员</button></a>
    <%/if%>
</div></div>