<%if $smarty.get.dispatch == "load"%>
<script type="text/javascript">
	dispatchEvent(new Event('load'));
	document.querySelector('.story-theme').innerHTML = '加载成功';
</script>
<%/if%>

<%*<!--MARK: Require log in for subscriber site -->*%>
<%if ($smarty.server.HTTP_HOST=="www.ftcenterprise.com" || $smarty.server.HTTP_HOST=="www.chineseft.live" || $smarty.server.HTTP_HOST=="www.chineseft.com" || $smarty.server.HTTP_HOST=="www.leshangavenue.com" || $smarty.server.HTTP_HOST=="www.lunchwithft.com") && $requirelogin != "no"%>
	<script type="text/javascript">
	  <%include file="next/scripts/main-require-login.js"%>
	</script>
<%/if%>

<%*<!--MARK: The new paid post needs to be inserted before the default one so that posisions will be calculated correctly. -->*%>
<div 
data-o-ads-name="paidpost2"
class="o-ads paid-post"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="false"
data-o-ads-formats-medium="false"
data-o-ads-formats-large="FtcPaidpost"
data-o-ads-formats-extra="FtcPaidpost"
data-o-ads-targeting="cnpos=paidpost2;"
>
</div>


<div 
data-o-ads-name="paidpost"
class="o-ads paid-post"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="false"
data-o-ads-formats-medium="false"
data-o-ads-formats-large="FtcPaidpost"
data-o-ads-formats-extra="FtcPaidpost"
data-o-ads-targeting="cnpos=paidpost;"
>
</div>



<%if $smarty.get.webview != "ftcapp"%>
<div class="footer-container"><div class="footer-inner">
	<div>
		<a href="/m/corp/aboutus.html">关于我们</a>
		<a href="https://ft.wd3.myworkdayjobs.com/FT_Chinese_External_Careers" target="_blank">加入我们</a>
		<a href="/m/corp/faq.html">问题回馈</a>
		<a href="/m/corp/contact.html">联系方式</a>
		<a href="/m/corp/partner.html">合作伙伴</a>
		<a href="/m/corp/service.html">服务条款</a>
		<a href="/m/corp/sales.html">广告业务 </a>
		<a href="/m/corp/copyright.html">版权声明</a>
		<a href="/m/marketing/ftc.html">最新动态</a>
	</div>
	<p>
		<span class="copyright"><b>© The Financial Times Ltd <%$smarty.now|date_format:"%Y"%></b></span> 
		<span><acronym title="Financial Times">FT</acronym> and 'Financial Times' are trademarks of The Financial Times Ltd.</span>
	</p>




	<%if date("Ymd",$smarty.now) <= 20160723 && $smarty.get.ad != 'no' && $noAd != "true"%>
		<%if $smarty.get.utm_campaign == "2M161000" || preg_match("/2U16[0-9]+/is",$smarty.get.utm_campaign)%>
		<script>
			function checkFrames() {
			    var adFrames = document.querySelectorAll('.banner-iframe');
			    for (var k=0; k<adFrames.length; k++) {
			        if (k<4 || k>8) {
			            adFrames[k].contentDocument.location.reload(true);
			            //console.log ('test for angela ' + k);
			        }
			    }
			}
		    setTimeout(function(){
		    	checkFrames();
		    }, 5000);
		    setTimeout(function(){
		    	checkFrames();
		    }, 10000);
		    setTimeout(function(){
		    	checkFrames();
		    }, 15000);
		</script>
		<%else%>
			<script>
			if (w > 490) {
			if (document.getElementById('pop-ad')) {
			document.getElementById('pop-ad').style.display = 'none';
			} else {
			document.write('<div style="display:none;"><div id="pop-ad" class="overlay on done" style="display: none;"></div></div>');
			}
			document.write('<iframe class="banner-iframe" data-adch="2023" data-adPosition="9951" id="phonefullpage1" width="0" height="0" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="/m/marketing/a.html?v=20171214112400#adid=20239951&pid=phonefullpage1" data-src="/m/marketing/a.html?v=20171214112400#adid=20239951&pid=phonefullpage1" data-ad-type="phonefullpage" data-ad-count=1></iframe>');
			}
			</script>
		<%/if%>
	<%/if%>


</div></div>
<%/if%>


<%if $debug_model == 1%>
<div class="debug-model-container">
<div style="text-align: center; background-color: #FFFFFF; font-size: 38px; margin: 20px;font-weight:bold;"><a title="刷新本页CDN与服务器缓存" href="/index.php/marketing/flushcache?url=https://www.ftchinese.com<%$smarty.server.REQUEST_URI|urlencode%>">刷新本页缓存</a></div>

<div style="text-align: center; background-color: #FFFFFF; font-size: 38px; margin: 20px;font-weight:bold;"><a title="提取本页的所有链接，便于在谷歌分析中查询流量" onclick="javascript:getAllLinksFromPage(this);">提取本页链接</a></div>
<script>
	function getAllLinksFromPage(ele) {
		var allLinks = document.querySelectorAll('.item-container a[href]');
		var linksArray = [];
		var hostName = window.location.host;
		for (var i=0; i<allLinks.length; i++) {
		var linkText = allLinks[i].href;
		linkText = linkText.replace('http://' + hostName, "");
		if (/story\/|interactive\/|video\/|photonews/.test(linkText)) {
		linkText = linkText.replace(/[\?#].*$/g, '');
		if (linksArray.indexOf(linkText)<0) {
		linksArray.push(linkText);
		}
		}
		}
		ele.innerHTML = '<textarea rows=3 style="width:100%">'+linksArray.join('|')+'</textarea>'
	}
</script>

<style>
#promo-box-preview {
	padding: 15px;
}
#promo-box-preview label {
	width: 120px;
	display: inline-block;
}
#promo-box-preview div {
	line-height: 1.7em;
}
#promo-box-preview select, #promo-box-preview input {
	width: 120px;
}
</style>
<div style="text-align: center; background-color: #FFFFFF; font-size: 38px; margin: 20px;font-weight:bold;"><a title="预览Promo Box的效果" onclick="javascript:previewPromoBox();">预览Promo Box</a></div>

<script type="text/javascript">
	function previewPromoBox() {
		var firstBanner = document.querySelector('[data-o-ads-name="banner1"]');
		var newNode = document.createElement('DIV');
		var formHTML = '<div><b>模拟各种会员身份：</b></div>';
		formHTML += '<div><label>Type: </label><select data-key="promoTarget" class="o-input-text"><option value="noneSubscriber">noneSubscriber</option><option value="standard" selected="">standard</option><option value="premium">premium</option></select></div>';
		formHTML += '<div><label>Source: </label><select data-key="SubscriberSource" class="o-input-text"><option value="2C" selected="">2C</option><option value="2B">2B</option><option value="All">All</option></select></div>';
		formHTML += '<div><label>Duration: </label><select data-key="Duration" class="o-input-text"><option value=""></option><option value="yearly" selected="">yearly</option><option value="monthly">monthly</option></select></div>';
		formHTML += '<div><label>Platform: </label><select data-key="Platform" class="o-input-text"><option value="WebSite">Web Site</option><option value="iOSApp">iOS App</option><option value="AndroidApp">Android App</option></select></div>';
		formHTML += '<div><label>Expire: </label><input data-key="ExpireDate" type="text" value="" placeholder="YYYY-MM-DD"></div>';
		formHTML += '<div><label>Renewal: </label><select data-key="PendingRenewal" class="o-input-text"><option value="">No Matter</option><option value="On">On</option><option value="Off">Off</option></select></div>';
		formHTML += '<div><button onclick="refreshPromoBoxPreview();">Done</button></div>';
		formHTML = '<div style="padding: 15px;" id="promo-box-preview">' + formHTML + '</div>';
		newNode.innerHTML = formHTML;
		var existingPromoBoxPreview = document.getElementById('promo-box-preview');
		if (existingPromoBoxPreview) {
			existingPromoBoxPreview.parentNode.removeChild(existingPromoBoxPreview);
		}
		firstBanner.parentNode.insertBefore(newNode, firstBanner);
		window.scrollTo(0, 0);
	}
	function refreshPromoBoxPreview() {
        window.htmlClass = document.documentElement.className;
        window.htmlClass = window.htmlClass.replace(/\ is\-subscriber/g, '').replace(/\ is\-premium/g, '').replace(/\ is\-standard/g, '');
        var subscriptionType = document.querySelector('[data-key="promoTarget"]').value;
        if (subscriptionType === 'premium') {
            window.htmlClass += ' is-subscriber is-premium';
            subscriptionType = 'premium';
        } else if (subscriptionType === 'standard'){
            window.htmlClass += ' is-subscriber is-standard';
            subscriptionType = 'standard';
        }
      	var ccode = (document.querySelector('[data-key="SubscriberSource"]').value === '2C') ? '00000000' : '7SXXXXX';
      	var expireDateString = document.querySelector('[data-key="ExpireDate"]').value;
        var expireDate = Math.round((new Date(expireDateString + ' 00:00:00')).getTime() / 1000);
        var duration = document.querySelector('[data-key="Duration"]').value;
        var platform = document.querySelector('[data-key="Platform"]').value;
        var pendingRenewal = document.querySelector('[data-key="PendingRenewal"]').value;
        var xhr = new XMLHttpRequest();
        xhr.open('get', '/m/corp/partial.html?include=promoboxone&type=' + subscriptionType + '&expire=' + expireDate + '&ccode=' + ccode + '&duration=' + duration + '&platform=' + platform + '&pendingRenewal=' + pendingRenewal);
        xhr.setRequestHeader('Content-Type', 'application/text');
        xhr.onload = function() {
          if (xhr.status === 200) {
            var data = xhr.responseText;
            if (data !== '') {
              var promoboxContainer = document.getElementById('promo-box-container');
              if (promoboxContainer) {
	              promoboxContainer.innerHTML = data;
	              startCountdown(promoboxContainer, expireDate);
	              //sendTracking(promoboxContainer);
          	  }
            }
          }
        };
        xhr.send(null);
        document.documentElement.className = window.htmlClass;
	}
</script>
</div>
<%/if%>

<script>
	function async(u, c) {
		var d = document, t = 'script',
			o = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
		o.src = u;
		if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
		s.parentNode.insertBefore(o, s);
	}
	  // Your web app's Firebase configuration
	var firebaseConfig = {
		apiKey: "AIzaSyCB4QkzRm1oUl9-XA6kl8ob58FI3C6iDY0",
		authDomain: "ftchineseiphone.firebaseapp.com",
		databaseURL: "https://ftchineseiphone.firebaseio.com",
		projectId: "ftchineseiphone",
		storageBucket: "ftchineseiphone.appspot.com",
		messagingSenderId: "342601113715",
		appId: "1:342601113715:web:6d7016e26b94e3854fca06",
		measurementId: "G-PT4E4NGVJV"
	};
	//MARK: - The core Firebase JS SDK is always required and must be listed first
	async('https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js', function() {
		// MARK: - TODO: Add SDKs for Firebase products that you want to use: https://firebase.google.com/docs/web/setup#available-libraries
    	async('https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js', function() {
    		// Initialize Firebase
			firebase.initializeApp(firebaseConfig);
			firebase.analytics();
		});
	});
</script>

<%*<!--  MARK: Krux Tracking Code -->*%>
<img src='https://beacon.krxd.net/event.gif?event_id=KWA6DGT9&event_type=rtg' width=0 height=0 />
