<div class="footer-container"><div class="footer-inner">
	<div>
		<a href="/m/corp/aboutus.html">关于我们</a>
		<a href="/jobs/?from=ft">加入我们</a>
		<a href="/m/corp/faq.html">问题回馈</a>
		<a href="/m/corp/contact.html">联系方式</a>
		<a href="/m/corp/partner.html">合作伙伴</a>
		<a href="/m/corp/service.html">服务条款</a>
		<a href="/m/corp/sales.html">广告业务 </a>
		<a href="/m/corp/copyright.html">版权声明</a>
		<a href="/m/marketing/ftc.html">最新动态</a>
	</div>
	<p>
		<span class="copyright"><b>© The Financial Times Ltd <%$smarty.now|date_format:"%Y"%></b></span> 
		<span><acronym title="Financial Times">FT</acronym> and 'Financial Times' are trademarks of The Financial Times Ltd.</span>
	</p>
</div></div>