<%assign var="privilegeEventLabel" value="`$pageId`"%>
<script type="text/javascript">
    window.gSubscriptionEventLabel = 'Page/<%$privilegeEventLabel|strip_tags|regex_replace:"/[\r\n\t\s]/":""%>';
</script>
  <div id="paywall-hint-container" style="display: none;">
    <div class="paywall-overlay-shadow" id="paywall-overlay-shadow"></div>
    <div id="paywall-box" class="subscribe-lock-container"> 
        <div class="lock-block">
         <div>
            <%if $pageId|strstr:"EditorChoice-" %>
                <div class="lock-content">购买高端会员，阅读编辑精选
                </div>
            <%else%>
                <div class="lock-content">成为付费会员，阅读FT独家内容
                </div>
            <%/if%>
            <div class="lock-content">如果已经是会员，请<a href="http://user.ftchinese.com/login" class="o-client-id-link">点击这里</a>登录
            </div>
         </div>
        <div class="subscribe-btn" ><a href="https://cn.ft.com/index.php/ft/subscription?el=<%$privilegeEventLabel|strip_tags|regex_replace:"/[\r\n\t\s]/":""%>"  id="subscribe-now" class="o-client-id-link">成为会员&#x25BA;</a></div>
        </div>
    </div>
</div>
<script type="text/javascript">updateClientIdLinks();</script>