<%assign var="adchannelID" value="`$p.meta.adid`"%>
<%if !isset($adchannelID)||$adchannelID==""%>
<%assign var="adchannelID" value="1100"%>
<%/if%>

<script type="text/javascript">
if(typeof startTime === "undefined"){
    var startTime=new Date().getTime();
}
var adchID = '<%$adchannelID%>';
var dolRand = Math.round(Math.random()*1000000000);//定义slot随机数实现联动互斥功能 
<%if $autostart=="false"%>
var gAutoStart = false;
<%/if%>
</script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','/index.php/jsapi/analytics','ga');
ga('create', 'UA-1608715-1');
ga('require', 'displayfeatures');
try {
trackerNew();
trackAdClick();
}catch(err){
ga('send', 'pageview');
}
</script>
<!-- End Google Analytics -->

<!-- link click -->
<script>
	function linkClickGa(e){
		ga('send','event','AdClick', $(e).attr("href"), "An");
	}
</script>
<!-- End link click -->

<!-- FTC Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['FtcAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '/log/analytics.js', 'fa');
    fa('create', 'UA-XXXX-Y', { 'alwaysSendReferrer': true });   // Replace with your property ID.
    if (window.gAutoStart === undefined) {fa('send', 'pageview');}
</script>
<!-- End FTC Analytics -->

<!-- Log Analytics -->
<script>
    (function(d, s, u, j, x) {
        j = d.createElement(s),
        x = d.getElementsByTagName(s)[0];
        j.async = true;
        j.src = u;
        x.parentNode.insertBefore(j, x)
    })(document, 'script', 'http://static.ftchinese.com/js/log.js?v=7&20160318');
</script>
<!-- End Log Analytics -->