<%<!--TODO: Remove the condition when we switch to Google Ad Manager successfully. -->%>
<%<!--MARK: look for o-ads for all the ad units -->%>
<%if $zone == ""%>
    <%assign var="zone" value="home"%>
    <%if $topnav != "" %>
        <%assign var="zone" value=$topnav %>
        <%if $subnav != "" %>
            <%assign var="zone" value="`$zone`/`$subnav`" %>
            <%if $thirdnav == ""%>
                <%assign var="thirdnav" value=$pageId%>
            <%/if%>
            <%if $topnav=="home" && $subnav=="special" && $thirdnav != ""%>
                <%assign var="zone" value="`$zone`/`$thirdnav`" %>
                <%if $hasPayingSponsor == "no"%>
                    <%assign var="zone" value=$topnav %>
                <%/if%>
            <%/if%>
        <%/if%>
    <%/if%>
<%/if%>

<%if $smarty.get.newzone != "" %>
    <%*<!-- can be testbeijing, testshanghai, testoverseas-->*%>
    <%assign var="zone" value=$smarty.get.newzone %>
<%/if%>

<%if !preg_match("/^[a-zA-Z\/\-\_\d]+$/is",$zone)%>
    <%assign var="zone" value="home"%>
<%/if%>

<%if $cntopic != ""%>
    <script type="text/javascript">window.cntopic = '<%$cntopic%>';</script>
<%/if%>
<%*<!--<%assign var="zone" value=$pageId|default:$subnav|default:$topnav|default:"home" %>-->*%>




<%*

<!-- zone: <%$zone%>-->
<!-- topnav:<%$topnav%> subnav:<%$subnav%> pageId:<%$pageId%>-->

<!--
        首页(一级):  topnav:       subnav:     pageId:home
        中国(一级):  topnav:china  subnav:     pageId: 
        全球(一级):  topnav:world  subnav:     pageId:
        美国(二级):  topnav:world  subnav:usa  pageId:
 中国商业观察(三级):  topnav:home   subnav:     pageId:chinabusinesswatch
     每日英语(一级):  topnav:english subnav:    pageId:english
     双语阅读(二级):  topnav:english subnav:ce  pageId:ce
     热门文章(二级):  topnav:home    subnav:weekly pageId:
     会议活动(二级):  topnav:home    subnav:event pageId:events
-->
*%>
<%*<!-- 目前使用的所有尺寸： 300x250, 300x600, 400x300, 414x104, 414x736, 969x90, 1200x120-->*%>
<script type="text/javascript">
  <%include file="next/scripts/main-db-zone-helper.js"%>
</script>

<script>
    // MARK: - the cookie USER_KV is set from server side when user logs in
    var userKv = GetCookie('USER_KV');
    var dfpTargetingStr = '';
    if (userKv) {
      var userKvObj = parseUserkv(userKv);
      dfpTargetingStr = getDfpTargetingStr(userKvObj);
    }
    if (gUserType && gUserType !== '') {
        dfpTargetingStr = 'cnuser=' + gUserType + ';' + dfpTargetingStr;
    }
    window.uaString = navigator.userAgent || navigator.vendor || '';
    window.isWeChat = (/micromessenger/i.test(window.uaString));
    if (window.location.href.indexOf('webview=ftcapp') >= 0) {
        dfpTargetingStr = 'cnplatform=app;' + dfpTargetingStr;
    } else if (window.isWeChat) {
        dfpTargetingStr = 'cnplatform=wechat;' + dfpTargetingStr;
    } else {
        dfpTargetingStr = 'cnplatform=web;' + dfpTargetingStr;
    }
    if (window.cntopic && window.cntopic !== '') {
        dfpTargetingStr = 'cntopic=' + window.cntopic + ';' + dfpTargetingStr;
    }
    if (window.languagePreference && window.languagePreference >= 0) {
        dfpTargetingStr = 'cnlp=' + window.languagePreference + ';' + dfpTargetingStr;
    }
    var expireDate = GetCookie('expire');
    if (expireDate) {
        var todayDate = (new Date().getTime()) / 1000;
        var remainingDays = (expireDate - todayDate) / (60 * 60 * 24);
        if (remainingDays > 300) {
            dfpTargetingStr = 'cnex=gt300;' + dfpTargetingStr;
        } else if (remainingDays >= 0 && remainingDays <= 300) {
            dfpTargetingStr = 'cnex=300;' + dfpTargetingStr;
        }
    }
    //console.log ('Getting user type for google ad manager: ' + window.gUserType);
    var configJson = JSON.stringify({
        gpt: {
            "network": 21753042392,
            "site": "FtChinese",
            "zone": '<%$zone%>'
        },
        collapseEmpty: 'before',
        dfp_targeting: dfpTargetingStr,
        formats: {
            "FtcLeaderboard" : {
                "sizes":[[1200, 120], [1200, 400], [1200, 250], [969, 90], [969, 400], [969, 250]]
            },
            "FtcBanner": {
                "sizes":[[1200, 120], [969, 90]]
            },
            "FtcMobileBanner": {
                "sizes": [[414, 104]]
            },
            "FtcMobileMpu":{
                "sizes":[[300, 250]]
            },
            "FtcMpu":{
                "sizes":[[300, 250], [300, 600], [300,1050]]
            },
            "FtcInfoFlow":{
                "sizes":[[400, 300]]
            },
            "FtcMobileFullscreen": {
                "sizes":[[414, 736]]
            },
            "FtcPcFullscreen":{
                "sizes":[[700, 520]]
            },
            "FtcPaidpost":{
                "sizes":[[280, 350]]
            },
            "FtcRibbon":{
                "sizes":[[300, 60]]
            },
            "FtcMembertext":{
                "sizes":[[300, 47]]
            },
            "FtcInRead":{
                "sizes":[[700, 520]]
            }
        },
        responsive : {
            extra : [1220, 0],
            large : [980, 0],
            medium : [490, 0],
            small : [0, 0]
        }
    });
    var configScriptJsonStr = '<scr'+'ipt data-o-ads-config="" type="application/json">'+configJson+'</scr'+'ipt>';
    document.writeln(configScriptJsonStr);
</script>