
<%if $interactiveType != ""%>
    <script>window.interactiveType = '<%$interactiveType%>';</script>
<%/if%>
<script type="text/javascript">
if(typeof startTime === "undefined"){
    var startTime=new Date().getTime();
}
<%if $autostart=="false"%>
    var gAutoStart = false;
<%/if%>
<%if ($itemType == "story" || $itemType == "premium") && $storyId != ""%>
var FTStoryid = '<%$storyId%>';
<%elseif $itemType == "interactive" && $id != ""%>
var interactiveId = 'interactive<%$id%>';
<%/if%>
<%if $sponsorMobile == "yes"%>
    window.sponsorMobile = true;
<%/if%>
</script>


<%*<!-- Google Analytics: gtag.js  -->*%>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1608715-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());if (window.gAutoStart === undefined) {
        try {
            trackerNew();
        }catch(err){
            gtag('config', 'UA-1608715-1');
        }
    }
</script>


<%*<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PDY0XG13PH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PDY0XG13PH');
</script>
-->*%>


<%*<!-- Google Analytics: gtag.js  -->*%>


<%*<!-- link click -->*%>
<script>
	function linkClickGa(e){
	}
</script>
<%*<!-- End link click -->*%>


<%*<!-- Log Analytics -->*%>
<script>
if (window.gAutoStart === undefined) {
    (function(d, s, u, j, x) {
        j = d.createElement(s),
        x = d.getElementsByTagName(s)[0];
        j.async = true;
        j.src = u;
        x.parentNode.insertBefore(j, x)
    })(document, 'script', 'https://d2ctehu9gm78k2.cloudfront.net/js/log.js?v=<%include file="next/timestamp/timestamp.html"%>');
}
</script>
<%*<!-- End Log Analytics -->*%>



<%*<!--Open Graph Start-->*%>
<%if $storyImage != ""%>
<meta property="thumbnail" content="<%$storyImage%>" />
<meta property="og:title" content="<%$pageHeadline%>" />
<meta property="og:url" content="/<%$itemType%>/<%$id|default:$story.id%>" />
<meta property="og:description" content="<%$shareLead%>" />
<meta property="og:image" content="<%$storyImage%>" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="FT中文网" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@FT中文网" />
<meta property="twitter:title" content="<%$pageHeadline%>" />
<meta property="twitter:description" content="<%$shareLead%>" />
<meta property="twitter:image" content="<%$storyImage%>" />
<%else%>
<meta property="thumbnail" content="https://d2ctehu9gm78k2.cloudfront.net/img/friend-share-icon.jpg" />
<%/if%>
<%*<!--Open Graph End-->*%>


<%if $debug_model == 1%>
<script>
    var gDebugAd = '<span style="display:block;width:100%;position:relative;height:0;overflow:visible;"><div style="position:absolute;top:0;left:0;font-size:14px;color:#777;">adcode_for_debug</div></span>';
</script>
<%/if%>



<script>
<%if !isset($isCurrentAdchFinal) || $isCurrentAdchFinal == "no" || $isCurrentAdchFinal == "" %>
    var gIsCurrentAdchFinal = false;
<%else%>
    var gIsCurrentAdchFinal = true;
<%/if%>


</script>



<%include file="next/partials/head-db.html"%>
