<%*<!--MARK: Display Pop Up Ad on all pages-->*%>
<%if date("Ymd",$smarty.now) >= 20171109 && date("Ymd",$smarty.now) <= 20180331 && $smarty.get.ad != 'no' && $noAd != "true" && $smarty.get.webview != "ftcapp"%>
<style><%include file="next/styles/main-pop-ad.css"%></style>
<div id="pop-ad" class=overlay></div>
<div class="pop-ad-code">
<script type="text/javascript">
var fullSC = GetCookie("fs0");
var loadFullAtEnd = false;
// MARK: - Display the full screen ad for every visit
fullSC = null;
if (fullSC === null && w <= 490) {
    //document.write (writeAd('fullpage'));
    document.write (writeAdNew({
        devices: ['iPhoneApp','iPhoneWeb','AndroidApp','AndroidWeb'],
        pattern:'FullScreen',
        position:'Web'
    }));
    SetCookie("fs0",1,5*60*60,"/");
}
</script>
</div>
<%/if%>


<%if $smarty.get.webview != "ftcapp"%>
<header class="header-container">
  <div class="header-inner">
    <div class="masthead"></div>
    <div class="header-side header-left expandable">
      <div class="current-edition">
        <%if $curr_lang == "big5"%>
            <span>繁体中文</span>
            <a href="http://www.ftchinese.com/">简体中文</a>
        <%else%>
            <span>简体中文</span>
            <a href="http://big5.ftchinese.com/">繁体中文</a>
        <%/if%>
        <a href="http://www.ft.com/">英文</a>
      </div>
    </div>
    <div class="header-side header-right">
        <span class="visitor-box">
            <a onclick="showOverlay('overlay-login')">登录</a>
            <a class="more last" href="http://user.ftchinese.com/register">免费注册</a>
        </span>
        <span class="member-box">
            <a href="/users/mystories">我的FT</a>
            <a id="ft-login-your-account" href="/users/cp">设置</a>
            <a id="ft-login-logout" href="http://user.ftchinese.com/logout">登出</a>
        </span>
    </div>
  </div>
</header>
<%include file="next/partials/login-overlay.html"%>
<%/if%>