
<%if $interactiveType != ""%>
    <script>window.interactiveType = '<%$interactiveType%>';</script>
<%/if%>
<script type="text/javascript">

if(typeof startTime === "undefined"){
    var startTime=new Date().getTime();
}
var adchID = '<%$adchannelID|default:$adchId%>';
<%if $autostart=="false"%>
var gAutoStart = false;
<%/if%>
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
    adchID = adchIDNew;
}
<%if $itemType == "story" && $storyId != ""%>
var FTStoryid = '<%$storyId%>';
<%elseif $itemType == "interactive" && $id != ""%>
var interactiveId = 'interactive<%$id%>';
<%/if%>
<%if $sponsorMobile == "yes"%>
    window.sponsorMobile = true;
<%/if%>
</script>

<!-- MARK: Important: Need to add Google Analytics load events manually -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);a.onload=function(){if(typeof clearEvents==='function'){clearEvents()}}
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-1608715-1', 'auto');
ga('require', 'displayfeatures');
if (window.gAutoStart === undefined) {
    try {
    trackerNew();
    }catch(err){
    ga('send', 'pageview');
    }
}
</script>
<!-- End Google Analytics -->

<!-- Doubleclick Head -->
<%*<!--
<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>

<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/80682004/DC_100010000412', [300, 250], 'div-gpt-ad-1513839240621-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
-->
*%>
<!-- End Doubleclick Head -->

<!-- link click -->
<script>
	function linkClickGa(e){
		ga('send','event','AdClick', $(e).attr("href"), "An");
	}
</script>
<!-- End link click -->

<!-- FTC Analytics -->
<script>  
(function (i, s, o, g, r, a, m) {
    i['FtcAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '/log/analytics.js', 'fa');
fa('create', 'UA-XXXX-Y', { 'alwaysSendReferrer': true });   // Replace with your property ID.
if (window.gAutoStart === undefined) {fa('send', 'pageview');}
</script>
<!-- End FTC Analytics -->

<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
    (function(d, s, u, j, x) {
        j = d.createElement(s),
        x = d.getElementsByTagName(s)[0];
        j.async = true;
        j.src = u;
        x.parentNode.insertBefore(j, x)
    })(document, 'script', 'http://static.ftchinese.com/js/log.js?v=7&20160318');
}
</script>
<!-- End Log Analytics -->



<!-- Baidu Analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?6f808c64c1308274ef22324b340e40af";
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- End Baidu Analytics -->


<%*<!--Open Graph Start-->*%>
<%if $storyImage != ""%>
<meta property="thumbnail" content="<%$storyImage%>" />
<meta property="og:title" content="<%$storyHeadline%>" />
<meta property="og:url" content="http://www.ftchinese.com/<%$itemType%>/<%$id|default:$story.id%>" />
<meta property="og:description" content="<%$shareLead%>" />
<meta property="og:image" content="<%$storyImage%>" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="FT中文网" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@FT中文网" />
<meta property="twitter:title" content="<%$storyHeadline%>" />
<meta property="twitter:description" content="<%$shareLead%>" />
<meta property="twitter:image" content="<%$storyImage%>" />
<%else%>
<meta property="thumbnail" content="http://static.ftchinese.com/img/friend-share-icon.jpg" />
<%/if%>
<%*<!--Open Graph End-->*%>


<%if $debug_model == 1%>
<script>
    var gDebugAd = '<span style="display:block;width:100%;position:relative;height:0;overflow:visible;"><div style="position:absolute;top:0;left:0;font-size:14px;color:#777;">adcode_for_debug</div></span>';
</script>
<%/if%>



<script>
<%if !isset($isCurrentAdchFinal) || $isCurrentAdchFinal == "no" || $isCurrentAdchFinal == "" %>
    var gIsCurrentAdchFinal = false;
<%else%>
    var gIsCurrentAdchFinal = true;
<%/if%>


</script>
<!--isCurrentAdchFinal: <%$isCurrentAdchFinal%>-->