<style>
    .video-hero {
        width: 100%;
        height: 500px;
        position: relative;
        margin-bottom: 30px;
        background-color: #dfdee0;
    }
    .video-hero video {
        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        background-color: #dfdee0;
    }
    .hero_main-content {
        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background-size: cover;
        background-position: 50% 0;
    }
    .hero_main-content-outer {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: auto;
        display: table;
    }
    .hero_main-content-wrapper {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
    }
    .hero_main-content-title h1 {
        color: white;
        line-height: 140%;
        font-size: 70px;
    }
    #vt-control {
        background: #FFFFFF66 0% 0% no-repeat;
        border-radius: 100%;
        opacity: 0.7;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-image: url("https://www.ft.com/partnercontent/cytiva/assets/play-button.svg");
        width: 70px;
        height: 70px;
        display: block;
        cursor: pointer;
    }
    .CCH5playerContainer {
        display: none;
        margin: auto;
        max-width: 1200px;
    }

</style>

<div class="video-hero">
    <!-- <video id="video" poster="https://www.ft.com/partnercontent/images/cytiva/hub/video_hero2.jpg" loop="" controls>  
        <source src="https://www.ft.com/partnercontent/cytiva/assets/CYTIVA_EDIT_13_720p.mp4" type="video/mp4">
        <track label="English" kind="subtitles" srclang="en" src="16147829136810.vtt" default>
    </video> -->
    <%if $section.vid != ""%>
    <script src="https://p.bokecc.com/player?vid=<%$section.vid%>&siteid=922662811F1A49E9&autoStart=false&width=100%&height=100%&playerid=FBEC69EC8BB76FC8&playertype=2" type="text/javascript"></script>
    <%/if%>
    <div class="hero_main-content" style="background-image: url('<%$section.image%>')">
        <div class="hero_main-content-outer">
            <div class="hero_main-content-wrapper">
                <div class="hero_main-content-title">
                    <h1><%$section.title%></h1>
                </div>
                <%if $section.vid != ""%>
                    <a id="vt-control" title="Play"></a>
                <%/if%>
            </div>
        </div>
    </div>
</div>
<%if $section.vid != ""%>
    <script>
        document.querySelector('#vt-control').onclick = function() {
            var video = document.querySelector('video');
            if (!video) {return;}
            document.querySelector('.hero_main-content').style.display = 'none';
            document.querySelector('.CCH5playerContainer').style.display = 'block';
            video.play();
        };
    </script>
<%/if%>