<%*<!--

<%assign var="topvideoid" value = $publishednew.v1|escape:javascript|regex_replace:"/^([0-9]+).*$/":"\\1"%>

<%if !preg_match("/^[0-9]+$/is",$topvideoid)%>
<%assign var="topvideo" value=$videomodel->get_video_by_field_search("(elongleadbody='' or eheadline!='')",0,1,10000,10800)%>
<%assign var="topvideoid" value = $topvideo[0].id%>
<%/if%>
<%assign var="topvideo" value=$videomodel->get_video_by_field_search("id='$topvideoid'",0,1,10000,10800)%>
<%if !$topvideo[0] || $topvideo[0].id==""%>
<%$topvideoid%><%$topvideo[0].id%>
<%assign var="topvideo" value=$videomodel->get_video_by_field_search("(elongleadbody='' or eheadline!='')",0,1,10000,10800)%>
<%assign var="topvideoid" value = $topvideo[0].id%>
<%/if%>
<%assign var="video" value=$videomodel->get_video_by_field_search("(`elongleadbody`='' OR `eheadline`!='') AND `id` != '{$topvideoid}' AND (`id` NOT IN (SELECT `video_id` FROM `video_catalog_rel` WHERE `catalog_id`=31))",0,3,80,10800,0)%>


-->*%>




<div class="side-container"><div class="side-inner">

	<%*<!--
	<div class="vidoes">
		<h2 class="list-title"><a href="/channel/stream.html">视频</a></h2>
		<div class="video-container">
			<div class="video-inner">
				<iframe name="video-frame" id="video-frame" style="width:100%;height:100%;" src="/video/<%$topvideo[0].id%>?i=1&w=360&h=203&autostart=false" scrolling="no" frameborder="0" allowfullscreen=true></iframe>
			</div>
		</div>
		<div class="video-title"><a href="/video/<%$topvideo[0].id%>" target=_blank><%$topvideo[0].cheadline%></a></div>
		<div id="three-video-part">
			<div id="video-prevbtn" class="prevbtn-disabled" onclick="video_slide().left()"></div>
			<div id="video-nextbtn" class="nextbtn-available" onclick="video_slide().right()"></div>
			<div id="three-video-content">
				<ul>
					<li class="on"><a target="video-frame" href="/video/<%$topvideo[0].id%>"><figure class="loading" data-url="<%$topvideo[0].story_pic.bigbutton%>"></figure><p><%$topvideo[0].cheadline%></p></a></li>
					<%foreach from=$video item=vc name=homepagevideo%>
					<%if $vc.id != $topvideo[0].id%>
					<li><a target="video-frame" href="/video/<%$vc.id%>"><figure class="loading" data-url="<%$vc.story_pic.bigbutton%>"></figure><p><%$vc.cheadline%></p></a></li>
					<%/if%>
					<%/foreach%>
				</ul>
			</div>
		</div>
		<div style="height: 30px;clear:both;"></div>
	</div>
	-->*%>






	<%if $smarty.get.webview != "ftcapp"%>
		<%if in_array(date("Ymd"),explode(",",$ad.Ribbon)) && $smarty.get.ad != "no" && $noAd != "true"%>
		<iframe id="ribbon" class="ad-hidden hide" width="100%" height="60" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="/m/marketing/a.html#adid=100010000501&slot=986723212&pid=ribbon"></iframe><%*<!--旧的adid是10000009-->*%>
		<%/if%>

		<%if date("Ymd",$smarty.now) <= 20160617%>
			<%assign var="video" value=$interactivemodel->get_interactive_by_tag('推广视频',1)%>
			<div class="vidoes">
				<div class="video-container">
					<div class="video-inner">
						<div class="image first-child"><figure class="loading-video" data-item-type="interactive" data-vid="<%$video[0].id%>"></figure></div>
		<%*
		<iframe name="video-frame" id="video-frame" style="width:100%;height:100%;" src="/interactive/<%$video[0].id%>?i=1&w=360&h=203&autostart=false" scrolling="no" frameborder="0" allowfullscreen=true></iframe>
		*%>
					</div>
				</div>
				<div class="video-title"><a href="/interactive/7083" target=_blank><%$video[0].cheadline%></a></div>
			</div>
		<%else%>
			<div class="links-container P-hide">
				<h2 class="list-title"><a href="/m/marketing/home.html">会员信息中心</a></h2>
				<div class="links" id="member-info">
				<a>...</a><a>...</a><a>...</a>
				</div>
				<div class="hide">
				<iframe width="0" height="0" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src = "/m/marketing/membertext.html"></iframe>
				</div>
			</div>
		<%/if%>
		

		<%if $smarty.get.ad != "no" && $noAd != "true"%>
				<script type="text/javascript">
					document.write (writeAdNew({
						devices: ['PC', 'PadWeb', 'PadApp'],
						pattern:'MPU',
						position:'Right1'
					}));
				</script>
		<%/if%>

		<div class="interactives">
			<h2 class="list-title"><a href="/channel/english.html">每日英语</a></h2>


			<div class="interactive-inner">
			<%assign var="storyall" value=$interactivemodel->get_interactive_by_field_search("(find_in_set('测试',tag) or find_in_set('教程',tag) or (find_in_set('QuizPlus',tag) and (find_in_set('新闻',tag) or find_in_set('热点观察',tag) or find_in_set('FT商学院',tag)) and (scoop = '1' or scoop = '0')) or find_in_set('速读',tag) or find_in_set('英语电台',tag) or find_in_set('数据新闻',tag)) and !find_in_set('广告互动教程',tag) and pubdate <= unix_timestamp(now())",0,5,30,10800)%>
			<%assign var="photoall" value=$photonewsmodel->get_new_photonews(6)%>
			<%assign var="storycount" value=$storyall|@count%>
			<%assign var="photocount" value=$photoall|@count%>
			<%assign var="allcount" value=$photocount+$storycount%>
			<%assign var="cs" value=0%>
			<%assign var="cp" value=0%>
			<%assign var="i" value=0%>
			<!--<%*两组数据进行合并，重新排序 Start*%>-->
			<%section name=bothdata loop=$allcount%>
				<%if $i<4%>
					<%if $cs<$storycount && ($storyall[$cs].pubdate>=$photoall[$cp].add_times || $ps>=$photocount)%>
						<%if !in_array($storyall[$cs].id , explode(',',$echostoryid)) && ($storyall[$cs].story_pic.smallbutton || $storyall[$cs].story_pic.bigbutton || $storyall[$cs].story_pic.cover)%>
							<%if preg_match("/速读/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【速读】"%>
							<%elseif preg_match("/测试|QuizPlus/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【小测】"%>
							<%elseif preg_match("/英语电台/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【电台】"%>
							<%elseif preg_match("/数据新闻/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【数据】"%>
							<%elseif preg_match("/教程/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【教程】"%>
							<%else%>
							<%assign var="iTag" value=""%>
							<%/if%>

							<%if $smarty.get.webview == "ftcapp"%>
								<%if preg_match("/.mp3$/is",$storyall[$cs].cshortleadbody)%>
									<%assign var="audioUrl" value=$storyall[$cs].cshortleadbody%>
									<%assign var="audioData" value=" data-audio=\"`$audioUrl`\""%>
								<%/if%>
								<%assign var="sideItemClass" value=" item-container-app"%>
								<%assign var="itemData" value=" data-id=\"`$storyall[$cs].id`\" data-type=\"interactive\"`$audioData`"%>
							<%/if%>
							<div class="item-container<%if $i===0%> first<%/if%><%$sideItemClass%>"<%$itemData%>><div class="item-inner">
							<a class="image" href="/interactive/<%$storyall[$cs].id%>" target=_blank><figure class="loading" data-url="<%$storyall[$cs].story_pic.cover|default:$storyall[$cs].story_pic.smallbutton|default:$storyall[$cs].story_pic.bigbutton%>"></figure></a>
							<h2 class="item-headline"><a href="/interactive/<%$storyall[$cs].id%>" target=_blank class="item-headline-link"><%*$iTag*%><%$storyall[$cs].cheadline%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$storyall[$cs].id`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cs" value=$cs+1%>
					<%elseif $ps<$photocount && ($storyall[$cs].pubdate<$photoall[$cp].add_times || $cs>=$storycount)%>
						<%if !in_array($photoall[$cp].en_title , explode(',',$echostoryid)) && $photoall[$cp].thumb_url %>
							<div class="item-container<%if $i===0%> first<%/if%>"><div class="item-inner">
							<a class="image" href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank><figure class="loading" data-url="http://i.ftimg.net/<%$photoall[$cp].thumb_url%>"></figure></a>
							<h2 class="item-headline"><a href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank>【图辑】<%$photoall[$cp].cn_title%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$photoall[$cp].en_title`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cp" value=$cp+1%>
					<%/if%>
				<%/if%>
			<%/section%>
			<!--<%*两组数据进行合并，重新排序 End*%>-->
			<div class="clearfloat"></div>
			</div>

		</div>

		<%if $smarty.get.ad != "no" && $noAd != "true"%>
			<%if  date("Ymd",$smarty.now) >= 20171223 &&  date("Ymd",$smarty.now) <= 20171224 %>
				<div class="mpu-container">
					<!-- /80682004/DC_100010000412 -->
					<div id='div-gpt-ad-1513839240621-0' style='height:250px; width:300px;'>
					<script>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-1513839240621-0'); });
					</script>
					</div>
				</div>
			<%else%>
				<script type="text/javascript">
				document.write (writeAdNew({
				devices: ['PC', 'PadWeb', 'PadApp'],
				pattern:'MPU',
				position:'Right2'
				}));
				</script>
			<%/if%>
		<%/if%>

		<%assign var="ftintelligence" value=$interactivemodel->get_interactive_by_field_search("find_in_set('FT研究院',tag) and find_in_set('报告',tag)",0,4,1000,10800)%>
		<div class="interactives P-hide">
			<h2 class="list-title"><a href="/m/marketing/intelligence.html">FT研究院</a></h2>
			<div class="item-container first"><div class="item-inner">
			<a class="image" href="/interactive/<%$ftintelligence[0].id%>" target=_blank><figure class="loading" data-url="<%$ftintelligence[0].story_pic.cover|default:$ftintelligence[0].story_pic.bigbutton%>"></figure></a>
			<h2 class="item-headline"><a href="/interactive/<%$ftintelligence[0].id%>" target=_blank><%$ftintelligence[0].cheadline%></a></h2>
			</div></div>
			<div id="three-video-part" class="triplet-container">
				<div id="three-video-content">
					<ul>
						<%foreach from=$ftintelligence item=vc name=homepagevideo%>
						<%if $vc.id != $ftintelligence[0].id%>
						<li><a target="_blank" href="/interactive/<%$vc.id%>"><figure class="loading" data-url="<%$vc.story_pic.bigbutton|default:$vc.story_pic.cover%>"></figure><p><%$vc.cheadline%></p></a></li>
						<%/if%>
						<%/foreach%>
						<div class="clearfloat"></div>
					</ul>
				</div>
			</div>
		</div>


<%*

		<%assign var="ftintelligence" value=$interactivemodel->get_interactive_by_field_search("find_in_set('精选',tag) and find_in_set('商业案例',tag)",0,4,1000,10800)%>
		<div class="vidoes">
			<h2 class="list-title"><a href="/m/marketing/businesscase.html">中国商业案例精选</a></h2>
			<div class="item-container first"><div class="item-inner">
			<a class="image" href="/interactive/<%$ftintelligence[0].id%>" target=_blank><figure class="loading" data-url="<%$ftintelligence[0].story_pic.cover|default:$ftintelligence[0].story_pic.bigbutton%>"></figure></a>
			<h2 class="item-headline"><a href="/interactive/<%$ftintelligence[0].id%>" target=_blank><%$ftintelligence[0].cheadline%></a></h2>
			</div></div>
			<div id="three-video-part" class="triplet-container">
				<div id="three-video-content">
					<ul>
						<%foreach from=$ftintelligence item=vc name=homepagevideo%>
						<%if $vc.id != $ftintelligence[0].id%>
						<li><a target="_blank" href="/interactive/<%$vc.id%>"><figure class="loading" data-url="<%$vc.story_pic.bigbutton|default:$vc.story_pic.cover%>"></figure><p><%$vc.cheadline%></p></a></li>
						<%/if%>
						<%/foreach%>
						<div class="clearfloat"></div>
					</ul>
				</div>
			</div>
		</div>

*%>





		<div class="videos">
			<h2 class="list-title"><a href="/m/marketing/businesscase.html">中国商业案例精选</a></h2>
			<div class="interactive-inner">
			<%assign var="storyall" value=$interactivemodel->get_interactive_by_field_search("find_in_set('精选',tag) and find_in_set('商业案例',tag)",0,4,1000,10800)%>
			<%assign var="photoall" value=$photonewsmodel->get_photonews_by_field_search("find_in_set('商业案例',tags)", "ORDER BY add_times DESC", 6)%>
			<%assign var="storycount" value=$storyall|@count%>
			<%assign var="photocount" value=$photoall|@count%>
			<%assign var="allcount" value=$photocount+$storycount%>
			<%assign var="cs" value=0%>
			<%assign var="cp" value=0%>
			<%assign var="i" value=0%>
			<!--<%*两组数据进行合并，重新排序 Start*%>-->
			<%section name=bothdata loop=$allcount%>
				<%if $i<4%>
					<%if $cs<$storycount && ($storyall[$cs].pubdate>=$photoall[$cp].add_times || $ps>=$photocount)%>
						<%if !in_array($storyall[$cs].id , explode(',',$echostoryid)) && ($storyall[$cs].story_pic.smallbutton || $storyall[$cs].story_pic.bigbutton || $storyall[$cs].story_pic.cover)%>
							<%if preg_match("/速读/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【速读】"%>
							<%elseif preg_match("/测试|QuizPlus/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【小测】"%>
							<%elseif preg_match("/英语电台/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【电台】"%>
							<%elseif preg_match("/数据新闻/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【数据】"%>
							<%elseif preg_match("/教程/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【教程】"%>
							<%else%>
							<%assign var="iTag" value=""%>
							<%/if%>

							<%if $smarty.get.webview == "ftcapp"%>
								<%if preg_match("/.mp3$/is",$storyall[$cs].cshortleadbody)%>
									<%assign var="audioUrl" value=$storyall[$cs].cshortleadbody%>
									<%assign var="audioData" value=" data-audio=\"`$audioUrl`\""%>
								<%/if%>
								<%assign var="sideItemClass" value=" item-container-app"%>
								<%assign var="itemData" value=" data-id=\"`$storyall[$cs].id`\" data-type=\"interactive\"`$audioData`"%>
							<%/if%>
							<%*<!--
							<%if $i===0%>
								<%assign var="interactiveLink" value="/m/marketing/businesscase.html"%>
							<%else%>
								<%assign var="interactiveLink" value="/interactive/`$storyall[$cs].id`"%>
							<%/if%>
							-->*%>
							<%assign var="interactiveLink" value="/interactive/`$storyall[$cs].id`"%>
							<div class="item-container<%if $i===0%> first<%/if%><%$sideItemClass%>"<%$itemData%>><div class="item-inner">
							<a class="image" href="<%$interactiveLink%>" target=_blank><figure class="loading" data-url="<%$storyall[$cs].story_pic.cover|default:$storyall[$cs].story_pic.smallbutton|default:$storyall[$cs].story_pic.bigbutton%>"></figure></a>
							<h2 class="item-headline"><a href="<%$interactiveLink%>" target=_blank class="item-headline-link"><%*$iTag*%><%$storyall[$cs].cheadline%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$storyall[$cs].id`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cs" value=$cs+1%>
					<%elseif $ps<$photocount && ($storyall[$cs].pubdate<$photoall[$cp].add_times || $cs>=$storycount)%>
						<%if !in_array($photoall[$cp].en_title , explode(',',$echostoryid)) && $photoall[$cp].thumb_url %>
							<div class="item-container<%if $i===0%> first<%/if%>"><div class="item-inner">
							<a class="image" href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank><figure class="loading" data-url="http://i.ftimg.net/<%$photoall[$cp].thumb_url%>"></figure></a>
							<h2 class="item-headline"><a href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank>【图辑】<%$photoall[$cp].cn_title%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$photoall[$cp].en_title`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cp" value=$cp+1%>
					<%/if%>
				<%/if%>
			<%/section%>
			<!--<%*两组数据进行合并，重新排序 End*%>-->
			<div class="clearfloat"></div>
			</div>
		</div>


	<%else%>

		<div class="P-hide" style="padding-top: 15px;"></div>

		<%if $smarty.get.ad != "no" && $noAd != "true"%>
			<script type="text/javascript">
				document.write (writeAdNew({
					devices: ['PC', 'PadWeb','PadApp'],
					pattern:'MPU',
					position:'Right1'
				}));
			</script>
		<%/if%>

		<div id="iap-ebooks"></div>

		<div class="interactives">
			<h2 class="list-title"><a href="/channel/english.html?webview=ftcapp">每日英语</a></h2>
			<div class="interactive-inner">
			<%assign var="storyall" value=$interactivemodel->get_interactive_by_field_search("(find_in_set('速读',tag) or find_in_set('英语电台',tag)) and !find_in_set('广告互动教程',tag) and pubdate <= unix_timestamp(now())",0,5,30,10800)%>
			<%assign var="photoall" value=$photonewsmodel->get_new_photonews(0)%>
			<%assign var="storycount" value=$storyall|@count%>
			<%assign var="photocount" value=$photoall|@count%>
			<%assign var="allcount" value=$photocount+$storycount%>
			<%assign var="cs" value=0%>
			<%assign var="cp" value=0%>
			<%assign var="i" value=0%>
			<!--<%*两组数据进行合并，重新排序 Start*%>-->
			<%section name=bothdata loop=$allcount%>
				<%if $i<4%>
					<%if $cs<$storycount && ($storyall[$cs].pubdate>=$photoall[$cp].add_times || $ps>=$photocount)%>
						<%if !in_array($storyall[$cs].id , explode(',',$echostoryid)) && ($storyall[$cs].story_pic.smallbutton || $storyall[$cs].story_pic.bigbutton || $storyall[$cs].story_pic.cover)%>
							<%if preg_match("/速读/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【速读】"%>
							<%elseif preg_match("/测试|QuizPlus/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【小测】"%>
							<%elseif preg_match("/英语电台/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【电台】"%>
							<%elseif preg_match("/数据新闻/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【数据】"%>
							<%elseif preg_match("/教程/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【教程】"%>
							<%else%>
							<%assign var="iTag" value=""%>
							<%/if%>

							<%*<!--MARK: - Audio file urls -->*%>
							<%if $smarty.get.webview == "ftcapp"%>
								<%if preg_match("/.mp3$/is",$storyall[$cs].cshortleadbody)%>
									<%assign var="audioUrl" value=$storyall[$cs].cshortleadbody%>
									<%assign var="audioData" value=" data-audio=\"`$audioUrl`\""%>
								<%elseif preg_match("/.mp3$/is",$storyall[$cs].eshortleadbody)%>
									<%assign var="audioUrl" value=$storyall[$cs].eshortleadbody%>
									<%assign var="audioData" value=" data-eaudio=\"`$audioUrl`\""%>
								<%else%>
									<%assign var="audioUrl" value=""%>
									<%assign var="audioData" value=""%>
								<%/if%>
								<%assign var="sideItemClass" value=" item-container-app"%>
								<%assign var="itemData" value=" data-id=\"`$storyall[$cs].id`\" data-type=\"interactive\"`$audioData`"%>
							<%/if%>
							<div class="item-container<%if $i===0%> first<%/if%><%$sideItemClass%>"<%$itemData%>><div class="item-inner">
							<a class="image" href="/interactive/<%$storyall[$cs].id%>" target=_blank><figure class="loading" data-url="<%$storyall[$cs].story_pic.cover|default:$storyall[$cs].story_pic.smallbutton|default:$storyall[$cs].story_pic.bigbutton%>"></figure></a>
							<h2 class="item-headline"><a href="/interactive/<%$storyall[$cs].id%>" target=_blank class="item-headline-link"><%*$iTag*%><%$storyall[$cs].cheadline%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$storyall[$cs].id`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cs" value=$cs+1%>
					<%elseif $ps<$photocount && ($storyall[$cs].pubdate<$photoall[$cp].add_times || $cs>=$storycount)%>
						<%if !in_array($photoall[$cp].en_title , explode(',',$echostoryid)) && $photoall[$cp].thumb_url %>
							<div class="item-container<%if $i===0%> first<%/if%>"><div class="item-inner">
							<a class="image" href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank><figure class="loading" data-url="http://i.ftimg.net/<%$photoall[$cp].thumb_url%>"></figure></a>
							<h2 class="item-headline"><a href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank>【图辑】<%$photoall[$cp].cn_title%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$photoall[$cp].en_title`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cp" value=$cp+1%>
					<%/if%>
				<%/if%>
			<%/section%>
			<!--<%*两组数据进行合并，重新排序 End*%>-->
			<div class="clearfloat"></div>
			</div>
		</div>

		<div class="interactives">
			<h2 class="list-title"><a href="/channel/mba.html?webview=ftcapp">FT商学院</a></h2>
			<div class="interactive-inner">
			<%assign var="storyall" value=$interactivemodel->get_interactive_by_field_search("(find_in_set('测试',tag) or find_in_set('教程',tag) or (find_in_set('QuizPlus',tag) and (find_in_set('新闻',tag) or find_in_set('热点观察',tag) or find_in_set('FT商学院',tag)) and (scoop = '1' or scoop = '0')) or find_in_set('数据新闻',tag)) and !find_in_set('广告互动教程',tag) and pubdate <= unix_timestamp(now())",0,5,30,10800)%>
			<%assign var="photoall" value=$photonewsmodel->get_new_photonews(6)%>
			<%assign var="storycount" value=$storyall|@count%>
			<%assign var="photocount" value=$photoall|@count%>
			<%assign var="allcount" value=$photocount+$storycount%>
			<%assign var="cs" value=0%>
			<%assign var="cp" value=0%>
			<%assign var="i" value=0%>
			<!--<%*两组数据进行合并，重新排序 Start*%>-->
			<%section name=bothdata loop=$allcount%>
				<%if $i<4%>
					<%if $cs<$storycount && ($storyall[$cs].pubdate>=$photoall[$cp].add_times || $ps>=$photocount)%>
						<%if !in_array($storyall[$cs].id , explode(',',$echostoryid)) && ($storyall[$cs].story_pic.smallbutton || $storyall[$cs].story_pic.bigbutton || $storyall[$cs].story_pic.cover)%>
							<%if preg_match("/速读/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【速读】"%>
							<%elseif preg_match("/测试|QuizPlus/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【小测】"%>
							<%elseif preg_match("/英语电台/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【电台】"%>
							<%elseif preg_match("/数据新闻/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【数据】"%>
							<%elseif preg_match("/教程/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【教程】"%>
							<%else%>
							<%assign var="iTag" value=""%>
							<%/if%>

							<%if $smarty.get.webview == "ftcapp"%>
								<%if preg_match("/.mp3$/is",$storyall[$cs].cshortleadbody)%>
									<%assign var="audioUrl" value=$storyall[$cs].cshortleadbody%>
									<%assign var="audioData" value=" data-audio=\"`$audioUrl`\""%>
								<%else%>
									<%assign var="audioUrl" value=""%>
									<%assign var="audioData" value=""%>
								<%/if%>
								<%assign var="sideItemClass" value=" item-container-app"%>
								<%assign var="itemData" value=" data-id=\"`$storyall[$cs].id`\" data-type=\"interactive\"`$audioData`"%>
							<%/if%>
							<div class="item-container<%if $i===0%> first<%/if%><%$sideItemClass%>"<%$itemData%>><div class="item-inner">
							<a class="image" href="/interactive/<%$storyall[$cs].id%>" target=_blank><figure class="loading" data-url="<%$storyall[$cs].story_pic.cover|default:$storyall[$cs].story_pic.smallbutton|default:$storyall[$cs].story_pic.bigbutton%>"></figure></a>
							<h2 class="item-headline"><a href="/interactive/<%$storyall[$cs].id%>" target=_blank class="item-headline-link"><%*$iTag*%><%$storyall[$cs].cheadline%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$storyall[$cs].id`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cs" value=$cs+1%>
					<%elseif $ps<$photocount && ($storyall[$cs].pubdate<$photoall[$cp].add_times || $cs>=$storycount)%>
						<%if !in_array($photoall[$cp].en_title , explode(',',$echostoryid)) && $photoall[$cp].thumb_url %>
							<div class="item-container<%if $i===0%> first<%/if%>"><div class="item-inner">
							<a class="image" href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank><figure class="loading" data-url="http://i.ftimg.net/<%$photoall[$cp].thumb_url%>"></figure></a>
							<h2 class="item-headline"><a href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank>【图辑】<%$photoall[$cp].cn_title%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$photoall[$cp].en_title`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cp" value=$cp+1%>
					<%/if%>
				<%/if%>
			<%/section%>
			<!--<%*两组数据进行合并，重新排序 End*%>-->
			<div class="clearfloat"></div>
			</div>
		</div>


		<%if $smarty.get.ad != "no" && $noAd != "true"%>
			<script type="text/javascript">
				document.write (writeAdNew({
					devices: ['PC', 'PadWeb','PadApp'],
					pattern:'MPU',
					position:'Right2'
				}));
			</script>
		<%/if%>


		<%assign var="ftintelligence" value=$interactivemodel->get_interactive_by_field_search("find_in_set('FT研究院',tag) and find_in_set('报告',tag)",0,4,1000,10800)%>
		<div class="videos P-only">
			<h2 class="list-title"><a href="/m/marketing/intelligence.html?webview=ftcapp">FT研究院</a></h2>
			<div class="item-container first"><div class="item-inner">
			<a class="image" href="/interactive/<%$ftintelligence[0].id%>" target=_blank><figure class="loading" data-url="<%$ftintelligence[0].story_pic.cover|default:$ftintelligence[0].story_pic.bigbutton%>"></figure></a>
			<h2 class="item-headline"><a href="/interactive/<%$ftintelligence[0].id%>" target=_blank><%$ftintelligence[0].cheadline%></a></h2>
			</div></div>
			<div id="three-video-part" class="triplet-container">
				<div id="three-video-content">
					<ul>
						<%foreach from=$ftintelligence item=vc name=homepagevideo%>
						<%if $vc.id != $ftintelligence[0].id%>
						<li><a target="_blank" href="/interactive/<%$vc.id%>"><figure class="loading" data-url="<%$vc.story_pic.bigbutton|default:$vc.story_pic.cover%>"></figure><p><%$vc.cheadline%></p></a></li>
						<%/if%>
						<%/foreach%>
						<div class="clearfloat"></div>
					</ul>
				</div>
			</div>
		</div>


		<div class="videos P-only">
			<h2 class="list-title"><a href="/m/marketing/businesscase.html">中国商业案例精选</a></h2>
			<div class="interactive-inner">
			<%assign var="storyall" value=$interactivemodel->get_interactive_by_field_search("find_in_set('精选',tag) and find_in_set('商业案例',tag)",0,4,1000,10800)%>
			<%assign var="photoall" value=$photonewsmodel->get_photonews_by_field_search("find_in_set('商业案例',tags)", "ORDER BY add_times DESC", 6)%>
			<%assign var="storycount" value=$storyall|@count%>
			<%assign var="photocount" value=$photoall|@count%>
			<%assign var="allcount" value=$photocount+$storycount%>
			<%assign var="cs" value=0%>
			<%assign var="cp" value=0%>
			<%assign var="i" value=0%>
			<!--<%*两组数据进行合并，重新排序 Start*%>-->
			<%section name=bothdata loop=$allcount%>
				<%if $i<4%>
					<%if $cs<$storycount && ($storyall[$cs].pubdate>=$photoall[$cp].add_times || $ps>=$photocount)%>
						<%if !in_array($storyall[$cs].id , explode(',',$echostoryid)) && ($storyall[$cs].story_pic.smallbutton || $storyall[$cs].story_pic.bigbutton || $storyall[$cs].story_pic.cover)%>
							<%if preg_match("/速读/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【速读】"%>
							<%elseif preg_match("/测试|QuizPlus/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【小测】"%>
							<%elseif preg_match("/英语电台/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【电台】"%>
							<%elseif preg_match("/数据新闻/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【数据】"%>
							<%elseif preg_match("/教程/is",$storyall[$cs].tag)%>
							<%assign var="iTag" value="【教程】"%>
							<%else%>
							<%assign var="iTag" value=""%>
							<%/if%>

							<%if $smarty.get.webview == "ftcapp"%>
								<%if preg_match("/.mp3$/is",$storyall[$cs].cshortleadbody)%>
									<%assign var="audioUrl" value=$storyall[$cs].cshortleadbody%>
									<%assign var="audioData" value=" data-audio=\"`$audioUrl`\""%>
								<%/if%>
								<%assign var="sideItemClass" value=" item-container-app"%>
								<%assign var="itemData" value=" data-id=\"`$storyall[$cs].id`\" data-type=\"interactive\"`$audioData`"%>
							<%/if%>
							<div class="item-container<%if $i===0%> first<%/if%><%$sideItemClass%>"<%$itemData%>><div class="item-inner">
							<a class="image" href="/interactive/<%$storyall[$cs].id%>" target=_blank><figure class="loading" data-url="<%$storyall[$cs].story_pic.cover|default:$storyall[$cs].story_pic.smallbutton|default:$storyall[$cs].story_pic.bigbutton%>"></figure></a>
							<h2 class="item-headline"><a href="/interactive/<%$storyall[$cs].id%>" target=_blank class="item-headline-link"><%*$iTag*%><%$storyall[$cs].cheadline%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$storyall[$cs].id`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cs" value=$cs+1%>
					<%elseif $ps<$photocount && ($storyall[$cs].pubdate<$photoall[$cp].add_times || $cs>=$storycount)%>
						<%if !in_array($photoall[$cp].en_title , explode(',',$echostoryid)) && $photoall[$cp].thumb_url %>
							<div class="item-container<%if $i===0%> first<%/if%>"><div class="item-inner">
							<a class="image" href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank><figure class="loading" data-url="http://i.ftimg.net/<%$photoall[$cp].thumb_url%>"></figure></a>
							<h2 class="item-headline"><a href="/photonews/<%$photoall[$cp].photonewsid%>" target=_blank>【图辑】<%$photoall[$cp].cn_title%></a></h2>
							</div></div>
							<%assign var="echostoryid" value=`$photoall[$cp].en_title`,$echostoryid%>
							<%assign var="i" value=$i+1%>
						<%/if%>
						<%assign var="cp" value=$cp+1%>
					<%/if%>
				<%/if%>
			<%/section%>
			<!--<%*两组数据进行合并，重新排序 End*%>-->
			<div class="clearfloat"></div>
			</div>
		</div>


		<div class="clearfloat"></div>
		<div class="mps P-only">
			<h2 class="list-title"><a href="/channel/weekly.html">热门文章</a></h2>
			<ul class="top10">
				<%assign var="i" value=0%>

				<%*<!-- easy api is broken, switch to old model
				<%easyapi command="60006"%>
				<%foreach from=$data.odatalist item=sc name=foo%>
					<%assign var="i" value=$i+1%>
					<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/story/<%$sc.storyid%>?dailypop"><%$sc.title%></a></li>
				<%/foreach%>
				-->*%>
				<%assign var="mp" value=$storymodel->get_hot_story(1,10) %>
				<%foreach from=$mp item=sc%>
					<%assign var="i" value=$i+1%>
					<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/story/<%$sc.storyid%>?dailypop"><%$sc.cheadline%></a></li>
				<%/foreach%>
			</ul>
		</div>

		<%if $smarty.get.v != ""%>
		<%assign var="v" value=$smarty.get.v|floatval%>
			<%if $v >= 6.3%>
				<div class="links-container">
					<h2 class="list-title"><a>往期查询</a></h2>
					<div id="archive-calendar" class="calendar"></div>
				</div>
			<%/if%>
		<%/if%>

		<div class="clearfloat"></div>
		<div class="side-list last-child headlineOnly">
			<h2 class="list-title">
			<a href="#">帮助与反馈</a>
			</h2>
			<div class="item-container first-headline no-image"><div class="item-inner">
				<h2 class="item-headline"><a href="http://www.ftchinese.com/m/corp/preview.html?pageid=ioshelp">常见问题</a></h2>	
				<h2 class="item-headline"><a href="mailto:ftchinese.feedback@gmail.com?subject=Feedback about FTC Web App - from home page">通过电子邮件反馈</a></h2>
			</div></div>
		</div>

	<%/if%>





</div></div>