<div class="side-container"><div class="side-inner"><div class="mps">
	<%if $interactivemodel != ""%>
		<%assign var="HotVideos" value=$interactivemodel->get_interactive_by_field_search("find_in_set('HotVideoByPageViews', tag)",0,1,7,10800)%>
		<%if count($HotVideos) > 0 %>
			<%if $boxTitleClass == ""%>
				<%assign var="boxTitleClass" value="list-title"%>
			<%/if%>
			<h2 class="<%$boxTitleClass%>"><a href="/channel/stream.html"><%$HotVideos[0].cheadline%></a></h2>
			<%if $smarty.get.webview == "ftcapp"%>
				<%$HotVideos[0].ebody%>
			<%else%>
				<%$HotVideos[0].cbody%>
			<%/if%>
		<%/if%>
	<%/if%>
</div></div></div>


<%*<!-- MARK: - This API has stopped updating, not worth fixing it as it is a big pile of tech debt
<%if $videomodel != ""%>
<div class="side-container"><div class="side-inner">
	<div class="mps">
		<h2 class="list-title"><a href="/channel/stream.html">热门视频</a></h2>
		<ul class="top10">
			<%assign var="i" value=0%>
			<%assign var="mp" value=$videomodel->get_hot_video(30,10) %>
			<%foreach item=sc from=$mp%>
			<%if $i<10%>
				<%assign var="i" value=$i+1%>
				<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/video/<%$sc.storyid%>"><%$sc.cheadline|regex_replace:"/^【(.*)】(.*)$/":"\\2"%></a></li>
			<%/if%>
			<%/foreach%>
		</ul>
	</div>
</div></div>
<%/if%>
-->*%>