<%if $nextmodel != ""%>
	<%assign var="textLinkForMBAGYM" value=$nextmodel->getPublishJson($pageIdForTextLink)|json_decode:true%>
	<%assign var="todayDate" value=$smarty.now|date_format:'%Y%m%d'%>
	<%foreach from=$textLinkForMBAGYM.sections item=section%>
	    <%if $section.type == "creative"%>
	    	<%if preg_match("/`$todayDate`/is",$section.dates)%>
	    		<%assign var="link" value=$section.click%>
	    		<%if preg_match("/\?/is",$link)%>
	    			<%assign var="link" value="`$link`&isad=1"%>
	    		<%else%>
	    			<%assign var="link" value="`$link`?isad=1"%>
	    		<%/if%>
				<a href="<%$link%>" onclick="recordClickEventForHouseAd(this)" data-event-category="<%$pageIdForTextLink%>" target=_blank>
		            <div class="oneStory">
		                <div class="headline"><%$section.title%></div>
		                <div class="leftimage image" style="width: 167px"><figure><img class="app-image" src="https://d1sh1cgb4xvhl.cloudfront.net/unsafe/334x188/<%$section.fileName%>"></figure></div>
		                <div class=lead><%$section.note%></div>
		                <div class=clearfloat></div>
		            </div>
	            </a>
				<script>
					gtag('event', 'Show', {'event_label': '<%$section.title%>', 'event_category': 'House Ad: <%$pageIdForTextLink%>'});
				</script>
			<%/if%>
	    <%/if%>
	<%/foreach%>
	<script>
		function recordClickEventForHouseAd(ele) {
		}
	</script>
<%/if%>