<%if $hidePromoBox != "yes"%>
	<!--passPlatform: house-ad-subscription-promo-box-->
	<%assign var="pageIdForPromo" value="subcription-promo"%>
	<%if $nextmodel != ""%>
		<%assign var="infoForPromo" value=$nextmodel->getPublishJson($pageIdForPromo)|json_decode:true%>
		<%assign var="promoRendered" value=""%>
		<%if $smarty.get.webview == "ftcapp"%>
			<%assign var="inAppClass" value=" in-app"%>
			<%*<!--MARK: - In native app, don't ever show promo box for non-subscriber as it is fixed to the bottom -->*%>
			<%assign var="promoRendered" value="`$promoRendered`"%>
		<%/if%>
		<div id="promo-box-container">
			<%foreach from=$infoForPromo.sections item=section%>
				<%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
				<%if ($section.dates == "" && ($supportSubscriptionPromoBox != "yes" || $section.promoTarget != "noneSubscriber")) || preg_match("/`$currentDate`/is",$section.dates)%>
					<%assign var="isScheduledForToday" value="yes"%>
				<%else%>
					<%assign var="isScheduledForToday" value="no"%>
				<%/if%>
				<%assign var="passActionCheck" value="no"%>
				<%foreach from=$section.lists item=list%>
					<%if $list.weight > 0 && ($list.status == "on" || $debug_model == 1)%>
						<%assign var="passActionCheck" value="yes"%>
					<%/if%>
				<%/foreach%>
				<%*<!-- <%$isScheduledForToday%> / rendered: <%$promoRendered%> /   -->*%>
			    <%if $section.type == "promoBox" && $isScheduledForToday == "yes" && $section.promoTarget == "noneSubscriber" && $passActionCheck == "yes" && $section.DaysToExpiration == "" && ($section.status == "on" || $debug_model == 1) && !preg_match("/`$section.promoTarget`/is",$promoRendered)%>
			    	
			    	<%*<!--MARK: - Get the final action (list) based on weight and status -->*%>
			    	<%assign var=weightCount value=0%>
			    	<%foreach from=$section.lists item=list%>
			    		<%if $list.weight > 0 && ($list.status == "on" || $debug_model == 1)%>
			    			<%assign var=weightCount value=$weightCount+$list.weight%>
			    		<%/if%>
			    	<%/foreach%>
			    	<%*<!--Weight Count: <%$weightCount%>-->*%>
			    	<%assign var=picked value=1|mt_rand:$weightCount%>
		    		<%*<!--Random Picked: <%$picked%>-->*%>
		    		<%assign var=i value=0%>
		    		<%assign var="foundAction" value="no"%>
		    		<%assign var="index" value=0%>
		    		<%assign var="l" value=""%>
		    		<%foreach from=$section.lists item=list key=key%>
		    			<%if $foundAction == "no" && $list.weight > 0 && ($list.status == "on" || $debug_model == 1)%>
		    				<%assign var=i value=$i+$list.weight%>
		    				<%if $i>=$picked%>
		    					<%*<!--Found Match in <%$key%>/<%$i%> for <%$list.Name%>, weight: <%$list.weight%>-->*%>
		    					<%assign var="foundAction" value="yes"%>
		    					<%assign var="index" value=$key%>
		    					<%assign var="l" value=$list%>
		    				<%/if%>
		    			<%/if%>
		    		<%/foreach%>
		    		<%*<!--Use the index of <%$index%>-->*%>
		    		<%*<!--<%$l|@print_r%>-->*%>

			    	<style>
			    	<%if $l.backgroundColor != ""%>
				    	.<%$section.promoTarget%>.subscription-promo-container {
				    		background-color: <%$l.backgroundColor%>;
				    	}
			    	<%/if%>
			    	<%if $l.buttonColor != ""%>
				    	.<%$section.promoTarget%> .subscription-promo-text {
				    		background-color: <%$l.buttonColor%>;
				    		border-color: <%$l.buttonColor%>;
				    	}
			    	<%/if%>
			    	<%if $l.buttonFontColor != ""%>
				    	.<%$section.promoTarget%> .subscription-promo-text {
				    		color: <%$l.buttonFontColor%>;
				    	}
			    	<%/if%>
			    	.<%$section.promoTarget%> .subscription-promo-box {
			    		background-image: url(<%$l.imagePC%>);
			    	}
			    	<%if $l.imageMobile != ""%>
						<%assign var="showImageInMobile" value=" show-image-in-mobile"%>
						@media only screen and (max-width: 490px) {
					    	.<%$section.promoTarget%> .subscription-promo-box {
					    		background-image: url(<%$l.imageMobile%>);
					    	}
						}
					<%else%>
						<%assign var="showImageInMobile" value=""%>
			    	<%/if%>
			    	</style>
			    	<%if preg_match("/ccode=/is",$l.click)%>
						<%assign var=clickUrl value=$l.click%>
					<%elseif preg_match("/\?/is",$l.click)%>
						<%assign var=clickUrl value="`$l.click`&ccode=`$l.ccode`"%>
					<%else%>
						<%assign var=clickUrl value="`$l.click`?ccode=`$l.ccode`"%>
					<%/if%>
					<%*<!--
					<%if $smarty.get.webview == "ftcapp"%>
						<%if preg_match("/http:\/\/www.ftacademy.cn\/subscription.html/is",$clickUrl) %>
							<%assign var=clickUrl value="http://www.ftchinese.com/channel/promo.html?ccode=`$l.ccode`"%>
						<%/if%>
					<%/if%>
					-->*%>
					<%if $isInAndroidApp == "yes"%>
						<%if preg_match("/http:\/\/www.ftacademy.cn\/subscription.html/is",$clickUrl) %>
							<%assign var=hrefUrl value=""%>
							<%assign var="classForAndroid" value=" iap-channel"%>
							<%assign var="attributeForAndroid" value=" iap-action=\"membership\" iap-title=\"会员\""%>
						<%else%>
							<%assign var=hrefUrl value=" href=\"`$clickUrl`\""%>
							<%assign var="classForAndroid" value=""%>
							<%assign var="attributeForAndroid" value=""%>
						<%/if%>
					<%else%>
						<%assign var=hrefUrl value=" href=\"`$clickUrl`\""%>
					<%/if%>
					<div class="subscription-promo-container<%$inAppClass%><%$showImageInMobile%> <%$section.promoTarget%><%$classForAndroid%>"<%$attributeForAndroid%>>
					    <div class="subscription-promo-inner">
					        <a <%$hrefUrl%> class="subscription-promo-box n-internal-promo" data-promo-target="<%$section.promoTarget%>" data-promo-id="<%$l.ccode%>" data-promo-name="<%$l.title%>" data-promo-creative="<%$l.imagePC%>" data-promo-position="<%$section.type%>">
					            <div class="subscription-promo-text"><%$l.title%></div>
					        </a>
					    </div>
					</div>
					<%if $l.ccode != ""%>
						<script type="text/javascript">
							window.userId = GetCookie('USER_ID') || '';
							if (window.userId === '') {
								gtag('event', 'Display', {'event_label': '<%$l.ccode%>', 'event_category': 'PromoBox', 'non_interaction': true});
							}
						</script>
					<%/if%>
					<%*<!--MARK: Hide Banner if Promo Is On-->*%>
	                <%if $smarty.get.subscription == "premium" && $section.promoTarget == "premium" && date("Ymd", $smarty.now) <= 20180926%>
	                    <script type="text/javascript">
	                        window.userId = GetCookie('USER_ID');
	                        if (window.userId && window.userId !== '') {
	                            var xhr = new XMLHttpRequest();
	                            xhr.open('POST', '/index.php/jsapi/ticketCode');
	                            xhr.setRequestHeader('Content-Type', 'application/json');
	                            xhr.onload = function() {
	                                if (xhr.status === 200) {
	                                    var ticketInfo = JSON.parse(xhr.responseText);
	                                    var ticketCode = ticketInfo.ticketCode;
	                                    var errcode = ticketInfo.errcode;
	                                    if (ticketCode) {
	                                        var topBanner = document.querySelector('[data-id=banner-1]') || document.querySelector('[data-o-ads-name=banner1]');
	                                        topBanner.style.display = 'none';
	                                    } else if (errcode) {
	                                        var promoBox = document.querySelector('.subscription-promo-container.premium');
	                                        promoBox.style.display = 'none';
	                                    }
	                                }
	                            };
	                            xhr.send(JSON.stringify({
	                                user_id: userId
	                            }));
	                        }
	                    </script>
	                <%/if%>
					<%assign var="promoRendered" value="`$promoRendered``$section.promoTarget`"%>
			    <%/if%>
			<%/foreach%>
		</div>
		<script type="text/javascript">
			function addUserId(ele) {
				if (ele === null) {
					return;
				}
				var userId;
				if (typeof GetCookie === 'function') {
					userId = GetCookie('USER_ID');
				} else {
					userId = getCookie('USER_ID');
				}
				if (userId && typeof userId === 'string' && userId !== '') {
					var link = ele.href;
					var connector = (link.indexOf('?') >= 0) ? '&' : '?';
					ele.href = link + connector + 'u=' + userId;
				}
			}
			var premiumLink = document.querySelector('[data-promo-target=premium]');
			addUserId(premiumLink);
		</script>
	<%/if%>
<%/if%>