<%assign var="pageIdForPromo" value="subcription-promo"%>
<%if $nextmodel != ""%>
	<%assign var="infoForPromo" value=$nextmodel->getPublishJson($pageIdForPromo)|json_decode:true%>
	<%assign var="promoRendered" value=""%>
		<%if $supportSubscriptionUpgradePromo != "yes"%>
		<%assign var="promoRendered" value="standardpremium"%>
	<%/if%>
	<%if $smarty.get.webview == "ftcapp"%>
		<%assign var="inAppClass" value=" in-app"%>
		<%*<!--MARK: - In native app, don't ever show promo box for non-subscriber as it is fixed to the bottom -->*%>
		<%assign var="promoRendered" value="noneSubscriber`$promoRendered`"%>
	<%/if%>

	<%foreach from=$infoForPromo.sections item=section%>
	    <%if $section.type == "promoBox" && $section.status == "on" && !preg_match("/`$section.promoTarget`/is",$promoRendered)%>
	    	<style>
	    	<%if $section.backgroundColor != ""%>
		    	.<%$section.promoTarget%>.subscription-promo-container {
		    		background-color: <%$section.backgroundColor%>;
		    	}
	    	<%/if%>
	    	.<%$section.promoTarget%> .subscription-promo-box {
	    		background-image: url(<%$section.imagePC%>);
	    	}
	    	<%if $section.imageMobile != ""%>
				<%assign var="showImageInMobile" value=" show-image-in-mobile"%>
				@media only screen and (max-width: 490px) {
			    	.<%$section.promoTarget%> .subscription-promo-box {
			    		background-image: url(<%$section.imageMobile%>);
			    	}
				}
			<%else%>
				<%assign var="showImageInMobile" value=""%>
	    	<%/if%>
	    	</style>
	    	<%if preg_match("/ccode=/is",$section.click)%>
				<%assign var=clickUrl value=$section.click%>
			<%elseif preg_match("/\?/is",$section.click)%>
				<%assign var=clickUrl value="`$section.click`&ccode=`$section.ccode`"%>
			<%else%>
				<%assign var=clickUrl value="`$section.click`?ccode=`$section.ccode`"%>
			<%/if%>
			<div class="subscription-promo-container<%$inAppClass%><%$showImageInMobile%> <%$section.promoTarget%>">
			    <div class="subscription-promo-inner">
			        <a href="<%$clickUrl%>" class="subscription-promo-box">
			            <div class="subscription-promo-text"><%$section.title%></div>
			        </a>
			    </div>
			</div>
			<%<!--MARK: Track Promo Box Display  -->%>
			<script type="text/javascript">
				// MARK: Use a set timeout to track display. 
				// TODO: Check Constantly Until Found and Send. 
				setTimeout(function() {
					var promoTarget = '<%$section.promoTarget%>';
					var promoId = '<%$section.ccode%>';
					var promoName = '<%$section.title%>'; 
					var promoCreative = '<%$section.imagePC%>';
					var promoPosition = '<%$section.type%>';
					var currentBox = document.querySelector('.subscription-promo-container.' + promoTarget);
					if (isHidden(currentBox) === false) {
						ga('ec:addPromo', {               // Promo details provided in a promoFieldObject.
						  'id': promoId,             // Promotion ID. Required (string).
						  'name': promoName,          // Promotion name (string).
						  'creative': promoCreative,   // Creative (string).
						  'position': promoPosition      // Position  (string).
						});
						console.log ('Show From:<%$section.ccode%>');
						ga('send','event','Web Privileges', 'Display', 'From:<%$section.ccode%>');
					} else {
						console.log ('No Show From:<%$section.ccode%>');
					}
				}, 5000);
			</script>
			<%assign var="promoRendered" value="`$promoRendered``$section.promoTarget`"%>
	    <%/if%>
	<%/foreach%>
<%/if%>