<%assign var="pageIdForPromo" value="subcription-promo"%>
<%if $nextmodel != ""%>
	<%assign var="infoForPromo" value=$nextmodel->getPublishJson($pageIdForPromo)|json_decode:true%>
	<%assign var="promoRendered" value=""%>
		<%if $supportSubscriptionUpgradePromo != "yes"%>
		<%assign var="promoRendered" value="standardpremium"%>
	<%/if%>
	<%if $smarty.get.webview == "ftcapp"%>
		<%assign var="inAppClass" value=" in-app"%>
		<%*<!--MARK: - In native app, don't ever show promo box for non-subscriber as it is fixed to the bottom -->*%>
		<%assign var="promoRendered" value="noneSubscriber`$promoRendered`"%>
	<%/if%>

	<%foreach from=$infoForPromo.sections item=section%>
	    <%if $section.type == "promoBox" && $section.status == "on" && !preg_match("/`$section.promoTarget`/is",$promoRendered)%>
	    	<style>
	    	<%if $section.backgroundColor != ""%>
		    	.<%$section.promoTarget%>.subscription-promo-container {
		    		background-color: <%$section.backgroundColor%>;
		    	}
	    	<%/if%>
	    	.<%$section.promoTarget%> .subscription-promo-box {
	    		background-image: url(<%$section.imagePC%>);
	    	}
	    	<%if $section.imageMobile != ""%>
				<%assign var="showImageInMobile" value=" show-image-in-mobile"%>
				@media only screen and (max-width: 490px) {
			    	.<%$section.promoTarget%> .subscription-promo-box {
			    		background-image: url(<%$section.imageMobile%>);
			    	}
				}
			<%else%>
				<%assign var="showImageInMobile" value=""%>
	    	<%/if%>
	    	</style>
	    	<%if preg_match("/ccode=/is",$section.click)%>
				<%assign var=clickUrl value=$section.click%>
			<%elseif preg_match("/\?/is",$section.click)%>
				<%assign var=clickUrl value="`$section.click`&ccode=`$section.ccode`"%>
			<%else%>
				<%assign var=clickUrl value="`$section.click`?ccode=`$section.ccode`"%>
			<%/if%>
			<div class="subscription-promo-container<%$inAppClass%><%$showImageInMobile%> <%$section.promoTarget%>">
			    <div class="subscription-promo-inner">
			        <a href="<%$clickUrl%>" class="subscription-promo-box">
			            <div class="subscription-promo-text"><%$section.title%></div>
			        </a>
			    </div>
			</div>
			<%<!--MARK: Track Promo Box Display-->%>
			<script type="text/javascript">
				// var promoTarget = '<%$section.promoTarget%>';
				// var subscriptionPaywallType = GetCookie('paywall') || promoTarget;
				// if (subscriptionPaywallType === promoTarget) {
					console.log ('From:<%$section.ccode%>');
					ga('send','event','Web Privileges', 'Display', 'From:<%$section.ccode%>');
				//}
				// TODO: Use a set timeout to track display. 
				setTimeout(function(){
					var currentBox = document.querySelector('.subscription-promo-container.<%$section.promoTarget%>');
					console.log (isHidden(currentBox));
				}, 5000);
			</script>
			<%assign var="promoRendered" value="`$promoRendered``$section.promoTarget`"%>
	    <%/if%>
	<%/foreach%>
	<script type="text/javascript">
		function isHidden(el) {
		    var style = window.getComputedStyle(el);
		    return (style.display === 'none')
		}
	</script>
<%/if%>