<%if $adchannelID != "1000"%>
    <%assign var="adForceString" value="#adchannelID=$adchannelID"%>
<%/if%>
<map name="information-map" id="information-map">
    <area shape="rect" coords="60,0,270,50" href ="https://www.theinformation.com/china-startup-report-landing" target ="_blank" alt="information" />
</map>
<div class="block-container has-side">
    <div class="block-inner">
    <div class="content-container">
        <div class="content-inner" id="content-inner">

        
        </div><!--content-inner结束-->
    </div><!--content-container结束-->

	<%include file="next/partials/InnotreeRightRail.html"%>
	<!--side-container结束-->
	<div class="clearfloat"></div>
</div><!--block-inner结束-->
</div><!--block-container has-side结束-->
<div class="pagination-container">
    <div class="pagination-inner" style="font-size: 1em;">
        <a href="http://www.innotree.cn/"><img src="http://www.innotree.cn/static/photos/inno_logo.png" style="width:50px ;margin-right:20px">以上数据来源于因果树</a> 
    </div>
</div> 