<div class="side-container">
	<div class="side-inner">

		<div class="links-container P-hide">
    <h2 class="list-title"><a>栏目介绍</a></h2>
    <div class="links" style="font-size:.9em;">
    本栏目由FT中文网与美国科技新闻网站The Information联合出品，定期呈现中国互联网投资领域最新动态。美国科技新闻网站The Information 提供硅谷以及全球的科技原创新闻和分析。数据来源于人工智能信息服务平台因果树。
    </div>
    <div class="links"><img usemap="#information-map"src="http://i.ftimg.net/picture/6/000071546_piclink.jpg" />
    </div>
    </div>
	<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU1 != "yes"%>
		<script type="text/javascript">
			document.write (writeAdNew({
				devices: ['PC','PadApp','PadWeb'],
				pattern:'MPU',
				position:'Right1'
			}));
		</script>
	<%/if%>
	<div class="mps">
	
	</div>

	

   


	</div>
</div>