<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

<div class="video-player" target="_blank" id="video-player"><div class="video-player-inner broadcast-inner">
    <div id="livePlayer"><video id="video" controls></video></div>
</div></div>

<script>
    var streamUrl = '<%$liveStreamUrl%>';
    if(Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls();
        hls.loadSource(streamUrl);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function(){
            video.play();
        });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = streamUrl;
        video.addEventListener('canplay',function(){
            video.play();
        });
    }
</script>
