<div class="overlay-container" id="overlay-login">
    <div class="overlay-inner">
        <div class="overlay-bg" data-parentid="overlay-login"></div>
        <div class="overlay-content-outer">
            <div class="overlay-content-inner">
                <div class="overlay-content">
                    <div class="overlay-title">登录<i class="overlay-close" data-parentid="overlay-login">×</i></div>
                    <form method="post" action="/users/login">
                    <div class="input-title" id="login-reason"></div>
                    <div class="input-title">电子邮件/用户名</div>
                    <div class="input-container"><input type="text" class="input-oneline" name="username" id="ft-login-input-username"></div>
                    <div class="input-title">密码</div>
                    <div class="input-container"><input type="password" class="input-oneline" name="password"></div>
                    <div class="input-title input-submit-container"><input type="checkbox" class="checkbox" value="1" checked="checked" name="saveme" id="ft-login-input-remember">记住我
                    <input class="input-submit" type="submit" value="提交"></div>
                    <div class="input-title"><a href="/users/findpassword" class="blue-link">找回密码</a></div>
                    <div class="input-title"><a href="http://user.ftchinese.com/register" class="blue-link">免费注册</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>