<div class="block-container has-side"><div class="block-inner">
    <div class="content-container"><div class="content-inner">
        <div class="list-container"><div class="list-inner">
          <div class="no-image">
            <div class="item-inner">

                           <!--主要内容和代码-->
            <form id="accountforms" name="accountforms" action="" method="POST">
                <div id="theme_content" class="clearFix">
                    <div class="theme_box">
                        <div class="user_manage">

                          <div  class="o-forms__group">
                            <h3><span>订阅FT中文网电子邮件</span></h3>
                            <p>
                              <input id="mail_sub_today_story" type="checkbox" <%if $users.mail_sub_todayStory == '1'%>checked="checked"<%/if%> value="1" name="mail_sub_todayStory" /> 
                              <label for="mail_sub_today_story">《今日焦点》</label>
                              <span>每日最新要闻快递，直达您的邮箱。</span>
                            </p>
                            <p>
                                <input id="mail_sub_friday_story" type="checkbox" <%if $users.mail_sub_fridayStory == '1' %>checked="checked"<%/if%>  value="1" name="mail_sub_fridayStory" />
                                <label for="mail_sub_friday_story">《周五文摘》</label>
                                <span>一周精华荟萃，每周五上午准时送到，再也不用担心漏看什么精彩内容。</span>
                            </p>
                            <p>
                                <input id="mail_sub_afStory" type="checkbox"  value="1"  <%if $users.mail_sub_afStory == '1' %>checked="checked"<%/if%> name="mail_sub_afStory" /> 
                                <label for="mail_sub_afStory">午后速递</label>
                                <span>本邮件是您所订阅的《今日焦点》的一部分，为您通报最新新闻和精华内容。</span>
                            </p>
                          </div>       

                            
                          <div class="o-forms__group">
                            <h3><span>隐私权</span></h3>
                            <p>FT中文网高度尊重您的隐私权。我们收集您的资料将用于分析研究，并向您推介Financial Times的产品和服务。请确认您的下列选择：</p>
                            <p>
                              <input id="service_acceptance" name="service_acceptance" type="checkbox" value="1"  <%if $users.service_acceptance == '1' %>checked<%/if%>/>
                              <label for="service_acceptance">我愿意接受FT中文网提供的更多服务和产品。</label>
                            </p>

                            <p>
                              <input id="auth_email_sub" name="auth_email_sub" type="checkbox" value="1"  <%if $users.auth_email_sub == '1' %>checked<%/if%> />
                              <label for="auth_email_sub">FT中文网及其慎重选择的第三方公司可以向我发送电子邮件</label>  
                            </p>
                            <p>
                              <input id="auth_letter_sub" name="auth_letter_sub" type="checkbox" value="1" <%if $users.auth_letter_sub == '1' %>checked<%/if%> />
                              <label for="auth_letter_sub">FT中文网及其慎重选择的第三方公司可以向我寄送信件。</label>  
                            </p>
                          </div>

                          <span class="um_btn">
                              <input class=submit type="submit" value="保存更新" />
                          </span>
                        </div>

                      
                    </div>
                </div>
            </form>
                            <!--主要内容和代码End-->



            </div>
          </div>

          <script>
            document.getElementById('thekeys').focus();
            </script>
        </div>
        </div>
    </div>
    </div>
    <%include file="next/partials/TagRightRail.html"%>
    <div class="clearfloat"></div>
</div></div>