<div class="side-container"><div class="side-inner">
	<div class="mps">
		<h2 class="list-title"><a href="/channel/weekly.html">热门文章</a></h2>
		<ul class="top10">
			<%assign var="i" value=0%>

			<%*<!-- easy api is broken, switch to old model
			<%easyapi command="60006"%>
			<%foreach from=$data.odatalist item=sc name=foo%>
				<%assign var="i" value=$i+1%>
				<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/story/<%$sc.storyid%>?dailypop"><%$sc.title%></a></li>
			<%/foreach%>
			-->*%>
			<%assign var="mp" value=$storymodel->get_hot_story(1,10) %>
			<%foreach from=$mp item=sc%>
				<%assign var="i" value=$i+1%>
				<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/story/<%$sc.storyid%>?dailypop"><%$sc.cheadline%></a></li>
			<%/foreach%>
		</ul>
	</div>
	<%if $smarty.get.ad != "no" && $noAd != "true"%>
		<div 
		data-o-ads-name="mpu-mostpopular"
		class="o-ads"  
		data-o-ads-formats-default="false" 
		data-o-ads-formats-small="false" 
		data-o-ads-formats-medium="false"
		data-o-ads-formats-large="FtcMpu"
		data-o-ads-formats-extra="FtcMpu"
		data-o-ads-targeting="cnpos=mostpopular;"
		data-cy='[{"devices":["PC"],"pattern":"MPU","position":"Middle1"}]'
		>
		</div>
  <%/if%>
</div></div>