<div class="side-container"><div class="side-inner">
	<div class="mps">
		<h2 class="list-title"><a href="/channel/weekly.html">热门文章</a></h2>
		<ul class="top10">
			<%assign var="i" value=0%>

			<%*<!-- easy api is broken, switch to old model
			<%easyapi command="60006"%>
			<%foreach from=$data.odatalist item=sc name=foo%>
				<%assign var="i" value=$i+1%>
				<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/story/<%$sc.storyid%>?dailypop"><%$sc.title%></a></li>
			<%/foreach%>
			-->*%>
			<%assign var="mp" value=$storymodel->get_hot_story(1,10) %>
			<%foreach from=$mp item=sc%>
				<%assign var="i" value=$i+1%>
				<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/story/<%$sc.storyid%>?dailypop"><%$sc.cheadline%></a></li>
			<%/foreach%>
		</ul>
	</div>
	<%if $smarty.get.ad != "no" && $noAd != "true"%>
		<script type="text/javascript">
			document.write (writeAdNew({
					devices: ['PC'],
					pattern:'MPU',
					position:'Middle1'
			}));
		</script>
  <%/if%>
</div></div>