<%if $topnav==""%>
<%assign var="topnav" value="home"%>
<%assign var=navHome value=" on nosub"%>
<%/if%>

<%if $subnav=="tools"%>
<%assign var=navTools value=" on"%>
<%elseif $subnav=="follow"%>
<%assign var=navFollow value=" on"%>
<%elseif $subnav=="rss"%>
<%assign var=navRSS value=" on"%>
<%/if%>

<%if $thirdnav=="basicsetting"%>
<%assign var="navBasicsetting" value=" aria-selected=true"%>
<%elseif $thirdnav=="changeicon"%>
<%assign var="navChangeicon" value=" aria-selected=true"%> 
<%elseif $thirdnav=="maillist"%>
<%assign var="navMaillist" value=" aria-selected=true"%> 
<%elseif $thirdnav=="snsapi"%>
<%assign var="navSnsapi" value=" aria-selected=true"%> 
<%elseif $thirdnav=="commentstory"%>
<%assign var="navCommentstory" value=" aria-selected=true"%> 
<%elseif $thirdnav=="favstorylist"%>
<%assign var="navFavstorylist" value=" aria-selected=true"%>
<%elseif $thirdnav=="eventhome"%>
<%assign var="navEventHome" value=" aria-selected=true"%> 
<%elseif $thirdnav=="eventupcoming"%>
<%assign var="navEventUpcoming" value=" aria-selected=true"%> 
<%elseif $thirdnav=="eventprevious"%>
<%assign var="navEventPrevious" value=" aria-selected=true"%> 
<%elseif $thirdnav=="eventsponsorship"%>
<%assign var="navEventSponsorship" value=" aria-selected=true"%> 
<%elseif $thirdnav=="eventabout"%>
<%assign var="navEventAbout" value=" aria-selected=true"%>
<%/if%>


<%easyapi command="11001" assign="datass1" debug=false%><%assign var="navData" value=$datass1.odatalist%><%if $topnav == ""%><%assign var="topnav" value="home"%><%/if%>
<div class="o-nav__placeholder">
  <div class="o-nav">
    <div class="o-nav__outer">
      <div class="o-nav__inner">
        <form action="/search/" id="search-form" class="o-header__search-form" role="search">
          <button class="search-button" tabindex="1"><span>搜索</span></button> 
          <input id="search-term" type="search" name="keys" class="search-input" placeholder="搜索FT中文网" />
          <input id="type_news" type="hidden" value="type_news" name="ftsearchType" checked />
        </form>

        <div class="o-header__masthead-mobile">
            <a href="/" title="前往FT中文网首页"><span>FT中文网</span></a>
        </div>

        <nav class="o-nav__container" role="navigation">
          
          <button class="nav-toggle" data-o-nav-togglable><span>Menu</span></button>

          <ol class="o-nav__meganav">

            <li class="nav-section mobile">
              <button class="nav-section-head mobile" aria-selected="true">切换版本</button>
                                        
              <ol class="nav-items">
                <li class="nav-item">
                  <a class="nav-link" href="http://big5.ftchinese.com/">繁体中文版</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://www.ft.com/">英文版</a>
                </li>
              </ol>
            </li>
            <%foreach from=$datass1.odatalist item="level_1"%>
              <%if preg_match("/home/is",$level_1.code) || !preg_match("/myft/is",$topnav)%>
                <li class="nav-section"
                  <%if $topnav==$level_1.code%> aria-selected="true"<%assign var=current_page value=$level_1.name%><%assign var=current_link value=$level_1.link%><%/if%> data-section="<%$level_1.code%>">
                  <button class="nav-section-head mobile"><%$level_1.name%></button>
                  <a class="nav-section-head desktop" href="<%$level_1.link%>"><%$level_1.name%></a>
                  <%if $topnav==$level_1.code%>
                    <ol class="nav-items">
                      <li class="nav-item mobile">
                        <a class="nav-link" href="<%$level_1.link%>">
                        <%if $level_1.code=='home'%>FT中文网首页
                        <%else%>
                        频道首页
                        <%/if%></a>
                      </li>
                      <%if $subnav=="tools"%>
                          <li class="nav-item" data-channel="basicsetting"<%$navBasicsetting%>><a class="nav-link" href="/users/setting/index">基本设置</a></li>
                          <li class="nav-item" data-channel="changeicon"<%$navChangeicon%>><a class="nav-link" href="/users/setting/changeicon">修改头像</a></li>
                          <li class="nav-item" data-channel="maillist"<%$navMaillist%>><a class="nav-link" href="/users/setting/maillist">邮件订阅</a></li>
                          <li class="nav-item" data-channel="snsapi"<%$navSnsapi%>><a class="nav-link" href="/index.php/snsapi/index">同步微博</a></li>
                          <li class="nav-item" data-channel="commentstory"<%$navCommentstory%>><a class="nav-link" href="/users/commentstory">我的评论</a></li>
                      <%elseif !preg_match("/home/is",$level_1.code) || !preg_match("/myft/is",$topnav)%>
                        <%foreach from=$level_1.children item="level_2"%>
                          <li class="nav-item" <%if !empty($subnav) && ($subnav==$level_2.code)%>
                          aria-selected="true"<%assign var=current_sub_page value=$level_2.name%><%assign var=current_sub_link value=$level_2.link%><%/if%><%if $level_2.haschildren%> aria-haspopup="true"<%/if%> data-channel="<%$level_2.code%>">
                            <a class="nav-link" href="<%$level_2.link%>"><%$level_2.name %></a>
                            <%if $level_2.haschildren%>
                              <ol class="nav-sub-items">
                                <%foreach from=$level_2.children item="level_3"%>
                                <li><a href="<%$level_3.link%>"><%$level_3.name%></a></li>
                                <%/foreach%>
                              </ol>
                            <%/if%>
                          </li>
                        <%/foreach%>
                      <%/if%>
                    </ol>
                  <%/if%>
                </li>



                <%if preg_match("/home/is",$level_1.code) && preg_match("/myft/is",$topnav)%>
                  <li class="nav-section" aria-selected="true"<%assign var=current_page value="我的FT"%><%assign var=current_link value="/users/mystories"%> data-section="myft">
                    <button class="nav-section-head mobile">我的FT</button>
                    <a class="nav-section-head desktop" href="/users/mystories">我的FT</a>
                    <ol class="nav-items">
                      <li class="nav-item mobile">
                        <a class="nav-link" href="/users/mystories">频道首页</a>
                      </li>
                      <li class="nav-item" <%if $subnav=="mystories"%>
                      aria-selected="true"<%assign var=current_sub_page value="文章"%><%/if%> data-channel="mystories">
                        <a class="nav-link" href="/users/mystories">文章</a>
                      </li>
                      <li class="nav-item" <%if $subnav=="mytopics"%>
                      aria-selected="true"<%assign var=current_sub_page value="话题"%><%/if%> data-channel="mytopics">
                        <a class="nav-link" href="/users/mytopics">话题</a>
                      </li>
                      <li class="nav-item" <%if $subnav=="fav"%>
                      aria-selected="true"<%assign var=current_sub_page value="收藏"%><%/if%> data-channel="fav">
                        <a class="nav-link" href="/users/favstorylist">收藏</a>
                      </li>
                      <li class="nav-item" <%if $subnav=="discover"%>
                      aria-selected="true"<%assign var=current_sub_page value="发现"%><%/if%> data-channel="discover">
                        <a class="nav-link" href="/users/discover">发现</a>
                      </li>
                    </ol>
                  </li>
                <%/if%>
              <%/if%>
            <%/foreach%>
            <li class="nav-section mobile login">
              <ul>
                <li class="nav-item">
                  <a class="nav-link" href="http://user.ftchinese.com/login">登陆</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://user.ftchinese.com/register">注册</a>
                </li>    
              </ul>
            </li>
            <li class="nav-section mobile logout">
              <ul>
                <li class="nav-item">
                  <a class="nav-link" href="http://user.ftchinese.com/logout">退出</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/setting/index">账户设置</a>
                </li>    
              </ul>
            </li>
          </ol>
        </nav>

        <ul class="o-nav__extra-tools">
          <li class="nav-section" aria-haspopup="true">
            
            <a class="nav-section-head" href="http://www.ftchinese.com/m/corp/follow.html">关注我们</a>

            <ol class="nav-items follow-us">
              <li class="nav-item"><a class="nav-link" href="http://www.ftchinese.com/m/corp/follow.html" target="_blank">微信公众号</a></li>
              <li class="nav-item"><a class="nav-link" href="http://weibo.com/ftchinese" target="_blank">新浪微博</a></li>
              <li class="nav-item"><a class="nav-link" href="http://user.qzone.qq.com/622006290" target="_blank">QQ空间</a></li>
              <li class="nav-item"><a class="nav-link" href="http://www.ftchinese.com/m/corp/follow.html" target="_blank">读读日报</a></li>
              <li class="nav-item"><a class="nav-link" href="http://www.ftchinese.com/m/corp/follow.html" target="_blank">Flipboard</a></li>
              <li class="nav-item"><a class="nav-link" href="https://twitter.com/FTChinese" target="_blank">Twitter</a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/financialtimeschinese" target="_blank">Facebook</a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/company/4865254?trk=hp-feed-company-name" target="_blank">LinkedIn</a></li>
            </ol>
          </li>
          <li class="nav-section" aria-haspopup="true">
            <span class="nav-section-head">工具</span>
            <ol class="nav-items">
              <li class="nav-item"><a class="nav-link" href="http://app.ftchinese.com/">移动应用大全</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/setting/index">基本设置</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/setting/changeicon">修改头像</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/setting/maillist">邮件订阅</a></li>
              <li class="nav-item"><a class="nav-link" href="/index.php/snsapi/index">同步微博</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/commentstory">我的评论</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/favstorylist">管理收藏</a></li>
            </ol>
          </li>
          <li class="nav-section">
            <a class="follow__rss" href="http://www.ftchinese.com/channel/rss.html" title="RSS"><span>RSS</span></a>
          </li>
        </ul>

      </div><!-- o-nav__inner -->
    </div><!-- o-nav__outer -->    
  </div><!-- o-nav -->  
</div><!-- o-nav__placeholder -->


<div class="site-map">
  <div class="site-map__container">
    <%if ($topnav!='home') || !empty($subnav)%>
        <ul class="site-map__items">
          <li><a href="<%$current_link%>"><%$current_page%></a></li>
        <%if !empty($subnav)%>  
          <li><a href="<%$current_sub_link%>"><%$current_sub_page%></a></li>
        <%/if%>
        </ul>
    <%/if%>
  </div>
</div>


<%*
<div class="nav-place-holder" id="nav-place-holder"><nav class="nav-container" id="nav-container">
<div class="nav-inner">
  <ul class="nav-content">
    <li class="home on nav">
      <a href="/">首页</a>
        <ul class="subnav">
        <li class="first-child ">
        <a href="/channel/special.html">专题报道</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/channel/special.html">专题报道</a></li>
        <li class="first-child nosub"><a href="/channel/datanews.html">数据新闻</a></li>
        <li class="nosub"><a href="/tag/2015%E8%BE%BE%E6%B2%83%E6%96%AF">2015达沃斯</a></li>
        <li class="last-child nosub"><a href="/tag/与FT共进午餐">与FT共进午餐</a></li>
        </ul>
        </li>
        <li class="">
        <a href="/channel/weekly.html">热门文章</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/channel/weekly.html">热门文章</a></li>
        <li class="first-child nosub"><a href="/channel/weekly.html">一周</a></li>
        <li class="nosub"><a href="/channel/monthly.html">一月</a></li>
        <li class="nosub"><a href="/channel/quarterly.html">季度</a></li>
        <li class="last-child nosub"><a href="/channel/year.html">一年</a></li>
        </ul>
        </li>
        <li class="">
        <a href="/m/events/event.html">会议活动</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/m/events/event.html">会议活动</a></li>
        <li class="first-child nosub"><a href="/m/events/recent.html">近期活动</a></li>
        <li class="nosub"><a href="/index.php/events/previous">往期活动</a></li>
        <li class="nosub"><a href="/m/events/sponsorship.html">赞助活动</a></li>
        <li class="last-child nosub"><a href="/m/events/aboutus.html">关于我们</a></li>
        </ul>
        </li>
        <li class="nosub ">
        <a href="/marketing/home">会员信息中心</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/marketing/home">会员信息中心</a></li>
        </ul>
        </li>
        <li class="nosub ">
        <a href="http://www.ftchinese.com/m/marketing/intelligence.html">FT研究院</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="http://www.ftchinese.com/m/marketing/intelligence.html">FT研究院</a></li>
        </ul>
        </li>
        <li class="nosub ">
        <a href="/channel/mba.html">FT商学院</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/channel/mba.html">FT商学院</a></li>
        </ul>
        </li>
        <li class="nosub ">
        <a href="/channel/english.html">英语学习</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/channel/english.html">英语学习</a></li>
        </ul>
        </li>
        <li class="nosub ">
        <a href="/channel/slides.html">图辑</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/channel/slides.html">图辑</a></li>
        </ul>
        </li>
        <li class="nosub ">
        <a href="/jobs/">职业机会</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/jobs/">职业机会</a></li>
        </ul>
        </li>
        <li class="last-child nosub ">
        <a href="/channel/datanews.html">数据新闻</a>
        </li>
        <li class="last-child nosub ">
        <a href="/channel/ebook.html">电子书</a>
        </li>
        <li class="subnav-right last-child"><a href="/channel/rss.html"><img src="http://static.ftchinese.com/img/rss_link_nav.gif" alt="RSS" style="border:none;"/></a></li>
        <li class="subnav-right"><a>工具</a>
        <ul class="subnav">
        <li class="dummy-child"><a>工具</a></li>
        <li class="nosub first-child"><a href="http://app.ftchinese.com">移动应用大全</a></li>
        <li class="nosub"><a href="/users/setting/index">基本设置</a></li>
        <li class="nosub"><a href="/users/setting/changeicon">修改头像</a></li>
        <li class="nosub"><a href="/users/setting/maillist">邮件订阅</a></li>
        <li class="nosub"><a href="/index.php/snsapi/index">同步微博</a></li>
        <li class="nosub"><a href="/users/commentstory">我的评论</a></li>
        <li class="nosub last-child"><a href="/users/favstorylist">管理收藏</a></li>
        </ul>
        </li>
        <li class="subnav-right long"><a href="/m/corp/follow.html">关注我们</a>
        <ul class="subnav">
        <li class="dummy-child"><a href="/m/corp/follow.html">关注我们</a></li>
        <li class="first-child sns"><a target=_blank href="http://weibo.com/ftchinese" style="background-image:url(http://i.ftimg.net/picture/8/000031298_piclink_24_24.jpg)">新浪微博</a></li>
        <li class="sns"><a target=_blank href="http://e.t.qq.com/ftchinese" style="background-image:url(http://i.ftimg.net/picture/6/000031296_piclink_24_24.jpg)">腾讯微博</a></li>
        <li class="sns"><a target=_blank href="http://t.163.com/ftchinese" style="background-image:url(http://i.ftimg.net/picture/0/000031330_piclink_24_24.jpg)">网易微博</a></li>
        <li class="sns"><a target=_blank href="http://t.sohu.com/new_index" style="background-image:url(http://i.ftimg.net/picture/7/000031327_piclink_24_24.jpg)">搜狐微博</a></li>
        <li class="sns"><a target=_blank href="http://user.qzone.qq.com/622006290" style="background-image:url(http://i.ftimg.net/picture/2/000031292_piclink_24_24.jpg)">QQ空间</a></li>
        <li class="sns"><a target=_blank href="http://blog.sina.com.cn/u/1233314994" style="background-image:url(http://i.ftimg.net/picture/5/000031325_piclink_24_24.jpg)">新浪博客</a></li>
        <li class="sns"><a target=_blank href="http://ftchinese.blog.sohu.com" style="background-image:url(http://i.ftimg.net/picture/6/000031326_piclink_24_24.jpg)">搜狐博客</a></li>
        <li class="sns"><a target=_blank href="http://blog.163.com/ft_chinese" style="background-image:url(http://i.ftimg.net/picture/9/000031329_piclink_24_24.jpg)">网易博客</a></li>
        <li class="sns"><a target=_blank href="http://page.renren.com/600099109?checked=true" style="background-image:url(http://i.ftimg.net/picture/3/000031293_piclink_24_24.jpg)">人人网</a></li>
        <li class="sns"><a target=_blank href="https://www.facebook.com/ft.chinese" style="background-image:url(http://i.ftimg.net/picture/1/000031321_piclink_24_24.jpg)">FaceBook</a></li>
        <li class="sns"><a target=_blank href="https://twitter.com/FTChinese" style="background-image:url(http://i.ftimg.net/picture/7/000031297_piclink_24_24.jpg)">Twitter</a></li>
        <li class="sns last-child"><a target=_blank href="http://plus.google.com/106789556715679180983" style="background-image:url(http://i.ftimg.net/picture/2/000031322_piclink_24_24.jpg)">Google+</a></li>
        </ul>
        </li></ul>
    </li>
    <li class="china nav"><a href="/channel/china.html">中国</a></li>
    <li class="world nav"><a href="/channel/world.html">全球</a></li>
    <li class="economy nav"><a href="/channel/economy.html">经济</a></li>
    <li class="markets nav"><a href="/channel/markets.html">金融市场</a></li>
    <li class="business nav"><a href="/channel/business.html">商业</a></li>
    <li class="opinion nav"><a href="/channel/opinion.html">观点</a></li>
    <li class="management nav"><a href="/channel/management.html">管理</a></li>
    <li class="lifestyle nav"><a href="/channel/lifestyle.html">生活时尚</a></li>
    <li class="stream nav"><a href="/channel/stream.html">视频</a></li>
  </ul>
  <div class="nav-right"><div></div></div>
</div>
<div class="nav-bottom"></div>
</nav></div>
*%>