<style>
    .partner-container {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: white;
        z-index: 99999;
        height: 35px;
        border-bottom: 5px solid #ccc;
        box-sizing: content-box;
    }
    .partner-inner {
        height: 100%;
        max-width: 1230px;
        margin: auto;
        position: relative;
    }
    .partner-inner .main-content {
        text-align: center;
        color: #355778;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 25px;
        cursor: pointer;
    }
    .partner-inner .main-content::after {
        content: '';
        display: inline-block;
        background-image: url('https://ft-bc-cms.herokuapp.com/_resources/themes/simpleBC/dist/static/pcHeader/information_hover.png?m=1611672393');
        width: 17px;
        height: 17px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 5px;
    }
    .partner-inner .left-icon {
        position: absolute;
        line-height: 35px;
        left: 15px;
        top: 0;
        bottom: 0;
        color: #939598;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .partner-inner .right-icon {
        position: absolute;
        line-height: 35px;
        right: 15px;
        top: 0;
        bottom: 0;
        color: #939598;
    }
    .partner-inner .right-icon::before {
        content: '分享';
        display: inline-block;
    }
    .partner-inner .right-icon::after {
        content: '';
        display: inline-block;
        width: 13px;
        height: 17px;
        background-image: url('https://ft-bc-cms.herokuapp.com/_resources/themes/simpleBC/dist/static/pcHeader/btn_export.png?m=1611672393');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 5px;
    }
    .partner-inner .explain {
        display: none;
        position: absolute;
        background: #fff;
        -webkit-box-shadow: 0 1px 4px rgb(77 72 69 / 15%), 0 8px 14px rgb(77 72 69 / 20%);
        box-shadow: 0 1px 4px rgb(77 72 69 / 15%), 0 8px 14px rgb(77 72 69 / 20%);
        top: 55px;
        max-width: 325px;
        width: 100%;
        right: 50%;
        -webkit-transform: translate(50%);
        transform: translate(50%);
        padding: 15px;
        text-align: center;
    }
    .partner-inner .explain.on {
        display: block;
    }
    .partner-inner .shares {
        cursor: pointer;
    }
    .partner-inner .share {
        display: none;
        position: absolute;
        background: #fff;
        -webkit-box-shadow: 0 1px 4px rgb(77 72 69 / 15%), 0 8px 14px rgb(77 72 69 / 20%);
        box-shadow: 0 1px 4px rgb(77 72 69 / 15%), 0 8px 14px rgb(77 72 69 / 20%);
        top: 55px;
        max-width: 325px;
        width: 100%;
        right: 50%;
        -webkit-transform: translate(50%);
        transform: translate(50%);
        padding: 15px;
        text-align: center;
    }
    .partner-inner .share.on {
        display: block;
    }
    .explain-btn, .share-btn {
        position: absolute;
        cursor: pointer;
        right: 5px;
        top: 0;
    }
    .explain-btn img, .share-btn img {
        height: 10px;
    }
    .share-title {
        font-weight: bold;
        text-align: center;
    }
    .pc__share-more-btn__link {
        display: inline-block;
        width: 40px;
        margin: 15px;
    }
    @media only screen and (max-width: 490px) {
        .partner-inner .right-icon::before {
            display: none;
        }
    }
</style>
<div class="partner-container">
    <div class="partner-inner">
        <div class="main-content"><%$section.title%></div>
        <div class="left-icon"><%$section.sponsor%></div>
        <div class="right-icon shares"></div>
        <div class="explain">
            <div class="explain-btn">
                <img src="https://ft-bc-cms.herokuapp.com/_resources/themes/simpleBC/dist/static/pcHeader/close.svg?m=1611672393">
            </div>
            <%$section.disclaimer%>
        </div>
        <div class="share">
            <div class="share-btn">
                <img src="https://ft-bc-cms.herokuapp.com/_resources/themes/simpleBC/dist/static/pcHeader/close.svg?m=1611672393">
            </div>
            <div class="share-title">分享</div>
            <div class="pc__share-more-btn">
                <div class="pc__share-more-btn__link -fb">
                  <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.ftchinese.com/channel/page/cytiva" target="_blank">
                    <div class="pc__share-more-link-btn">
                      <div class="pc__share-more-link-btn-img">
                        <img src="https://ft-bc-cms.herokuapp.com/_resources/themes/simpleBC/dist/static/social/facebook.png?m=1611672393">
                      </div>
                    </div>
                  </a>
                </div>
                <div class="pc__share-more-btn__link -tw">
                  <a href="https://twitter.com/share?url=http://www.ftchinese.com/channel/page/cytiva&amp;text=The+Global+Biopharma+Resilience+Index&amp;related=ftcompanies&amp;via=ft_content" target="_blank">
                    <div class="pc__share-more-link-btn">
                      <div class="pc__share-more-link-btn-img">
                        <img src="https://ft-bc-cms.herokuapp.com/_resources/themes/simpleBC/dist/static/social/twitter.png?m=1611672393">
                      </div>
                    </div>
                  </a>
                </div>
                <div class="pc__share-more-btn__link -li">
                  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.ftchinese.com/channel/page/cytiva&amp;title=The+Global+Biopharma+Resilience+Index&amp;summary=&amp;source=@ft_content" target="_blank">
                  <div class="pc__share-more-link-btn">
                    <div class="pc__share-more-link-btn-img">
                      <img src="https://ft-bc-cms.herokuapp.com/_resources/themes/simpleBC/dist/static/social/linkedin.png?m=1611672393">
                    </div>
                  </div>
                </a>
                </div>
                <div class="pc__share-more-btn__link -wa">
                    <a href="whatsapp://send?text=The+Global+Biopharma+Resilience+Index-http://www.ftchinese.com/channel/page/cytiva" target="_blank">
                    <div class="pc__share-more-link-btn">
                        <div class="pc__share-more-link-btn-img">
                        <img src="https://ft-bc-cms.herokuapp.com/_resources/themes/simpleBC/dist/static/social/whatsapp.png?m=1611672393">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleEle(className) {
        var ele = document.querySelector('.partner-inner .' + className);
        console.log(ele);
        if (!ele) {return;}
        ele.classList.toggle('on');
    }
    function toggleExplain() {
        toggleEle('explain');
    }
    function toggleShare() {
        toggleEle('share');
    }
    document.querySelector('.main-content').onclick = toggleExplain;
    document.querySelector('.explain-btn').onclick = toggleExplain;
    document.querySelector('.right-icon.shares').onclick = toggleShare;
    document.querySelector('.share-btn').onclick = toggleShare;
</script>