<%*<!--MARK: Check the next model for coronavirus latest start -->*%>
<%if $interactivemodel != ""%>
	<%assign var="interactives" value=$interactivemodel->get_interactive_by_field_search("find_in_set('突发新闻',tag)",0,1,1,10800)%>
	<%assign var=realtime_news_count value=$interactives|@count%>
	<%if $realtime_news_count > 0 && $nextmodel != ""%>
		<style><%include file="next/styles/main-cover.css"%></style>
		<%assign var="infoForSponsorships" value=$nextmodel->getPublishJson("premiumcover")|json_decode:true%>
		<%foreach from=$infoForSponsorships.sections item=section%>
			<%if $section.type == "cover"%>
				<%assign var="sectionLink" value=""%>
				<%include file="next/partials/cover.html"%>
			<%/if%>
		<%/foreach%>
	<%/if%>
<%/if%>
<%*<!--MARK: Check the next model for coronavirus latest start -->*%>