<%assign var="pageIdForPromo" value="subcription-promo"%>
<%if $nextmodel != ""%>
	<%assign var="infoForPromo" value=$nextmodel->getPublishJson($pageIdForPromo)|json_decode:true%>
	<%assign var="subscriptionType" value=$smarty.get.type%>
	<%assign var="foundPromo" value="no"%>
	<%assign var="expire" value=$smarty.get.expire%>
	<%assign var="ccode" value=$smarty.get.ccode%>
	<%assign var="duration" value=$smarty.get.duration%>
	<%assign var="platform" value=$smarty.get.platform%>
	<%if $smarty.get.webview == "ftcapp"%>
		<%if $smarty.get.android != ""%>
			<%assign var="platform" value="AndroidApp"%>
		<%else%>
			<%assign var="platform" value="iOSApp"%>
		<%/if%>
		<%if $smarty.get.subscription == "member"%>
			<%assign var="subscriptionType" value="standard"%>
		<%elseif $smarty.get.subscription == "premium"%>
			<%assign var="subscriptionType" value="premium"%>
		<%else%>
			<%assign var="subscriptionType" value="noneSubscriber"%>
		<%/if%>
	<%/if%>
	<%assign var="pendingRenewal" value=$smarty.get.pendingRenewal%>
	<%foreach from=$infoForPromo.sections item=section%>
		<%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
		<%assign var="isScheduledForToday" value="no"%>
		<%if ($section.dates == "" && ($supportSubscriptionPromoBox != "yes" || $section.promoTarget != "noneSubscriber")) || preg_match("/`$currentDate`/is",$section.dates)%>
			<%assign var="isScheduledForToday" value="yes"%>
		<%/if%>
		<%*<!--MARK: This way it's easier to explain the logic to other people. -->*%>
		<%assign var="passExpirationCheck" value="no"%>
		<%if $section.DaysToExpiration == ""%>
			<%assign var="passExpirationCheck" value="yes"%>
		<%elseif $expire != ""%>
			<%assign var="daysToExpiration" value=$section.DaysToExpiration|floatval%>
			<%math assign="daysLeft" equation="(x-y)/(24*60*60)" x=$expire|floatval y=$smarty.now %>
			<!--Days Left: <%$daysLeft%>, DaysToExpiration: <%$daysToExpiration%>-->
			<%*<!--MARK: this is easier to understand than using mathematics-->*%>
			<%if $daysToExpiration >= 0 && $daysLeft >= 0 && $daysLeft <= $daysToExpiration%>
				<%assign var="passExpirationCheck" value="yes"%>
			<%elseif $daysToExpiration < 0 && $daysLeft < 0 && $daysLeft >= $daysToExpiration%>
				<%assign var="passExpirationCheck" value="yes"%>
			<%/if%>
		<%/if%>
		<%assign var="passDurationCheck" value="no"%>
		<%if $section.Duration == ""%>
			<%assign var="passDurationCheck" value="yes"%>
		<%elseif $section.Duration == $duration%>
			<%assign var="passDurationCheck" value="yes"%>
		<%/if%>

		<%assign var="passSubscriberSource" value="no"%>
		<%if $section.SubscriberSource == "All" || $section.SubscriberSource == ""%>
			<%assign var="passSubscriberSource" value="yes"%>
		<%else%>
			<%assign var="subscriberSource" value="2C"%>
			<%if preg_match("/^7S/is",$ccode)%>
				<%assign var="subscriberSource" value="2B"%>
			<%/if%>
			<!--ccode: <%$ccode%>; current subscriberSource: <%$subscriberSource%>; required subscriberSource: <%$section.SubscriberSource%>-->
			<%if $subscriberSource == $section.SubscriberSource%>
				<%assign var="passSubscriberSource" value="yes"%>
			<%/if%>
		<%/if%>

		<%assign var="passPlatform" value="no"%>
		<%if $section.ProductPlatform == ""%>
			<%assign var="passPlatform" value="yes"%>
		<%elseif $platform != "" && preg_match("/`$platform`/is",$section.ProductPlatform)%>
			<%assign var="passPlatform" value="yes"%>
		<%/if%>

		<%assign var="passRenewal" value="no"%>
		<%if $section.RenewalStatus == ""%>
			<%assign var="passRenewal" value="yes"%>
		<%elseif $pendingRenewal == $section.RenewalStatus%>
			<%assign var="passRenewal" value="yes"%>
		<%/if%>

		<!-- passExpirationCheck: <%$passExpirationCheck%>; isScheduledForToday: <%$isScheduledForToday%>; passSubscriberSource: <%$passSubscriberSource%>; passDurationCheck: <%$passDurationCheck%>; pass platform: <%$passPlatform%>; pass renewal: <%$passRenewal%> -->
	    <%if $foundPromo == "no" && $section.type == "promoBox" && $isScheduledForToday == "yes" && $passExpirationCheck == "yes" && $passDurationCheck == "yes" && $passSubscriberSource == "yes" && $passPlatform == "yes"  && $passRenewal == "yes" && $subscriptionType == $section.promoTarget && ($section.status == "on" || $debug_model == 1)%>
	    	<%assign var="foundPromo" value="yes"%>
	    	<style>
	    	<%if $section.backgroundColor != ""%>
		    	.<%$section.promoTarget%>.subscription-promo-container {
		    		background-color: <%$section.backgroundColor%>;
		    	}
	    	<%/if%>
	    	<%if $section.buttonColor != ""%>
		    	.<%$section.promoTarget%> .subscription-promo-text {
		    		background-color: <%$section.buttonColor%>;
		    		border-color: <%$section.buttonColor%>;
		    	}
	    	<%/if%>
	    	<%if $section.buttonFontColor != ""%>
		    	.<%$section.promoTarget%> .subscription-promo-text {
		    		color: <%$section.buttonFontColor%>;
		    	}
	    	<%/if%>
	    	.<%$section.promoTarget%> .subscription-promo-box {
	    		background-image: url(<%$section.imagePC%>);
	    	}
	    	<%if $section.imageMobile != ""%>
				<%assign var="showImageInMobile" value=" show-image-in-mobile"%>
				@media only screen and (max-width: 490px) {
			    	.<%$section.promoTarget%> .subscription-promo-box {
			    		background-image: url(<%$section.imageMobile%>);
			    	}
				}
			<%else%>
				<%assign var="showImageInMobile" value=""%>
	    	<%/if%>
	    	</style>
	    	<%if preg_match("/ccode=/is",$section.click)%>
				<%assign var=clickUrl value=$section.click%>
			<%elseif preg_match("/\?/is",$section.click)%>
				<%assign var=clickUrl value="`$section.click`&ccode=`$section.ccode`"%>
			<%else%>
				<%assign var=clickUrl value="`$section.click`?ccode=`$section.ccode`"%>
			<%/if%>
			<%if $isInAndroidApp == "yes"%>
				<%if preg_match("/http:\/\/www.ftacademy.cn\/subscription.html/is",$clickUrl) %>
					<%assign var=hrefUrl value=""%>
					<%assign var="classForAndroid" value=" iap-channel"%>
					<%assign var="attributeForAndroid" value=" iap-action=\"membership\" iap-title=\"会员\""%>
				<%else%>
					<%assign var=hrefUrl value=" href=\"`$clickUrl`\""%>
					<%assign var="classForAndroid" value=""%>
					<%assign var="attributeForAndroid" value=""%>
				<%/if%>
			<%else%>
				<%assign var=hrefUrl value=" href=\"`$clickUrl`\""%>
			<%/if%>
			<div class="subscription-promo-container<%$inAppClass%><%$showImageInMobile%> <%$section.promoTarget%><%$classForAndroid%>"<%$attributeForAndroid%>>
			    <div class="subscription-promo-inner">
			        <a <%$hrefUrl%> class="subscription-promo-box n-internal-promo" data-promo-target="<%$section.promoTarget%>" data-promo-id="<%$section.ccode%>" data-promo-name="<%$section.title%>" data-promo-creative="<%$section.imagePC%>" data-promo-position="<%$section.type%>">
			            <div class="subscription-promo-text"><%$section.title%></div>
			        </a>
			    </div>
			</div>
	    <%/if%>
	<%/foreach%>
<%/if%>