
<div class="ai-search-block" style="background:url('https://pgl.azureedge.net/Content/images/ft/home/3.jpg?a=4U1UN1B41C3U');background-size:cover;background-position:center bottom">
<div class="container" >
    <form>
        <div id="searchContainer" >
            <div class="select-search-group floatClass">
                <select style="height: 40px">
                <option value ="forsale">For Sale</option>
                <option value ="forrent">For Rent</option>
                </select>
            </div>

            <div class="input-search-group floatClass">
                <span><input placeholder="Search country, area or city" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"tabindex="0"class="select-search-field" style="height: 40px"></span>
                <button class="select-search-button" tabindex="1"><span>搜索</span></button>
                <!--<span><button class="select-search-button" type="submit">搜索</button></span>-->
            </div>
            <div class="clearfloat"></div>
        </div>

    </form>
</div>
</div>
<div class="block-container no-side">
  <div class="block-inner">
    <div class="content-container">
        <div class="content-inner" id="content-inner">
          <div class="clearfloat block-bottom"></div>
        </div><!--content-inner结束-->
   </div><!--content-container结束-->
   <div class="clearfloat"></div>
 </div><!--block-inner结束-->
</div><!--block-container has-side结束-->