<!--search section-->
<div class="container search-widget-container visible-sm visible-md visible-lg visible-xs">
<div class="row" >
 <div class="detailListContainer col-md-12" >
    <form action="#" class="xs-no-border xs-no-side-space xs-no-top-space xs-section-margin-bottom-5">
    <fieldset>
    <div class="searchContainer clearfloat" >
    <section class="col-xs-4 col-sm-4 col-md-2 col-lg-1" class="floatClass sale" >
        <select>
        <option value="forSale">For Sale</option>
        <option value="forRent">For Rent</option>
        </select>
    </section>

    <section class="col-xs-8 col-sm-4 col-md-4 col-lg-4 search" class="floatClass ">
        <input placeholder="Search country, area or city" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0">
        <button class="select-search-button" ></button>
    </section>
    
    <section class="col-xs-4 col-md-1 col-lg-1" class="floatClass beds" >
        <select>
        <option value="-1">Beds</option>
        <option value="0">0+</option>
        <option value="1">1+</option>
        <option value="2">2+</option>
        <option value="3">3+</option>
        <option value="4">4+</option>
        <option value="5">5+</option>
        </select>
    </section>
    <section  class="col-xs-4 col-md-1 col-lg-1" class="floatClass bath">
        <select>
        <option value="-1">Bath</option>
        <option value="0">0+</option>
        <option value="1">1+</option>
        <option value="2">2+</option>
        <option value="3">3+</option>
        <option value="4">4+</option>
        <option value="5">5+</option>
        </select>
    </section>
    <section  class="col-xs-4 col-md-1 col-lg-1" class="floatClass gap">       
        <select>
        <option value="GBP">GBP</option>
        <option value="EUR">EUR</option>
        <option value="EUR">CNY</option>
        </select>
    </section>
    <section class="col-xs-12 col-sm-3 col-md-3 col-lg-4" class="floatClass price" >
        <div id="price-menu" >
            <div>
                <span class="" >
                    <input type="text" placeholder="MinPrice" class="" muti="1" min="0" max="999999" name="minPrice" autocomplete="off" id="price-start">
                </span>
                <span > - </span>
                <span class="">
                    <input type="text" placeholder="MaxPrice" class="" muti="1" min="0" max="999999" name="maxPrice" autocomplete="off" id="price-end">
                </span>
            </div>
            <ul id="price-range-menu" >
            <li role="menuitem"><a class="text-right">$0</a></li>
            <li role="menuitem"><a class="text-right">$500</a></li>
            <li role="menuitem"><a class="text-right">$5,000</a></li>
            <li role="menuitem"><a class="text-right">$50,000</a></li>
            <li role="menuitem"><a class="text-right">$500,000</a></li>
            </ul>
         </div>
    </section>

  <div class="clearfloat"></div>
  </div><!--<div id="searchContainer" >-->
</fieldset>
  </form>
</div>
</div>
</div>

<div class="block-container">
<div class="block-inner">
    <div class="content-container">
        <div class="content-inner">
            
            <ul>
                <%foreach from=$propertyListArray item=propertyItem%>

                <%assign var="carousel_images_array" value = implode(',',$propertyItem.allImages|regex_replace:"/[\r\n\t]/":","%>
                <li class="ai-search-result-detail-item last-column">
                    <div class="ai-search-result ai-search-result-header-section" data-itemtype="l" data-feature="1" data-listtype="1">
                    <div class="thumbnail">
                        <a href="javascript:void(0)" id="thumbnail-a"title="Beautiful Southwest adobe-style home in Scottsdale">
                    <div class="photo-count-badge"><span>$carousel_images_array|@count Photos</span></div>
                    <div class="listing-info-badge">
                        <div class="row">
                               <div class="col-md-9">
                                 <p class="no-bottom-space anchor-text"><%$propertyItem.area%> <%$propertyItem.country%></p>
                                 <p class="ai-list-info">
                            <span class="ai-listing-price"><%$propertyItem.price%></span>
                            <span class="ai-listing-bed">&nbsp;&nbsp;&nbsp;<%$propertyItem.bedroom%></span>
                                &nbsp;
                            <span class="text-uppercase ai-listing-bedbathlabel">Bed</span>
                            <span class="ai-listing-bath">&nbsp;&nbsp;&nbsp;<%$propertyItem.bathroom%></span>&nbsp;
                            <span class="text-uppercase ai-listing-bedbathlabel">Bath</span>
                                </p>
                             </div>
                         </div>
                    </div>
                    <div class="cropped">
                         <img class="center-block" data-object-fit="cover" src="<%$propertyItem.coverImage%>" alt="undefined">
                          <img class="img-responsive company-logo hidden-xs" src="<%$propertyItem.companyImage%>">
                    </div><!--<div class="cropped">-->
                        </a>
                    </div><!--<div class="thumbnail">-->
                    <div class="selected-listing-pointer hidden-xs" style="display: none"></div>
                    </div><!--<div class="ai-search-result">-->

                    <div class="ai-listing-detail-spa-container ai-search-result-detail-section-full-width" style="display: none">
    <div class="ai-action-button-container">
        <div class="ai-right-buttons-container">
            <div class="ai-expand-container">

                <a style="vertical-align: super" target="_blank" href="https://propertylistings.ft.com/homes/1134003/new-york-property-for-sale/310-west-81st-street" title="More Info">
                    <span class="text-uppercase ai-expand-label">More Info</span>
                </a>
            </div>
            <div class="ai-close-container">
                <a href="javascript:void(0)" title="Close">
                    <span class="ai-close hairline">×</span>
                </a>
            </div>
        </div>
        <div style="clear:both"></div>
    </div><!-- <div class="ai-action-button-container">-->

    
    <div class="ai-search-result-detail-section-full-width-inner"> 
        <div class="row margin-bottom-10">
            <div class="col-md-7" style="height:400px;">
                <!-- Swiper -->
                <div class="swiper-position">   
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <%foreach from=$carousel_images_array item=image%>
                                <div class="swiper-slide" style="background-image:url(<%$image%>)"></div>
                            <%/foreach%>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>

                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <%foreach from=$carousel_images_array item=image%>
                                <div class="swiper-slide" style="background-image:url(<%$image%>)"></div>
                            <%/foreach%>
                        </div>
                    </div>
                </div>  <!-- <div class="swiper-position">  -->
            </div> <!-- <div class="col-md-7"">  -->


            <div class="col-md-5  ai-lead-form-section" > 
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ai-listing-name">
                           <%$propertyItem.area%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ai-listing-location">
                            <%$propertyItem.country%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ai-listing-price">
                            <span class="text-uppercase ai-listing-type"><%$propertyItem.propertyNature%></span> &nbsp;&nbsp;
                            $14,000,000 &nbsp;&nbsp;
                            <!--template bindings={}--><span class="price-converted">
                                <%$propertyItem.price%>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 text-center ai-listing-info">
                                <%$propertyItem.bedroom%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center ai-listing-info-label">
                                Bed
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 text-center ai-listing-info">
                                <%$propertyItem.bathroom%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center ai-listing-info-label">
                                Bath
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="ai-lead-form-title">
                            Contact Agent
                        </h4>
                    </div>
                </div>
                <div class="row text-center img-center">
                    <div class="col-xs-12 col-sm-5" >
                        <div class="row">
                            <span class="col-xs-12 margin-bottom-5">
                                <%$propertyItem.name%>
                            </span>
                        </div>
                        <div class="row margin-bottom-5 hidden-xs">
                            <div class="call inquiry-agent-call" id="inquiry-agent-call">
                                <img src="http://static.ftchinese.com/icon/svg/phone-call.svg">
                                <a rel="nofollow" href="javascript:void(0)">CALL</a>
                            </div>
                            <div class="call" id="inquiry-agent-contact-number">
                                <a itemprop="telephone" href="tel:390550548100"> 390550548100 </a>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-xs-12 margin-bottom-5">
                                <%$propertyItem.propertyTitle%>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center;">
                                <img class="img-responsive" onerror="this.onerror=null;this.style.display='none';" src="<%$propertyItem.companyImage%>" alt="<%$propertyItem.propertyTitle%>">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 hidden-xs">
                        <form id="" method="post" action="/api/inquiry/post"class="sky-form"novalidate="novalidate">
                            <div>
                                <section>
                                    <div class="input">
                                        <img src="http://static.ftchinese.com/icon/svg/avatar.svg">
                                        
                                        <input id="client-name" name="client-name" placeholder="Your Full Name" type="text">
                                        
                                    </div>
                                </section>
                                <section>
                                    <div class="input">
                                        <img src="http://static.ftchinese.com/icon/svg/phone-call.svg">
                                        <input id="client-number" name="client-number" placeholder="Phone, e.g. +(country)-(number)" type="text">
                                    
                                    </div>
                                </section>
                                <section>
                                    <div class="input">
                                        <img src="http://static.ftchinese.com/icon/svg/envelope.svg">
                                        <input id="client-email" name="client-email" placeholder="Email" type="text">
                                    
                                    </div>
                                </section>
                                <section>
                                    <div class="textarea textarea-resizable">
                                    <img src="http://static.ftchinese.com/icon/svg/chat.svg">    
                                        <textarea id="client-message" name="client-message" placeholder="Message" type="text"></textarea>
                                    
                                    </div>
                                </section>
                                <div class="clearfloat"></div>
                            </div>
                            
                            <div class="ai-inquirylead-form-contact">
                                <button type="submit" class="btn-u">Contact Agent</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <div style="clear:both"></div>
        </div>
        <div class="action-icon-section  hidden-xs">
            <a class="action-icon icon-wechat" href="/m/corp/qrshare.html?url=http%3A%2F%2Fwww.ftchinese.com%2Fstory%2F001068131%3Ffull%3Dy&title=香港再度成为全球外派成本最高的城市 - FT中文网" target="_blank"></a>
            <a class="action-icon icon-weibo" href="http://service.weibo.com/share/share.php?appkey=4221537403&url=http%3A%2F%2Fwww.ftchinese.com%2Fstory%2F001068131%3Ffull%3Dy%26ccode=2G169001&title=【香港再度成为全球外派成本最高的城市】在咨询公司美世最新发布的外派人员所在城市生活成本年度排行榜上，高昂的房租帮助香港重新登上榜首位置。（分享自 @FT中文网）&ralateUid=1698233740&source=&sourceUrl=&content=utf-8&pic=http://i.ftimg.net/picture/9/000063189_piclink.jpg&searchPic=false" target="_blank"></a>
            <a class="action-icon icon-linkedin" href="https://www.linkedin.com/cws/share?url=http%3A%2F%2Fwww.ftchinese.com%2Fstory%2F001068131%3Ffull%3Dy%26ccode%3D2G169003&original_referer=https%3A%2F%2Fdeveloper.linkedin.com%2Fsites%2Fall%2Fthemes%2Fdlc%2Fsandbox.php%3F&token=&isFramed=true&lang=zh_CN&_ts=1422502780259.2795" target="_blank"></a>
            <a class="action-icon icon-twitter" href="http://twitter.com/home?status=【香港再度成为全球外派成本最高的城市】在咨询公司美世最新发布的外派人员所在城市生活成本年度排行榜上，高昂的房租帮助香港重新登上榜首位置。（分享自 @FT中文网）...%20http%3A%2F%2Fwww.ftchinese.com%2Fstory%2F001068131%3Ffull%3Dy" target="_blank"></a>
            <a class="action-icon icon-facebook" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.ftchinese.com%2Fstory%2F001068131%3Ffull%3Dy&t=【香港再度成为全球外派成本最高的城市】在咨询公司美世最新发布的外派人员所在城市生活成本年度排行榜上，高昂的房租帮助香港重新登上榜首位置。（分享自 @FT中文网）" target="_blank"></a>
        </div>
    </div><!-- <div class="ai-search-result-detail-section-full-width-inner" -->
                        
    </div>
                    
</li>
<%/foreach%> 

    <li class="ai-search-result-detail-item last-column">
        <div class="ai-search-result ai-search-result-header-section" data-itemtype="l" data-feature="1" data-listtype="1">
        <div class="thumbnail">
            <a href="javascript:void(0)" title="Beautiful Southwest adobe-style home in Scottsdale">
        <div class="photo-count-badge"><span>12 Photos</span></div>
        <div class="listing-info-badge">
            <div class="row">
                    <div class="col-md-9">
                        <p class="no-bottom-space anchor-text">310 West 81st Street&nbsp;New York, New York, United States</p>
                        <p class="ai-list-info">
                <span class="ai-listing-price">£7,300,940</span>
                <span class="ai-listing-bed">&nbsp;&nbsp;&nbsp;5</span>
                    &nbsp;
                <span class="text-uppercase ai-listing-bedbathlabel">Bed</span>
                <span class="ai-listing-bath">&nbsp;&nbsp;&nbsp;4</span>&nbsp;
                <span class="text-uppercase ai-listing-bedbathlabel">Bath</span>
                    </p>
                    </div>
                </div>
        </div>
        <div class="cropped">
                <img class="center-block" data-object-fit="cover" src="https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/7e2ddcdc-09d4-4ccb-866a-767d97f72d3e/9707257e4f759f9bbf2f20074f10987b.jpg" alt="undefined">
                <img class="img-responsive company-logo hidden-xs" src="https://az592774.vo.msecnd.net/pgl-release/Images/CompanyImages/6FB2BA66-D9A1-486D-9954-466DCBBA9013.jpg?a=4U22X0Z2LLNT">
        </div><!--<div class="ai-search-result">-->
            </a>
        </div><!--<div class="thumbnail">-->
        <div class="selected-listing-pointer hidden-xs" style="display: none"></div>
        </div>

<div class="ai-listing-detail-spa-container ai-search-result-detail-section-full-width" id="ai-listing-detail-spa-container" style="display: none">
    <div class="ai-action-button-container">
        <div class="ai-right-buttons-container">
            <div class="ai-expand-container">
                <a style="vertical-align: super" target="_blank" href="https://propertylistings.ft.com/homes/1134003/new-york-property-for-sale/310-west-81st-street" title="More Info">
                    <span class="text-uppercase ai-expand-label">More Info</span>
                </a>
            </div>
            <div class="ai-close-container">
                <a href="javascript:void(0)" title="Close">
                    <span class="ai-close hairline">×</span>
                </a>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

    
    <div class="ai-search-result-detail-section-full-width-inner"> 
        <div class="row margin-bottom-10">
            <div class="col-md-7" style="height:400px;">
                <!-- Swiper -->
 <div class="swiper-position">   
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/47257a15-76c6-4809-83f2-64f928f60e93/f8374d4e101719bfe19bb8ed88dd33b3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/251cb30d-a860-46d4-8bb5-e1ea86c3cea9/887b65a400a4878c62cc62661135e778.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/ff97b839-284a-4fcf-8983-fe047ea5df9f/523c8948c03b909327648b179d81e7a1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/ff97b839-284a-4fcf-8983-fe047ea5df9f/523c8948c03b909327648b179d81e7a1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/157d0228-6015-44a0-b5b0-7f2a7a2e3f35/634b5bcc25fe720175b9e44ca109d3dd.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/9a3ff92d-87fe-4d26-8a61-312fd79dccac/1781eb8ec7f2d8f6989af58ac8a53d91.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/696e1688-6b1a-4dc2-b518-95a8d64433b2/f79af171eec1279a2a0a158721297264.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/3ca33a31-8038-445d-82a8-6bf0e1339f8b/db5e47d8b1fb710dcec64beb7e161c66.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/752c640a-2871-489a-a69d-e5bb8853df37/09d4dc00c458f58c7d6979b61a438900.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/32138d5a-0740-4f1e-97cc-acfe488c57e6/af7909e1c15d3d77a01d746564c29208.jpg)"></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>

    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/47257a15-76c6-4809-83f2-64f928f60e93/f8374d4e101719bfe19bb8ed88dd33b3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/251cb30d-a860-46d4-8bb5-e1ea86c3cea9/887b65a400a4878c62cc62661135e778.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/ff97b839-284a-4fcf-8983-fe047ea5df9f/523c8948c03b909327648b179d81e7a1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/ff97b839-284a-4fcf-8983-fe047ea5df9f/523c8948c03b909327648b179d81e7a1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/157d0228-6015-44a0-b5b0-7f2a7a2e3f35/634b5bcc25fe720175b9e44ca109d3dd.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/9a3ff92d-87fe-4d26-8a61-312fd79dccac/1781eb8ec7f2d8f6989af58ac8a53d91.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/696e1688-6b1a-4dc2-b518-95a8d64433b2/f79af171eec1279a2a0a158721297264.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/3ca33a31-8038-445d-82a8-6bf0e1339f8b/db5e47d8b1fb710dcec64beb7e161c66.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/752c640a-2871-489a-a69d-e5bb8853df37/09d4dc00c458f58c7d6979b61a438900.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(https://az592774.vo.msecnd.net/pgl-release/Images/LuxuryImages/adhoc/32138d5a-0740-4f1e-97cc-acfe488c57e6/af7909e1c15d3d77a01d746564c29208.jpg)"></div>
        </div>
    </div>
    </div> 
            </div>


            <div class="col-md-5  ai-lead-form-section" > 
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ai-listing-name">
                            Beautiful Southwest adobe-style home in Scottsdale
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ai-listing-location">
                            Scottsdale, Arizona, United States
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ai-listing-price">
                            <span class="text-uppercase ai-listing-type">For Sale</span> &nbsp;&nbsp;
                            $14,000,000 &nbsp;&nbsp;
                            <!--template bindings={}--><span class="price-converted">
                                (~£10,798,746)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 text-center ai-listing-info">
                                8
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center ai-listing-info-label">
                                Bed
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 text-center ai-listing-info">
                                11
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center ai-listing-info-label">
                                Bath
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="ai-lead-form-title">
                            Contact Agent
                        </h4>
                    </div>
                </div>
                <div class="row text-center img-center">
                    <div class="col-xs-12 col-sm-5">
                        <div class="row margin-bottom-5">
                            <div class="col-xs-6 col-xs-offset-3">
                                <img class="img-responsive circular" onerror="this.onerror=null;this.style.display='none';" src="http://m.sothebysrealty.com/4i0/w10jzvyex77t43pa89mz9p80w5i" alt="Debbie Negrin">
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-xs-12 margin-bottom-5">
                                Debbie Negrin
                            </span>
                        </div>
                        <div class="row margin-bottom-5 hidden-xs">
                            <div class="call inquiry-agent-call" id="inquiry-agent-call">
                                <img src="http://static.ftchinese.com/icon/svg/phone-call.svg">
                                <a rel="nofollow" href="javascript:void(0)">CALL</a>
                            
                            </div>
                            <div class="call" id="inquiry-agent-contact-number">
                                <a itemprop="telephone" href="tel:390550548100"> 390550548100 </a>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-xs-12 margin-bottom-5">
                                Sothebys International Realty
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center;">
                                <img class="img-responsive" onerror="this.onerror=null;this.style.display='none';" src="//az592774.vo.msecnd.net/pgl-release/Images/CompanyImages/CAA505AD-0887-4D0F-B459-AF360D871436.png?a=4U233LII3ZCH" alt="Sothebys International Realty">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7" >
                        <form id="" method="post" action="/api/inquiry/post"class="sky-form"novalidate="novalidate">
                            <div>
                                <section>
                                    <div class="input">
                                        <img src="http://static.ftchinese.com/icon/svg/avatar.svg">
                                        
                                        <input id="client-name" name="client-name" placeholder="Your Full Name" type="text">
                                        
                                    </div>
                                </section>
                                <section>
                                    <div class="input">
                                        <img src="http://static.ftchinese.com/icon/svg/phone-call.svg">
                                        <input id="client-number" name="client-number" placeholder="Phone, e.g. +(country)-(number)" type="text">
                                    
                                    </div>
                                </section>
                                <section>
                                    <div class="input">
                                        <img src="http://static.ftchinese.com/icon/svg/envelope.svg">
                                        <input id="client-email" name="client-email" placeholder="Email" type="text">
                                    
                                    </div>
                                </section>
                                <section>
                                    <div class="textarea textarea-resizable">
                                    <img src="http://static.ftchinese.com/icon/svg/chat.svg">    
                                        <textarea id="client-message" name="client-message" placeholder="Message" type="text"></textarea>
                                    
                                    </div>
                                </section>
                                <div class="clearfloat"></div>
                            </div>
                            
                            <div class="ai-inquirylead-form-contact">
                                <button type="submit" class="btn-u">Contact Agent</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <div style="clear:both"></div>
        </div>
    </div>


                    </div>
                </li>             
            </ul>

            <div class="clearfloat block-bottom"></div>
        </div>
    </div>

<div class="clearfloat"></div>
</div>
</div><!--<div class="block-container has-side story-page">-->