<%assign var="carousel_images_string" value = $realProperty.allImages|regex_replace:"/[\r\n\t]/":"*"%>
<%assign var="carousel_images_string" value = $carousel_images_string|regex_replace:"/(\*+)/":"*"%>
<%assign var="carousel_images_array" value="*"|explode:$carousel_images_string%>
<div class="swiper-position">
<!-- Swiper -->
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <%foreach from=$carousel_images_array item=image%>
                <div class="swiper-slide" style="background-image:url(<%$image%>)"></div>
	        <%/foreach%>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>

    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <%foreach from=$carousel_images_array item=image%>
                <div class="swiper-slide" style="background-image:url(<%$image%>)"></div>
	        <%/foreach%>
        </div>
    </div>
</div>

<div class="block-container has-side">
    <div class="block-inner">
    <div class="content-container">
    <div class="content-inner">
        <div class="list-inner">
            <h2 class="list-title"><a class="list-link"><%$propertytDataName.FEATURED_PROPERTIES%></a></h2>
            <div class="items">
                <ul class="indentation">
                    <li><span><%$realProperty.propertyNature%></span></li>

                    <%if $realProperty.price|string_format:"%d" eq 0%>
                    <li><span><strong><%$propertytDataName.Discuss_Personally%></strong></span></li>
                    <%else%>
                    <li><span> <strong><%$realProperty.price%><%$realProperty.priceUnit%></strong>&nbsp; </span></li>
                    <%/if%>

                    <%if $realProperty.propertyStyle eq ''%>
                    <%else%>
                    <li><%$propertytDataName.Property_Style%>: <span><%$realProperty.propertyStyle%></span></li>
                    <%/if%>

                    <%if $realProperty.bedroom eq 0%>
                    <%else%>
                    <li><%$propertytDataName.Bedroom%>: <span><%$realProperty.bedroom%></span></li>
                    <%/if%>

                    <%if $realProperty.bathroom eq 0%>
                    <%else%>
                    <li><%$propertytDataName.Bathroom%>: <span><%$realProperty.bathroom%></span></li>
                    <%/if%>

                    <%if $realProperty.halfBathroom eq 0%>
                    <%else%>
                    <li><%$propertytDataName.Half_Bathroom%>: <span><%$realProperty.halfBathroom%></span></li>
                    <%/if%>

                  <%*  <li><%$propertytDataName.Property_Style%>: <span><%$realProperty.propertyStyle%></span></li>
                    <li><%$propertytDataName.Bedroom%>: <span><%$realProperty.bedroom%></span></li>
                    <li><%$propertytDataName.Bathroom%>: <span><%$realProperty.bathroom%></span></li>
                    <li><%$propertytDataName.Half_Bathroom%>: <span><%$realProperty.halfBathroom%></span></li> *%>
                </ul>
                <div class="clearfloat"></div>
            </div>
            <h2 class="list-title"><a class="list-link"><%$propertytDataName.PROPERTY_DESCRIPTION%></a>
            </h2>
            <div class="items">
                <div class="item-lead indentation"><%$realProperty.description%>
                </div>
                <div class="clearfloat"></div>
            </div>
        </div>


<div class="clearfloat block-bottom"></div>
</div>
</div>
<div class="side-container">
<div class="side-inner">
    <h2 class="list-title"><a class="list-link"><%$propertytDataName.GET_MORE_INFORMATION%></a></h2>
<div>

<form id="ai-inquirylead-form" name="<%$realProperty.propertyId%>"  class="sky-form ai-inquirylead-form xs-no-border xs-no-side-space xs-no-top-space xs-section-no-bottom-space"novalidate="novalidate">

    <div class="team-v6">
        <span><%$realProperty.name%></span>

        <div class="listing-title ai-inquirylead-form-property-link">
            <a  target="_blank" rel="nofollow" title="<%$realProperty.propertyTitle%>" href="<%$realProperty.companyLink%>"><%$realProperty.propertyTitle%></a> </div>
       <%* <h5><%$propertytDataName.View_more_properties_from%></h5>  *%>
        <div>
            <a class="ai-inquirylead-form-company-link" target="_blank" rel="nofollow" href="<%$realProperty.companyLink%>" title="<%$realProperty.propertyTitle%>"> <img class="img-responsive" src="<%$realProperty.companyImage%>" alt="<%$realProperty.propertyTitle%>" > </a>
        </div>
        <div>
            <ul class="list-section">
                <li id="inquiry-agent-call">
                    <img src="http://static.ftchinese.com/icon/svg/phone-call.svg">
                    <a rel="nofollow" href="javascript:void(0)"><%$propertytDataName.Call%></a>
                </li>
                <li>
                <img src="http://static.ftchinese.com/icon/svg/share.svg">
                <a class="ai-inquirylead-form-company-link" target="_blank" rel="nofollow" href="<%$realProperty.companyLink%>">
                <%$propertytDataName.Link%>
                </a>
                </li>
            </ul>
            <div class="" id="inquiry-agent-contact-number">
                <a itemprop="telephone" href="tel:<%$realProperty.agentTelephone%>"> <%$realProperty.agentTelephone%> </a>
            </div>
        </div>
    </div>
    <div>
        <input type="hidden" id="propertyId"  name="propertyId"  value="<%$realProperty.propertyId%>" />
        <section>
            <div class="input">
                <img src="http://static.ftchinese.com/icon/svg/avatar.svg">

                <input id="client-name" name="client-name" placeholder="<%$propertytDataName.Your_Full_Name%>" type="text">

            </div>
        </section>
        <section>
            <div class="input">
                <img src="http://static.ftchinese.com/icon/svg/phone-call.svg">
                <input id="client-number" name="client-number" placeholder="<%$propertytDataName.Phone_Number%>" type="number"  >

            </div>
        </section>
        <section>
            <div class="input">
                <img src="http://static.ftchinese.com/icon/svg/envelope.svg">
                <input id="client-email" name="client-email" placeholder="<%$propertytDataName.Email%>" type="email">

            </div>
        </section>
        <div class="register-hint"  id = "user-hint"></div>
        <section>
            <div class="textarea textarea-resizable">
            <img src="http://static.ftchinese.com/icon/svg/chat.svg">
                <textarea id="client-message" name="client-message" placeholder="<%$propertytDataName.Message%>" type="text"></textarea>

            </div>
        </section>
        <div class="clearfloat"></div>
    </div>
    <div class="ai-inquirylead-form-contact">
        <button type="button" class="btn-u" id="contact-agent-submit"><%$propertytDataName.Contact_Agent%></button>
    </div>
</form>
</div>


	<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU1 != "yes"%>
		<script type="text/javascript">
			document.write (writeAdNew({
				devices: ['PC','PadApp','PadWeb'],
				pattern:'MPU',
				position:'Right1'
			}));
		</script>
	<%/if%>



</div>
</div>
<div class="clearfloat"></div>
</div>
</div><!--<div class="block-container has-side story-page">-->




