
 <div class="ai-search-block" >
      <form>
          <div id="searchContainer" >
    <div class="floatClass select-search-group" >
                <select>
                <option value="forsale">For Sale</option>
                <option value="forrent">For Rent</option>
                </select>
    </div>

    <div class="floatClass input-search-group">
        <input placeholder="Search country, area or city" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0">
    </div>
    <div>
        <button class="select-search-button" ></button>
    </div>

  <div class="clearfloat"></div>
  </div>
  </form>
</div>
<div class="block-container no-side">
  <div class="block-inner">
    <div class="content-container">
        <div class="content-inner">
          <div class="list-container">
                <div class="list-inner">
                    <h2 class="list-title"><a class="list-link">FEATURED PROPERTIES</a></h2>
                    <div class="items">
                        <%foreach from=$propertyArray item=propertyItem%>

                <div class="<%$propertyItem.className%>"></div>
                        <div class="item-container XL4 L4 M4 S6 P12 P-half has-image">
                            <div class="item-inner"><h2 class="item-headline"><a target="_blank" href="/index.php/ft/property/detail?id=<%$propertyItem.propertyId%>"><%$propertyItem.area%> <%$propertyItem.country%></a></h2>
                            <a class="image" target="_blank" href="/index.php/ft/property/detail?id=<%$propertyItem.propertyId%>">
                            <figure class="is-retina" data-url="<%$propertyItem.coverImage%>">
                            <img src="<%$propertyItem.coverImage%>" data-backupimage="<%$propertyItem.coverImage%>">
                            <img class="logoImage" src="<%$propertyItem.companyImage%>"></figure></a>
                            <div class="item-lead"><%$propertyItem.priceUnit%>  <%$propertyItem.price%></div>
                            <div class="item-time"><%$propertyItem.bedroom%>BED <%$propertyItem.bedroom%>BATH</div>
                            <div class="item-bottom"></div>
                            </div>
                        </div>
                        <%/foreach%> 
                        <div class="clearfloat"></div>
                    </div>
               </div>
            </div><!--list-container结束-->
        </div><!--content-inner结束-->
   </div><!--content-container结束-->
   <div class="clearfloat"></div>
 </div><!--block-inner结束-->
</div><!--block-container no-side结束-->

<div class="block-container no-side">
  <div class="block-inner">
    <div class="content-container">
        <div class="content-inner" id="content-inner">
          <div class="clearfloat block-bottom"></div>
        </div><!--content-inner结束-->
   </div><!--content-container结束-->
   <div class="clearfloat"></div>
 </div><!--block-inner结束-->
</div><!--block-container no-side结束-->