<div class="app-download-container">
    <a href="http://app.ftchinese.com/download.html?utm_source=marketing&utm_medium=campaign&utm_campaign=QRCODE02" target="_blank">
        <div>FT中文网客户端</div>
        <figure class="loading" data-url="http://s.ftimg.net/img/qr/qr90-2.png"></figure>
        <div>点击或扫描下载</div>
    </a>
</div>

<div class="app-download-container wechat">
    <a href="#" target="_blank">
        <div>FT中文网微信</div>
        <figure class="loading" data-url="http://i.ftimg.net/picture/6/000060716_piclink.jpg"></figure>
        <div>扫描关注</div>
    </a>
</div>