<%if $hideQR != "yes"%>
<div class="app-download-container">
    <a href="http://app.ftchinese.com/download.html?utm_source=marketing&utm_medium=campaign&utm_campaign=QRCODE02" target="_blank">
        <div>FT中文网客户端</div>
        <figure class="loading" data-url="http://s.ftimg.net/img/qr/qr90-2.png"></figure>
        <div>点击或扫描下载</div>
    </a>
</div>

<div class="app-download-container wechat">
    <a href="/m/corp/follow.html" target="_blank">
        <div>FT中文网微信</div>
        <figure class="loading" data-url="http://i.ftimg.net/picture/6/000060716_piclink.jpg"></figure>
        <div>扫描关注</div>
    </a>
</div>


<a class="app-download-bar-container" href="http://app.ftchinese.com/download.html?utm_source=marketing&utm_medium=campaign&utm_campaign=WECHAT01">
    <div class="app-download-bar-inner">
        <div class="app-download-bar-image">
            <figure class="loading" data-url="http://static.ftchinese.com/img/friend-share-icon.jpg"></figure>
        </div>
        <button class="app-download-bar-button">免费下载</button>
        <div class="app-download-bar-text"><b>FT中文网</b>全球财经精粹，中英对照</div>
    </div>
</a>
<%/if%>
