<%assign var="reports" value=$interactivemodel->get_interactive_by_field_search("find_in_set('特别报导',tag) and pubdate <= unix_timestamp(now())",0,4,3000,10800)%>
<div class="block-container  <%if $section.side != "" && $section.side != "none"%>has-side<%if $section.sideAlign=="right"%> side-right<%/if%><%else%>no-side<%/if%>">
    <div class="block-inner">
        <div class="content-container">
            <div class="content-inner">
                <div class="list-container">
                    <div class="list-inner">
                        <h2 class="list-title"><a class="list-link" href="/channel/special.html">特别报导</a></h2>
                        <div class="items">
							<%assign var="i" value=0%>
							<%foreach from=$reports item="report"%>
								<%assign var="itemTopClass" value=""%>
								<%assign var="itemTop" value=""%>
								<%if $i%4 === 0%>
									<%assign var="itemTopClass" value="XLT"%>
								<%/if%>
								<%if $i%2 === 0%>
									<%assign var="itemTopClass" value="`$itemTopClass` ST PT"%>
								<%/if%>
								<%assign var="XL" value="XL3"%>
								<%assign var="L" value="L3"%>
								<%assign var="M" value="M3"%>
								<%assign var="S" value="S6"%>
								<%assign var="P" value="P6"%>
								<%assign var="itemClass" value="`$XL` `$L` `$M` `$S` `$P`"%>
								<%if $itemTopClass != ""%>
									<%assign var="itemTop" value="<div class=\"`$itemTopClass`\"></div>"%>
								<%/if%>
								<%if $i === 0%>
									<%assign var="itemTop" value=""%>
								<%/if%>

								<%if preg_match("/\//is",$report.cshortleadbody)%>
									<%assign var="specialLink" value=$report.cshortleadbody%>
								<%else%>
									<%assign var="specialLink" value="/tag/`$report.cshortleadbody`"%>
								<%/if%>
								
								<%$itemTop%>
								<div class="item-container <%$itemClass%> headline-only">
								    <div class="item-inner">
								        <a class="image" href="<%$specialLink%>" target=_blank><figure class="loading" data-url="<%$report.story_pic.cover|default:$report.story_pic.bigbutton%>"></figure></a>
								        <h2 class="item-headline"><a href="<%$specialLink%>" target=_blank><%$report.cheadline%></a></h2>
								    </div>
								</div>
								<%assign var="i" value=$i+1%>
							<%/foreach%>
                            <div class="clearfloat"></div>
                        </div>
                    </div>
                </div>


                <%assign var='channels' value=','|explode:"china,global,opinion,lex,management,lifestyle,economy,business"%>

<%*<!--
				<div class="list-container <%if $section.side != "" && $section.side != "none"%>XL4<%else%>XL3<%/if%>"><div class="list-inner">
					<h2 class="list-title"><a href="/channel/special.html">特别报导</a></h2>
					<div class="items">
						<div class="item-container">
						    <div class="item-inner">
						        <a class="image" href="/story/<%$report.cshortleadbody%>" target=_blank><figure class="loading" data-url="<%$report.story_pic.cover|default:$report.story_pic.bigbutton%>"></figure></a>
						        <h2 class="item-headline"><a href="/tag/<%$report.cshortleadbody%>" target=_blank><%$report.cheadline%></a></h2>
						    </div>
						</div>
					</div>
				</div></div>
-->*%>


                <div class="clearfloat block-bottom"></div>
            </div>
        </div>
		<%if $section.side != "" && $section.side != "none"%>
			<%include file="next/partials/`$section.side`.html"%>
		<%/if%>
        <div class="clearfloat"></div>
    </div>
</div>