<div class="overlay-container" id="share-legacy">
    <div class="overlay-inner">
        <div class="overlay-bg" data-parentid="share-legacy"></div>
        <div class="overlay-content-outer">
            <div class="overlay-content-inner">
                <div class="overlay-content">
                    <div class="overlay-title">分享<i class="overlay-close" data-parentid="share-legacy">×</i></div>
                    <span id="sharelinks"></span>
                </div>
            </div>
        </div>
    </div>
</div>
