<div class="side-container"><div class="side-inner">

	<%if $columninfo != ""%>
		<div class="story-box">
			<h2 class="box-title"><a href="/column/<%$columninfo.id%>"><%$columninfo.headline|replace:"》":""|replace:"《":""%></a></h2>
			<%if $authorHeadshot == ""%>
				<a href="/column/<%$columninfo.id%>" class="image square-icon" target="_blank" style="display: block;"><figure class="loading" data-url="<%$columninfo.piclink%>"></figure></a>
			<%/if%>
			<%$columninfo.description%>
		</div>
	<%/if%>

	<%if $tagabout != ""%>
		<div class="story-box">
			<h2 class="box-title">编者按</h2>
			<%$tagabout%>
		</div>
	<%/if%>

	<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU1 != "yes"%>
		<div 
		data-o-ads-name="mpu-right1"
		class="o-ads"  
		data-o-ads-formats-default="false" 
		data-o-ads-formats-small="false" 
		data-o-ads-formats-medium="FtcMpu"
		data-o-ads-formats-large="FtcMpu"
		data-o-ads-targeting="cnpos=right1;"
		data-cy='[{"devices":["PC","PadWeb","PadApp"],"pattern":"MPU","position":"Right1"}]'
		>
		</div>
	<%/if%>


	<%if $story.id != null %>
		<%easyapi command="10008" storyid=$story.id debug=false %>
	<%/if%>
	<%if $data.odatalist|@count>0%>
		<%assign var="relative_story" value=$data.odatalist%>
	<%/if%>
	<%assign var="has_relative_story" value="no"%>
	<%if $relative_story|@count>0%>
		<%foreach from=$relative_story item=sc%>
			<%if $sc.storyid != $story.id%>
				<%assign var="has_relative_story" value="yes"%>
			<%/if%>
		<%/foreach%>
	<%/if%>
	<%if $has_relative_story == "yes"%>
		<%assign var="i" value=0%>
		<div class="story-box">
			<h2 class="box-title"><a href="/channel/weekly.html">相关文章</a></h2>
			<ul class="top10">
				<%foreach from=$relative_story item=sc%>
					<%assign var="i" value=$i+1%>
					<li class="mp<%$i%>"><a target="_blank" href="/story/<%$sc.storyid%>"><%$sc.cheadline%></a></li>
				<%/foreach%>
			</ul>
		</div>
	<%elseif $themeTag != "" && $themeTitle != "" && $themeLink != "" && $storymodel != ""%>
		<div class="story-box with-theme">
			<h2 class="box-title"><a href="<%$themeLink%>"><%$themeTitle%></a></h2>
			<ul class="top10">
			<%assign var="i" value=0%>
			<%assign var="mp" value=$storymodel->getContentByTag($themeTag,10)%>
			<%foreach from=$mp item=sc%>
				<%if $itemId != $sc.id%>
					<%assign var="i" value=$i+1%>
					<%assign var="itemType" value=$sc.type|default:$sc.item_type%>
					<%assign var="itemLink" value="/`$itemType`/`$sc.id`"%>
					<%if $smarty.get.webview == "ftcapp"%>
						<%*<!--MARK: - Handle Sub Types of Themes such as Radio and Billigual -->*%>
						<%if preg_match("/.(mp3|m4a|wav)$/is",$sc.cshortleadbody)%>
							<%assign var="audioUrl" value=$sc.cshortleadbody%>
							<%assign var="itemLink" value="ftchinese://radio/`$sc.id`?source=StoryRightRail&audio=`$audioUrl`"%>
						<%elseif $themeSubType == "bilingual"%>
							<%assign var="itemLink" value="ftchinese://bilingual/`$sc.id`?source=StoryRightRail"%>
						<%/if%>
					<%/if%>
					<li class="mp<%$i%>"><a target="_blank" href="<%$itemLink%>"><%$sc.cheadline%></a></li>
				<%/if%>
			<%/foreach%>
			</ul>
		</div>
	<%else%>
		<div class="story-box">
			<%assign var="boxTitleClass" value="box-title"%>
			<%include file="next/partials/HotContentByPageViews.html"%>
		</div>
	<%/if%>


	<%if $themeInfo != ""%>
		<%if $themeInfo.lists != ""%>
			<%foreach from=$themeInfo.lists item=l%>
				<%if $l.type == "AuthorInfo"%>
					<div class="story-box">
						<h2 class="box-title"><a>关于<%$l.Name%></a></h2>
						<%if $l.HeadImage != ""%>
							<a class="image square-icon" target="_blank"><figure class="loading" data-url="<%$l.HeadImage%>"></figure></a>
						<%/if%>
						<%$l.AuthorIntro%>
					</div>
				<%/if%>
			<%/foreach%>
		<%/if%>
	<%/if%>


	<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU2 != "yes"%>
		<div 
		data-o-ads-name="mpu-right2"
		class="o-ads"  
		data-o-ads-formats-default="false" 
		data-o-ads-formats-small="false" 
		data-o-ads-formats-medium="false"
		data-o-ads-formats-large="FtcMpu"
		data-o-ads-targeting="cnpos=right2;"
		data-cy='[{"devices":["PC","PadWeb","PadApp"],"pattern":"MPU","position":"Right2"}]'
		>
		</div>
	<%/if%>
	
	<%assign var="allTags" value=""%>
	<%if $story.tag|@count>=1%>
		<%assign var="allTags" value=$story.tag%>
	<%elseif $itemType == "interactive" && $tag != "" && preg_match("/双语阅读/is",$tag)%>
		<%assign var="myTag" value=$tag|regex_replace:"/，/":","|regex_replace:"/,[\s\t]+/":","|regex_replace:"/去广告|单页|透明|置顶|白底|靠右|沉底|资料|突发|插图|高清|interactive_search|高清|科技|QuizPlus|单选题|SurveyPlus|置顶|低调|精华|小测|生活时尚|测试|视频|新闻|FTLifeOfASong|Podcast|播音员朗读|AI合成|科技|双语阅读|高端专享|订户专享|会员专享|双语电台|高端限免|限免|NoCopyrightCover|AITranslation|FTArticle|IsEdited/":""|regex_replace:"/,+/":","|regex_replace:"/^,/":""|regex_replace:"/,$/":""%>
		<%assign var="allTags" value=","|explode:$myTag%>
	<%/if%>

	<%php%>
		function shouldKeep($tag) {
			$reservedWords = ["去广告","单页","透明","置顶","白底","靠右","沉底","资料","突发","插图","高清","interactive_search","高清","科技","QuizPlus","单选题","SurveyPlus","置顶","低调","精华","小测","生活时尚","测试","视频","新闻","FTLifeOfASong","Podcast","播音员朗读","AI合成","科技","双语阅读","高端专享","订户专享","会员专享","双语电台","高端限免","限免","NoCopyrightCover","AITranslation","FTArticle","IsEdited", ""];
			return !in_array($tag, $reservedWords);
		}
		$allTags = $this->get_template_vars('allTags');
		$allTags = array_filter($allTags, "shouldKeep");
		$this->assign("allTags", $allTags);
	<%/php%>
	<%if $smarty.get.debug == "yes"%>
		<!--dubug: <%$annotations|@print_r%>-->
	<%/if%>
	<%if $annotations|@count>=1%>
		<div class="story-box last-child">
			<h2 class="box-title"><a>相关话题</a></h2>
			<ul class="top10">
				<%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
				<%assign var="i" value=0%>
				<%foreach from=$annotations item=annotation%>
					<%assign var="i" value=$i+1%>
					<%assign var="tagTitle" value=$annotation.name%>
					<%if infoForSponsorships != ""%>
						<%assign var="hasFoundSponsorship" value="no"%>
						<%assign var="hasFoundPaidPost" value="no"%>
						<%foreach from=$infoForSponsorships.sections item=section%>
							<%if $hasFoundSponsorship == "no" && $section.status == "on" && $section.dates != "" && preg_match("/`$currentDate`/is",$section.dates) && $section.tag == $annotation.name && $section.title != ""%>
								<%assign var="tagTitle" value=$section.title|default:$annotation.name%>
							<%/if%>
						<%/foreach%>
					<%/if%>
					<li class="story-theme<%if $i==1%> mp1<%/if%>">
						<a target="_blank" href="<%$annotation.link%>"><%$tagTitle%></a>
						<div class="icon-right">
							<button class="myft-follow plus" data-tag="<%$annotation.key%>" data-type="<%$annotation.type%>">关注</button>
						</div>
					</li>
				<%/foreach%>
			</ul>
		</div>
	<%elseif $allTags|@count>=1%>
		<div class="story-box last-child">
			<h2 class="box-title"><a>相关话题</a></h2>
			<ul class="top10">
				<%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
				<%assign var="i" value=0%>
				<%foreach from=$allTags item=sc%>
					<%assign var="i" value=$i+1%>
					<%assign var="tagTitle" value=$sc%>
					<%if infoForSponsorships != ""%>
					<%assign var="hasFoundSponsorship" value="no"%>
					<%assign var="hasFoundPaidPost" value="no"%>
					<%foreach from=$infoForSponsorships.sections item=section%>
						<%if $hasFoundSponsorship == "no" && $section.status == "on" && $section.dates != "" && preg_match("/`$currentDate`/is",$section.dates) && $section.tag == $sc && $section.title != ""%>
							<%assign var="tagTitle" value=$section.title|default:$sc%>
						<%/if%>
					<%/foreach%>
					<%/if%>
					<li class="story-theme<%if $i==1%> mp1<%/if%>">
						<a target="_blank" href="/tag/<%$sc%>"><%$tagTitle%></a>
						<div class="icon-right">
							<button class="myft-follow plus" data-tag="<%$sc%>" data-type="tag">关注</button>
						</div>
					</li>
				<%/foreach%>
			</ul>
		</div>
	<%/if%>






</div></div>