<div class="block-container has-side story-page"><div class="block-inner">
	<div class="content-container"><div class="content-inner">
		<div class="story-container<%$storyLanguage%>">
			<div class="story-theme"><%$breadcrum%></div>
			<h1 class="story-headline"><%$storyHeadline%></h1>
			<%$storyLead%>
			<%$storyImageTop%>
			<div class="story-action-placeholder" id="story-action-placeholder">
			    <div class="story-action">
			        <div class="action-inner">
			            <a class="action-icon icon-wechat P-hide" href="<%$wechatUrl%>" target="_blank"></a>
			            <a class="action-icon icon-weibo P-hide" href="<%$sinaUrl%>" target="_blank"></a>
			            <a class="action-icon icon-linkedin P-hide" href="<%$linkedInUrl%>" target="_blank"></a>
			            <a class="action-icon icon-twitter P-hide" href="<%$twitterUrl%>" target="_blank"></a>
			            <a class="action-icon icon-facebook P-hide" href="<%$facebookUrl%>" target="_blank"></a>
			            <%$languageOptions%>
			            <%$buyButton%>
			            <%if $itemType == "story"%>
				            <div class="icon-right icon-save P-hide">
				                <button id="addfavlink<%$story.id%>">收藏</button>
				            </div>
				            <a class="icon-right icon-action icon-comments" href="/comments/index/<%$story.id%>" target="_blank"></a>
							<a class="icon-right icon-action icon-print P-hide" onclick="window.print()" target="_blank"></a>
			            <%/if%>
			            <a class="icon-right icon-action icon-font-size" onclick="showOverlay('font-setting')"></a>
			            <a class="icon-right icon-action icon-share P-hide" onclick="showOverlay('share-legacy')"></a>
			        </div>
			    </div>
			</div>
			<div class="story-byline">
				<span class="story-time"><%$storyTime%></span>
				<span class="story-author"><%$storyAuthor%></span>
			</div>
			<%if $smarty.get.page != "" && $smarty.get.page != 1 && !in_array("单页",$story.tag)%>
				<%include file="next/partials/pagination.html"%>
			<%/if%>
			<%if $smarty.get.paywall == "1" || $paywall == "1"|| $smarty.get.paywall == "2"|| $paywall == "2"%>
				<%*<!--MARK: show first two paragraphs. -->*%>
				<div class="story-body">
					<div id="story-body-container">
						<%if $page_action != "ce"%>
							<%$story_content|regex_replace:"/[\r\t\n]/":""|regex_replace:"/(\<p\>.*?\<p\>.*?)\<p\>.*$/":"\\1"%>
						<%else%>
							<%$story_content|regex_replace:"/[\r\t\n]/":""|regex_replace:"/(\<div class=leftp\>.*?\<div class=leftp\>.*?\<div class=leftp\>.*?\<div class=leftp\>.*?)\<div class=leftp\>.*$/":"\\1"%>
						<%/if%>
					</div>
					<div class="clearfloat"></div>
				</div>
				<%include file="next/partials/subscribe-hint.html"%>
			<%else%>
				<div class="story-body">
					<%$audioHTML%>
					<%$storyImageInline%>
					<div id="story-body-container"><%$story_content%></div>
					<div class="clearfloat"></div>
				</div> 
				<%if $smarty.get.full != "y" && !in_array("单页",$story.tag)%>
					<%include file="next/partials/pagination.html"%>
				<%/if%>
			<%/if%>
			
			<%if date("Ymd",$smarty.now) <= 20180401%>
			<div 
			data-o-ads-name="infoflow1"
			class="o-ads infoflow"  
			data-o-ads-formats-default="false" 
			data-o-ads-formats-small="FtcInfoFlow" 
			data-o-ads-formats-medium="false"
			data-o-ads-formats-large="false"
			data-o-ads-formats-extra="false"
			data-o-ads-targeting="cnpos=info1;"
			>
			</div>
			<%*<!--
			<div class="hide-iframe">
			    <script type="text/javascript">
			            window.originalAdChannelId = window.adChannelId;
			            window.adChannelId = '1000';
			            document.write(writeAdNew({
			                    devices: ['iPhoneWeb','AndroidWeb','iPhoneApp','AndroidApp'],
			                    pattern:'Information',
			                    position:'Num1'
			            }));
			            window.adChannelId = window.originalAdChannelId;
			    </script>
			</div>
			-->*%>
			<%/if%>
			<div class="copyrightstatement-container">
				<%$copyrightStatement%>
			</div>
			<div class="clearfloat"></div>
		</div>
		<%if $smarty.get.showcomment == "yes" || (date("Ymd",$smarty.now) >= 20171101 && !preg_match("/politics/is",$mainTopic) && $story.id != "001076592" && $smarty.get.screencapture != "yes")%>
			<h2 class="list-title"><a class="list-link" href="#">读者评论</a></h2>
			<div id="allcomments" class="allcomments container"></div>

			<div id="logincomment" class="logincomment">
			<form id="storyForm">
			<div class="comment-input-container">
			<div class=container>
			<div style="margin:5px 0;">FT中文网欢迎读者发表评论，部分评论会被选进《读者有话说》栏目。我们保留编辑与出版的权利。</div>
			<textarea name="Talk" id="Talk" class="commentTextArea" width="100%" rows="3"></textarea>
			<span style="display:none">
			<input name="use_nickname" type="hidden" id="name" onclick="unuseit(this);"/>
			<label for="name" style="display:none">匿名</label>
			<input name="use_nickname" type="radio" id="userid" value="0" onclick="useit(this);" checked/>
			<input type="text"  autocorrect="off" class="user_id textinput nick_name" name="NickName" id="nick_name" value=""/>
			</span>
			<input type="button" value="提交评论" class="comment_btn submitbutton button ui-light-btn" id="addnewcomment"/>
			<input type="hidden" name="storyid"  id=cstoryid value=""/>
			</div>
			</div>
			</form>
			</div>

			<div id="nologincomment" class="nologincomment">
			    <div class="container">
			        <div class="username-label">用户名</div>
			        <input type="text"  autocorrect="off" name="username" id="username1" class="user_id textinput user-name"/>
			        <div class="password-label">密码</div>
			        <input type="password" name="password"  class="user_id textinput password" id="password1"/>
			        <input type="submit" value="登录后发表评论" class="comment_btn submitbutton button ui-light-btn" onclick="login(1)"/> 
			        <div class="topmargin statusmsg"></div>
			        <%if $smarty.get.webview == "ftcapp"%>
				        <div class="centerButton"><button class="ui-light-btn stress" onclick='register()'>免费注册</button></div>
				        <a class="social-login-wechat" href="weixinlogin://www.ftchinese.com/"><div class="centerButton"><button class="ui-light-btn wechat-login">微信登录</button></div></a>
			        <%else%>
			        	<div class="centerButton"><a href="http://user.ftchinese.com/register" target="_blank"><button class="ui-light-btn stress">免费注册</button></a></div>
			        <%/if%>
			    </div>
			</div>

			<script>
				<%include file="next/scripts/main-user-comments.js"%>
			</script>
			<script type="text/javascript">
			    loadcomment('<%$story.id%>', 'allcomments', 'story');
			    checkLogin();
			    clickToSubmitComment();
			</script>
		<%/if%>
	<div class="clearfloat block-bottom"></div>
	</div></div>

	<%if $pageType=="singlechoice"%>
		<div class="side-container"><div class="side-inner">
			<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU1 != "yes"%>
				<div 
				data-o-ads-name="mpu-right1"
				class="o-ads"  
				data-o-ads-formats-default="false" 
				data-o-ads-formats-small="false" 
				data-o-ads-formats-medium="FtcMpu"
				data-o-ads-formats-large="FtcMpu"
				data-o-ads-targeting="cnpos=right1;"
				data-cy='[{"devices":["PC","PadWeb","PadApp"],"pattern":"MPU","position":"Right1"}]'
				>
				</div>
				<script type="text/javascript">
					document.write (writeAdNew({
						devices: ['PC','PadWeb','PadApp'],
						pattern:'MPU',
						position:'Right1'
					}));
				</script>
			<%/if%>
		</div></div>
	<%elseif $smarty.get.screencapture != "yes"%>
		<%include file="next/partials/StoryRightRail.html"%>
	<%/if%>

	<div class="clearfloat"></div>
</div></div>