<style><%include file="next/styles/main-header-hero.css"%></style>
<div class="story-hero-container<%$storyHeroThemeClass%>">
    <div class="story-hero-inner">
        <div class="story-hero-intro">
            <div class="story-hero-intro-container">
                <div class="story-hero-tag"><%$breadcrum%></div>
                <div class="story-hero-title"><%$storyHeadline%></div>
                <div class="story-hero-content"><p><%$shareLead%></p></div>
            </div>
        </div>
    </div>
    <div class="story-hero-image"><figure data-url="<%$storyImage%>" class="loading"></figure></div>
</div>