<div class="overlay-container" id="font-setting">
    <div class="overlay-inner">
    <div class="overlay-bg" data-parentid="font-setting"></div>
        <div class="overlay-content-outer">
            <div class="overlay-content-inner">
                <div class="overlay-content">
                    <div class="overlay-title">设置字号<i class="overlay-close" data-parentid="font-setting">×</i></div>
                    <span class="font-options" id="font-options">
                        <div class="smallest first-child" data-font="0.8">最小</div>
                        <div class="smaller" data-font="0.9">较小</div>
                        <div class="normal" data-font="1">默认</div>
                        <div class="bigger" data-font="1.2">较大</div>
                        <div class="biggest" data-font="1.6">最大</div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>