<div class="side-container"><div class="side-inner">
	<%if $tagabout != ""%>
		<div class="story-box">
			<h2 class="box-title">编者按</h2>
			<%$tagabout%>
		</div>
	<%/if%>

	<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU1 != "yes"%>
		<div 
		data-o-ads-name="mpu-right1"
		class="o-ads"  
		data-o-ads-formats-default="false" 
		data-o-ads-formats-small="false" 
		data-o-ads-formats-medium="FtcMpu"
		data-o-ads-formats-large="FtcMpu"
		data-o-ads-targeting="cnpos=right1;"
		data-cy='[{"devices":["PC","PadWeb","PadApp"],"pattern":"MPU","position":"Right1"}]'
		>
		</div>
	<%/if%>


	<%if $story.id != null %>
		<%easyapi command="10008" storyid=$story.id debug=false %>
	<%/if%>
	<%if $data.odatalist|@count>0%>
		<%assign var="i" value=0%>
		<div class="story-box">
			<h2 class="box-title"><a href="/channel/weekly.html">相关文章</a></h2>
			<ul class="top10">
				<%foreach from=$data.odatalist item=sc%>
					<%assign var="i" value=$i+1%>
					<li class="mp<%$i%>"><a target="_blank" href="/story/<%$sc.storyid%>"><%$sc.cheadline%></a></li>
				<%/foreach%>
			</ul>
		</div>
	<%elseif $relative_story|@count>0%>
		<%assign var="i" value=0%>
		<div class="story-box">
			<h2 class="box-title"><a href="/channel/weekly.html">相关文章</a></h2>
			<ul class="top10">
				<%foreach from=$relative_story item=sc%>
					<%assign var="i" value=$i+1%>
					<li class="mp<%$i%>"><a target="_blank" href="/story/<%$sc.storyid%>"><%$sc.cheadline%></a></li>
				<%/foreach%>
			</ul>
		</div>
	<%elseif $themeTag != "" && $themeTitle != "" && $themeLink != "" && $storymodel != ""%>
		<div class="story-box with-theme">
			<h2 class="box-title"><a href="<%$themeLink%>"><%$themeTitle%></a></h2>
			<ul class="top10">
			<%assign var="i" value=0%>
			
			<%if $themeTag == "英语电台" || $themeTag == "i听粉" || $themeTag == "麦可林学英语"%>
				<%*<!--MARK: - these two tags doesn't work in SQL query, maybe because of our server configuration bug -->*%>
				<%assign var="mp" value=$storymodel->getContentByTag($themeTag,10)%>
			<%else%>
				<%assign var="sqlString" value="(find_in_set('`$themeTag`', tag) and id != '`$itemId`')"%>
				<%assign var="mp" value=$storymodel->get_content_by_field_search($sqlString,0,10,400,10800)%>
			<%/if%>		
			<%foreach from=$mp item=sc%>
				<%assign var="i" value=$i+1%>
				<li class="mp<%$i%>"><a target="_blank" href="/<%$sc.item_type%>/<%$sc.id%>"><%$sc.cheadline%></a></li>
			<%/foreach%>
			</ul>
		</div>
	<%else%>
		<div class="story-box">
			<%assign var="boxTitleClass" value="box-title"%>
			<%include file="next/partials/HotContentByPageViews.html"%>
		</div>
	<%/if%>


	<%if $themeInfo != ""%>
		<%if $themeInfo.lists != ""%>
			<%foreach from=$themeInfo.lists item=l%>
				<%if $l.type == "AuthorInfo"%>
					<div class="story-box">
						<h2 class="box-title"><a>关于<%$l.Name%></a></h2>
						<%if $l.HeadImage != ""%>
							<a class="image square-icon" target="_blank"><figure class="loading" data-url="<%$l.HeadImage%>"></figure></a>
						<%/if%>
						<%$l.AuthorIntro%>
					</div>
				<%/if%>
			<%/foreach%>
		<%/if%>
	<%/if%>


	<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU2 != "yes"%>
		<div 
		data-o-ads-name="mpu-right2"
		class="o-ads"  
		data-o-ads-formats-default="false" 
		data-o-ads-formats-small="false" 
		data-o-ads-formats-medium="false"
		data-o-ads-formats-large="FtcMpu"
		data-o-ads-targeting="cnpos=right2;"
		data-cy='[{"devices":["PC","PadWeb","PadApp"],"pattern":"MPU","position":"Right2"}]'
		>
		</div>
	<%/if%>


	<%if $story.tag|@count>=1%>
		<div class="story-box last-child">
			<h2 class="box-title"><a>相关话题</a></h2>
			<ul class="top10">
				<%assign var="currentDate" value=$smarty.now|date_format:"%Y%m%d"%>
				<%assign var="i" value=0%>
				<%foreach from=$story.tag item=sc%>
					<%assign var="i" value=$i+1%>
					<%if $sc != "白底" && $sc != "置顶" && $sc != "靠右" && $sc != "单页" && $sc != "去广告" && $sc != "沉底" && $sc != "资料" && $sc != "突发" && $sc != "插图" && $sc != "透明" && $sc != "高清"%>
						<%assign var="tagTitle" value=$sc%>
						<%if infoForSponsorships != ""%>
						<%assign var="hasFoundSponsorship" value="no"%>
						<%assign var="hasFoundPaidPost" value="no"%>
						<%foreach from=$infoForSponsorships.sections item=section%>
							<%if $hasFoundSponsorship == "no" && $section.status == "on" && $section.dates != "" && preg_match("/`$currentDate`/is",$section.dates) && $section.tag == $sc && $section.title != ""%>
								<%assign var="tagTitle" value=$section.title|default:$sc%>
							<%/if%>
						<%/foreach%>
						<%/if%>
						<li class="story-theme<%if $i==1%> mp1<%/if%>">
							<a target="_blank" href="/tag/<%$sc%>"><%$tagTitle%></a>
							<div class="icon-right">
								<button class="myft-follow plus" data-tag="<%$sc%>" data-type="tag">关注</button>
							</div>
						</li>
					<%/if%>
				<%/foreach%>
			</ul>
		</div>
	<%/if%>




</div></div>