<div class="subscribe-lock-container">
    <div class="lock-block">
      <div class="lock-content">使用FT中文网 iOS应用
      </div>
      <div class="lock-content">成为付费会员，阅读FT独家内容
      </div>
      <div class="subscribe-btn"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ft" id="open-app">下载应用▶︎</a></div>
    </div>
</div> 
<script type="text/javascript">
    document.write (writeAdNew({
        devices: ['PC','iPhoneWeb','AndroidWeb','iPhoneApp','AndroidApp'],
        pattern:'MPU',
        position:'Middle1',
        container:'mpuInStroy'
    }));
</script>