<style><%include file="next/styles/main-form-subscription.css"%></style>
<div class="list-container">
	<div class="list-inner">
		<%if $list.title != ""%>
			<h2 class="list-title">
				<a class="list-link" href="#"><%$list.title%></a>
			</h2>
		<%/if%>
		<%if $list.description != ""%>
			<div class="items">
				<div class="no-image">
					<div class="item-inner">
						<div class="item-lead" id="subscription-form-description"><%$list.description%></div>
					</div>
				</div>
			</div>
		<%/if%>
		<div class="items">
			<div class="no-image">
				<div class="item-inner">
					<div class="subscription-form-container">
						<div><span>邮件：</span><input type="email" placeholder="请准确填写您的邮件地址" class="email" id="email"><span class="status"></span></div>
						<div><span>手机：</span><input type="tel" placeholder="请准确填写号码" class="tel" id="mobile_phone_no"><span class="status"></span></div>
            <%if $list.InfoCollection == "detail"%>
              <div><span>地址：</span><input type="text" placeholder="请填写准确地址" class="address" id="address"><span class="status"></span></div>
              <div><span>姓：</span><input type="text" placeholder="" class="last-name" id="last_name"><span class="status"></span></div>
              <div><span>名：</span><input type="text" placeholder="" class="first-name" id="first_name"><span class="status"></span></div>
            <%/if%>
            <div class="item-lead terms">
              请您阅读我们的<a href="/m/corp/service.html" target="_blank">用户注册协议</a>和<a href="/m/corp/service.html#privacy" target="_blank">隐私权保护政策</a>，点击下方按钮即视为您接受。
            </div>
						<div class="center n-button-container">
							<button class="n-button-inner subscription-button" id="subscription-button">确认并提交</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    var isSubmiting = false;
    function kickStart() {
      addValidator('tel', /^[0-9\ ]{8,}$/, '请填写数字的手机号码，不要使用全角或符号');
      addValidator('email', /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/, '请填写格式正确的邮件地址');
      getExistingInfo();
      showApplePurchaseInfo();
    }

    function showApplePurchaseInfo() {
      if (webkit && webkit.messageHandlers) {
        var message = '<div class="important-info">如您当前的订阅尚未到期，将在当前订阅到期后扣款。请勿关闭自动续费，以保证续费时按照您见到的金额扣款。 </div>';
        var info = document.getElementById('subscription-form-description');
        info.innerHTML = message + info.innerHTML;
      }
    }

    function addValidator(inputClass, validator, warningMessage) {
      var theInput = document.querySelector('.subscription-form-container .' + inputClass);
      if (theInput !== null) {
        theInput.onblur = function() {
          var inputValue = this.value;
          var statusEle = this.parentNode.querySelector('.status');
          this.className = this.className.replace(/ wrong/g, '');
          if (validator.test(inputValue)) {
            statusEle.innerHTML = '';
          } else {
            this.className += ' wrong';
            statusEle.innerHTML = warningMessage;
          }
        }
      }
    }

    function getExistingInfo() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/index.php/user/info/');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
          if (xhr.status === 200) {
              /* console.log(xhr.responseText); */
              var info = JSON.parse(xhr.responseText);
              var inputs = document.querySelectorAll('.subscription-form-container input');
              for (var i=0; i<inputs.length; i++) {
                var id = inputs[i].id;
                if (id && info[id]) inputs[i].value = info[id];
              }
          }
      };
      xhr.send();
    }

    function finishSubmit() {
      isSubmiting = false;
      if (window.location.search.indexOf('webview=ftcapp')>=0) {
        document.getElementById('subscription-button').innerHTML = '再次提交';
      } else {
        document.getElementById('subscription-button').parentElement.innerHTML = '<a href="/">提交成功，点击进入订户专享网站</a>';
      }
      sendAlert({
        title: '成功',
        message: '您已经成功提交了信息'
      });
      markSuccess();
    }

    function sendAlert(obj) {
      try {
        webkit.messageHandlers.alert.postMessage(obj);
      } catch (error) {
        alert (obj.message);
      }
    }

    function markSuccess() {
      var userdefault = {
        key: 'Need To Confirm Info',
        value: false
      }
      try {
        webkit.messageHandlers.userdefault.postMessage(userdefault);
      } catch (error) {
        DeleteCookie('NeedToConfirmInfo');
      }
    }

    document.getElementById('subscription-button').onclick = function(){
      if (isSubmiting) return;
      this.innerHTML = '提交中...';
      isSubmiting = true;
      var userData = {}
      var inputs = document.querySelectorAll('.subscription-form-container input');
      for (var i=0; i<inputs.length; i++) {
        var id = inputs[i].id;
        var value = inputs[i].value;
        userData[id] = value;
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/index.php/user/confirminfo');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
          if (xhr.status === 200) {
              var result = JSON.parse(xhr.responseText);
              if (result.status === 'success') {
                finishSubmit();
              } else if (result.status === 'error' && result.message) {
                sendAlert({
                  title: '温馨提示',
                  message: '服务器端返回了错误提示：' + result.message + '。请包涵并重试。如果此错误多次出现，请截屏给我们的客服。'
                });
              } else {
                sendAlert({
                  title: '未知错误',
                  message: '信息提交不成功，请稍后再再试，或截屏给我们的客服。'
                });
              }
          } else {
            sendAlert({
              title: '服务器错误',
              message: '信息提交失败，服务器返回的状态为' + xhr.status + '，请稍后再再试，或截屏给我们的客服。'
            });
          }
          isSubmiting = false;
          document.getElementById('subscription-button').innerHTML = '重新提交';
      };
      xhr.send(JSON.stringify(userData));
    }
    kickStart();
</script>