<!--MARK: - This version of smarty doesn't support global scoop for included files. So When price is changed, you need to replicate this. -->
<%assign var=standardPriceValue value="298"%>
<%assign var=premiumPriceValue value="1,998"%>
<%assign var=standardPrice value="¥`$standardPriceValue`/年"%>
<%assign var=premiumPrice value="¥`$premiumPriceValue`/年"%>
<%assign var=standardPriceDaily value="0.8"%>
<%assign var=premiumPriceDaily value="5.5"%>
<%assign var=hasDiscount value=""%>
<%assign var=standardOfferId value=""%>
<%assign var=premiumOfferId value=""%>
<%if $section.discountCode == "ft_win_back"%>
  <%assign var=hasDiscount value="yes"%>
  <%assign var=standardPriceValue value="148"%>
  <%assign var=premiumPriceValue value="998"%>
  <%assign var=standardPriceDaily value="0.4"%>
  <%assign var=premiumPriceDaily value="2.8"%>
  <%assign var=standardOfferId value="standard_win_back_offer_2024"%>
  <%assign var=premiumOfferId value="premium_win_back_offer_2020"%>
<%elseif $section.discountCode == "ft_renewal"%>
  <%assign var=hasDiscount value="yes"%>
  <%assign var=standardPriceValue value="218"%>
  <%assign var=premiumPriceValue value="1498"%>
  <%assign var=standardPriceDaily value="0.6"%>
  <%assign var=premiumPriceDaily value="4.2"%>
  <%assign var=standardOfferId value="standard_retention_offer_2024"%>
  <%assign var=premiumOfferId value="premium_retention_offer_2020"%>
<%elseif $section.discountCode == "ft_discount"%>
  <%assign var=hasDiscount value="yes"%>
  <%assign var=standardPriceValue value="258"%>
  <%assign var=premiumPriceValue value="1698"%>
  <%assign var=standardPriceDaily value="0.7"%>
  <%assign var=premiumPriceDaily value="4.6"%>
  <%assign var=standardOfferId value="standard_discount_offer_2024"%>
  <%assign var=premiumOfferId value="premium_discount_offer_2020"%>
<%elseif $section.discountCode == "ft_free"%>
  <%assign var=hasDiscount value="yes"%>
  <%assign var=standardPriceValue value="0"%>
  <%assign var=premiumPriceValue value="1698"%>
  <%assign var=standardPriceDaily value="0.7"%>
  <%assign var=premiumPriceDaily value="4.6"%>
  <%assign var=standardOfferId value="standard_free_offer_one_year"%>
  <%assign var=premiumOfferId value="premium_discount_offer_2020"%>
<%/if%>
<%if $hasDiscount == "yes"%>
  <%assign var=standardPrice value="¥`$standardPriceValue`/年 <del>(原价`$standardPrice`)</del>"%>
  <%assign var=premiumPrice value="¥`$premiumPriceValue`/年 <del>(原价`$premiumPrice`)</del>"%>
<%/if%>
<%assign var=standardPriceValue value=$standardPriceValue|replace:",":""%>
<%assign var=premiumPriceValue value=$premiumPriceValue|replace:",":""%>


<%assign var="standardOfferPara" value=""%>
<%assign var="premiumOfferPara" value=""%>
<%if $standardOfferId != ""%>
  <%assign var="standardOfferPara" value="&offer=`$standardOfferId`"%>
<%/if%>
<%if $premiumOfferId != ""%>
  <%assign var="premiumOfferPara" value="&offer=`$premiumOfferId`"%>
<%/if%>

<%if $smarty.get.v != ""%>
    <%*<!-- MARK: iOS app -->*%>
    <%assign var="v" value=$smarty.get.v|sanitize|floatval%>
    <%if $v < 177%>
        <%assign var="ShowiOSOfferWarning" value="yes"%>
    <%/if%>
<%/if%>
<style><%include file="next/styles/main-subscription-box-ios.css"%></style>
<div id="site-content" class="o-member-container">
  <%*<!-- MARK: - Removed because not necessary
    <div class="o-member__heading">
    <p id="heading-hint"><%$section.buttonTitle%></p>
    </div>
  -->*%>
    <div class="o-member-row">
      <div class="o-member-outer">
        <div class="o-member o-member__premium">
          <div class="o-member_content">
            <h2 class="o-member__title">高端会员</h2>
            <div class="o-member__border"></div>
            <ul class="o-member__benefits">
              <li> 专享订阅内容每日仅需<%$premiumPriceDaily%>元</li>
              <li> 享受“标准会员”所有权益</li>
              <li> 编辑精选，总编/各版块主编每周五为您推荐本周必读资讯，分享他们的思考与观点</li>
              <li> FT商学院高端专享</li>
              <li> FT中文网2022年度论坛门票2张</li>
            </ul>
            <p style="padding: 0.5em 1em 0em 1.5em;">注：所有活动门票不可折算现金、不能转让、不含差旅与食宿</p>
            <div class="o-member__subscribe">
              <a href="subscribe://premium/<%$premiumPriceValue%>?ccode=<%$ccode%><%$premiumOfferPara%>"><button class="openSub" id="premium-btn" data-offer-id="<%$premiumOfferId%>">立即订阅</button></a>
              <p class="data-price" id="premium_price"><%$premiumPrice%></p>
            </div>
          </div>
        </div>
      </div>

      <div class="o-member-outer">
        <div class="o-member o-member__standard">
          <div class="o-member_content">
            <h2 class="o-member__title">年度标准会员</h2>
            <div class="o-member__border"></div>
            <ul class="o-member__benefits">
              <li> 专享订阅内容每日仅需<%$standardPriceDaily%>元</li>
              <li> 精选深度分析</li>
              <li> 中英双语内容</li>
              <li> 金融英语速读训练</li>
              <li> 英语电台</li>
              <li> 阅读1日前历史文章（近9万篇）</li>
            </ul>
            <div class="o-member__subscribe">
              <a href="subscribe://standard/<%$standardPriceValue%>?ccode=<%$ccode%><%$standardOfferPara%>"><button class="openSub" id="standard-btn" data-offer-id="<%$standardOfferId%>">立即订阅</button></a>
              <p class="data-price" id="standard_price"><%$standardPrice%></p>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

<%if $ShowiOSOfferWarning == "yes"%>
  <div style="position:fixed; top: 0; left: 0; right: 0; background: #9E2F50; color: white; padding: 8px; z-index:2;">您的APP版本过低无法参加折扣续费，请更新至最新版本后访问“我的FT- 消息”页面重新订阅，此消息保存三日</div>
<%/if%>