<%*<!--assign var="yellowCardIds" value="U1131519359838PQZF00453f76-22f7-4543-bf8f-ba32150ff923f2938f5b-2f82-40b1-8107-caeaf54e30b6f6c29afa-a36a-4365-a60d-4611ae81caa4c2316fd7-bd3e-4849-9ff6-5973ab95d3da6a498c93-3d1f-40b1-9a8c-f507f8c118f72db851bb-b81b-4c7d-9924-b6197939522d123e1716-427e-496d-a93c-783d0cb8b077"-->*%>
<%*<!--assign var="redCardIds" value="7a5b9c4a-cca9-45bd-b8a2-a2500d98cf2c3ad944a8-fd14-416e-aef7-95aba5a560d7ecaa687f-29dc-4bfa-ba80-b2111c862c6bffcb83cc-d87f-4458-8a01-405e2ec56717cc36e942-31bf-46e5-8e56-fa8fefa2ad120fe536c1-dea5-4bf1-b101-ac86f44f45e8"-->*%>

<%if $usermodel != ""%>
	<%assign var="redCardIds" value=$usermodel->getRedCard()%>
	<%assign var="yellowCardIds" value=$usermodel->getYellowCard()%>
<%/if%>

<div class="items hide" id="membership-login-prompt">
	<div class="no-image">
		<div class="item-inner">
			<div class="item-lead">亲爱的会员朋友，我们注意到您还没有登录FT中文网。如果您希望获得更好的服务，<a href="screen://myft/account">请点击此处登录。</a></div>
		</div>
	</div>
</div>
<%if $yellowCardIds !== ""%>
	<div class="items hide" id="membership-yellow-card-prompt">
		<div class="no-image">
			<div class="item-inner">
				<div class="item-lead">
					<div class="warn">亲爱的会员朋友，我们注意到您的账号近期在多个设备上登录，如果不是您自己登录的，可能您的账号已经泄漏。如您未能在三天内采取行动停止账号共享，我们将冻结您的订阅权限。现在，您可以：</div>
					<div class="warn">1. <a href="https://user.ftchinese.com/setting" target="_blank">修改密码，并妥善保护好新密码</a>。</div>
					<div class="warn">2. <a href="http://www.ftchinese.com/logout">从这台设备登出</a>。</div>
					<div class="warn">3. <a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Warning">点击此处申诉</a>。</div>
				</div></div>
			</div>
		</div>
	</div>
	<script>window.gYellowCardUserIds = '<%$yellowCardIds%>';</script>
<%/if%>
<%if $redCardIds !== ""%>
	<div class="items hide" id="membership-red-card-prompt">
		<div class="no-image">
			<div class="item-inner">
				<div class="item-lead"><div class="warn">
					亲爱的会员朋友，我们注意到您的账号近期在多个设备上登录，已经暂时取消您的会员资格。您可以<a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Red Warning">点击此处申诉</a>。
				</div></div>
			</div>
		</div>
	</div>
	<script>window.gRedCardUserIds = '<%$redCardIds%>';</script>
<%/if%>
<script>checkUserWarnings();</script>