
<%if $section.subscriptionBoxTarget == "all"  || ($section.subscriptionBoxTarget == "allCampaigns" && $smarty.get.ccode != "") || ($section.subscriptionBoxTarget == "oneCampaign" && ($smarty.get.ccode == $section.ccode || $smarty.get.utm_campaign == $section.ccode))%>
  <style><%include file="next/styles/main-subscription-box.css"%></style>
  <div id="site-content" class="o-member-container">
      <div class="o-member__heading">
        <p id="heading-hint"><%$section.title%></p>
      </div>
      <div class="o-member-row">
        <div class="o-member o-member__standard">
          <div class="o-member_content">
            <h2 class="o-member__title">标准会员</h2>
            <div class="o-member__border"></div>
            <ul class="o-member__benefits">
              <li> 专享订阅内容每日仅需0.5元</li>
 
              <li> 精选深度分析</li>
              
              <li> 中英双语内容</li>
              
              <li> 金融英语速读训练</li>
              
              <li> 英语原声电台</li>
              
              <li> 无限浏览7日前所有历史文章（近8万篇）</li>
            </ul>
            <div class="o-member__subscribe">
              <a class="o-client-id-link" href="http://www.ftacademy.cn/subscription.html?ccode=<%$section.ccode%>&tap=standard"><button class="openSub" id="standard-btn">立即订阅</button></a>
              <p id="standard_price"> ¥198.00/年</p>
              <input type="text" value="¥198.00/年" hidden id="regular-member">
            </div>
          </div>
        </div>
        <div class="o-member o-member__premium">
          <div class="o-member_content">
            <h2 class="o-member__title">高端会员</h2>
            <div class="o-member__border"></div>
            <ul class="o-member__benefits">
              <li> 专享订阅内容每日仅需5.5元</li>
            
              <li> 享受“标准会员”所有权益</li>
              
              <li> 编辑精选，总编/各版块主编每周五为您推荐本周必读资讯，分享他们的思考与观点</li>
              
              <li> 2018年8月26日前开通会员，可获得：FT中文网2018年度论坛门票2张，价值3999元/张 （不含差旅与食宿）</li>
              
               <li> 2018年8月26日后开通会员，可获得：FT中文网2019年度论坛门票2张</li>
            </ul>
            <p style="padding: 0.5em 1em 0em 1.5em">注：所有活动门票不可折算现金、不能转让、门票不含差旅与食宿</p>
            <div class="o-member__subscribe">
              <a class="o-client-id-link" href="http://www.ftacademy.cn/subscription.html?ccode=<%$section.ccode%>&tap=premium"><button class="openSub" id="premium-btn">立即订阅</button></a>
              <p id="premium_price">¥1,998.00/年</p>
              <input type="text" value="¥1,998.00/年" hidden>
            </div>
          </div>
        </div>
      </div>
  </div>
  <script type="text/javascript">updateClientIdLinks();</script>
<%/if%>