
<style><%include file="next/styles/main-form-subscription.css"%></style>
<div class="list-container">
	<div class="list-inner">
		<%if $list.title != ""%>
			<h2 class="list-title">
				<a class="list-link" href="#"><%$list.title%></a>
			</h2>
		<%/if%>
		<%if $list.description != ""%>
			<div class="items">
				<div class="no-image">
					<div class="item-inner">
						<div class="item-lead"><%$list.description%></div>
					</div>
				</div>
			</div>
		<%/if%>
		<div class="items">
			<div class="item-container XL12 L12 M12 S12 P12 no-image">
				<div class="item-inner">
					<div class="center n-button-container n-subscription-container">
						<div class="n-options-container" id="n-options-container"></div>
						<a class="n-button-inner subscription-button disabled" id="payment-button"><%$list.buttonTitle%></a>
					</div>
				</div>
			</div>
			<div class="overlay-container" id="success-note">
				<div class="overlay-inner">
					<div class="overlay-bg" data-parentid="overlay-login"></div>
					<div class="overlay-content-outer">
						<div class="overlay-content-inner">
							<div class="overlay-content">
								<div class="contact-form-container">
									<div class="item-lead">非常感谢！请填写您的收件地址。</div>
									<div><span>收货人：</span><input type="text" placeholder="收货人姓名"></div>
									<div><span>手机：</span><input type="text" placeholder="准确填写手机号码"></div>
									<div><span>收货地址：</span><input type="text" placeholder="请填写准确地址"></div>
									<div><span>备注：</span><input type="text" placeholder="其他要求"></div>
									<div class="center n-button-container">
										<button class="n-button-inner subscription-button">提交信息</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	var subscriptionType = '<%$list.subscriptionType%>';
	var promoCode = '<%$list.ccode%>';
	var itemNumber = '<%$list.itemNumber%>';
	var paymentLink = 'http://www.ftacademy.cn/subscription.html?ccode=<%$list.ccode%>&tap=<%$list.subscriptionType%>';

	function handleIAPResult(actionType, key) {
		if (actionType === 'buy success' && key === subscriptionType) {
			document.getElementById('success-note').className += ' on';
			var submitButton = document.querySelector('#success-note .subscription-button');
			if (submitButton !== undefined) {
				submitButton.onclick = function(e) {
					submitData();
				};
			}
		}
	}

	function getOptionList() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/index.php/campaign/promo/' + promoCode);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = function() {
		    if (xhr.status === 200) {
		        var info = JSON.parse(xhr.responseText);
		        //console.log (info);
		        renderOptionList(info);
		    }
		};
		xhr.send();
	}

	function renderOptionList(options) {
		var listContainer = document.getElementById('n-options-container');
		var listHTML = '';
		for (var i=0; i<options.length; i++) {
			var currentItem = options[i];
			var id = currentItem.id;
			var name = currentItem.name;
			var num = currentItem.num;
			var disableProperty = '';
			var disableClass = '';
			num = parseInt(num, 10) || 0;
			if (num < itemNumber) {
				disableProperty = ' disabled';
				disableClass = ' disabled';
			}
			listHTML +=  '<div class="option-item' + disableClass + '"><input type="radio" id="' + id + '" name="options-list" data-num="' + num + '"' + disableProperty + '/><label for="' + id + '">' + name + '<span class="option-note">余票 '+ num +'</span></label></div>';
		}
		listHTML = '<div class="n-options-inner">' + listHTML + '</div>';
		listContainer.innerHTML = listHTML;
		var submitButton = document.getElementById('payment-button');
		if (submitButton !== undefined) {
			submitButton.onclick = function(e) {
				var checkedRadio = document.querySelector('input[name="options-list"]:checked');
				var checkedId;
				if (checkedRadio !== null) {
					checkedId = checkedRadio.id;
					itemNumber = parseInt(itemNumber, 10) || 1;
					if (checkedId) {
						reserveItem(id, itemNumber);
					}
				} else {
					alert ('请先选择您需要的票！');
				}
			};
			var options = document.querySelectorAll('input[name="options-list"]');
			for (var i=0; i<options.length; i++) {
				options[i].onchange = function() {
					var submitButton = document.getElementById('payment-button');
					submitButtonClassName = submitButton.className || '';
					if (submitButtonClassName.indexOf(' disabled') > 0) {
						submitButton.className = submitButtonClassName.replace(' disabled', '');
					}
				}
			}
		}

	}

	function reserveItem(id, itemNumber) {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/index.php/campaign/reserve/' + id + '?num=' + itemNumber);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = function() {
		    if (xhr.status === 200) {
		        var info = JSON.parse(xhr.responseText);
		        if (info.errmsg === 'success') {
		        	var url = window.location.href;
		        	if (url.indexOf('webview=ftcapp')) {
		        		try {
		        			webkit.messageHandlers.link.postMessage(paymentLink);
		        		} catch (ignore) {
		        			window.location.href = paymentLink;
		        		}
		        	} else {
		        		window.location.href = paymentLink;
		        	}
		        } else {
					var errorMessage = {
						title: '敬请注意',
						message: info.errmsg
					}
					sendAlert(errorMessage);
		        }
		    }
		};
		xhr.send();
	}

	function sendAlert(obj) {
        try {
			webkit.messageHandlers.alert.postMessage(obj);
		} catch (error) {
			alert (obj.message);
		}
	} 


	function submitData() {
		var contactInfoAll = document.querySelectorAll('#success-note .contact-form-container input');
		var ielement = {cid: promoCode};
		var currentIndex = 1;
		ielement['mod' + currentIndex] = GetCookie('USER_ID') || '';
		for (var i=0; i<contactInfoAll.length; i++) {
			currentIndex += 1; 
			ielement['mod' + currentIndex] = contactInfoAll[i].value;
		}
        var userData = {
            head: {
                transactiontype: "20008"
            },
            body: {
                ielement: ielement
            }
        };
        var xhr = new XMLHttpRequest();
		xhr.open('POST', '/eaclient/apijson.php');
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = function() {
		    if (xhr.status === 200) {
		        var info = JSON.parse(xhr.responseText);
		       	console.log (info);
		    }
		};
		xhr.send(JSON.stringify(userData));
	}

	if (window.location.href.indexOf('&buy=success') > 0) {
		handleIAPResult('buy success', subscriptionType);
	}

	getOptionList();

</script>