<%if $usermodel != ""%>
	<%assign var="redCardIds" value=$usermodel->getRedCard()%>
	<%assign var="yellowCardIds" value=$usermodel->getYellowCard()%>
<%/if%>

<%if $useCorpToRenderStory == "yes"%>
	<div class="items">
		<div class="no-image">
			<div class="item-inner">
				<div class="item-lead"><div class="warn">
					亲爱的用户，您目前使用的FT中文网6.8.13版本有严重的Bug，无法正常阅读文章，请您尽快打开App Store更新到最新的版本：
					<a href="https://apps.apple.com/cn/app/ft%E4%B8%AD%E6%96%87%E7%BD%91-%E8%B4%A2%E7%BB%8F%E6%96%B0%E9%97%BB%E4%B8%8E%E8%AF%84%E8%AE%BA/id443870811?admanager.google">点击此处</a>。
				</div></div>
			</div>
		</div>
	</div>
<%/if%>

<%if $showAppStoreWarning == "yes"%>
	<div class="items" id="app-store-warning"></div>
	<script>
		var appStoreWarningKey = 'appstorewarning';
		function closeAppStoreWarning() {
			document.getElementById('app-store-warning').innerHTML = '';
			SetCookie(appStoreWarningKey,'1',86400*100,'/');
		}
		function showAppStoreWarning() {
			var showedAppStoreWarning = GetCookie(appStoreWarningKey);
			console.log(showedAppStoreWarning);
			if (showedAppStoreWarning === '1') {
				SetCookie(appStoreWarningKey,'1',86400*100,'/');
				return;
			}
			document.getElementById('app-store-warning').innerHTML = '<div class="no-image"><div class="item-inner"><div class="item-lead"><div class="warn">通知：中国大陆地区App Store暂时无法提供FT中文网App下载，请勿删除本App。 如需更新，请访问非中国大陆地区App Store。如需帮助请联系微信公众号“小T服务在线”。</div><button onclick="javascript: closeAppStoreWarning();">我知道了</button></div></div></div>';
		}
		showAppStoreWarning();
	</script>
<%/if%>

<%if $hidePromoBox != "yes"%>
    <div class="items hide" id="membership-login-prompt">
    	<div class="no-image">
    		<div class="item-inner">
    			<div class="item-lead"><a href="screen://myft/account">您还没有登录。如果您希望更方便地享受您购买的会员服务，请点击此处登录或注册新用户。</a></div>
    		</div>
    	</div>
    </div>

	<%*<!--MARK: - Hide this reminder for a while until we figure why it doesn't hide after user updated information -->*%>
	<%if date("Ymd",$smarty.now) >= 20211103%>
		<div class="items hide" id="subscriber-contact-confirm">
			<div class="no-image">
				<div class="item-inner">
					<div class="item-lead"><a href="http://www.ftchinese.com/m/corp/preview.html?pageid=subscriptioninfoconfirm&to=all">为保障您的订阅权益，请点击此处确认您的联系方式</a></div>
				</div>
			</div>
		</div>
	<%/if%>

    <%if $yellowCardIds !== ""%>
    	<div class="items hide" id="membership-yellow-card-prompt">
    		<div class="no-image">
    			<div class="item-inner">
    				<div class="item-lead">
    					<div class="warn">亲爱的会员，您的账户近期在多台设备上异常登录。您的账户仅限您本人使用，如不是您本人操作，可能您的账号已泄漏。请您尽快进行如下操作：</div>
    					<div class="warn">1. <a href="https://user.ftchinese.com/setting" target="_blank">修改密码，并妥善保护好新密码</a>。</div>
    					<div class="warn">2. <a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Warning">点击此处寻求帮助</a>。</div>
    					<div class="warn">为了保护您的利益，我们已经暂时锁定您的订阅账户，如有疑问，请联系客服。</div>
    				</div></div>
    			</div>
    		</div>
    	</div>
    	<script>window.gYellowCardUserIds = '<%$yellowCardIds%>';</script>
    <%/if%>
    <%if $redCardIds !== ""%>
    	<div class="items hide" id="membership-red-card-prompt">
    		<div class="no-image">
    			<div class="item-inner">
    				<div class="item-lead"><div class="warn">
    					亲爱的会员，您的账号近期在多台设备上频繁异常登录。您的账户仅限您本人使用。为了保证您的利益，该账户已被暂时锁定。您可以：
    <a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Red Warning">点击此处与我们联系进行认证</a>。
    				</div></div>
    			</div>
    		</div>
    	</div>
    	<script>window.gRedCardUserIds = '<%$redCardIds%>';</script>
    <%/if%>
    <script>checkUserWarnings();</script>


	<%if $supportSubscriptionPromoBox == "yes"%>
        <%if $smarty.get.android != ""%>
			<%*<!--MARK: - Android App Promo Box-->*%>
			<div id="promo-box-container"></div>
			<script type="text/javascript"><%include file="next/scripts/main-android-app-pay-wall.js"%></script>
        <%else%>
        	<%*<!--MARK: - Don't remove this, it's used in iOS app-->*%>
    	    <!--PromoBoxPlaceHolder-->
        <%/if%>
    <%/if%>

<%/if%>
