<%assign var="itemTopClass" value=""%>
<%assign var="itemTop" value=""%>
<%if $i%4 === 0%>
	<%assign var="itemTopClass" value="XLT LT"%>
<%/if%>
<%if $i%2 === 0%>
	<%assign var="itemTopClass" value="`$itemTopClass` MT ST"%>
<%/if%>
<%assign var="itemTopClass" value="`$itemTopClass` PT"%>
<%assign var="XL" value="XL3"%>
<%assign var="L" value="L3"%>
<%assign var="M" value="M6"%>
<%assign var="S" value="S6"%>
<%assign var="P" value="P12"%>
<%assign var="itemClass" value="`$XL` `$L` `$M` `$S` `$P`"%>
<%if $itemTopClass != ""%>
	<%assign var="itemTop" value="<div class=\"`$itemTopClass`\"></div>"%>
<%/if%>
<%if $i === 0%>
	<%assign var="itemTop" value=""%>
<%/if%>

<%if preg_match("/\//is",$report.cshortleadbody)%>
	<%assign var="specialLink" value=$report.cshortleadbody%>
<%else%>
	<%assign var="specialLink" value="/tag/`$report.cshortleadbody`"%>
<%/if%>

<%assign var="itemTag" value=""%>
<%assign var="itemMainTag" value=""%>
<%assign var="tagCanFollow" value="yes"%>
<%assign var="itemTagsString" value=$report.tag|default:$report.tags|default:$report.tagname%>
<%assign var="itemTagsString" value=$itemTagsString|replace:" ":","%>
<%assign var="itemTags" value=","|explode:$itemTagsString%>
<%assign var="itemTag" value=$itemTags[0]%>

<%*<!--MARK: - For FT商学院 Videos，don't show audio part at all. -->*%>
<%if preg_match("/FT商学院/is",$itemTagsString) && preg_match("/原声视频/is",$itemTagsString)%>
	<%assign var="audioData" value=""%>
<%elseif preg_match("/.(mp3|m4a|wav)$/is",$report.cshortleadbody)%>
	<%assign var="audioUrl" value=$report.cshortleadbody%>
	<%assign var="audioData" value=" data-audio=\"`$audioUrl`\""%>
<%elseif preg_match("/.(mp3|m4a|wav)$/is",$report.eshortleadbody)%>
	<%assign var="audioUrl" value=$report.eshortleadbody%>
	<%assign var="audioData" value=" data-eaudio=\"`$audioUrl`\""%>
<%else%>
	<%assign var="audioData" value=""%>
<%/if%>


<%assign var="itemSubType" value=""%>
<%assign var="itemLead" value=$report.clongleadbody|default:$report.cshortleadbody%>
<%assign var="itemMainTag" value=$itemTags[0]%>

<%assign var="itemMainTagLink" value="<div class=\"item-tag\"><a href=\"/tag/`$itemMainTag`\">`$itemMainTag`</a></div>"%>

<%if $infoForManualTags != ""%>
	<%assign var="hasFoundManualTag" value="no"%>
	<%foreach from=$infoForManualTags.sections item=section%>
	<%if $hasFoundManualTag == "no" && preg_match("/`$section.tag`/is",$itemTagsString)%>
	    <%assign var="hasFoundManualTag" value="yes"%>
	    <%assign var="itemSubType" value=$section.subType%>
	    <%if $section.preferLead == "shortlead"%>
	    	<%assign var="itemLead" value=$report.cshortleadbody|default:$report.clongleadbody%>
	    <%else%>
	    	<%assign var="itemLead" value=$report.clongleadbody|default:$report.cshortleadbody%>
	    <%/if%>
	    <%if $section.tag != ""%>
	    	<%assign var="itemMainTag" value=$section.tag%>
	    <%/if%>
	    <%if $section.link != ""%>
	        <%assign var="itemMainTagLink" value="<div class=\"item-tag\"><a href=\"`$section.link`\">`$itemMainTag`</a></div>"%>
	    <%else%>
	    	<%assign var="itemMainTagLink" value="<div class=\"item-tag\"><a href=\"/tag/`$itemMainTag`\">`$itemMainTag`</a></div>"%>
	    <%/if%>
	<%/if%>
	<%/foreach%>
<%/if%>

<%*<!--MARK: - Most bilingual interactive articles have FT商学院 in the tag. But FT商学院 might not be a bilingual subtype. So infoForManualTags won't be able to come up with the bilingual subtype. -->*%>
<%if preg_match("/原声视频/is",$itemTagsString)%>
	<%assign var="itemSubType" value=""%>
<%elseif preg_match("/双语阅读/is",$itemTagsString)%>
	<%assign var="itemSubType" value="bilingual"%>
<%elseif preg_match("/MBA训练营|教程/is",$itemTagsString) %>
	<%assign var="itemSubType" value="mbagym"%>
<%/if%>

<%assign var="vipClass" value=""%>
<%assign var="lockClass" value=""%>
<%if preg_match("/高端专享/is",$itemTagsString)%>
	<%assign var="vipClass" value=" vip"%>
	<%assign var="lockClass" value="locked"%>
<%elseif preg_match("/会员专享/is",$itemTagsString)%>
	<%assign var="vipClass" value=""%>
	<%assign var="lockClass" value="locked"%>
<%/if%>

<%assign var="subTypeData" value=""%>
<%if $itemSubType != ""%>
	<%assign var="subTypeData" value=" data-sub-type=\"`$itemSubType`\""%>	
<%/if%>


<%if $i == $eventInfoPosition%>
	<%$eventInfoHTML%>
<%/if%>


<%assign var="itemLink" value=" href=\"/`$itemType`/`$report.id`\""%>



<%$itemTop%>

<%if $smarty.get.webview != "ftcapp" && $highlightFTAcademy == "top"%>
	<%*<!--MARK: If the user is not using an app. Add the second condition to avoid unexpected outcome.  -->*%>
	<div class="item-container <%$itemClass%>" <%$audioData%> data-keywords="<%$itemTagsString%>">
		<div class="item-inner">
			<%$itemMainTagLink%>
			<h2 class="item-headline"><a<%$itemLink%> class="item-headline-link <%$lockClass%><%$vipClass%>" target=_blank><%$report.cheadline%></a></h2>
			<a class="image"<%$itemLink%> target="_blank"><figure class="loading" data-url="<%$report.story_pic.cover|default:$report.story_pic.smallbutton|default:$report.story_pic.other|default:$report.story_pic.bigbutton|replace:"http://i.ftimg.net/picture/":"https://thumbor.ftacademy.cn/unsafe/picture/"%>"></figure></a>
			<div class="item-lead"><%$report.clongleadbody|default:$report.cshortleadbody%></div>
			<div class="item-bottom"></div>
		</div>
	</div>
<%elseif $useCorpToRenderStory == "yes" && ($itemType == "story" || $itemType == "premium")%>
	<%*<!--MARK: If the user is using a version 98 of ios app -->*%>
	<div class="item-container <%$itemClass%>">
	    <div class="item-inner">
	    	<%$itemMainTagLink%>
	        <h2 class="item-headline"><a href="/m/corp/preview.html?pageid=<%$report.id%>&webview=ftcapp" class="item-headline-link unlocked<%$vipClass%>" target=_blank><%$report.cheadline%></a></h2>
	        <a href="/m/corp/preview.html?pageid=<%$report.id%>&webview=ftcapp" class="image"><figure class="loading" data-url="<%$report.story_pic.cover|default:$report.story_pic.smallbutton|default:$report.story_pic.bigbutton|default:$report.story_pic.other|replace:"http://i.ftimg.net/picture/":"https://thumbor.ftacademy.cn/unsafe/picture/"%>"></figure></a>
	        <div class="item-lead"><%$itemLead%></div>
	        <div class="item-bottom"></div>
	    </div>
	</div>
<%elseif $supportBackgroundDowndingWhenBlocked == "yes" || $smarty.get.isBG == ""%>
	<%*<!--MARK: If the user is using a normal launch or if his/her app version is at least 7.6, give him the normal page. -->*%>
	<%*<!--MARK: - Fix FTC Android App bug start-->*%>
	<%assign var="itemClass" value="item-container-app `$itemClass`"%>
	<%assign var=itemLink value=""%>
	<%if $displayMBAGymWithCorp == "yes" && $itemSubType == "mbagym"%>
		<%assign var=itemLink value=" href=\"/m/corp/interactive.html?id=`$report.id`\""%>
		<%assign var=itemData value=""%>
		<%assign var=itemClass value=$itemClass|replace:"item-container-app":""%>
	<%/if%>
	<%*<!--MARK: - Fix FTC Android App bug end-->*%>
	<div class="item-container <%$itemClass%>" data-id="<%$report.id%>" data-type="<%$itemType%>"<%$audioData%><%$subTypeData%> data-keywords="<%$itemTagsString%>">
	    <div class="item-inner">
	    	<%$itemMainTagLink%>
	        <h2 class="item-headline"><a <%$itemLink%> class="item-headline-link unlocked<%$vipClass%>" target=_blank><%$report.cheadline%></a></h2>
	        <a <%$itemLink%> class="image"><figure class="loading" data-url="<%$report.story_pic.cover|default:$report.story_pic.smallbutton|default:$report.story_pic.bigbutton|default:$report.story_pic.other|replace:"http://i.ftimg.net/picture/":"https://thumbor.ftacademy.cn/unsafe/picture/"%>"></figure></a>
	        <div class="item-lead"><%$itemLead%></div>
	        <div class="item-bottom"></div>
	    </div>
	</div>
<%else%>
	<%*<!--MARK: Otherwise, just links -->*%>
	<div class="item-container <%$itemClass%>" <%$audioData%> data-keywords="<%$itemTagsString%>">
		<div class="item-inner">
			<%$itemMainTagLink%>
			<h2 class="item-headline"><a href="http://www.ftchinese.com/<%$itemType%>/<%$report.id%>?webview=ftcapp" class="item-headline-link unlocked<%$vipClass%>" target=_blank><%$report.cheadline%></a></h2>
			<a class="image" href="http://www.ftchinese.com/<%$itemType%>/<%$report.id%>?webview=ftcapp"><figure class="loading" data-url="<%$report.story_pic.cover|default:$report.story_pic.smallbutton|default:$report.story_pic.other|replace:"http://i.ftimg.net/picture/":"https://thumbor.ftacademy.cn/unsafe/picture/"%>"></figure></a>
			<div class="item-lead"><%$report.clongleadbody|default:$report.cshortleadbody%></div>
			<div class="item-bottom"></div>
		</div>
	</div>
<%/if%>