<script type="text/javascript">
    window.gPaywallShowed = true;
    var privilegeEventLabel = '<%$privilegeEventLabel%>' || '';
    if (privilegeEventLabel === '') {
        if(window.ccodeValue){
            window.gSubscriptionEventLabel = 'From:' + window.ccodeValue + '/' + privilegeEventLabel;
        }else{
            window.gSubscriptionEventLabel = '';
        }
    } else {
        window.gSubscriptionEventLabel = privilegeEventLabel;
    }
</script>
<script type="text/javascript">
    gtag('event', 'view_promotion', {
      promotions: [
        {
          id: window.gSubscriptionEventLabel,
          name: window.gSubscriptionEventLabel,
          creative_name: location.href,
          creative_slot: 'become a member' 
        }
      ]
    });
    gtag('event', 'Display', {'event_label': window.gSubscriptionEventLabel, 'event_category': 'Web Privileges', 'non_interaction': true});
</script>

<div class="subscribe-lock-container" id="subscribe-now-container">
    <div class="lock-block">
    <div class="lock-content">成为付费会员，阅读FT独家内容</div>
    <div class="lock-content">如果已经是会员，请<a href="http://user.ftchinese.com/login" class="o-client-id-link">点击这里</a>登录</div>
    <div class="subscribe-btn" ><a href="#"  id="subscribe-now" class="o-client-id-link">成为会员&#x25BA;</a></div>
    </div>
</div>
<div 
data-o-ads-name="mpu-subscribe"
class="o-ads"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="FtcMpu"
data-o-ads-formats-large="FtcMpu"
data-o-ads-formats-extra="FtcMpu"
data-o-ads-targeting="cnpos=middle1;"
data-cy='[{"devices":["PC","iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle1","container":"mpuInStory"}]'
>
</div>
