<%if $hasAudio == "yes"%>
    <%assign var="privilegeType" value="Radio"%>
    <%assign var="privilegeSuffix" value=""%>
<%elseif $page_action == "en" || $page_action == "ce"%>
    <%assign var="privilegeType" value="EnglishText"%>
    <%assign var="privilegeSuffix" value="/`$page_action`"%>
<%elseif $tag != "" && preg_match("/速读/is",$$tag)%>
    <%assign var="privilegeType" value="SpeedReading"%>
    <%assign var="privilegeSuffix" value="/`$page_action`"%>
<%elseif $smarty.server.REQUEST_URI|strstr:"archive"%>
    <%assign var="privilegeType" value="Archive"%>
    <%assign var="privilegeSuffix" value="/`$page_action`"%>
<%else%>
    <%assign var="privilegeType" value="ExclusiveContent"%>
    <%assign var="privilegeSuffix" value=""%>
<%/if%>




<%assign var="privilegeEventLabel" value="`$privilegeType`/`$itemType`/`$itemId``$privilegeSuffix`"%>


<script type="text/javascript">
    window.gSubscriptionEventLabel = '<%$privilegeEventLabel|strip_tags|regex_replace:"/[\r\n\t\s]/":""%>';
</script>
<script type="text/javascript">

    ga('send','event','Web Privileges', 'Display', window.gSubscriptionEventLabel);
</script>


<%if $smarty.get.paywall == "1" || $paywall == "1"%>
    <div class="subscribe-lock-container" id="subscribe-now-container">
        <div class="lock-block">
        <div class="lock-content">成为付费会员，阅读FT独家内容
        </div>
        <div class="lock-content">如果已经是会员，请<a href="http://user.ftchinese.com/login">点击这里</a>登录
        </div>
        <div class="subscribe-btn" ><a href="http://www.ftchinese.com/index.php/ft/subscription?el=<%$privilegeEventLabel|strip_tags|regex_replace:"/[\r\n\t\s]/":""%>"  id="subscribe-now">成为会员&#x25BA;</a></div>
        </div>
    </div>
<%elseif $smarty.get.paywall == "2" || $paywall == "2"%>
    <div class="subscribe-lock-container" id="download-app-container">
        <div class="lock-block">
        <div class="lock-content">使用FT中文网 iOS应用
        </div>
        <div class="lock-content">成为付费会员，阅读FT独家内容
        </div>
        <div class="subscribe-btn" ><a href="#"  id="open-app">下载应用&#x25BA;</a></div>
        </div>
    </div> 
<%/if%>

<script type="text/javascript">
    document.write (writeAdNew({
        devices: ['PC','iPhoneWeb','AndroidWeb','iPhoneApp','AndroidApp'],
        pattern:'MPU',
        position:'Middle1',
        container:'mpuInStory'
    }));
</script>