<%if $smarty.get.debug == "script"%>
  <%include file="next/partials/debug-script.html"%>
<%/if%>
<%if $smarty.get.webview != "ftcapp"%>
<%if $hideQR != "yes"%>
    <%include file="next/partials/house-ad-subscription-promo-box.html"%>
<%/if%>
<%assign var="languageClass" value=""%>
<%if $curr_lang == "big5"%>
  <%assign var="languageClass" value=" is-big5"%>
<%/if%>
<%*<!--MARK: - Should have 4 types of logos -->*%>
<%assign var="logoUrl" value="https://dhgxl8qk9zgzr.cloudfront.net/images/masthead36.png"%>
<%if $p == "" || $p.meta.theme == "partner_content" || $p.meta.theme == "pink" || $p.meta.theme == "default"%>
  <%assign var="logoUrl" value="https://thumbor.ftacademy.cn/unsafe/0x114/https://dhgxl8qk9zgzr.cloudfront.net/img/png/brand-ftc-masthead.png"%>
  <%if $p.meta.theme == "partner_content"%>
    <style>
      .header-container, .o-nav {
        border-bottom: 1px solid #ccc1b7;
      }
      @media (max-width: 61.24em) {
        .o-nav {
            position: static;
        }
      }
    </style>
  <%/if%>
<%/if%>
<header class="header-container<%$languageClass%>">
  <div class="header-inner">
    <div class="header-title"><%$PageTitle|default:$tagtitle|default:$p.meta.title|default:"FT中文网"%></div>
    <a href="/" class="header-side header-left">
      <div class="header-brand"><figure class="loading logo" data-url="<%$logoUrl%>"></figure></div>
    </a>
    <%if $showLogin !== "no"%>
      <div class="header-side header-right">
          <span class="visitor-box">
              <a onclick="showOverlay('overlay-login')">登录</a>
              <a class="more last" href="http://user.ftchinese.com/register">免费注册</a>
          </span>
          <span class="member-box">
              <a href="/channel/myftlocal.html">我的FT</a>
              <a id="ft-login-your-account" href="/users/cp">设置</a>
              <a id="ft-login-logout" href="/users/logout">登出</a>
          </span>
      </div>
    <%/if%>
  </div>
</header>
<%include file="next/partials/login-overlay.html"%>
<%/if%>