<%if $smarty.get.webview != "ftcapp"%>
<header class="header-container">
  <div class="header-inner">
    <div class="header-title"><%$PageTitle|default:$tagtitle|default:$p.meta.title|default:"FT中文网"%></div>
    <div class="header-side header-left">
      <div class="header-brand"><figure class="loading" data-url="http://static.ftchinese.com/images/masthead36.png"></figure></div>
    </div>
    <div class="header-side header-right">
        <span class="visitor-box">
            <a onclick="showOverlay('overlay-login')">登录</a>
            <a class="more last" href="http://user.ftchinese.com/register">免费注册</a>
        </span>
        <span class="member-box">
            <a href="/users/mystories">我的FT</a>
            <a id="ft-login-your-account" href="/users/cp">设置</a>
            <a id="ft-login-logout" href="http://user.ftchinese.com/logout">登出</a>
        </span>
    </div>
  </div>
</header>
<%include file="next/partials/login-overlay.html"%>
<%/if%>