<header class="header-container">
  <div class="header-inner">
    <%if $allstory|@count==0 && $storyCust|@count==0 && $tagstory2|@count==0 && $adchannelID=="" %>
      <div class="masthead"></div>
    <%else%>
      <div class="header-title"><%$tagtitle%></div>
    <%/if%>
    <div class="header-side header-left">
      <div class="header-brand"><figure class="loading" data-url="http://static.ftchinese.com/images/masthead36.png"></figure></div>
    </div>
    <div class="header-side header-right">
      <a href="">登录</a>
      <a class="more last" href="http://user.ftchinese.com/register">免费注册</a>
    </div>
  </div>
</header>