<div class="side-container"><div class="side-inner">

	<%if $ribbonAd == "yes"%>
	<iframe id="ribbon" class="ad-hidden hide" width="100%" height="60" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="/m/marketing/a.html#adid=<%$adchannelID%>0009&slot=986723212&pid=ribbon"></iframe>
	<%/if%>

	<%if $tagabout != ""%>
		<%if $PageIntroTitle != ""%>
			<div class="list-title">
				<%if $PageIntroRSS != ""%>
					<a href="<%$PageIntroRSS%>" class="follow__rss"><%$PageIntroTitle%></a>
				<%else%>
					<a><%$PageIntroTitle%></a>
				<%/if%>
			</div>
			<%assign var=tagAboutClass value="top10"%>
		<%else%>
			<%assign var=tagAboutClass value="tag-about"%>
		<%/if%>
		<div class="<%$tagAboutClass%>">
			<%if $PageIntroIMG != ""%>
				<a class="image square-icon" target="_blank"><figure class="loading" data-url="<%$PageIntroIMG%>"></figure></a>
			<%/if%>
			<%$tagabout%>
		</div>
	<%else%>
		<div class="interactives"></div>
	<%/if%>

	<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU1 != "yes"%>
		<script type="text/javascript">
			document.write (writeAdNew({
				devices: ['PC', 'PadWeb','PadApp'],
				pattern:'MPU',
				position:'Right1'
			}));
		</script>
	<%/if%>

	<%if $storymodel != ""%>
	    <%if $hideHotStory != "yes"%>
			<div class="mps P-hide">
				<h2 class="list-title"><a href="/channel/weekly.html">热门文章</a></h2>
				<ul class="top10">
					<%assign var="i" value=0%>
					<%*<!-- easy api is broken, switch to old model
					<%easyapi command="60006"%>
					<%foreach from=$data.odatalist item=sc name=foo%>
						<%assign var="i" value=$i+1%>
						<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/story/<%$sc.storyid%>?dailypop"><%$sc.title%></a></li>
					<%/foreach%>
					-->*%>
					<%assign var="mp" value=$storymodel->get_hot_story(1,10)%>
					<%foreach from=$mp item=sc%>
						<%assign var="i" value=$i+1%>
						<li class="mp<%$i%>"><span><%$i%>. </span><a target="_blank" href="/story/<%$sc.storyid%>?dailypop"><%$sc.cheadline%></a></li>
					<%/foreach%>

				</ul>
			</div>
		<%/if%>

	    <%if (((date("Ymd",$smarty.now) >= 20160912 && date("Ymd",$smarty.now) <= 20161031) || $smarty.get.demo == '1') && $adchannelID == "2047") || ((date("Ymd",$smarty.now) >= 20160912 && date("Ymd",$smarty.now) <= 20161031) && $showIFrame == "yes") %>
	        <div class="mps">
	            <iframe width="300" height="700" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="http://www.ftchinese.com/index.php/poll/index/18" data-src="http://www.ftchinese.com/index.php/poll/index/18" data-ad-type="mpu" data-ad-count="0"></iframe>
	        </div>
	    <%/if%>

		<%if $smarty.get.ad != "no" && $noAd != "true" && $hideMPU2 != "yes"%>
			<script type="text/javascript">
				document.write (writeAdNew({
					devices: ['PC', 'PadWeb','PadApp'],
					pattern:'MPU',
					position:'Right2'
				}));
			</script>
		<%/if%>

	<%/if%>

</div></div>