<div class="block-container has-side"><div class="block-inner">
<div class="content-container"><div class="content-inner">
<div class="list-container"><div class="list-inner">
<div class="no-image"><div class="item-inner">
<!--主要内容和代码-->
<div class="iap-vip-container">
   <div class="iap-info">
          <div class="headline">会员信息</div>  
          <div  class="info-container"><label>类型：</label><span  id="vip-type"><%$vipType%></span></div>
          <div  class="info-container"><label>提示：</label><span id="warm-prompt"><%$vipHint%><span></div>
   </div>

    <div class="iap-intruction">


        <div class="headline">订阅说明与注意事项</div>
        
        <div class="hint-container">
            <div class="hint-headline hint-box">订阅价格与周期</div>
            <div class="hint-content">您可以在应用或者网址内订阅《FT中文网会员》和《FT中文网高端会员》两种服务。《FT中文网会员》每年订阅价格为 198元（$28.99），订阅后您可以解锁阅读FT中文网每日新增的两篇独家文章内容，以及解锁双语文章的英语语音服务。《FT中文网高端会员》每年订阅价格为 1998元（$294.99），订阅后您可以解锁《FT中文网会员》提供的所有服务，再加上每周的《编辑精选》周刊。
            </div>
        </div>
        <div class="hint-container">
            <div class="hint-headline hint-box">付费方式</div>
            <div class="hint-content">购买流程完全由Apple完成。您将通过Apple的iTunes账号，在确认购买成功之后完成支付。根据Apple的规定，在购买成功之后，您之前的试用期限（如果有）将被清零。
            </div>
        </div>

        <div class="hint-container">
            <div class="hint-headline">更多服务与信息</div>
            <div class="policy"><a href="http://www.ftchinese.com/m/corp/privacy-policy.html?ad=no">隐私申明</a><span>></span></div>
            <div class="policy"><a href="http://www.ftchinese.com/m/corp/service.html?ad=no">用户协议</a><span>></span></div>
            <div class="policy"><a href="http://www.ftchinese.com/m/corp/faq.html?ad=no">反馈</a><span>></span></div>
        </div>
    </div>

</div>
<!--主要内容和代码End-->
</div></div>

</div></div>
</div></div>
<%include file="next/partials/TagRightRail.html"%>
<div class="clearfloat"></div>
</div></div>