<div class="block-container has-side"><div class="block-inner">
<div class="content-container"><div class="content-inner">
<div class="list-container"><div class="list-inner">
<div class="no-image"><div class="item-inner">
<%*<!--主要内容和代码-->*%>
<div class="iap-vip-container">
   <div class="iap-info">
          <div class="headline">会员信息</div>
          <div  class="info-container"><label>名称：</label><span  id="vip-type"><%$userInfo.user_name%></span></div>
          <div  class="info-container"><label>类型：</label><span  id="vip-type"><%$vipType%></span></div>
          <div  class="info-container"><label>提示：</label><span id="warm-prompt"><%$vipHint%><span></div>
   </div>
</div>

<%*<!--
	user info: 
	<%$userInfo.user_name|@print_r%>
-->*%>

<%*<!--主要内容和代码End-->*%>

</div></div>

</div></div>
</div></div>
<%include file="next/partials/TagRightRail.html"%>
<div class="clearfloat"></div>
</div></div>